<h2>@Translate("Payment Information", "Payment Information")</h2>
<p>
    <label>@Translate("Order Id", "Order Id"): <b>@GetValue("Ecom:Order.ID")</b></label> <br />
    <label>@Translate("Amount", "Amount"): <b>@GetValue("Ecom:Order.Price.PriceWithVATFormatted")</b></label> <br />
</p>
<div id="dibs-complete-checkout"></div>
<script src="@GetValue("DibsEasy.checkoutSrc")"></script>
<script type="text/javascript" script-src="self">
    var key = "@GetValue("DibsEasy.checkoutKey")";
    var paymentId = "@GetValue("DibsEasy.paymentId")";
    if (key && paymentId) {
        var checkoutOptions = {
            checkoutKey: key,
            paymentId: paymentId,
            containerId: "dibs-complete-checkout",
            language: "en-GB"
        };
        var checkout = new Dibs.Checkout(checkoutOptions);
        checkout.on('payment-completed', function (response) {
            var url = "@GetValue("DibsEasy.invoiceApproveUrl")"
            var invoicePaymentId = response.paymentId;
            if (url && invoicePaymentId) {
                window.location = url + "&paymentId=" + invoicePaymentId;
            }
        });
    }
</script>
