@inherits ViewModelTemplate<OrderListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend

@{ 
    string selectedState = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("FilterOrderStateId")) ? Dynamicweb.Context.Current.Request.QueryString.Get("FilterOrderStateId") : "";
    string ordersPageLink = Pageview.CurrentParagraph.Item["OrdersPage"] != null ? Pageview.CurrentParagraph.Item["OrdersPage"].ToString() : "";
}


<form id="searchForm" method="get">
    <input type="hidden" name="ID" value="@Pageview.ID">

    <div class="d-flex flex-row align-items-center pb-3 mb-3 border-bottom">
        <h2 class="h6 m-0 flex-fill">@Pageview.CurrentParagraph.Item["Title"]</h2>
        @if (ordersPageLink != "")
	    {
            <a href="@ordersPageLink" class="btn text-uppercase">@Translate("View all")</a>
	    }
    </div>
</form>

@if (Model.Orders.Count() != 0)
{
    int count = 1;
    int total = Model.Orders.Count;

    //Desktop
    <div class="d-none d-lg-block">
        <table class="table mb-0 w-100">	
	        @foreach (var order in Model.Orders)
	        {
		        string orderLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;OrderId={order.Id}";
                string lastBorder = count == total ? " border-0" : ""; 

                <tr onclick="window.location='@orderLink'" style="cursor: pointer">
                    <td class="py-3@(lastBorder)">
                        <dl class="mb-0">
                            <dt><small>@Translate("Placed")</small></dt>
                            <dd class="mb-0">@order.CompletedDate</dd>
                        </dl> 
                    </td>
                    <td class="py-3@(lastBorder)">
                        <dl class="mb-0">
                            <dt><small>@Translate("Order number")</small></dt>
                            <dd class="mb-0">@order.Id</dd>
                        </dl> 
                    </td>
                    <td class="py-3@(lastBorder)">
                        <dl class="mb-0">
                            <dt><small>@Translate("Total")</small></dt>
                            <dd class="mb-0">@order.Price.PriceFormatted</dd>
                        </dl> 
                    </td>
                    <td class="py-3@(lastBorder)">
                        <dl class="mb-0">
                            <dt><small>@Translate("State")</small></dt>
                            <dd class="mb-0">@order.StateName</dd>
                        </dl> 
                    </td>
                </tr>

				count++;
			}
	    </table>
    </div>

     //Mobile
    <div class="d-block d-lg-none">
        <table class="table my-5 w-100">	
	        @foreach (var order in Model.Orders)
	        {
		        string orderLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;OrderId={order.Id}";
                <tr onclick="window.location='@orderLink'" style="cursor: pointer">
                    <td class="py-3">
                        <dl class="mb-1 d-flex flex-row">
                            <dt class="text-muted flex-fill"><small>@Translate("Placed")</small></dt>
                            <dd class="d-inline">@order.CreatedAt</dd>
                        </dl> 
                        <dl class="mb-1 d-flex flex-row">
                            <dt class="text-muted flex-fill"><small>@Translate("Order number")</small></dt>
                            <dd class="d-inline">@order.Id</dd>
                        </dl>
                        <dl class="mb-1 d-flex flex-row">
                            <dt class="text-muted flex-fill"><small>@Translate("Total")</small></dt>
                            <dd class="d-inline">@order.Price.PriceFormatted</dd>
                        </dl>
                        <dl class="mb-1 d-flex flex-row">
                            <dt class="text-muted flex-fill"><small>@Translate("State")</small></dt>
                            <dd class="d-inline">@order.StateId</dd>
                        </dl> 
                    </td>
                </tr>
	        }
	    </table>
    </div>
} else {
    <div class="alert alert-info text-center" role="alert">
        @Translate("No orders found")
    </div>
}
