@inherits ViewModelTemplate<OrderListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend

@{ 
    string selectedState = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("FilterOrderStateId")) ? Dynamicweb.Context.Current.Request.QueryString.Get("FilterOrderStateId") : "";
}


<form id="searchForm" method="get">
    <input type="hidden" name="ID" value="@Pageview.ID">

    <div class="row mb-3">
        <div class="col-12 col-lg-6 mb-4">
            @* Desktop *@
            @if (Pageview.Item["Title"] != null) {
                <div class="d-none d-lg-block">
                    <h1 class="h2">@Pageview.Item["Title"]</h1>
                </div>
            }
        </div>
        <div class="col-12 col-lg-6">
            <div class="d-flex flex-row">
                <div class="input-group me-2">
                    <input type="text" class="form-control" id="FilterOrderId" name="FilterOrderId" placeholder="@Translate("Search")">
                    <button type="submit" class="btn btn-secondary">
						<span class="icon-2">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
						</span>
                    </button>
                </div>
                <div class="input-group">
                    <select class="form-select" id="FilterOrderStateId" name="FilterOrderStateId" onchange="this.closest('form').submit()">
                        <option value="">@Translate("Select state")</option>
                        @foreach (var state in Dynamicweb.Ecommerce.Common.Application.OrderStates)
                        {
                            string selected = state.Id == selectedState ? "selected" : "";

                            <option value="@state.Id" @selected>@state.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

@if (Model.Orders.Count() != 0)
{
    //Desktop
    <div class="d-none d-lg-block">
        <table class="table mb-4 w-100">	
	        @foreach (var order in Model.Orders)
	        {
		        string orderLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;OrderId={order.Id}";
                <tr onclick="window.location='@orderLink'" style="cursor: pointer">
                    <td class="py-3">
                        <dl class="mb-0">
                            <dt><small>@Translate("Placed")</small></dt>
                            <dd class="mb-0">@order.CompletedDate</dd>
                        </dl> 
                    </td>
                    <td class="py-3">
                        <dl class="mb-0">
                            <dt><small>@Translate("Order number")</small></dt>
                            <dd class="mb-0">@order.Id</dd>
                        </dl> 
                    </td>
                    <td class="py-3">
                        <dl class="mb-0">
                            <dt><small>@Translate("Total")</small></dt>
                            <dd class="mb-0">@order.Price.PriceFormatted</dd>
                        </dl> 
                    </td>
                    <td class="py-3">
                        <dl class="mb-0">
                            <dt><small>@Translate("State")</small></dt>
                            <dd class="mb-0">@order.StateName</dd>
                        </dl> 
                    </td>
                </tr>
	        }
	    </table>
    </div>

     //Mobile
    <div class="d-block d-lg-none">
        <table class="table my-5 w-100">	
	        @foreach (var order in Model.Orders)
	        {
		        string orderLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;OrderId={order.Id}";
                <tr onclick="window.location='@orderLink'" style="cursor: pointer">
                    <td class="py-3">
                        <dl class="mb-1 d-flex flex-row">
                            <dt class="text-muted flex-fill"><small>@Translate("Placed")</small></dt>
                            <dd class="d-inline">@order.CreatedAt</dd>
                        </dl> 
                        <dl class="mb-1 d-flex flex-row">
                            <dt class="text-muted flex-fill"><small>@Translate("Order number")</small></dt>
                            <dd class="d-inline">@order.Id</dd>
                        </dl>
                        <dl class="mb-1 d-flex flex-row">
                            <dt class="text-muted flex-fill"><small>@Translate("Total")</small></dt>
                            <dd class="d-inline">@order.Price.PriceFormatted</dd>
                        </dl>
                        <dl class="mb-1 d-flex flex-row">
                            <dt class="text-muted flex-fill"><small>@Translate("State")</small></dt>
                            <dd class="d-inline">@order.StateId</dd>
                        </dl> 
                    </td>
                </tr>
	        }
	    </table>
    </div>

	if (Model.PageCount > 1) {
        <ul class="pagination">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                var css = (i == Model.CurrentPage) ? "page-item active" : "page-item";
                <li class="@css">
                    @string.Format("<a class=\"page-link\" href=\"javascript:goToPage({0});\">{0}</a>", i)
                </li>
            }
        </ul>
	}
} else {
    <div class="alert alert-info text-center" role="alert">
        @Translate("No orders found")
    </div>
}

<script>
    function goToPage(page){
	    let url = new URL(document.location.href);
        url.searchParams.set('PageNum', page); 
	    document.location.href = url;
    }
</script>
