@inherits ViewModelTemplate<PageViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Users.Frontend.UserGroups

@{
    var userGroupId = Dynamicweb.Context.Current?.Request.QueryString.Get("UserGroupId");
    var userGroupName = Dynamicweb.Context.Current?.Request.QueryString.Get("UserGroupName");
}

<div class="modal fade" id="disableUserGroupModal" tabindex="-1" aria-labelledby="DisableUserGroup" aria-hidden="true" 
  hx-on::load="bootstrap.Modal.getOrCreateInstance(this).show();"
  x-on:hidden-bs-modal.dot="
    bootstrap.Modal.getOrCreateInstance($event.target).dispose();
    $event.target.remove();
  "
  >
  <div class="modal-dialog pt-8">
    <form method="post" class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">@Translate("Disable account")</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Translate("Cancel")"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted">@Translate("Are you sure you want to disable the account") <span class="fw-bold text-body">@(userGroupName) (@(userGroupId))</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal" data-dw-button>@Translate("Cancel")</button>
        <button type="submit" class="btn btn-primary btn-sm" name="AccountCmd" value="disableaccount" data-dw-button>@Translate("Disable account")</button>
      </div>
    </form>
  </div>
</div>