@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;

<h2>
    @Translate("New account has been created")
</h2>

<p>
    @Translate("Dear administrator"), @Translate("An account has been created with this email"): <b>@GetString("UserManagement:User.Email")</b> @Translate("and this username"): <b>@GetString("UserManagement:User.UserName")</b>.
</p>
