@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;

@{ string resultUserName = "",
	firstName = GetString("UserManagement:User.FirstName"),
	lastName = GetString("UserManagement:User.LastName"),
	name = GetString("UserManagement:User.Name");

	if (!string.IsNullOrEmpty(firstName) && !string.IsNullOrEmpty(lastName))
	{
		resultUserName = " " + firstName + " " + lastName;
	}
	else if (!string.IsNullOrEmpty(firstName))
	{
		resultUserName = " " + firstName;
	}
	else if (!string.IsNullOrEmpty(name))
	{
		resultUserName = " " + name;
	}
	else
	{
		resultUserName = "";
	}

	string website = Dynamicweb.Context.Current.Request.Url.Scheme + "://" + GetGlobalValue("Global:Request.Host");
	string signInPage = website + "/Default.aspx?Id=" + GetPageIdByNavigationTag("SignInPage").ToString();
}

<h1>@Translate("Hi") @resultUserName</h1>
<p>@Translate("You've activated your user account with the user name") <a style='text-decoration: none' href=mailto:@GetString("UserManagement:User.UserName")><span style='color: #2283e5'>@GetString("UserManagement:User.UserName")</span></a></p>
<a href="@signInPage">@Translate("Click here to sign in")</a>
