@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using System.Linq;

@{
	string invalidName = !string.IsNullOrEmpty(GetString("UserManagement:User.Name.Input.Error")) ? "is-invalid" : "";
    string invalidEmail = !string.IsNullOrEmpty(GetString("UserManagement:User.Email.Input.Error")) ? "is-invalid" : "";
    string invalidPassword = !string.IsNullOrEmpty(GetString("UserManagement:User.NewPassword.Input.Error")) ? "is-invalid" : "";
    string invalidConfirmPassword = !string.IsNullOrEmpty(GetString("UserManagement:User.NewPasswordConfirm.Input.Error")) ? "is-invalid" : "";
}

@foreach (var error in GetLoop("FormValidationErrors"))
{
    <div class="alert alert-danger mb-5" role="alert">
        @error.GetString("UserManagement:User.FormValidationError.Message")
    </div>
}

@if (!String.IsNullOrEmpty(GetString("error"))) {
    <div class="alert alert-danger mb-5" role="alert">
        @GetString("error")
    </div>
}


@GetString("UserManagement:User.FormStart")
    <input type="hidden" name="UserManagementForm" value="1">

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control @invalidName" placeholder="@Translate("Name")" name="UserManagement_Form_Name" id="UserManagement_Form_Name" value="@GetString("UserManagement:User.Name")" required />
                <div class="invalid-feedback">@GetString("UserManagement:User.Name.Input.Error")</div>
                <label for="UserManagement_Form_Name" class="form-label">@Translate("Name")</label>
            </div>
             
        </div>
        <div class="col-12 col-lg-6">
            <div class="form-floating mb-3">
                <input type="email" class="form-control @invalidEmail" placeholder="@Translate("Email")" name="UserManagement_Form_Email" id="UserManagement_Form_Email" value="@GetString("UserManagement:User.Email")" required />
                <div class="invalid-feedback">@GetString("UserManagement:User.Email.Input.Error")</div>
                <label for="UserManagement_Form_Email" class="form-label">@Translate("Email")</label>
            </div> 
        </div>
        <div class="col-12 col-lg-6">
            <div class="form-floating mb-3">
                <input class="form-control @invalidPassword" placeholder="@Translate("Password")" type="password" id="UserManagement_Form_NewPassword" name="UserManagement_Form_NewPassword" value="" autocomplete="off">
                <div class="invalid-feedback">@GetString("UserManagement:User.NewPassword.Input.Error")</div>
                <label for="UserManagement_Form_NewPassword" class="form-label">@Translate("Password")</label>
            </div>
        </div>
        <div class="col-12 col-lg-6">        
            <div class="form-floating mb-3">
                <input class="form-control @invalidConfirmPassword" placeholder="@Translate("Confirm password")"  type="password" id="UserManagement_Form_NewPasswordConfirm" name="UserManagement_Form_NewPasswordConfirm" value="" autocomplete="off">
                <div class="invalid-feedback">@GetString("UserManagement:User.NewPasswordConfirm.Input.Error")</div>
                <label for="UserManagement_Form_NewPasswordConfirm" class="form-label">@Translate("Confirm password")</label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" id="CreateNewAccountButton">@Translate("Create your new account")</button>
@GetString("UserManagement:User.FormEnd")

