@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@if (Model.Item.TryGetGeolocation("DefaultMapCenter", out var defaultMapCenter)) {
	var defaultLat = defaultMapCenter.Latitude.ToString().Replace(",", ".");
	var defaultLng = defaultMapCenter.Longitude.ToString().Replace(",", ".");

	if (defaultLat != "0.000000" && defaultLng != "0.000000") {
		if (Pageview.AreaSettings.TryGetString("Google_APIKey", out string apiKey)) {
			var locationList = Model.Item.GetUsers("UserGroup");
			string jsonLocationList = System.Text.Json.JsonSerializer.Serialize(locationList);
			string iconPath = "/Files/Images/Icons/";

			int initialZoomLevel = 4;
			if (Model.Item.TryGetString("InitialZoomLevel", out string zoomlevel))
			{
				initialZoomLevel = Convert.ToInt32(zoomlevel);
			}

			string regionCode = "DK";
			if (Model.Item.TryGetString("RegionCode", out string region))
			{
				regionCode = region;
			}

			<div class="grid position-relative">
				<div class="g-col-12 g-col-lg-8 order-1" id="MapHeader">
					@if (Model.Item.TryGetString("Title", out string title))
					{
						@title
					}
				</div>

				<div class="g-col-12 g-col-lg-4 order-2 order-lg-2 position-relative js-map-search-column">
					<form class="d-flex align-items-center w-100" id="MapSearch">
						<span class="position-absolute top-0 icon-2 px-3 d-flex align-items-center h-100 search-icon">
							@ReadFile(iconPath + "search.svg")
						</span>

						<input type="text" class="form-control rounded-pill py-2 ps-5 pe-3" placeholder="@Translate("Enter city, state or zip")" aria-label="@Translate("Enter city, state or zip")">
						<button type="submit" class="d-none" id="MapSearchButton">@Translate("Search")</button>
					</form>
				</div>

				<div class="g-col-12 g-col-lg-8 order-1 order-lg-4 js-map-column">
					<div class="map" id="Map"></div>
				</div>

				@if (locationList.Count() > 1) {
					<div class="g-col-12 g-col-lg-4 order-2 order-lg-3 js-locations-list-column">
						<div class="locations-list">
							<div class="list-group" id="LocationsList" aria-labelledby="MapHeader"></div>
						</div>
					</div>
				} else if (Model.Item.TryGetString("Title", out string title2)) {
					<div class="g-col-12 order-5 order-lg-3">
						@title2
					</div>
				}
			</div>

			<script type="module">
				@if (!Model.Item.GetBoolean("UseDefaultGoogleMapsStyling")) {
					<text>
						var mapIcon = {
								url: "@(iconPath)marker.svg"
						}

						var mapStyle = [
							{
								"featureType": "administrative.land_parcel",
								"elementType": "labels",
								"stylers": [
									{
										"visibility": "off"
									}
								]
							},
							{
								"featureType": "landscape.man_made",
								"elementType": "geometry.fill",
								"stylers": [
									{
										"color": "#b0afb6"
									}
								]
							},
							{
								"featureType": "landscape.natural",
								"elementType": "geometry.fill",
								"stylers": [
									{
										"color": "#d7d7da"
									}
								]
							},
							{
								"featureType": "landscape.natural.terrain",
								"elementType": "geometry.fill",
								"stylers": [
									{
										"color": "#7ba78b"
									}
								]
							},
							{
								"featureType": "poi",
								"elementType": "labels.text",
								"stylers": [
									{
										"visibility": "off"
									}
								]
								},
							{
								"featureType": "poi",
								"elementType": "geometry",
								"stylers": [
									{
										"color": "#659577"
									}
								]
							},
							{
								"featureType": "poi.business",
								"stylers": [
									{
										"visibility": "off"
									}
								]
							},
							{
								"featureType": "poi.park",
								"elementType": "geometry.fill",
								"stylers": [
									{
										"color": "#659577"
									}
								]
							},
							{
								"featureType": "road",
								"elementType": "labels.icon",
								"stylers": [
									{
										"visibility": "off"
									}
								]
							},
							{
								"featureType": "road.highway",
								"elementType": "geometry.fill",
								"stylers": [
									{
										"color": "#f5f5f5"
									}
								]
							},
							{
								"featureType": "road.highway",
								"elementType": "geometry.stroke",
								"stylers": [
									{
										"color": "#f0f0f0"
									}
								]
							},
							{
								"featureType": "road.local",
								"elementType": "labels",
								"stylers": [
									{
										"visibility": "off"
									}
								]
							},
							{
								"featureType": "transit",
								"stylers": [
									{
										"visibility": "off"
									}
								]
							},
							{
								"featureType": "water",
								"elementType": "geometry.fill",
								"stylers": [
									{
										"color": "#8ea5c2"
									}
								]
							}
						];
					</text>
				} else {
					<text>
						var mapIcon = {};

						var mapStyle = [{
							featureType: 'poi',
							elementType: 'labels.icon',
							stylers: [
								{
									visibility: 'off'
								}
							]
						}];
					</text>
				}

				var locations = [
					@foreach (var location in locationList) {
						<text>{
								name: "@(location.Name)",
								company: "@(location.Company)",
								address: "@(location.Address)",
								city: "@(location.City)",
								zip: "@(location.Zip)",
								state: "@(location.State)",
								country: "@(location.Country)",
								phone: "@(location.Phone)",
								email: "@(location.Email)",
								location: {
										lat: @(location.Location.Lat.ToString().Replace(",", ".")),
										lng: @(location.Location.Lng.ToString().Replace(",", "."))
								}
						},</text>
					}
				];

				var mapSettings = {
					locations: locations,
					mapStyle: mapStyle,
					mapIcon: mapIcon,
					initialZoomLevel: @initialZoomLevel,
					defaultLat: @defaultLat,
					defaultLng: @defaultLng,
					regionCode: "@(regionCode)",
					listItemLabel: "@Translate("View location")",
					directionsLabel: "@Translate("Directions")",
					noLocationsFoundLabel: "@Translate("No options available in the selected area")",
					mapId: "@Pageview.CurrentParagraph?.ID"
				};

				function initMap() {
					swift.LocationsMap.init(mapSettings);
				}

				window.initMap = initMap;
			</script>

			<script async src="https://maps.googleapis.com/maps/api/js?key=@(apiKey)&loading=async&callback=initMap&libraries=marker"></script>
		} 
		else 
		{
			<div class="alert alert-info" role="alert">
				@Translate("Google maps API key is missing")
			</div>
		}
	} else {
		<div class="alert alert-info" role="alert">
			@Translate("The map is not properly configured")
		</div>
	}
} else {
	<div class="alert alert-info" role="alert">
		@Translate("The map is not properly configured")
	</div>
}
