@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb


<header class="p-3 border-bottom">
	<div class="grid grid-1 grid-lg-2 align-items-lg-center">
		<h1 class="h5 mb-0">@Translate("Select the customer you want to sign in as")</h1>

		<form method="get">
			<input type="hidden" name="ID" value="@Pageview.ID">
			<div class="input-group">
				<label class="visually-hidden">@Translate("Search for customer name or number")</label>
				<input type="search" class="form-control form-control rounded-pill px-3" placeholder="@Translate("Search for customer name or number")">
			</div>
		</form>
	</div>
</header>


<table class="table d-none d-lg-table table-striped table-hover align-middle">
	<thead>
		<tr>
			<th>
				<span>
					@Translate("ID")
				</span>
			</th>
			<th>
				<span>
					@Translate("Customer")
				</span>
			</th>
			<th>
				<span>
					@Translate("Email")
				</span>
			</th>
			<th>
				<span>
					@Translate("Address")
				</span>
			</th>
			<th aria-hidden="true">
				<span>
					&nbsp;
				</span>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var result in GetLoop("QueryResultItem"))
		{
			<tr>
				<td>
					@if (!string.IsNullOrWhiteSpace(result.GetString("UserID")))
					{
						<span>
							@result.GetInteger("UserID")
						</span>
					}
				</td>
				<td>
					@if (!string.IsNullOrWhiteSpace(result.GetString("UserName")))
					{
						<span>
							@result.GetString("UserName")
						</span>
					}
				</td>
				<td>
					@if (!string.IsNullOrWhiteSpace(result.GetString("UserName")))
					{
						if (@result.GetString("UserName").Contains("@")){
					
							<span>
								@result.GetString("UserName")
							</span>
						}
					}
				</td>
				<td>
					@if (!string.IsNullOrWhiteSpace(result.GetString("Address")))
					{
						<span>
							@result.GetString("Address")
						</span>
					}
				</td>
				<td class="text-end">
					<a class="d-block text-decoration-none">
						<span class="btn btn-sm btn-secondary">
							@Translate("Sign in")
						</span>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<table class="table d-table d-lg-none table-borderless table-clean align-middle">
	@foreach (var result in GetLoop("QueryResultItem"))
	{
		<tbody class="border-bottom">
			<tr>
				<th class="fs-8">
					<span>
						@Translate("ID")
					</span>
				</th>
				<td class="text-end">
					@if (!string.IsNullOrWhiteSpace(result.GetString("UserID")))
					{
						<span>
							@result.GetInteger("UserID")
						</span>
					}
				</td>
			</tr>
			<tr>
				<th class="fs-8">
					<span>
						@Translate("Customer")
					</span>
				</th>
				<td class="text-end">
					@if (!string.IsNullOrWhiteSpace(result.GetString("UserName")))
					{
						<span>
							@result.GetString("UserName")
						</span>
					}
				</td>
			</tr>
			<tr>
				<th class="fs-8">
					<span>
						@Translate("Email")
					</span>
				</th>
				<td class="text-end">
					@if (!string.IsNullOrWhiteSpace(result.GetString("UserName")))
					{
						if (@result.GetString("UserName").Contains("@")){
							<span>
								@result.GetString("UserName")
							</span>
						}
					}
				</td>
			</tr>
			<tr>
				<th class="fs-8">
					<span>
						@Translate("Address")
					</span>
				</th>
				<td class="text-end">
					@if (!string.IsNullOrWhiteSpace(result.GetString("Address")))
					{
						<span>
							@result.GetString("Address")
						</span>
					}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a class="d-block text-decoration-none">
						<div class="d-grid">
							<span class="btn btn-sm btn-secondary">
								@Translate("Sign in")
							</span>
						</div>
					</a>
				</td>
			</tr>
		</tbody>
	}
</table>
