@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Ecommerce.ProductCatalog
@inherits ViewModelTemplate<FavoriteListViewModel>

@{
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	int favoriteListId = Model.Id;
	string currentPageUrl = "/Default.aspx?ID=" + Pageview.Page.ID + "&FavoriteListId=" + favoriteListId;
	int listItemsCount = Model.ProductList.TotalProductsCount;
	int pageSize = Model.ProductList.PageSize;
	int userId = Pageview.User.ID;
}

@Include("../PaginationHelper.cshtml")

<header class="p-3 border-bottom">
	<div class="d-flex flex-row align-items-center gap-3">
		<h1 class="h6 m-0 flex-fill text-muted">
			@Model.Name
			@if(Model.IsDefault){
				<small class="badge rounded-pill bg-info text-dark">@Translate("default")</small>
			}
		</h1>
		<span class="small">@listItemsCount products in this list</span>
	</div>
</header>

@if (Model.ProductList != null)
{
	string detailsPageLink = Pageview.CurrentParagraph.Item["ProductDetailsPage"] != null ? Pageview.CurrentParagraph.Item["ProductDetailsPage"].ToString() : "";

	<div class="grid grid-2 grid-lg-3 grid-xxl-4 p-3">
	@foreach (var product in Model.ProductList.Products)
	{
		string link = $"{detailsPageLink}&groupid={product.PrimaryOrDefaultGroup.Id}&productid={product.Id}";
		link += !string.IsNullOrEmpty(product.VariantId) ? "&variantid=" + product.VariantId : "";

		string productImage = "/Admin/Public/GetImage.ashx?Image=" + @product.DefaultImage.Value + "&Format=webp&Width=450&Height=450";

		<article class="position-relative d-flex flex-column gap-3">

			<div class="image">
				<div class="ratio ratio-1x1">
					@if (product.DefaultImage.Value != "")
					{
						<a href="@link" class="d-flex justify-content-center align-items-center">
							<img
								src="@productImage"
								width="450"
								loading="lazy"
								decoding="async"
								class="mw-100 mh-100 p-2 p-lg-3"
								alt="@product.Name">
						</a>
					}
					else
					{
						<a href="@link" class="d-block h-100 w-100">
							<div class="d-block h-100 w-100" style="background-color: var(--bs-gray-200);"></div>
						</a>
					}
				</div>
			</div>

			<div class="name flex-fill">@product.Name</div>
			<div class="price">@RenderPartial("Components/ProductPrice.cshtml", product)</div>

			<div class="d-flex flex-row gap-2">

				<div class="add-to-cart flex-fill">
					@RenderPartial("Components/AddToCart.cshtml", product)
				</div>

				<div class="add-to-favorites">
					@* <button 
						type="button" 
						class="btn btn-secondary js-ToggleFavorite" 
						title="@Translate("Delete from favorite list")"
						data-product-id="@product.Id" 
						data-variant-id="@product.VariantId" 
						data-list-id="@favoriteListId">
						<span class="icon-2">
							@ReadFile(iconPath + "heart-filled.svg")
						</span>
					</button> *@

					@RenderPartial("Components/ToggleFavorite.cshtml", product)
				</div>

			</div>

		</article>
	}
	</div>

	if (listItemsCount > pageSize) {
	<div class="p-3">
		@RenderPagination(currentPageUrl, Model.ProductList.PageCount, Model.ProductList.CurrentPage, Model.ProductList.PageSize)	
	</div>
	}
}

@* <script>
	document.querySelectorAll('.js-ToggleFavorite').forEach(item => {
		item.addEventListener('click', event => {
			let button = event.currentTarget;

			let userId = @userId;
			let productId = button.getAttribute('data-product-id');
			let variantId = button.getAttribute('data-variant-id');
			let favoriteListId = @favoriteListId;

			document.location.href = "/?favoritecmd=removeproductfromfavoritelist&userId=" + userId + "&productId=" + productId + "&productVariantId=" + variantId + "&favoriteListId=" + favoriteListId;
		})
	})

	// http://swift.local.dynamicweb.dk/?favoritecmd=removeproductfromfavoritelist&userId=&productId=&productVariantId=&favoriteListId=
</script> *@
