@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@inherits ViewModelTemplate<FavoriteListListViewModel>

@{
    string currentPageUrl = "/Default.aspx?ID=" + Pageview.Page.ID;
}

@Include("../PaginationHelper.cshtml")

<h1>Favorite lists</h1>

@if (Model.FavoriteLists == null || Model.FavoriteLists.Count < 1)
{
    <h3>No lists found.</h3>
}
else
{
    <table class="lists">
        <tr>
            <th>List ID</th>
            <th>List name</th>
            <th>Is default list</th>
            <th>Owner ID</th>
        </tr>
        @foreach (var theList in Model.FavoriteLists)
        {
		    string favoriteLink = currentPageUrl + "&amp;FavoriteListId=" + theList.Id;
            <tr>
                <td><a href="@favoriteLink">@theList.Id</a></td>
                <td><a href="@favoriteLink">@theList.Name</a></td>
                <td>@theList.IsDefault</td>
                <td>@theList.UserId</td>
            </tr>
        }
    </table>

    @RenderPagination(currentPageUrl, Model.PageCount, Model.CurrentPage, Model.PageSize)	
}