@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@inherits ViewModelTemplate<FavoriteListListViewModel>

@{
    string currentPageUrl = "/Default.aspx?ID=" + Pageview.Page.ID;
}

<style>
    .lists {
        width: 100%;
        border-collapse: collapse;
    }

        .lists td, .lists th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .lists tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .lists tr:hover {
            background-color: #ddd;
        }

        .lists th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            color: white;
            background-color: #428bca;
            font-weight: bold;
        }
</style>

@helper RenderPagination(string currentPageLink, FavoriteListListViewModel model)
{
    <ul class="pagination">
        @{string pageHrefTemplate = string.Format("<a class=\"page-link\" href=\"{0}&PageNum={{0}}&PageSize={{1}}\">{{0}}</a>", currentPageLink);}
        @for (int i = 1; i <= model.PageCount; i++)
        {
            var css = i == model.CurrentPage
                ? "page-item active"
                : "page-item";
            <li class="@css">
                @string.Format(pageHrefTemplate, i, model.PageSize)
            </li>
        }
    </ul>
}

<h1>Favorite lists</h1>

@if (Model.FavoriteLists == null || Model.FavoriteLists.Count < 1)
{
    <h3>No lists found.</h3>
}
else
{
    @RenderPagination(currentPageUrl, Model);

    <table class="lists">
        <tr>
            <th>List ID</th>
            <th>List name</th>
            <th>Is default list</th>
            <th>Owner ID</th>
        </tr>
        @foreach (var theList in Model.FavoriteLists)
        {
            <tr>
                <td>@theList.Id</td>
                <td>@theList.Name</td>
                <td>@theList.IsDefault</td>
                <td>@theList.UserId</td>
            </tr>
        }
    </table>

    @RenderPagination(currentPageUrl, Model)
}