<table class="table table-striped">
    <thead>
        <tr>
            <td>@Translate("Filename", "Filename")</td>
            <td class="td-right">@Translate("Filesize", "Filesize")</td>
            <td class="td-right">@Translate("Date", "Date")</td>
        </tr>
    </thead>
    <tbody>
        @foreach (LoopItem folder in GetLoop("FoldersLoop"))
        {
        <tr>
            <td>@folder.GetString("FilepublishFileIcon")<a href="@folder.GetString("FilepublishFileLink")"> @folder.GetString("FilepublishFileName")</a></td>
            <td class="td-right">@folder.GetString("FilepublishFileSizeKB")</td>
            <td class="td-right">@folder.GetString("FilepublishFileDatemodified")</td>
        </tr>
        }

        @foreach (LoopItem file in GetLoop("FilesLoop"))
        {
        <tr>
            <td>@file.GetString("FilepublishFileIcon")<a href="@file.GetString("FilepublishFileLink")"> @file.GetString("FilepublishFileName")</a></td>
            <td class="td-right">@file.GetString("FilepublishFileSizeKB")</td>
            <td class="td-right">@file.GetString("FilepublishFileDatemodified")</td>
        </tr>
        }
    </tbody>
</table>
@GetValue("FilepublishUpload")
