@inherits ViewModelTemplate<OrderViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.ProductCatalog

<div class="modal fade" id="deleteCartModal_@(Model.Id)" tabindex="-1" aria-labelledby="DeleteCart" aria-hidden="true" 
  hx-on::load="bootstrap.Modal.getOrCreateInstance(this).show();"
  x-on:hidden-bs-modal.dot="
    bootstrap.Modal.getOrCreateInstance($event.target).dispose();
    $event.target.remove();
  "
  >
  <div class="modal-dialog pt-8">
    <div class="modal-content">
      <form method="post">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Translate("Cancel")"></button>
        </div>
        <div class="modal-body pt-0">
          <h2 class="mb-1 h5">@Translate("Delete cart")</h2>
          <p class="mb-4 text-body text-opacity-50 lh-sm fs-7">@Translate("Are you sure you want to delete cart") <span class="fw-bold text-body">@Model.Id</span> @Translate("and its content?")</p>
          <div class="form-floating">
            <input type="hidden" name="Cartid" id="CartId" value='@Model.Id' />
            <input type="text" class="form-control" name="CartName" id="CartName" placeholder="@Translate("Cart name")" value="@Model.DisplayName" readonly/>
            <label for="CartName" class="form-label">@Translate("Cart name")</label>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal" data-dw-button>@Translate("Cancel")</button>
          <button type="submit" class="btn btn-primary btn-sm" name="CartCmd" value="emptycart" data-dw-button>@Translate("Delete cart")</button>
        </div>
      </form>
    </div>
  </div>
</div>