@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend


<div class="position-relative">
	@if (Model.Item.TryGetLink("Link", out LinkViewModel link)) {
		<a href="@link.Url" class="stretched-link" title="@link.Url"></a>
	}

	@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
		<figure class="ratio ratio-4x3 m-0">
			<img class="object-fit-cover" src="@image.Path" style="object-position: @image.GetFocalPointPercentage()" alt="@Model.Item?.GetString("AltText")" />
		</figure>
	}
</div>

