@inherits ViewModelTemplate<PageViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.WebUtilities

@{
	var languages = new List<Dynamicweb.Content.Page>();
	var ecomCountries = Dynamicweb.Ecommerce.Services.Countries.GetCountries()?.OrderBy(country => country.GetName(Pageview?.Area?.EcomLanguageId ?? string.Empty)) ?? null;
	var currencies = Dynamicweb.Ecommerce.Services.Currencies.GetAllCurrencies();

	var uri = Dynamicweb.Context.Current?.Request?.Url;
	var queryParams = QueryHelpers.ParseQuery(uri?.Query);
	queryParams.Remove("LayoutTemplate");
	
	if (Pageview?.Page?.Area?.IsMaster == true)
	{
		languages.Add(Pageview.Page);
		if (Pageview.Page.Languages is not null)
		{
			foreach (var language in Pageview.Page.Languages)
			{
				if (language?.Area?.Active == true)
				{
					languages.Add(language);
				}
			}
		}
	}
	else
	{
		if (Pageview?.Page?.MasterPage is not null)
		{
			languages.Add(Pageview.Page.MasterPage);
			if (Pageview.Page.MasterPage.Languages is not null)
			{
				foreach (var language in Pageview.Page.MasterPage.Languages)
				{
					if (language?.Area?.Active == true)
					{
						languages.Add(language);
					}
				}
			}
		}
	}
}

<div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="LanguageModal" 
	hx-on::load="bootstrap.Modal.getOrCreateInstance(this).show();"
	x-on:hidden-bs-modal.dot="
		bootstrap.Modal.getOrCreateInstance($event.target).dispose();
		$event.target.remove();
  	"
>
	<div class="modal-dialog pt-8">
		<form method="get" class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">@Translate("Language preferences")</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Translate("Cancel")"></button>
			</div>
	  		<div class="modal-body">
				<p class="text-muted">@Translate("Select a language")</p>
				<div class="list-group d-grid grid grid-2 gap-3">
					@foreach (var language in languages)
					{
						var region = new System.Globalization.RegionInfo(language?.Area?.CultureInfo.LCID ?? 0);
						queryParams["ID"] = $"{language?.ID}";
						var newQuery = string.Join("&", queryParams.Select(kvp => $"{kvp.Key}={kvp.Value}"));
						var updateUrl = $"{uri?.Scheme}://{uri?.Host}{(uri?.IsDefaultPort == true ? "" : $":{uri?.Port}")}{uri?.AbsolutePath}?{newQuery}";
						updateUrl = SearchEngineFriendlyURLs.GetFriendlyUrl(updateUrl);

						<a class="list-group-item list-group-item-action text-center rounded-3 border @(language?.Area?.ID == Pageview?.Area?.ID ? "border-primary" : null) d-grid text-decoration-none" href="@(updateUrl)">
							<div class="icon-5">
								@ReadFile($"/Files/Images/Icons/Flags/{region.Name}.svg")
							</div>
							<span class="fs-7">@(region.DisplayName)</span> 
							<span class="fs-8 text-uppercase opacity-50">@(Translate("Currency")): @(region.CurrencySymbol) @(language?.Area?.EcomCurrencyId)</span>
						</a>
					}
				</div>
			</div>
		</form>
	</div>
</div>