@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@inherits ViewModelTemplate<OrderViewModel>

<style>
    .orders {
        width: 100%;
        border-collapse: collapse;
    }

        .orders td, .orders th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .orders tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .orders tr:hover {
            background-color: #ddd;
        }

        .orders th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            color: white;
            background-color: #428bca;
            font-weight: bold;
        }

    .button-back {
        border: 0;
        padding: 6px 32px;
        float: right;
        color: white;
        background-color: #428bca;
    }
</style>

<div class="row">
    <div class="order-details col-md-4">
        <h1>Order details</h1>
        <div>Id: @Model.Id</div>
        <div>Created: @Model.CreatedAt</div>
        <div>State Id: @Model.StateId</div>
        <div>Customer Id: @Model.CustomerUserId</div>
        <div>Customer Number: @Model.CustomerNumber</div>
        <div>Weight: @Model.Weight</div>
        <div>Volume: @Model.Volume</div>
        <div>TotalDiscount: @Model.TotalDiscount.Price</div>
        <div>TotalProductDiscount: @Model.TotalProductDiscount.Price</div>
        <div>TotalOrderDiscount: @Model.TotalOrderDiscount.Price</div>
        <div>Price: @Model.Price.Price</div>
        <div>PriceBeforeFees: @Model.PriceBeforeFees.Price</div>
        <div>ShippingFee: @Model.ShippingFee.Price</div>
        <div>PaymentFee: @Model.PaymentFee.Price</div>
    </div>

    <div class="order-details-billing col-md-4">
        <h1>Billing info</h1>
        <div>Company: @Model.CustomerCompany</div>
        <div>Name: @Model.CustomerName</div>
        <div>Address: @Model.CustomerAddress</div>
        <div>Address2: @Model.CustomerAddress2</div>
        <div>Country: @Model.CustomerCountry</div>
        <div>City: @Model.CustomerCity</div>
        <div>Zip: @Model.CustomerZip</div>
        <div>Phone: @Model.CustomerPhone</div>
    </div>

    <div class="order-details-shipping col-md-4">
        <h1>Shipping info</h1>
        <div>Company: @Model.DeliveryCompany</div>
        <div>Name: @Model.DeliveryName</div>
        <div>Address: @Model.DeliveryAddress</div>
        <div>Address2: @Model.DeliveryAddress2</div>
        <div>Country: @Model.DeliveryCountry</div>
        <div>City: @Model.DeliveryCity</div>
        <div>Zip: @Model.DeliveryZip</div>
        <div>Phone: @Model.DeliveryPhone</div>
    </div>
</div>

<div>
    <h2>Order lines</h2>
    <table class="orders order-lines">
        <tr>
            <th>Id</th>
            <th>Product Id</th>
            <th>Variant Id</th>
            <th>Product Name</th>
            <th>Weight</th>
            <th>Volume</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Total price</th>
            <th>Total discount</th>
        </tr>
        @foreach (var line in @Model.OrderLines)
        {
        <tr>
            <td>@line.Id</td>
            <td>@line.ProductId</td>
            <td>@line.ProductVariantId</td>
            <td>@line.ProductName</td>
            <td>@line.Weight</td>
            <td>@line.Volume</td>
            <td>@line.Quantity</td>
            <td>@line.UnitPrice.Price</td>
            <td>@line.Price.Price</td>
            <td>@line.TotalDiscount.Price</td>
        </tr>
        }
    </table>
</div>
<div class="order-fields">
    <h2>Order fields</h2>
    @foreach (var field in @Model.OrderFields.Values)
    {
        <div>@field.Name - @field.Value</div>
    }
</div>
<button class="button-back" onclick="location.href='/Default.aspx?ID=@Pageview.Page.ID'">Back</button>