@helper RenderRmaInfo()
{
	string orderDate = GetDate("Ecom:RMA.Date").ToString("HH:mm") != "00:00" ? GetDate("Ecom:RMA.Date").ToString() : GetDate("Ecom:RMA.Date").ToString().Replace("00:00", "");
	string rmaStatus = GetString("Ecom:RMA.Status");
	string badgeColor = "bg-dark text-white";

	<table class="table d-print-table">
		<tbody>
		<tr>
			<td>@Translate("Placed")</td>
			<td class="text-end">@orderDate</td>
		</tr>
		<tr>
			<td>@Translate("Request number")</td>
			<td class="text-end">@GetString("Ecom:RMA.ID")</td>
		</tr>
		<tr>
			<td>@Translate("Order number")</td>
			<td class="text-end">@GetString("Ecom:RMA.OrderID")</td>
		</tr>
		<tr>
			<td>@Translate("Type")</td>
			<td class="text-end">@GetString("Ecom:RMA.Type.Name")</td>
		</tr>
		<tr>
			<td>@Translate("State")</td>
			<td class="text-end">
				<div class="badge opacity-75 @badgeColor">@rmaStatus</div>
			</td>
		</tr>
		</tbody>
	</table>
}
