@using System
@using Dynamicweb.Ecommerce.Products

@helper RenderCreateRequestOrderLines()
{
	bool hasRmaOrderlines = GetBoolean("Ecom:CustomerCenter.RMA.HasRMAOrderLines");

	if (hasRmaOrderlines)
	{
		int count = 0;
		
		<section class="p-3 mt-3 d-flex flex-column gap-3">
			@foreach (LoopItem orderline in GetLoop("RMAOrderLines"))
			{
				<div class="js-rma-item">
					@{
						string productId = !string.IsNullOrEmpty(orderline.GetString("Ecom:RMA:OrderLine.ProductID")) ? orderline.GetString("Ecom:RMA:OrderLine.ProductID") : Guid.NewGuid().ToString("N");
						string header = Translate("Product No") + ": " + orderline.GetString("Ecom:RMA:OrderLine.ProductNumber");
						bool hasOrderlineAddComment = !string.IsNullOrWhiteSpace(orderline.GetString("Ecom:CustomerCenter.RMA.HasAddComment"));
						string detailsPageLink = GetPageIdByNavigationTag("ProductDetailPage").ToString();
						Product rmaProduct = Dynamicweb.Ecommerce.Services.Products.GetProductById(orderline.GetString("Ecom:RMA:OrderLine.ProductID"), "", Pageview.Area.EcomLanguageId);
						string defaultGroupId = rmaProduct.GetDefaultGroupByShopId(Pageview.Area.EcomShopId).Id;
						string selectedDetailPage = Dynamicweb.Ecommerce.Services.ProductGroups.GetGroup(defaultGroupId)?.Meta.PrimaryPage ?? string.Empty;
						string link = string.IsNullOrEmpty(selectedDetailPage) ? $"/Default.aspx?ID={detailsPageLink}&groupid={defaultGroupId}" : selectedDetailPage;
						link += "&productid=" + productId;
						ProductImageService productImageService = new ProductImageService();
						string productImage = "/Admin/Public/GetImage.ashx?image=" + productImageService.GetImagePath(rmaProduct) + "&width=210&height=210&Format=WebP&Quality=100";

						string orderlineId = GetString("ParagraphID") + "OrderLineID" + orderline.GetString("Ecom:RMA:OrderLine.ID");

						<div class="mb-3">
							<input id="@(productId + "_" + count)" onchange="selectRMAProduct(this)" name="@orderlineId" type="checkbox" class="form-check-input js-rma-item-checkbox">
							<label for="@(productId + "_" + count)" class="dw-mod">@header</label>
						</div>
						
						<article class="grid">
							<div class="g-col-3">
								<a href="@link" class="ratio ratio-1x1 d-block bg-light">
									<img src="@productImage" style="object-fit: contain;" alt="GTw Avalanche 3.0 Disc Ladies " height="210" width="210">
								</a>
							</div>
							<div class="g-col-9">
								<div class="grid grid-9 h-100">
	    
									<div class="g-col-9 g-col-md-5">
										<h2 class="h6 mb-3 fw-bold">
											<a href="@link" class="text-dark text-decoration-none">@orderline.GetString("Ecom:RMA:OrderLine.ProductName")</a>
										</h2>
									</div>
	    
									<div class="g-col-9 g-col-md-4 text-end">
										<h6 class="h6 fw-bold m-0">
											<span class="text-price">@orderline.GetString("Ecom:RMA:OrderLine.Price")</span>
										</h6>
									</div>
								</div>
							</div>
						</article>

						if (hasOrderlineAddComment)
						{
							string orderlineCommentId = !string.IsNullOrEmpty(orderline.GetString("Ecom:RMA:OrderLine.ID")) ? orderline.GetString("Ecom:RMA:OrderLine.ID") : Guid.NewGuid().ToString("N");
							string commentId = orderline.GetString("ParagraphID") + "ProductComment" + orderline.GetString("Ecom:RMA:OrderLine.ID");

							<div class="mb-3 mt-3 js-comment d-none">
								<div class="form-floating">
									<textarea class="form-control" id="@orderlineCommentId" rows="3" name="@commentId" required disabled=""></textarea>
									<label class="u-pull--left">@($"{Translate("Add comment")} ({Translate("required")})")</label>
								</div>
							</div>
						}
					}
				</div>
				count++;
			}
		</section>
		
		<script>
			function selectRMAProduct(el)
			{
				let comment = el.closest(".js-rma-item").querySelector(".js-comment");
				if (comment) {
					comment.classList.toggle("d-none", !el.checked);
					comment.querySelector("textarea").disabled = comment.classList.contains("d-none");
				}
			}
		</script>
	}
}

@helper RenderRmaOrderLines()
{
	bool hasRmaOrderlines = GetBoolean("Ecom:CustomerCenter.RMA.HasRMAOrderLines");

	if (hasRmaOrderlines)
	{
		<section class="p-3 mt-3 d-flex flex-column gap-3">
			@foreach (LoopItem orderline in GetLoop("RMAOrderLines"))
			{
				string productId = !string.IsNullOrEmpty(orderline.GetString("Ecom:RMA:OrderLine.ProductID")) ? orderline.GetString("Ecom:RMA:OrderLine.ProductID") : Guid.NewGuid().ToString("N");
				string detailsPageLink = GetPageIdByNavigationTag("ProductDetailPage").ToString();
				Product rmaProduct = Dynamicweb.Ecommerce.Services.Products.GetProductById(orderline.GetString("Ecom:RMA:OrderLine.ProductID"), "", Pageview.Area.EcomLanguageId);
				string defaultGroupId = rmaProduct.GetDefaultGroupByShopId(Pageview.Area.EcomShopId).Id;
				string selectedDetailPage = Dynamicweb.Ecommerce.Services.ProductGroups.GetGroup(defaultGroupId)?.Meta.PrimaryPage ?? string.Empty;
				string link = string.IsNullOrEmpty(selectedDetailPage) ? $"/Default.aspx?ID={detailsPageLink}&groupid={defaultGroupId}" : selectedDetailPage;
				link += "&productid=" + productId;
				ProductImageService productImageService = new ProductImageService();
				string productImage = "/Admin/Public/GetImage.ashx?image=" + productImageService.GetImagePath(rmaProduct) + "&width=210&height=210&Format=WebP&Quality=100";
				
				<article class="grid">
					<div class="g-col-3">
						<a href="@link" class="ratio ratio-1x1 d-block bg-light">
							<img src="@productImage" style="object-fit: contain;" alt="GTw Avalanche 3.0 Disc Ladies " height="210" width="210">
						</a>
					</div>
					<div class="g-col-9">
						<div class="grid grid-9 h-100">

							<div class="g-col-9 g-col-md-5">
								<h2 class="h6 mb-3 fw-bold">
									<a href="@link" class="text-dark text-decoration-none">@orderline.GetString("Ecom:RMA:OrderLine.ProductName")</a>
								</h2>
							</div>

							<div class="g-col-9 g-col-md-4 text-end">
								<h6 class="h6 fw-bold m-0">
									<span class="text-price">@orderline.GetString("Ecom:RMA:OrderLine.Price")</span>
								</h6>
							</div>
						</div>
					</div>
				</article>
			}
		</section>
	}
}
