@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	var settings = Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(Pageview.Page.Parent)?.Item ?? null;
	var blockId = Model.ID;
	var blockType = "menu_block";
	var block = Model.Item;

	var menuItems = block.GetItems("MenuItems");
	var spacing = block.GetInt32("ItemSpacing") / 2;
	var align = block.GetRawValueString("Align", "center");
	var layout = block.GetRawValueString("Layout", "horizontal");
}

<table id="@blockId" class="@blockType" align="@align" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: inherit; width: 100%;">
	<tbody>
		<tr>
			<td style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: @align; vertical-align: top; padding:0px; border: 0px;" width="100%">
				@if(menuItems != null)
				{
					foreach (var item in menuItems)
					{
						var link = item.GetLink("Link")?.Url ?? null;
						var linkId = item.GetLink("Link").PageId;
						var menuItem = Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(Dynamicweb.Services.Pages.GetPage(linkId));

						if (link != null)
						{
							<a href="@link" style="display: @(layout == "horizontal" ? "inline-block" : "block"); padding: @(spacing)px; color:inherit;">
								@menuItem.Name
							</a>
						}
					}
				}
			</td>
		</tr>
	</tbody>
</table>
