@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	var blockId = Model.ID;
	var blockType = "icons_block";
	var block = Model.Item;
	var blockThemeId = block.GetRawValueString("Theme");
	var blockThemeParagraph = blockThemeId != null && blockThemeId != string.Empty ? Dynamicweb.Services.Paragraphs.GetParagraph(Convert.ToInt32(blockThemeId)) : null;
	var blockTheme = blockThemeParagraph != null && Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(blockThemeParagraph).Item.GetString("CssClassName") != string.Empty ? Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(blockThemeParagraph)?.Item : null;
	string backgroundColor = blockTheme != null ? "background-color: " + blockTheme.GetString("BackgroundColor") + ";" : string.Empty;
	string padding = "padding:" + block.GetRawValueString("Padding", "0") + "px;";
	string align = block.GetRawValueString("Align", "center");
	var icons = block.GetItems("IconItems");
	var size = block.GetRawValueString("IconSize", "32");
	var spacing = Convert.ToInt32(block.GetRawValueString("IconSpacing", "10")) / 2;
}

<table id="@blockId" class="@blockType" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: inherit; width: 100%;">
	<tbody>
		<tr>
			<td style="mso-table-lspace:0pt;mso-table-rspace:0pt;font-weight:400;text-align:@align;vertical-align:top;border:0px;@(backgroundColor)@(padding)" width="100%">

				<table class="icon-table" cellpadding="0" cellspacing="0" role="presentation" align="@align" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
					<tbody>
						<tr>
							@if (icons != null)
							{
								foreach (var item in icons)
								{
									var link = item.GetLink("Link")?.Url ?? null;
									var icon = item.GetFile("Icon")?.Path ?? null;

									<td style="text-align:center; padding-left: @(spacing)px; padding-right: @(spacing)px;">

										@if (link != null)
										{
											<a href="@link" style="display: block;">
												<img src="@icon" alt="" height="@size" width="@size" align="middle" style="display: block; height: auto; border: 0;" />
											</a>
										}
										else
										{
											<img src="@icon" alt="" height="@size" width="@size" align="middle" style="display: block; height: auto; border: 0;" />
										}
									</td>
								}
							}
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
