@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog

@functions {
	private string GetFontStack()
	{
		return "font-family:initial,Arial,Helvetica Neue,Helvetica,sans-serif;";
	}

	private string GetTableReset()
	{
		return "border:0;margin:0;outline:0;padding:0;";
	}
}

@{
	string blockType = "article_block";

	var page = Dynamicweb.Services.Pages.GetPage(Pageview.ID);
	var settings = Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(page?.Parent).Item;
	var blockId = Model.ID;
	var block = Model.Item;

	var emailContentThemeId = settings.GetRawValueString("EmailContentTheme");
	var emailContentThemeParagraph = emailContentThemeId != null && emailContentThemeId != string.Empty ? Dynamicweb.Services.Paragraphs.GetParagraph(Dynamicweb.Core.Converter.ToInt32(emailContentThemeId)) : null;
	var emailContentTheme = emailContentThemeParagraph != null && Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(emailContentThemeParagraph).Item.GetString("CssClassName") != string.Empty ? Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(emailContentThemeParagraph)?.Item : null;

	var rowId = Pageview.CurrentParagraph.GridRowId;
	var row = Dynamicweb.Services.Grids.GetGridRowById(rowId);
	var rowItem = Dynamicweb.Services.Items.GetItem(row.ItemType, row.ItemId);
	var rowThemeId = Dynamicweb.Core.Converter.ToString(rowItem["ColumnBackground"]);
	var rowThemeParagraph = rowThemeId != null && rowThemeId != string.Empty ? Dynamicweb.Services.Paragraphs.GetParagraph(Dynamicweb.Core.Converter.ToInt32(rowThemeId)) : null;
	var rowTheme = rowThemeParagraph != null && Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(rowThemeParagraph).Item.GetString("CssClassName") != string.Empty ? Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(rowThemeParagraph)?.Item : null;

	var blockThemeId = block.GetRawValueString("Theme");
	var blockThemeParagraph = blockThemeId != null && blockThemeId != string.Empty ? Dynamicweb.Services.Paragraphs.GetParagraph(Dynamicweb.Core.Converter.ToInt32(blockThemeId)) : null;
	var blockTheme = blockThemeParagraph != null && Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(blockThemeParagraph).Item.GetString("CssClassName") != string.Empty ? Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(blockThemeParagraph)?.Item : rowTheme is object ? rowTheme : emailContentTheme;

	string backgroundColor = blockTheme != null ? "background-color: " + blockTheme.GetString("BackgroundColor") + ";" : string.Empty;
	string foregroundColor = blockTheme != null ? "color:" + blockTheme.GetString("ForegroundColor", "inherit") + ";" : string.Empty;
	string borderColor = blockTheme != null ? blockTheme.GetString("BorderColor", "transparent") : string.Empty;
	string borders = block.GetRawValueString("Borders", "none");
	string borderThicknes = block.GetRawValueString("BorderThicknes", "0") + "px";
	string borderClass = string.Empty;

	switch (borders)
	{
		case "top":
			borderClass = $"border-top:{borderThicknes} solid {borderColor};";
			break;
		case "bottom":
			borderClass = $"border-bottom:{borderThicknes} solid {borderColor};";
			break;
		case "top-bottom":
			borderClass = $"border-top:{borderThicknes} solid {borderColor}; border-bottom:{borderThicknes} solid {borderColor}; border-left:0;border-right:0;";
			break;
		case "all":
			borderClass = $"border:{borderThicknes} solid {borderColor};";
			break;
	}

	var image = block.GetFile("Image");
	string title = block.GetString("Title", string.Empty);
	string padding = block.GetRawValueString("Padding", "0");
	string align = block.GetRawValueString("Align", "left");
	string text = block.GetString("Text", string.Empty);
	string lineHeight = "line-height:" + (16 * Dynamicweb.Core.Converter.ToDouble(block.GetRawValueString("LineHeight", "1.5"))).ToString() + "px;";
	string linkLabel = block.GetString("LinkLabel", string.Empty);
	var link = new Dynamicweb.Frontend.LinkViewModel();
	string linkType = block.GetRawValueString("LinkType", "page");

	if (linkType == "page" && block.GetLink("PageLink") != null)
	{
		link = block.GetLink("PageLink");
	}

	if (linkType == "product-group")
	{
		IList<ProductGroupViewModel> selectedGroups = block.GetValue<IList<ProductGroupViewModel>>("ProductGroupLink");
		IList<string> groupIds = new List<string> { };

		if (selectedGroups != null)
		{
			foreach (var fromGroup in selectedGroups)
			{
				groupIds.Add(fromGroup.Id);
			}
		}

		link = new Dynamicweb.Frontend.LinkViewModel()
		{
			Url = "/Default.aspx?ID=" + GetPageIdByNavigationTag("Shop") + "&GroupID=" + string.Join(",", groupIds)
		};
	}

	if (linkType == "product")
	{
		ProductListViewModel products = block.GetValue<ProductListViewModel>("ProductLink");
		IList<string> productIds = new List<string> { };

		if (products != null)
		{
			foreach (var product in products.Products)
			{
				productIds.Add(product.Id);
			}
		}

		string productParameter = productIds.Count == 1 ? "ProductID" : "MainProductId";
		string pageTag = productIds.Count == 1 ? "ProductDetailPage" : "Shop";
		link = new Dynamicweb.Frontend.LinkViewModel()
		{
			Url = "/Default.aspx?ID=" + GetPageIdByNavigationTag(pageTag) + "&" + productParameter + "=" + string.Join(",", productIds)
		};
	}

}

<table id="@blockId" class="@blockType" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;@GetTableReset();color:inherit;width:100%;@(backgroundColor)@GetFontStack()">
	<tbody>
		<tr style="@GetTableReset()">
			<td style="mso-table-lspace:0pt;mso-table-rspace:0pt;mso-line-height-rule:exactly;text-align:@align;font-weight:400;@GetFontStack()@GetTableReset()vertical-align:top;@(backgroundColor)@(foregroundColor)padding:@(padding)px;@(borderClass)" width="100%">

				@if (image is object)
				{
					<div align="left">
						@if (link is object && !string.IsNullOrEmpty(link.Url))
						{
							<a href="@link" target="_blank" style="display:block;">
								@RenderImage(image, padding, blockTheme)
							</a>
						}
						else
						{
							@RenderImage(image, padding, blockTheme)
						}
					</div>
				}

				@if (!string.IsNullOrEmpty(title))
				{
					<div style="display:block;padding-top:16px;">
						@RenderHeading(block, title)
					</div>
				}

				@if (!string.IsNullOrEmpty(text))
				{
					<div style="display:block;padding-top:16px;@(lineHeight)">
						@RenderText(text, lineHeight)
					</div>
				}
				@if (link is object && !string.IsNullOrEmpty(link.Url) && !string.IsNullOrEmpty(linkLabel))
				{
					<div style="display:block;padding-top:16px;">
						@RenderButton(link, blockTheme, align, linkLabel)
					</div>
				}
				<!--[if mso]><br/><![endif]-->
			</td>
		</tr>
	</tbody>
</table>

@helper RenderHeading(Dynamicweb.Frontend.ItemViewModel block, string title)
{
	string fontStyle = block.GetRawValueString("FontStyle", "header");
	string fontSize = "font-size:" + block.GetRawValueString("FontSize", "24") + "px;";
	string lineHeight = "line-height:" + (Dynamicweb.Core.Converter.ToInt32(block.GetRawValueString("FontSize", "24")) * Dynamicweb.Core.Converter.ToDouble(block.GetRawValueString("LineHeight", "1.5"))).ToString() + "px;";
	var textRaise = ((Dynamicweb.Core.Converter.ToInt32(block.GetRawValueString("FontSize", "28")) * Dynamicweb.Core.Converter.ToDouble(block.GetRawValueString("LineHeight", "1.5"))) - Dynamicweb.Core.Converter.ToInt32(block.GetRawValueString("FontSize", "28"))) / 2;
	textRaise = textRaise == 0 ? 11 : textRaise;
	string startTag = $"<p class=\"{fontStyle}\" style=\"mso-line-height-rule:exactly;mso-text-raise:{textRaise}px;vertical-align:middle;display:block;{GetFontStack()}{fontSize}{lineHeight}\">";
	string endTag = $"</p>";

	@startTag
	@title
	@endTag
}

@helper RenderText(string text, string lineHeight)
{
	<div style="mso-line-height-rule:exactly;mso-text-raise:11px;vertical-align:middle;margin-top:0;margin-bottom:0px;@GetFontStack()@lineHeight">
		@text
	</div>
}

@helper RenderButton(Dynamicweb.Frontend.LinkViewModel link, Dynamicweb.Frontend.ItemViewModel theme, string align, string title)

{
	var backgroundColor = theme?.GetColor("ButtonPrimaryBackgroundColor");
	var foregroundColor = theme?.GetColor("ButtonPrimaryForegroundColor");
	var borderColor = theme?.GetColor("ButtonPrimaryBorderColor");

	var parms = new Dictionary<string, object>();
	parms.Add("backgroundColor", backgroundColor);
	parms.Add("foregroundColor", foregroundColor);
	parms.Add("borderColor", borderColor);
	parms.Add("align", align);
	parms.Add("title", title);

	@RenderPartial("Swift_Email/Components/Button.cshtml", link ?? new Dynamicweb.Frontend.LinkViewModel(), parms)
}

@helper RenderImage(Dynamicweb.Frontend.FileViewModel image, string padding, Dynamicweb.Frontend.ItemViewModel theme)
{
	var backgroundColor = theme?.GetColor("BackgroundColor").ToString().Replace("#",string.Empty);
	var imageRatio = Model.Item.GetRawValueString("ImageAspectRatio", "4-3").ToLower();
	var parms = new Dictionary<string, object>();
	parms.Add("alt", Model.Item.GetString("ImageAltText"));
	parms.Add("columns", Model.GridRowColumnCount);
	parms.Add("padding", (Dynamicweb.Core.Converter.ToInt32(padding) * 2) * Model.GridRowColumnCount);
	parms.Add("imageRatio", imageRatio);
	parms.Add("backgroundColor", backgroundColor);

	@RenderPartial("Swift_Email/Components/Image.cshtml", image ?? new Dynamicweb.Frontend.FileViewModel(), parms)
}
