@using Dynamicweb.Frontend;
@using Dynamicweb.Environment;

@{
	var categories = CookieManager.GetCategories();

	string cookieNoticeLink = Pageview.AreaSettings.GetLink("CookiePolicyLink") != null ? Pageview.AreaSettings.GetLink("CookiePolicyLink").Url : "";
	string privacyPolicyLink = Pageview.AreaSettings.GetLink("PrivacyPolicyLink") != null ? Pageview.AreaSettings.GetLink("PrivacyPolicyLink").Url : "";

	string layout = Pageview.AreaSettings.GetRawValueString("CookieLayout", "modal");
}

<div>KsKK: @(layout)</div>

@if (layout == "banner" || layout == "both")
{
	<div class="theme dark position-fixed bottom-0 w-100 shadow" id="dwCookieBanner">
		@* Desktop *@
		<div class="align-items-center d-none d-lg-flex">
			<div class="flex-fill">
				<div class="p-3">
					@Translate("By clicking 'Accept All' you consent that we may collect information about you for various purposes, including: Functionality, Statistics and Marketing")
				</div>
			</div>
			<div class="p-3">
				@if (layout == "both")
				{
					<button type="button" class="btn d-inline me-2" data-bs-toggle="modal" data-bs-target="#dwCookieModal">
						@Translate("Customize settings")
					</button>
				}
				<button type="button" onclick="setOptInCookie(2)" class="btn btn-primary rounded-pill d-inline me-2">
					@Translate("Accept all")
				</button>
				<button type="button" onclick="setOptInCookie(0)"  class="btn btn-outline-secondary rounded-pill d-inline me-2">
					@Translate("Decline all")
				</button>
			</div>
		</div>

		@* Mobile *@
		<div class="d-block d-lg-none">
			<div class="p-3">
				@Translate("By clicking 'Accept All' you consent that we may collect information about you for various purposes, including: Functionality, Statistics and Marketing")
			</div>
			<div class="p-3">
				@if (layout == "both")
				{
					<button type="button" class="btn mb-2 w-100" data-bs-toggle="modal" data-bs-target="#dwCookieModal">
						@Translate("Customize settings")
					</button>
				}
				<button type="button" onclick="setOptInCookie(2)" class="btn btn-primary rounded-pill d-inline mb-2 w-100">
					@Translate("Accept all")
				</button>
				<button type="button" onclick="setOptInCookie(0)" class="btn btn-outline-secondary rounded-pill mb-2 w-100">
					@Translate("Decline all")
				</button>
			</div>
		</div>
	</div>
}

@if (layout == "modal" || layout == "both")
{
	<div class="modal fade" id="dwCookieModal">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width:650px;">
			<div class="modal-content">
				<div class="bg-light" style="overflow-y:auto;overflow-x:hidden">
					<div class="p-5 overflow-auto" style="max-height:50vh;">
						<div class="h3">@Translate("You control your data")</div>
						<p>
							@Translate("We and our partners use technologies, including cookies, to collect information about you for various purposes, including"):
						</p>
						<p>
							<ol>
								<li>@Translate("Functionality")</li>
								<li>@Translate("Statistics")</li>
								<li>@Translate("Marketing")</li>
							</ol>
						</p>
						<p>
							@Translate("By clicking 'Accept All' you consent to all these purposes. You can also choose to indicate what purposes you will consent to using the custom selections and then click 'Accept selected'").
						</p>

						@if (!string.IsNullOrEmpty(cookieNoticeLink) || !string.IsNullOrEmpty(privacyPolicyLink)) { 
							<p>
								@Translate("You can read more about our use of cookies and other technologies, as well as our collection and processing of personal data by clicking here"):
							</p>
						}

						@if (!string.IsNullOrEmpty(cookieNoticeLink))
						{
							<a href="@cookieNoticeLink" class="d-block mb-3">@Translate("Read more about Cookies")</a>
						}
						@if (!string.IsNullOrEmpty(privacyPolicyLink))
						{
							<a href="@privacyPolicyLink" class="d-block mb-3">@Translate("Our privacy policy")</a>
						}
					</div>

					<div class="bg-white py-4 px-5">
						<div class="row">
							<div class="col d-flex" id="dwCookieDeclineAll">
								<button type="button" onclick="setOptInCookie(0)" class="btn btn-outline-secondary rounded-pill flex-fill" data-bs-dismiss="modal">@Translate("Decline All")</button>
							</div>
							@if (categories.Any())
							{
								<div class="col d-flex d-none" id="dwCookieAcceptSelected">
									<button type="button" onclick="document.querySelector('#dwCookieModalCustomForm').submit()" class="btn btn-outline-secondary rounded-pill flex-fill">@Translate("Accept selected")</button>
								</div>
							}
							<div class="col d-flex">
								<button type="button" onclick="setOptInCookie(2)"  class="btn btn-primary rounded-pill flex-fill">@Translate("Accept All")</button>
							</div>
						</div>
					</div>

					@if (categories.Any())
					{
						int categoriesCount = 0;
						int totalCategories = categories.Count();

						<form id="dwCookieModalCustomForm" method="post" action="/Admin/Public/CookieOptInLevelConfig.aspx">
							<input type="hidden" name="OptInLevel" id="OptInLevel" value="0"  />

							<div class="border-top border-bottom border-1">
								<div class="row ps-5 pe-5">
									<div class="col-3 border-end py-4">
										<label class="form-check-label" for="dwCookieNecessary"><strong>@Translate("Necessary")</strong></label>
										<div class="form-check form-switch form-control-lg">
											<input class="form-check-input" type="checkbox" id="dwCookieNecessary" checked disabled>
										</div>
									</div>

									@foreach (var category in categories)
									{
										string border = categoriesCount < (totalCategories - 1) ? "border-end" : "";

										<div class="col-3 @border py-4">
											<label class="form-check-label" for="CookieCategory_@category"><strong>@category</strong></label>
											<div class="form-check form-switch form-control-lg">
												<input class="form-check-input js-checkbox" type="checkbox" name="OptInCategory" id="CookieCategory_@category" onchange="toggleAcceptSelected()">
											</div>
										</div>

										categoriesCount++;
									}
								</div>
							</div>
						</form>
					}
				</div>
			
			</div>
		</div>
	</div>

	<script>
		var cookieModal = new Modal(document.getElementById('dwCookieModal'), {
			backdrop: 'static'
		});
	</script>

	if (layout == "modal") {
		<script>
			cookieModal.show();
		</script>
	}
}


<script type="text/javascript">
    async function setOptInCookie(optInLevel) {
		let response = await fetch("/admin/public/CookieOptInLevelConfig.aspx?cmd=SetCookieOptInLevel&OptInLevel=" + optInLevel);

		if (response.ok) {
			if (document.querySelector("#dwCookieBanner")) {
				document.querySelector("#dwCookieBanner").classList.add("d-none");
			}
			if (document.querySelector("#dwCookieModal")) {
				cookieModal.hide();
			}
            return false;
		} else {
			return false;
		}	
	}

	async function acceptCustomSetup() {
		var form = document.querySelector("dwCookieModalCustomForm");

		let formData = new FormData(form);
		var fetchOptions = {
			method: 'POST',
			body: formData
		};

		let response = await fetch(form.action, fetchOptions);

		if (response.ok) {
			if (document.querySelector("#dwCookieBanner")) {
				document.querySelector("#dwCookieBanner").classList.add("d-none");
			}
			if (document.querySelector("#dwCookieModal")) {
				cookieModal.hide();
			}
            return false;
		} else {
			return false;
		}	
	}

	function toggleAcceptSelected() {
		var cookieCalegoriesElement = document.querySelector("#dwCookieModalCustomForm");
		var enableAcceptSelected = false;

		cookieCalegoriesElement.querySelectorAll(".js-checkbox").forEach(function(field) {
			if (field.checked == true) {
				enableAcceptSelected = true;
			}
		});

		if (enableAcceptSelected) {
			document.querySelector("#dwCookieDeclineAll").classList.add("d-none");
			document.querySelector("#dwCookieAcceptSelected").classList.remove("d-none");
		} else {
			document.querySelector("#dwCookieDeclineAll").classList.remove("d-none");
			document.querySelector("#dwCookieAcceptSelected").classList.add("d-none");
		}
	}
</script>
