
<div class="theme dark position-fixed bottom-0 w-100 shadow">
	<div class="row align-items-center">
		<div class="col-12 col-lg-9">
			<div class="p-3">
				@Translate("By clicking 'Accept All' you consent that we may collect information about you for various purposes, including: Functionality, Statistics and Marketing")
			</div>
		</div>
		<div class="col-12 col-lg-3">
			<div class="p-3">
				<button type="button" class="btn d-inline me-2" data-bs-toggle="modal" data-bs-target="#dwCookierBanner">
					@Translate("Customize settings")
				</button>
				<button type="button" class="btn btn-primary rounded-pill d-inline me-2">
					@Translate("Accept all")
				</button>
				<button type="button" class="btn btn-outline-secondary rounded-pill d-inline me-2">
					@Translate("Decline all")
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="dwCookierBanner" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-toggle="modal" tabindex="-1" aria-labelledby="dwCookierBannerLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width:650px;">
		<div class="modal-content">
			
			<div class="bg-light" style="overflow-y:auto;overflow-x:hidden">
				<div class="p-5 overflow-auto" style="max-height:50vh;">
					<div class="h3">@Translate("You control your data")</div>
					<p>
						@Translate("We and our partners use technologies, including cookies, to collect information about you for various purposes, including"):
					</p>
					<p>
						<ol>
							<li>@Translate("Functionality")</li>
							<li>@Translate("Statistics")</li>
							<li>@Translate("Marketing")</li>
						</ol>
					</p>
					<p>
						@Translate("By clicking 'Accept All' you consent to all these purposes. You can also choose to indicate what purposes you will consent to using the selections, then press 'Save settings'").
					</p>
					<p>
						@Translate("You can read more about our use of cookies and other technologies, as well as our collection and processing of personal data by clicking on the link").
					</p>
					<a href="/cookies">@Translate("About Cookies")</a>
				</div>

				<div class="bg-white py-4 px-5">
					<div class="row">
						<div class="col d-flex">
							<button type="button" class="btn btn-lg btn-outline-secondary rounded-pill flex-fill" data-bs-dismiss="modal">@Translate("Decline All")</button>
							<button type="button" class="btn btn-lg btn-outline-secondary rounded-pill flex-fill d-none">@Translate("Save Settings")</button>
						</div>
						<div class="col d-flex"><button type="button" class="btn btn-lg btn-primary rounded-pill flex-fill">@Translate("Accept All")</button></div>
					</div>
				</div>

				<form id="dwCookierBannerForm" action="/admin/public/CookieOptInLevelConfig.aspx?cmd=SetCookieOptInLevel">
					<div class="border-top border-1">
						<div class="row ps-5 pe-5">
							<div class="col-3 border-end py-4">
								<label class="form-check-label" for="dwCookieNecesarry"><strong>@Translate("Necesarry")</strong></label>
								<div class="form-check form-switch form-control-lg">
									<input class="form-check-input" type="checkbox" id="dwCookieNecesarry" checked disabled>
								</div>
							</div>
							<div class="col-3 border-end py-4">
								<label class="form-check-label" for="dwCookieFunctional"><strong>@Translate("Functional")</strong></label>
								<div class="form-check form-switch form-control-lg">
									<input class="form-check-input dwCookieOptional" type="checkbox" id="dwCookieFunctional">
								</div>
							</div>
							<div class="col-3 border-end py-4">
								<label class="form-check-label" for="dwCookieStatistics"><strong>@Translate("Statistics")</strong></label>
								<div class="form-check form-switch form-control-lg">
									<input class="form-check-input dwCookieOptional" type="checkbox" id="dwCookieStatistics">
								</div>
							</div>
							<div class="col-3 py-4">
								<label class="form-check-label" for="dwCookieMarketing"><strong>@Translate("Marketing")</strong></label>
								<div class="form-check form-switch form-control-lg">
									<input class="form-check-input dwCookieOptional" type="checkbox" id="dwCookieMarketing">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
