@using Dynamicweb.Environment;
@{
	var categories = CookieManager.GetCategories();
}


<div class="theme dark position-fixed bottom-0 w-100 shadow" id="dwCookieBanner">
	<div class="d-flex align-items-center">
		<div class="flex-fill">
			<div class="p-3">
				@Translate("By clicking 'Accept All' you consent that we may collect information about you for various purposes, including: Functionality, Statistics and Marketing")
			</div>
		</div>
		@* Desktop *@
		<div class="p-3 d-none d-lg-block">
			<button type="button" class="btn d-inline me-2" data-bs-toggle="modal" data-bs-target="#dwCookieModal">
				@Translate("Customize settings")
			</button>
			<button type="button" onclick="setOptInCookie(2)" class="btn btn-primary rounded-pill d-inline me-2">
				@Translate("Accept all")
			</button>
			<button type="button" onclick="setOptInCookie(0)"  class="btn btn-outline-secondary rounded-pill d-inline me-2">
				@Translate("Decline all")
			</button>
		</div>
		@* Mobile *@
		<div class="p-3 d-block d-lg-none">
			<button type="button" class="btn mb-2 w-100" data-bs-toggle="modal" data-bs-target="#dwCookieModal">
				@Translate("Customize settings")
			</button>
			<button type="button" onclick="setOptInCookie(2)" class="btn btn-primary rounded-pill d-inline mb-2 w-100">
				@Translate("Accept all")
			</button>
			<button type="button" onclick="setOptInCookie(0)" class="btn btn-outline-secondary rounded-pill mb-2 w-100">
				@Translate("Decline all")
			</button>
		</div>
	</div>
</div>

<div class="modal fade" id="dwCookieModal" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-toggle="modal" tabindex="-1" aria-labelledby="dwCookierBannerLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width:650px;">
		<div class="modal-content">
			<div class="bg-light" style="overflow-y:auto;overflow-x:hidden">
				<div class="p-5 overflow-auto" style="max-height:50vh;">
					<div class="h3">@Translate("You control your data")</div>
					<p>
						@Translate("We and our partners use technologies, including cookies, to collect information about you for various purposes, including"):
					</p>
					<p>
						<ol>
							<li>@Translate("Functionality")</li>
							<li>@Translate("Statistics")</li>
							<li>@Translate("Marketing")</li>
						</ol>
					</p>
					<p>
						@Translate("By clicking 'Accept All' you consent to all these purposes. You can also choose to indicate what purposes you will consent to using the selections, then press 'Save settings'").
					</p>
					<p>
						@Translate("You can read more about our use of cookies and other technologies, as well as our collection and processing of personal data by clicking on the link").
					</p>

					@if (categories.Any())
					{
						<a href="#aboutCookiesCollapse" class="mb-3">@Translate("Read more about Cookies")</a>
					
						<div class="collapse multi-collapse" id="aboutCookiesCollapse">
							@foreach (var category in categories)
							{				
								<div>
									<h3 class="h5">@category</h3>
									<ul>
										@foreach (var cookieName in CookieManager.GetCategoryCookies(category))
										{	
											<li>
												@cookieName
											</li>
										}
									</ul>
								</div>
							}
						</div>	
					}
				</div>

				<div class="bg-white py-4 px-5">
					<div class="row">
						<div class="col d-flex">
							<button type="button" onclick="setOptInCookie(0)" class="btn btn-lg btn-outline-secondary rounded-pill flex-fill" data-bs-dismiss="modal">@Translate("Decline All")</button>
						</div>
						<div class="col d-flex"><button type="button" onclick="setOptInCookie(2)"  class="btn btn-lg btn-primary rounded-pill flex-fill">@Translate("Accept All")</button></div>
					</div>
				</div>

				@if (categories.Any())
				{
					<form id="dwCookieBannerCustomForm" method="post" action="/Admin/Public/CookieOptInLevelConfig.aspx">
						<input type="hidden" name="OptInLevel" id="OptInLevel" value="0"  />

						<div class="border-top border-1">
							<div class="row ps-5 pe-5">
								<div class="col-3 border-end py-4">
									<label class="form-check-label" for="dwCookieNecesarry"><strong>@Translate("Necesarry")</strong></label>
									<div class="form-check form-switch form-control-lg">
										<input class="form-check-input" type="checkbox" id="dwCookieNecesarry" checked disabled>
									</div>
								</div>

								@foreach (var category in categories)
								{
									<div class="col-3 border-end py-4">
										<label class="form-check-label" for="CookieCategory_@category"><strong>@category</strong></label>
										<div class="form-check form-switch form-control-lg">
											<input class="form-check-input" type="checkbox" name="OptInCategory" id="CookieCategory_@category">
										</div>
									</div>
								}
							</div>
						</div>
					</form>
				}
			</div>
			
		</div>
	</div>
</div>


<script type="text/javascript">
    function setOptInCookie(optInLevel) {
        var xmlhttp;
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        }
        else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
			if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
				document.querySelector("#dwCookieBanner").classList.add("d-none");
				document.querySelector("#dwCookieModal").classList.add("d-none");
                return false;
            }
        }
        xmlhttp.open("GET", "/admin/public/CookieOptInLevelConfig.aspx?cmd=SetCookieOptInLevel&OptInLevel=" + optInLevel, true);
        xmlhttp.send();
        return false;
    }
</script>
