@inherits ViewModelTemplate<CreateUserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend

@{
    string createUserLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;UserCmd=createuser";
}

<header class="d-flex flex-row align-items-center gap-3 p-3 border-bottom">
    <h1 class="h6 m-0 flex-fill">@Translate("Create user")</h1>
</header>

<form action="@createUserLink" method="post">
    <div class="grid p-3">
        <input type="hidden" name="ID" value="@Pageview.ID">

        <div class="g-col-12 g-col-lg-6">
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="@Translate("UserName")" name="UserManagement_Form_UserName" id="UserManagement_Form_UserName" value="@Model.UserName" required>
                <label for="Name" class="form-label">@Translate("UserName")</label>
            </div>
        </div>
        <div class="g-col-12 g-col-lg-6">
            <div class="form-floating">
                <input type="email" class="form-control" placeholder="@Translate("Email")" name="UserManagement_Form_Email" id="UserManagement_Form_Email" value="@Model.Email" required />
                <label for="Email" class="form-label">@Translate("Email")</label>
            </div>
        </div>
        <div class="g-col-12 g-col-lg-6">
            <div class="form-floating">
                <input type="password" class="form-control" id="UserManagement_Form_Password" name="UserManagement_Form_Password" placeholder="@Translate("Password")" required>
                <label for="Password">@Translate("Password")</label>
            </div>
        </div>
        <div class="g-col-12 g-col-lg-6">
            <div class="form-floating">
                <input type="password" class="form-control" id="UserManagement_Form_ConfirmPassword" name="UserManagement_Form_ConfirmPassword" placeholder="@Translate("Confirm Password")" required>
                <label for="ConfirmPassword">@Translate("Confirm Password")</label>
            </div>
        </div>

        <div class="g-col-12">
            @if (Model.Result is not null)
            {
                @if (Model.Result.ResultType.ToString() == "Success")
                {
                    <div class="label">@Translate("The user has successfully been created!")</div>
                }
                else
                {
                    <div class="label">@Translate(Model.Result.ResultType.ToString())</div>
                }
            }
            <button type="submit" class="btn btn-primary me-2" id="CreateUserButton">@Translate("Create")</button>
        </div>
    </div>
</form>
