@inherits ViewModelTemplate<CreateUserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend.CreateUser

@{
    string resultUserName = Model.UserName;
    string email = Model.Email;
    string approveAccount = Model.ApprovalLink;

}

<h1>@Translate("Hi and welcome") @resultUserName</h1>
<h4>@Translate("You are one click away from activating your user account")</h4>
<p>@Translate("Please click the button below to confirm your email") @email @Translate("for your user account at") </p>
<a href="@approveAccount">@Translate("Click here and confirm your email")</a>
<p>@Translate("You will receive an email when your account is ready to use.")</p>
