@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Ecommerce.CustomerExperienceCenter.Favorites
@using Dynamicweb.Ecommerce.Products.FieldDisplayGroups
@using Dynamicweb.Frontend

@{
	bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;

	ProductViewModel product = new ProductViewModel();

	if (Dynamicweb.Context.Current.Items.Contains("ProductDetails"))
	{
		product = (ProductViewModel)Dynamicweb.Context.Current.Items["ProductDetails"];
	}

	string anonymousUsersLimitations = Pageview.AreaSettings.GetRawValueString("AnonymousUsers", "");
	bool anonymousUser = Pageview.User == null;
	bool hideAddToCart = anonymousUsersLimitations.Contains("cart") && anonymousUser;
	hideAddToCart = product.VariantInfo.VariantInfo != null && Model.Item.GetBoolean("HideVariantSelector") ? true : hideAddToCart;
	bool hidePrice = anonymousUsersLimitations.Contains("price") && anonymousUser;
	bool hideFavoritesSelector = !string.IsNullOrEmpty(Model.Item.GetString("HideFavoritesSelector")) ? Model.Item.GetBoolean("HideFavoritesSelector") : false;

	bool IsNeverOutOfStock = product.NeverOutOfstock;
	string[] variantId = product.VariantId.Split('.');
	string disableAddToCart = (product.StockLevel <= 0) ? "disabled" : "";
	if (IsNeverOutOfStock)
	{
		disableAddToCart = "";
	}

	// Does product has a expected delivery data
	bool hasExpectedDelivery = product.ExpectedDelivery != null && product.ExpectedDelivery > DateTime.Now;
	string expectedDeliveryDate = product.ExpectedDelivery?.ToShortDateString() ?? "";

	string url = "/Default.aspx?ID=" + (GetPageIdByNavigationTag("CartService"));
	if (!url.Contains("LayoutTemplate"))
	{
		url += url.Contains("?") ? "&LayoutTemplate=Swift_MiniCart.cshtml" : "?LayoutTemplate=Swift_MiniCart.cshtml";
	}

	IEnumerable<string> selectedDisplayGroups = Model.Item.GetList("MainFeatures").SelectedValues;
	List<CategoryFieldViewModel> mainFeatures = new List<CategoryFieldViewModel>();

	foreach (var selection in selectedDisplayGroups)
	{
		foreach (CategoryFieldViewModel group in product.FieldDisplayGroups.Values)
		{
			if (selection == group.Id)
			{
				mainFeatures.Add(group);
			}
		}
	}

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";

	string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "display-6");

	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;

	string quantityPricesLayout = Model.Item.GetRawValueString("QuantityPricesLayout", "list");

	string minQty = product.PurchaseMinimumQuantity != 1 ? "min=\"" + product.PurchaseMinimumQuantity.ToString() + "\"" : "min=\"1\"";
	string stepQty = product.PurchaseQuantityStep > 1 ? product.PurchaseQuantityStep.ToString() : "1";
	string valueQty = product.PurchaseMinimumQuantity > product.PurchaseQuantityStep ? product.PurchaseMinimumQuantity.ToString() : stepQty;
	string qtyValidCheck = stepQty != "1" ? "onkeyup=\"swift.Cart.QuantityValidate(event)\"" : "";

	var favoriteParameters = new Dictionary<string, object>();
	if (!anonymousUser && !hideFavoritesSelector)
	{
		IEnumerable<FavoriteList> favoreiteLists = Pageview.User.GetFavoriteLists();
		int defaultFavoriteListId = 0;

		if (favoreiteLists.Count() == 1) {
			foreach (FavoriteList list in favoreiteLists) {
				defaultFavoriteListId = list.ListId;
			}
		}
		
		favoriteParameters.Add("ListId", defaultFavoriteListId);
	}
}

<div class="h-100 @(contentPadding) @(theme)">
	<div class="d-flex flex-column gap-4 js-product">
		<div>
			<h1 class="@titleFontSize" itemprop="name">@product.Name</h1>
			@if (!Model.Item.GetBoolean("HideProductNumber"))
			{
				@RenderPartial("Paragraph/Swift_ProductNumber.cshtml", Model)
			}
		</div>

		@RenderPartial("Paragraph/Swift_ProductPrice.cshtml", Model)

		@if (!hidePrice)
		{
			<div>
				@if (product.Prices.Count > 0) {
					if (quantityPricesLayout == "list") {
						<div class="mt-3">
							@foreach (PriceListViewModel quantityPrice in product.Prices)
							{
								string quantityLabel = Translate("PCS");
								string quantityPriceSuffix = quantityPrice.Quantity > 1 ? Translate("pr. PCS") : "";

								<small class="d-block opacity-75"><span>@quantityPrice.Quantity @quantityLabel</span> - <span class="fw-bold">@quantityPrice.Price.PriceFormatted @quantityPriceSuffix</span></small>
							}
						</div>
                    } else if (quantityPricesLayout == "table") {
						<div class="grid">
							<table class="table table-sm mt-3 g-col-12 g-col-lg-6">
								<thead>
									<tr>
										<td>@Translate("QTY")</td>
										<td>@Translate("pr. PCS")</td>
									</tr>
								</thead>
								<tbody>
									@foreach (PriceListViewModel quantityPrice in product.Prices)
									{
										<tr>
											<td>@quantityPrice.Quantity</td>
											<td>@quantityPrice.Price.PriceFormatted</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
                    }
                }
			</div>
		}

		@RenderPartial("Paragraph/Swift_ProductShortDescription.cshtml", Model)

		@if (mainFeatures.Count > 0)
		{
			foreach (CategoryFieldViewModel mainFeatureGroup in mainFeatures)
			{
				<dl class="grid gap-0">
					@foreach (var field in mainFeatureGroup.Fields)
					{
						@RenderField(field.Value)
					}
				</dl>
			}
		}

		@if (product.VariantInfo.VariantInfo != null && !Model.Item.GetBoolean("HideVariantSelector"))
		{
			@RenderPartial("Paragraph/Swift_ProductVariantSelector.cshtml", Model)
		}

		<div class="d-flex flex-row flex-nowrap gap-2">
			@if (!hideAddToCart)
			{
				<form method="post" action="@url" class="flex-fill">
					<input type="hidden" name="redirect" value="false" />
					<input type="hidden" name="ProductId" value="@product.Id" />
					<input type="hidden" name="cartcmd" value="add" />

					@if (!string.IsNullOrEmpty(product.VariantId))
					{
						<input type="hidden" name="VariantId" value="@product.VariantId" />
					}
					@if (!Model.Item.GetBoolean("QuantitySelector"))
					{
						<input id="Quantity_@product.Id" name="Quantity" value="@valueQty" type="hidden">
						<button type="button" onclick="swift.Cart.Update(event)" class="btn btn-primary w-100 js-add-to-cart-button @disableAddToCart" title="@Translate("Add to cart")" id="AddToCartButton@(product.Id)">@Translate("Add to cart")</button>
					} else { 
						<div class="input-group input-primary-button-group js-input-group d-flex flex-row flex-nowrap">
							<input id="Quantity_@product.Id" name="Quantity" value="@valueQty" step="@stepQty" @minQty class="form-control" style="max-width: 96px; min-width:64px;" type="number">
							<button type="button" onclick="swift.Cart.Update(event)" class="btn btn-primary flex-fill js-add-to-cart-button @disableAddToCart" title="@Translate("Add to cart")" id="AddToCartButton@(product.Id)">@Translate("Add to cart")</button>
						</div>

						if (stepQty != "1")
						{
							<div class="invalid-feedback d-none">
								@Translate("Please select a quantity that is dividable by") @stepQty
							</div>
						}
					}
				</form>
				if (!anonymousUser && !hideFavoritesSelector)
				{
					@RenderPartial("Components/ToggleFavorite.cshtml", product, favoriteParameters)
				}
			}
			else if (!anonymousUser && !hideFavoritesSelector)
			{
				<div class="flex-fill">
					@Translate("Add to favorites") @RenderPartial("Components/ToggleFavorite.cshtml", product, favoriteParameters)
				</div>
			}
		</div>
	</div>
	@if (!Model.Item.GetBoolean("HideStockState"))
	{
		@RenderPartial("Paragraph/Swift_ProductStock.cshtml", Model)
	}
</div>

@helper RenderField(FieldValueViewModel field)
{
	string fieldValue = field?.Value != null ? field.Value.ToString() : "";
	bool noValues = false;

	if (!string.IsNullOrEmpty(fieldValue))
	{
		if (field.Value.GetType() == typeof(System.Collections.Generic.List<FieldOptionValueViewModel>))
		{
			System.Collections.Generic.List<FieldOptionValueViewModel> values = field.Value as System.Collections.Generic.List<FieldOptionValueViewModel>;
			noValues = values.Count > 0 ? false : true;
		}
	}

	if (!string.IsNullOrEmpty(fieldValue) && noValues == false)
	{
		<dt class="g-col-12 g-col-sm-4 g-col-lg-12 fw-bold m-0">@field.Name</dt>
		<dd class="g-col-12 g-col-sm-8 g-col-lg-12 mb-3">
			@RenderFieldValue(field)
		</dd>
	}
}

@helper RenderFieldValue(FieldValueViewModel field)
{
	string fieldValue = field?.Value != null ? field.Value.ToString() : "";

	fieldValue = fieldValue == "False" ? Translate("No") : fieldValue;
	fieldValue = fieldValue == "True" ? Translate("Yes") : fieldValue;

	bool isColor = false;

	if (field.Value.GetType() == typeof(System.Collections.Generic.List<Dynamicweb.Ecommerce.ProductCatalog.FieldOptionValueViewModel>))
	{
		int valueCount = 0;
		System.Collections.Generic.List<FieldOptionValueViewModel> values = field.Value as System.Collections.Generic.List<FieldOptionValueViewModel>;
		int totalValues = values.Count;

		foreach (FieldOptionValueViewModel option in values)
		{
			if (option.Value.Substring(0, 1) == "#")
			{
				isColor = true;
			}

			if (!isColor)
			{
				@option.Name
			}
			else
			{
				<span class="colorbox-sm" style="background-color: @option.Value" title="@option.Value"></span>
			}

			if (valueCount != totalValues && valueCount < (totalValues - 1))
			{
				if (isColor)
				{
					<text> </text>
				}
				else
				{
					<text>, </text>
				}
			}
			valueCount++;
		}
	}
	else
	{
		if (fieldValue.Substring(0, 1) == "#")
		{
			isColor = true;
		}

		if (!isColor)
		{
			@fieldValue
		}
		else
		{
			<span class="colorbox-sm" style="background-color: @fieldValue" title="@fieldValue"></span>
		}
	}
}
