@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	string link = Model.Item.GetString("Link");

	string layout = Model.Item.GetRawValueString("Layout", "text-start");	
	layout = layout == "alignLeft"   ? "text-start"  : layout;
	layout = layout == "alignCenter" ? "text-center" : layout;
	layout = layout == "alignRight"  ? "text-end"    : layout;

	string textScaling = Model.Item.GetRawValueString("TextScaling", "");
	textScaling = textScaling == "small"  ? "fs-7" : textScaling;
	textScaling = textScaling == "medium" ? ""     : textScaling;
	textScaling = textScaling == "large"  ? "fs-5" : textScaling;

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

@if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
{
<div class="@(textScaling) @(layout) @(theme) px-3 py-2 mx-n3 item_@Model.Item.SystemName.ToLower()">
	@if (!string.IsNullOrEmpty(@link))
	{
		<a href="@(link)" class="text-decoration-none text-decoration-underline-hover">
			@Model.Item.GetString("Text")
		</a>
	}
	else
	{
		@Model.Item.GetString("Text")
	}
</div>
}
