@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	string listSource = !string.IsNullOrEmpty(Model.Item.GetString("ListSource")) ? Model.Item.GetString("ListSource") : Model.PageID.ToString();
	string sortArticleList = !string.IsNullOrEmpty(Model.Item.GetString("SortArticleList")) ? Model.Item.GetString("SortArticleList") : "Descending";
	string maxItemsInList = !string.IsNullOrEmpty(Model.Item.GetString("MaxItemsInList")) ? Model.Item.GetString("MaxItemsInList") : "10";

	string layout = !string.IsNullOrEmpty(Model.Item.GetString("Layout")) ? Model.Item.GetString("Layout") : string.Empty;
	layout = layout == "image-left" ? "" : layout;
	layout = layout == "image-right" ? "" : layout;
	layout = layout == "image-top" ? "" : layout;

	string listLayout = !string.IsNullOrEmpty(Model.Item.GetString("ListLayout")) ? Model.Item.GetString("ListLayout") : string.Empty;
	string listLayoutMobile = !string.IsNullOrEmpty(Model.Item.GetString("ListLayoutMobile")) ? Model.Item.GetString("ListLayoutMobile") : string.Empty;

	string NumberOfsliderItems = string.Empty;
	string NumberOfGridItems = string.Empty;
	string sliderWrapper = "swiffy-slider";
	string sliderNav = "slider-nav-round";
	string sliderContainer = "slider-container gap-4 gap-lg-5";
	string  sliderRevealItem = "slider-item-reveal";

	NumberOfsliderItems = listLayout == "carousel-1" ? string.Empty : NumberOfsliderItems;
	NumberOfsliderItems = listLayout == "carousel-2" ? "slider-item-show2" : NumberOfsliderItems;
	NumberOfsliderItems = listLayout == "carousel-3" ? "slider-item-show3" : NumberOfsliderItems;
	NumberOfsliderItems = listLayout == "carousel-4" ? "slider-item-show4" : NumberOfsliderItems;
	NumberOfsliderItems = listLayout == "carousel-5" ? "slider-item-show5" : NumberOfsliderItems;

	NumberOfGridItems = listLayout == "grid-1" ? "grid grid-1 grid-lg-1 gap-lg-4" : NumberOfGridItems;
	NumberOfGridItems = listLayout == "grid-2" ? "grid grid-1 grid-lg-2 gap-lg-4" : NumberOfGridItems;
	NumberOfGridItems = listLayout == "grid-3" ? "grid grid-1 grid-lg-3 gap-lg-4" : NumberOfGridItems;
	NumberOfGridItems = listLayout == "grid-4" ? "grid grid-1 grid-lg-4 gap-lg-4" : NumberOfGridItems;
	NumberOfGridItems = listLayout == "grid-5" ? "grid grid-1 grid-lg-5 gap-lg-4" : NumberOfGridItems;
}

@* Desktop carousel & mobile default *@
@if (
	NumberOfsliderItems != "" && 
	listLayoutMobile == "default" )
{
	<div class="@sliderWrapper @sliderNav @NumberOfsliderItems @sliderRevealItem">
		<div class="@sliderContainer">
			@RenderItemList(new
		{
			ItemType = "Swift_Article",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
			@RenderItemList(new
		{
			ItemType = "Swift_ArticleListPage",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
		</div>
		<button type="button" class="slider-nav opacity-100"></button>
		<button type="button" class="slider-nav slider-nav-next opacity-100"></button>
	</div>
}

@* Desktop grid & mobile default *@
@if (
	NumberOfGridItems != "" && 
	listLayoutMobile == "default" )
{
	<div class="@NumberOfGridItems">
		@RenderItemList(new
	{
		ItemType = "Swift_Article",
		ListTemplate = "ItemPublisher/List/List.cshtml",
		ItemFieldsList = "*",
		ListSourceType = "Page",
		ListSourcePage = listSource,
		ListPageSize = maxItemsInList,
		IncludeParagraphItems = true,
		ListOrderBy = "Created",
		ListOrderByDirection = sortArticleList
	})
		@RenderItemList(new
	{
		ItemType = "Swift_ArticleListPage",
		ListTemplate = "ItemPublisher/List/List.cshtml",
		ItemFieldsList = "*",
		ListSourceType = "Page",
		ListSourcePage = listSource,
		ListPageSize = maxItemsInList,
		IncludeParagraphItems = true,
		ListOrderBy = "Created",
		ListOrderByDirection = sortArticleList
	})
	</div>
}

@* Desktop carousel & mobile carousel *@
@if (
	NumberOfsliderItems != "" && 
	listLayoutMobile == "carousel" )
{
	<div class="@sliderWrapper @sliderNav @NumberOfsliderItems @sliderRevealItem">
		<div class="@sliderContainer">
			@RenderItemList(new
		{
			ItemType = "Swift_Article",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
			@RenderItemList(new
		{
			ItemType = "Swift_ArticleListPage",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
		</div>
		<button type="button" class="slider-nav opacity-100"></button>
		<button type="button" class="slider-nav slider-nav-next opacity-100"></button>
	</div>
}

@* Desktop grid & mobile carousel *@
@if (
	NumberOfGridItems != "" &&
	listLayoutMobile == "carousel" )
{
	<div class="d-none d-xl-grid @NumberOfGridItems">
			@RenderItemList(new
		{
			ItemType = "Swift_Article",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
			@RenderItemList(new
		{
			ItemType = "Swift_ArticleListPage",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
	</div>
	<div class="d-grid d-xl-none @sliderWrapper @sliderNav @sliderRevealItem">
		<div class="@sliderContainer">
			@RenderItemList(new
		{
			ItemType = "Swift_Article",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
			@RenderItemList(new
		{
			ItemType = "Swift_ArticleListPage",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
		</div>
		<button type="button" class="slider-nav opacity-100"></button>
		<button type="button" class="slider-nav slider-nav-next opacity-100"></button>
	</div>
}

@* Desktop carousel & mobile grid *@
@if (
	NumberOfsliderItems != "" &&
	listLayoutMobile == "list" )
{
	<div class="d-none d-xl-grid @sliderWrapper @sliderNav @NumberOfsliderItems @sliderRevealItem">
		<div class="@sliderContainer">
			@RenderItemList(new
		{
			ItemType = "Swift_Article",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
			@RenderItemList(new
		{
			ItemType = "Swift_ArticleListPage",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
		</div>
		<button type="button" class="slider-nav opacity-100"></button>
		<button type="button" class="slider-nav slider-nav-next opacity-100"></button>
	</div>
	<div class="d-grid d-xl-none grid grid-1">
			@RenderItemList(new
		{
			ItemType = "Swift_Article",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
			@RenderItemList(new
		{
			ItemType = "Swift_ArticleListPage",
			ListTemplate = "ItemPublisher/List/List.cshtml",
			ItemFieldsList = "*",
			ListSourceType = "Page",
			ListSourcePage = listSource,
			ListPageSize = maxItemsInList,
			IncludeParagraphItems = true,
			ListOrderBy = "Created",
			ListOrderByDirection = sortArticleList
		})
	</div>
}

@* Desktop grid & mobile grid *@
@if (
	NumberOfGridItems != "" && 
	listLayoutMobile == "list" )
{
	<div class="@NumberOfGridItems">
		@RenderItemList(new
	{
		ItemType = "Swift_Article",
		ListTemplate = "ItemPublisher/List/List.cshtml",
		ItemFieldsList = "*",
		ListSourceType = "Page",
		ListSourcePage = listSource,
		ListPageSize = maxItemsInList,
		IncludeParagraphItems = true,
		ListOrderBy = "Created",
		ListOrderByDirection = sortArticleList
	})
		@RenderItemList(new
	{
		ItemType = "Swift_ArticleListPage",
		ListTemplate = "ItemPublisher/List/List.cshtml",
		ItemFieldsList = "*",
		ListSourceType = "Page",
		ListSourcePage = listSource,
		ListPageSize = maxItemsInList,
		IncludeParagraphItems = true,
		ListOrderBy = "Created",
		ListOrderByDirection = sortArticleList
	})
	</div>
}

@if (NumberOfsliderItems != "")
{ 
	<script type="module" data-noinit>
		swiffyslider.init()
	</script>
}
