@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Environment

@{
	ProductListViewModel productList = new ProductListViewModel();

	if (Dynamicweb.Context.Current.Items.Contains("ProductList"))
	{
		productList = (ProductListViewModel)Dynamicweb.Context.Current.Items["ProductList"];
	}

	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";

	bool facetsFound = false;

	if (productList.FacetGroups != null)
	{
		foreach (FacetGroupViewModel facetGroup in productList.FacetGroups)
		{
			foreach (FacetViewModel facetItem in facetGroup.Facets)
			{
				foreach (FacetOptionViewModel facetOption in facetItem.Options)
				{
					if (facetOption.Selected)
					{
						facetsFound = true;
					}
				}
			}
		}
	}

	string url = Pageview.SearchFriendlyUrl;
	url = url.LastIndexOf("?") != -1 ? url.Substring(0, url.LastIndexOf("?")) : url;

	//Fix for non-friendly urls
	if (Dynamicweb.Context.Current.Request.QueryString.Get("GroupID") != null)
	{
		string groupId = Dynamicweb.Context.Current.Request.QueryString.Get("GroupID");
		url += "?GroupID=" + groupId;
	}

	string pageSize = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("PageSize")) ? Dynamicweb.Context.Current.Request.QueryString.Get("PageSize") : productList.PageSize.ToString();

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

@if (facetsFound)
{
	int facetOptionsCount = 0;
	string sortBySelection = Dynamicweb.Context.Current.Request?.Form["SortBy"] ?? "Relevance";
	sortBySelection = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("SortBy")) ? Dynamicweb.Context.Current.Request.QueryString.Get("SortBy") : sortBySelection;

	string searchQuery = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("q")) ? Dynamicweb.Context.Current.Request.QueryString.Get("q") : "";
	string searchLayout = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("SearchLayout")) ? Dynamicweb.Context.Current.Request.QueryString.Get("SearchLayout") : "";

	<form method="get" action="@url" data-response-target-element="content" class="@theme d-none d-lg-flex align-items-center gap-2 item_@Model.Item.SystemName.ToLower()">
		<input type="hidden" name="PageSize" value="@pageSize" />
		<input type="hidden" name="SortBy" value="@sortBySelection" />
		<input type="hidden" name="RequestType" value="UpdateList" />

		@if (!string.IsNullOrEmpty(searchQuery)) { 
			<input type="hidden" name="q" value="@searchQuery" />
			<input type="hidden" name="SearchLayout" value="@searchLayout" />
		}

		@foreach (FacetGroupViewModel facetGroup in productList.FacetGroups)
		{
			foreach (FacetViewModel facetItem in facetGroup.Facets)
			{
				string name = facetItem.Name.ToString();

				foreach (FacetOptionViewModel facetOption in facetItem.Options)
				{
					if (facetOption.Selected)
					{
						string renderType = facetItem.RenderType;

						if (renderType == "Colors")
						{
							@RenderColorOption(facetItem, facetOption, name)
						}
						else
						{
							@RenderCheckboxOption(facetItem, facetOption, name)
						}

						facetOptionsCount++;
					}
				}
			}
		}

		@if (facetOptionsCount > 2)
		{
			<button type="button" class="btn btn-sm me-sm-1 me-lg-2" onclick="swift.ProductList.ResetFacets(event)"><span class="icon-2">@ReadFile(iconPath + "rotate-ccw.svg")</span> @Translate("Clear filters")</button>
		}
	</form>
}
else if (Pageview.IsVisualEditorMode)
{
	<div class="alert alert-dark m-0" role="alert">
		<span>@Translate("Facets: The facet selections will be shown here, if any")</span>
	</div>
}


@helper RenderCheckboxOption(FacetViewModel facet, FacetOptionViewModel facetOption, string name)
{
	string selected = facetOption.Selected ? "checked" : "";
	string facetLabel = facetOption.Label;
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";

	if (facetLabel.ToLower() == "true")
	{
		facetLabel = Translate("Yes");
	}

	if (facetLabel.ToLower() == "false")
	{
		facetLabel = Translate("No");
	}

	<input class="visually-hidden" id="Selected_@(Model.ID)_@facetOption.Value" name="@facet.QueryParameter" onclick="swift.ProductList.Update(event)" type="checkbox" value="[@facetOption.Value]" title="@facetOption.Label" @selected>
	<label class="btn btn-secondary d-inline-flex align-items-center" for="Selected_@(Model.ID)_@facetOption.Value">
		<span>@(name): @facetLabel</span>
		<span class="icon-2 ms-2 my-auto">
			@ReadFile(iconPath+"check.svg")
		</span>
	</label>
}

@helper RenderColorOption(FacetViewModel facet, FacetOptionViewModel facetOption, string name)
{
	string selected = facetOption.Selected ? "checked" : "";
	string facetLabel = facetOption.Label;
	string colorCode = facetOption.Value;
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	string image = facetOption.Value;

	var variantOption = Dynamicweb.Ecommerce.Services.VariantOptions.GetVariantOption(facetOption.Value.ToString(), Dynamicweb.Ecommerce.Common.Context.LanguageID);
	if (variantOption != null)
	{
		image = variantOption.LargeImage;
		colorCode = variantOption.Color;
	}

	<input class="btn-check" id="Selected_@(Model.ID)_@facetOption.Value.Replace("#", "")" name="@facet.QueryParameter" onclick="swift.ProductList.Update(event)" type="checkbox" value="[@facetOption.Value]" title="@facetOption.Label" @selected>
	<label class="btn btn-secondary d-inline-flex align-items-center" for="Selected_@(Model.ID)_@facetOption.Value.Replace("#", "")">
		<span>@(name):</span>
		@if (colorCode.Contains("#"))
		{
			<span class="colorbox-icon ms-1" style="background-color: @colorCode"></span>
		}
		else
		{
			<img class="colorbox-background" src="/Admin/Public/GetImage.ashx?width=25&height=25&image=@image" />
		}
		<span class="icon-2 ms-2 my-auto">
			@ReadFile(iconPath+"check.svg")
		</span>
	</label>
}
