@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb

<div class="d-flex flex-column flex-md-row justify-content-end gap-2 fs-7 text-center text-md-end">

	@if (Pageview.User.CurrentSecondaryUser != null)
	{
		<div>
			@RenderSecondaryUser()
			<span>
				@Translate("is signed in as")
			</span>
			@RenderUser()
		</div>
		<span class="d-none d-md-block" style="border-left: 2px solid; height: auto;"></span>
		@RenderSignInAndOut()
	}
	else {
		if (Pageview.User.CurrentSecondaryUser == null) {
			<div>
				<span>@Translate("You are signed in as")</span>
				 @RenderUser()
			</div>
		}
	}
</div>

@helper RenderUser() {
	
	if (Pageview.User != null)
	{
		<span class="fw-bold">@Pageview.User.Name</span>
	}
}

@helper RenderSecondaryUser(){
	
	if (Pageview.User.CurrentSecondaryUser != null)
	{
		<span class="fw-bold">@Pageview.User.CurrentSecondaryUser.Name</span>
	}
}


@helper RenderSignInAndOut() { 
	
	<div class="d-flex justify-content-around gap-2">
		<a class="link-primary text-decoration-none text-reset flex-fill" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasExample">@Translate("Sign in as a customer")</a>
		<span style="border-left: 2px solid; height: auto;"></span>
		<a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="link-primary text-decoration-none text-reset flex-fill">@Translate("Sign out")</a>
	</div>
}
