@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System.IO

@{
	string layout = Model.Item.GetRawValueString("Layout", "icon-top");
	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "none" ? "" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-3 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-5 p-md-5" : contentPadding;
	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";

	string target = Pageview.AreaSettings.GetBoolean("OpenLinksInNewTab") && Model.Item.GetString("Link").Contains("http") ? "target=\"_blank\"" : string.Empty;
	string rel = Pageview.AreaSettings.GetBoolean("OpenLinksInNewTab") && Model.Item.GetString("Link").Contains("http") ? "rel=\"noopener\"" : string.Empty;
	string alignment = (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle")) && !string.IsNullOrEmpty(Model.Item.GetString("Text")) ? "align-items-stretch" : "align-items-center";
}

<div class="h-100 @(contentPadding)@(theme) item_@Model.Item.SystemName.ToLower()">
	<a id="@Model.ID" class="user-select-none" style="scroll-margin-top:var(--header-height,150px)"></a>
	@switch (layout)
	{
		case "icon-top":
			if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
			{
				@:<a href="@Model.Item.GetString("Link")" class="text-decoration-none d-block h-100" @target @rel>
				}

				<div class="d-flex flex-column gap-3 text-center mb-0-last-child">
					@{@RenderIconAndImage(layout)}

					@if (
						!string.IsNullOrEmpty(Model.Item.GetString("Title")) &&
						!Model.Item.GetBoolean("HideTitle") ||
						!string.IsNullOrEmpty(Model.Item.GetString("Text"))
						)
					{
						<div class="mb-0-last-child">
							@{
								@RenderTitle()
								@RenderBody()
							}
						</div>
					}

				</div>

				if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
				{
				@:</a>
			}
			break;
		case "icon-left":
			if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
			{
				@:<a href="@Model.Item.GetString("Link")" class="text-decoration-none d-block h-100" @target @rel>
				}

				<div class="d-flex flex-row gap-3 h-100 text-start @alignment">
					@{@RenderIconAndImage(layout)}

					@if (
						!string.IsNullOrEmpty(Model.Item.GetString("Title")) &&
						!Model.Item.GetBoolean("HideTitle") ||
						!string.IsNullOrEmpty(Model.Item.GetString("Text"))
						)
					{
						<div class="d-flex flex-column flex-grow-1">
							@{
								@RenderTitle()
								@RenderBody()
							}
						</div>
					}

				</div>

				if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
				{
				@:</a>
			}
			break;
		case "icon-right":
			if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
			{
				@:<a href="@Model.Item.GetString("Link")" class="text-decoration-none d-block h-100" @target @rel>
				}

				<div class="d-flex flex-row gap-3 h-100 text-end @alignment">
					<div class="d-flex flex-column flex-grow-1">
						@{
							@RenderTitle()
							@RenderBody()
						}
					</div>

					@{@RenderIconAndImage(layout)}
				</div>
				if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
				{
				@:</a>
			}
			break;
	}
</div>

@helper RenderIconAndImage(string layout)
{
	string iconSize = Model.Item.GetRawValueString("IconSize", "2");
	string imageSrc = !string.IsNullOrEmpty(Model.Item.GetString("Image")) ? Model.Item.GetFile("Image").Path : "";
	string flexGrowClass = string.Empty;
	
	switch (layout) {
		case "icon-left":
		case "icon-right":
			flexGrowClass = "flex-grow-0";
			break;
	}

	if (!string.IsNullOrEmpty(Model.Item.GetString("Image")))
	{	<div class="@flexGrowClass">
			@{ @RenderIcon(imageSrc, iconSize) }
		</div>
	}
	else
	{
		string imagePath = Model.Item.GetRawValueString("Icon", "");

		if (!imagePath.ToLower().Contains("none") && imagePath != "")
		{
			<div class="@flexGrowClass">
				@{ @RenderIcon(imagePath, iconSize) }
			</div>
		}
	}
}

@helper RenderIcon(string imagePath, string iconSize) 
{

	if (Path.GetExtension(imagePath).ToLower() == ".svg")
	{
		string iconColor = Model.Item.GetString("iconColor", "text-inherit");
		string iconOpacity = Model.Item.GetString("IconOpacity", "opacity-100");

		<div class="icon-auto @iconColor @iconOpacity" style="height: @(iconSize)px; width: @(iconSize)px;">
			@ReadFile(imagePath)
		</div>
	}
	else
	{
		imagePath = "/Admin/Public/GetImage.ashx?image=" + imagePath + "&height=" + iconSize + "&width=" + iconSize + "&Crop=0&Format=WebP&Quality=100";
		string imgAltText = Model.Item.GetRawValueString("FeatureAltText", string.Empty);

		<img loading="lazy" src="@imagePath" alt="@imgAltText" title="@Model.Item.GetString("Title")" style="height: @(iconSize)px; width: @(iconSize)px;">
	}
}

@helper RenderTitle() 
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
	{
		string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "h4");
		string titleColor = Model.Item.GetString("TitleColor", "text-inherit");
		string titleOpacity = Model.Item.GetString("TitleOpacity", "opacity-100");
		string headingLevel = Model.Item.GetString("HeadingLevel", "h2");
		string headingLevelStart = $"<{headingLevel} class=\"{titleFontSize} {titleColor} {titleOpacity} m-0\">";
		string headingLevelStop = $"</{headingLevel}>";

		@headingLevelStart
			@Model.Item.GetString("Title")
		@headingLevelStop
	}
}

@helper RenderBody() 
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
	{
		string textColor = Model.Item.GetString("TextColor", "text-inherit");
		string textOpacity = Model.Item.GetString("TextOpacity", "opacity-100");
		
		<p class="@textColor @textOpacity m-0">@Model.Item.GetString("Text")</p>
	}
}
