@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb

<div class="d-flex flex-column flex-md-row align-items-center justify-content-end gap-2 fs-7 text-center text-md-end me-md-n2 item_@Model.Item.SystemName.ToLower()">

	@if (Pageview?.User != null)
	{
		if (Pageview.User.CurrentSecondaryUser != null)
		{
			<div>
				@RenderSecondaryUser()
				<span>
					@Translate("is signed in as")
				</span>
				@RenderUser()
			</div>
			<div class="d-flex justify-content-around gap-2 gap-md-0">
				@RenderSwitchUser()
				<span class="border-2 border-end h-auto my-1"></span>
				@RenderSignOut()
			</div> }
		else
		{
			if (Pageview.User != null)
			{
				<div>
					<span>@Translate("You are signed in as")</span>
					@RenderUser()
				</div>
				<div class="d-flex justify-content-around gap-2">
					@RenderSignIn()
				</div>
			}

		}
	}
</div>

@helper RenderUser()
{
	<span class="fw-bold">@Pageview.User.Name</span>
}

@helper RenderSecondaryUser()
{
	<span class="fw-bold">@Pageview.User.CurrentSecondaryUser.Name</span>
}

@helper RenderSignOut()
{
	<a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="btn btn-sm btn-link text-reset p-0 py-md-1 px-md-2">@Translate("Sign out as customer")</a>
}

@helper RenderSignIn()
{
	Dynamicweb.Frontend.LinkViewModel CustomerListLink = Model.Item.GetLink("Link");
	string title = !string.IsNullOrEmpty(Model.Item.GetString("Title")) ? Model.Item.GetString("Title") : "";

	if (CustomerListLink != null)
	{
		<span class="d-none d-md-block border-2 border-end h-auto my-1"></span>
		<a href="@CustomerListLink.Url" class="btn btn-sm btn-link text-reset p-0 py-md-1 px-md-2">@Translate("Sign in as customer")</a>
	}
}

@helper RenderSwitchUser()
{
	Dynamicweb.Frontend.LinkViewModel CustomerListLink = Model.Item.GetLink("Link");
	string title = !string.IsNullOrEmpty(Model.Item.GetString("Title")) ? Model.Item.GetString("Title") : "";

	if (CustomerListLink != null)
	{
		<span class="d-none d-md-block border-2 border-end h-auto my-1"></span>
		<a href="@CustomerListLink.Url" class="btn btn-sm btn-link text-reset p-0 py-md-1 px-md-2">@Translate("Switch to another customer")</a>
	}
}

