@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog

@{ 
	bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;

	ProductViewModel product = new ProductViewModel();
	
	ProductViewModelSettings productSetting = new ProductViewModelSettings
	{
		LanguageId = Dynamicweb.Ecommerce.Common.Context.LanguageID,
		CurrencyCode = Dynamicweb.Ecommerce.Common.Context.Currency.Code,
		CountryCode = Dynamicweb.Ecommerce.Common.Context.Country.Code2,
		ShopId = Pageview.Area.EcomShopId
	};

	if (Dynamicweb.Context.Current.Items.Contains("ProductDetails"))
	{
		product = (ProductViewModel)Dynamicweb.Context.Current.Items["ProductDetails"];
	} else if (Pageview.Item["DummyProduct"] != null) {

		string dummyProductId = "";
		var pageViewModel = Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(Pageview.Page);
		ProductListViewModel productList = pageViewModel.Item.GetValue("DummyProduct") != null ? pageViewModel.Item.GetValue("DummyProduct") as ProductListViewModel : new ProductListViewModel();
		if (productList.Products != null)
		{
			foreach (var p in productList.Products) { dummyProductId = p.Id; }
			ProductViewModel dummyProduct = dummyProductId != "" ? ViewModelFactory.CreateView(productSetting, dummyProductId) : new ProductViewModel();
			product = dummyProduct;
		} else {
			product = ViewModelFactory.CreateView(productSetting, Dynamicweb.Ecommerce.Services.Products.GetAllProducts(Dynamicweb.Ecommerce.Common.Context.LanguageID, false).FirstOrDefault().Id);
		}
	} else if (Pageview.Item["DummyProduct"] == null) {
		product = ViewModelFactory.CreateView(productSetting, Dynamicweb.Ecommerce.Services.Products.GetAllProducts(Dynamicweb.Ecommerce.Common.Context.LanguageID, false).FirstOrDefault().Id);
	}
}

@if (product?.Id != null) {
	IEnumerable<string> selectedDisplayGroupIds = Model.Item.GetRawValueString("DisplayGroups").Split(',').ToList();
	List<CategoryFieldViewModel> displayGroups = new List<CategoryFieldViewModel>();

	foreach (var selection in selectedDisplayGroupIds)
	{
		foreach (CategoryFieldViewModel group in product.FieldDisplayGroups.Values)
		{
			if (selection == group.Id)
			{
				displayGroups.Add(group);
			}
		}
	}

	bool showProductFields = Model.Item.GetBoolean("ProductFields");

	bool hideTitle = Model.Item.GetBoolean("HideTitle");

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";

	string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "display-4");

	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;

	string layout = Model.Item.GetRawValueString("Layout", "list");
	string size = Model.Item.GetRawValueString("Size", "full");

	if (Pageview.IsVisualEditorMode && displayGroups.Count() == 0)
	{
		product.ProductFields.Clear();
		product.ProductFields.Add(Translate("Width"), new FieldValueViewModel { Name = Translate("Width"), Value = "99cm" });
		product.ProductFields.Add(Translate("Height"), new FieldValueViewModel { Name = Translate("Height"), Value = "195cm" });
		showProductFields = true;
	}

	<div class="@(theme) h-100 item_@Model.Item.SystemName.ToLower()">
		<div class="@contentPadding">
			@if ((product.ProductFields != null && Model.Item.GetBoolean("ProductFields")) || (product.ProductCategories != null && Model.Item.GetBoolean("CategoryFields")) || (displayGroups.Count != 0)) {
				if (!hideTitle)
				{
					<div class="text-start pb-2 pb-lg-4">
						<h2 class="@titleFontSize">@Model.Item.GetString("Title")</h2>
					</div>
				}
			}

			@if (displayGroups.Count != 0) {
				foreach (var group in displayGroups) {
					bool hideHeader = Model.Item.GetBoolean("HideGroupHeaders");

					if (!hideHeader) { 
						<h4 class="h4 mb-4">@group.Name</h4>
					}

					@RenderFieldsFromList(group.Fields, layout);
				}
			}

			@if (product.ProductFields != null && showProductFields) {
				if (product.ProductFields.Count > 0) {
					@RenderFieldsFromList(product.ProductFields, layout);
				}
			}

			@if (product.ProductCategories != null && Model.Item.GetBoolean("CategoryFields")) {
				if (product.ProductCategories.Count > 0) {
					foreach (var group in product.ProductCategories) {
						CategoryFieldViewModel category = group.Value;
						bool hideHeader = Model.Item.GetBoolean("HideGroupHeaders");

						if (!hideHeader) { 
							<h4 class="h4 mb-4">@group.Value.Name</h4>
						}

						@RenderFieldsFromList(category.Fields, layout);
					}
				}
			}
		</div>
	</div>
} else if (Pageview.IsVisualEditorMode) { 
	<div class="alert alert-warning m-0">@Translate("No products available")</div>
}


@helper RenderFieldsFromList(Dictionary<string, FieldValueViewModel> fields, string layout) { 
	string size = Model.Item.GetRawValueString("Size", "full");
	string extraMargin = size == "full" ? "mb-3" : "";
	bool hideFieldLabels = Model.Item.GetBoolean("HideFieldLabels");

	<div class="@extraMargin">
		@if (layout == "columns") {
			string gaps = size == "full" ? "gap-0" : "gap-2";

			<div class="grid @gaps">
				@foreach (var field in fields) {
					@RenderField(field.Value, layout)
				}
			</div>
		}
		@if (layout == "list") {
			<dl class="grid gap-0">
				@foreach (var field in fields) {
					@RenderField(field.Value, layout)
				}
			</dl>
		}
		@if (layout == "table") {
			string tableSize = size == "full" ? "" : "table-sm";

			<table class="table table-striped @tableSize">
				@foreach (var field in fields) {
					@RenderField(field.Value, layout)
				}
			</table>
		}
		@if (layout == "bullets") {
			string listSize = size == "full" ? "" : "m-0 p-0 lh-1 fs-7 opacity-75";
			string listStyle = size == "full" ? "" : "style=\"list-style-position: inside\"";

			<ul class="@listSize" @listStyle>
				@foreach (var field in fields) {
					@RenderField(field.Value, layout)
				}
			</ul>
		}
		@if (layout == "commas") {
			List<string> featuresList = new List<string>();

			foreach (var field in fields)
			{
				if (field.Value.Value.GetType() == typeof(System.Collections.Generic.List<FieldOptionValueViewModel>)) {
					List<string> options = new List<string>();
					foreach (FieldOptionValueViewModel option in field.Value.Value as System.Collections.Generic.List<FieldOptionValueViewModel>) {
						if (!string.IsNullOrWhiteSpace(option.Value)) {
							if (option.Value.ToString().Contains("#") && (Translate(field.Value.Name) == Translate("Color") || Translate(field.Value.Name) == Translate("Colour"))) {
								string colorSpan = "<span class=\"colorbox-sm\" style=\"background-color: " + option.Value + "\"></span>";
								options.Add(colorSpan);
							} else if (!string.IsNullOrEmpty(option.Value)) {
								options.Add(option.Name);
							}
						}
					}
					string optionsString = (string.Join(", ", options.Select(x => x.ToString()).ToArray()));
					if ((Translate(field.Value.Name) == Translate("Color") || Translate(field.Value.Name) == Translate("Colour"))) {
						optionsString = (string.Join(" ", options.Select(x => x.ToString()).ToArray()));
					}

					if (!hideFieldLabels) {
						featuresList.Add(field.Value.Name + ": " + optionsString);
					} else {
						featuresList.Add(optionsString);
					}
				} else {
					if (!string.IsNullOrWhiteSpace(field.Value.Value.ToString())) {
						if (field.Value.Value.ToString().Contains("#") && (Translate(field.Value.Name) == Translate("Color") || Translate(field.Value.Name) == Translate("Colour"))) {
							string colorSpan = "<span class=\"colorbox-sm\" style=\"background-color: " + field.Value.Value + "\"></span>";

							if (!hideFieldLabels) {
								featuresList.Add(field.Value.Name + ": " + colorSpan);
							} else {
								featuresList.Add(colorSpan);
							}
						} else {
							if (!hideFieldLabels) {
								featuresList.Add(field.Value.Name + ": " + field.Value.Value.ToString());
							} else {
								featuresList.Add(field.Value.Value.ToString());
							}
						}
					}
				}
			}

			string featuresString = (string.Join(", ", featuresList.Select(x => x.ToString()).ToArray()));

			<div class="opacity-75 fs-7">@featuresString</div>
		}
	</div>
}

@helper RenderField(FieldValueViewModel field, string layout) { 
	string size = Model.Item.GetRawValueString("Size", "full");
	string fieldValue = field?.Value != null ? field.Value.ToString() : "";
	bool hideFieldLabels = Model.Item.GetBoolean("HideFieldLabels");
	bool noValues = false;

	if (!string.IsNullOrEmpty(fieldValue)) {
		if (field.Value.GetType() == typeof(System.Collections.Generic.List<FieldOptionValueViewModel>)) {
			System.Collections.Generic.List<FieldOptionValueViewModel> values = field.Value as System.Collections.Generic.List<FieldOptionValueViewModel>;
			noValues = values.Count > 0 ? false : true;
		}
	}

	if (!string.IsNullOrEmpty(fieldValue) && noValues == false) {
		if (layout == "columns") {
			<div class="grid g-col-6 g-col-lg-4">
				@if(!hideFieldLabels) 
				{ 
					<dt class="g-col-4 py-2 fw-bold">@field.Name</dt>
				}
				<dd class="g-col-8 py-2 mb-0">@RenderFieldValue(field)</dd>
			</div>
		}
		if (layout == "list") {
			string extraPadding = size == "full" ? "py-2" : "";

			if (!hideFieldLabels)
			{
				<dt class="g-col-4 @extraPadding fw-bold">@field.Name</dt>
			}
			<dd class="g-col-8 @extraPadding mb-0">
				@RenderFieldValue(field)
			</dd>
		}
		if (layout == "table") {
			<tr>
				@if (!hideFieldLabels)
				{
					<th class="fw-bold" scope="row">@field.Name</th>
				}
				<td>@RenderFieldValue(field)</td>
			</tr>
		}
		if (layout == "bullets") {
			<li>
				@if (!hideFieldLabels)
				{
					<strong>@field.Name</strong>
				}
				<span>@RenderFieldValue(field)</span>
			</li>
		}
	}
}

@helper RenderFieldValue(FieldValueViewModel field) { 
	string fieldValue = field?.Value != null ? field.Value.ToString() : "";

	bool isLink = field?.Type == "Link";

	fieldValue = fieldValue == "False" ? Translate("No") : fieldValue;
	fieldValue = fieldValue == "True" ? Translate("Yes") : fieldValue;

	bool isColor = false;

	if (field.Value.GetType() == typeof(System.Collections.Generic.List<Dynamicweb.Ecommerce.ProductCatalog.FieldOptionValueViewModel>))
	{
		int valueCount = 0;
		System.Collections.Generic.List<FieldOptionValueViewModel> values = field.Value as System.Collections.Generic.List<FieldOptionValueViewModel>;
		int totalValues = values.Count;

		foreach (FieldOptionValueViewModel option in values)
		{
			if (option.Value.Substring(0,1) == "#") {
				isColor = true;   
			}

			if (!isColor) {
				@option.Name
			} else {
				<span class="colorbox-sm" style="background-color: @option.Value" title="@option.Name"></span>
			}
			
			if (valueCount != totalValues && valueCount < (totalValues - 1)) {
				if (isColor) {
				<text> </text>
				} else {
				<text>, </text>
				}
			}
			valueCount++;
		}
	}
	else
	{
		if (fieldValue.Substring(0,1) == "#") {
			isColor = true;   
		}

		if (!isColor) {
			if(isLink)
			{
				string linktTitle = !fieldValue.Contains("aspx") ? fieldValue : Translate("Go to link");
				string target = Pageview.AreaSettings.GetBoolean("OpenLinksInNewTab") && fieldValue.Contains("http") ? "target=\"_blank\"" : string.Empty;
				string rel = Pageview.AreaSettings.GetBoolean("OpenLinksInNewTab") && fieldValue.Contains("http") ? "rel=\"noopener\"" : string.Empty;

				<a href="@field.Value" title="@field.Name" @target @rel>@linktTitle</a>
			}
			else
			{
				@fieldValue
			}

		} else {
			<span class="colorbox-sm" style="background-color: @fieldValue" title="@fieldValue"></span>
		}
	}
}
