@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	string layout = Model.Item.GetRawValueString("Layout", "text-left");

	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "none" ? "p-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;
	string maxWidth = Model.Item.GetRawValueString("TextReadability", "");

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

<div class="h-100 @(contentPadding)@(theme) item_@Model.Item.SystemName.ToLower()">
	@switch (layout)
	{
		case "text-start":
			@RenderLead(maxWidth)
			@RenderTitle(maxWidth)
			break;
		case "text-center":
			<div class="d-flex flex-column align-items-center h-100 text-center">
				@RenderLead(maxWidth)
				@RenderTitle(maxWidth)
			</div>
			break;
		case "text-end":
			<div class="d-flex flex-column align-items-end h-100 text-end">
				@RenderLead(maxWidth)
				@RenderTitle(maxWidth)
			</div>
			break;
		case "alignLeftMiddle":
			<div class="d-flex flex-column justify-content-center h-100">
				@RenderLead(maxWidth)
				@RenderTitle(maxWidth)
			</div>
			break;
		case "alignCenterMiddle":
			<div class="d-flex flex-column align-items-center justify-content-center h-100 text-center">
				@RenderLead(maxWidth)
				@RenderTitle(maxWidth)
			</div>
			break;
	}
</div>

@helper RenderLead(string maxWidth)
{

	if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
	{
		string subtitleFontSize = Model.Item.GetRawValueString("SubtitleFontSize", "fs-5");

		<p class="@subtitleFontSize lead d-block mb-2">
			@if (maxWidth == "max-width-on")
			{
				<span class="mw-75ch d-inline-block">@Model.Item.GetString("Text")</span>
			}
			else
			{
				<span>@Model.Item.GetString("Text")</span>
			}
		</p>
	}
}

@helper RenderTitle(string maxWidth)
{

	if (!string.IsNullOrEmpty(Model.Item.GetString("Title")))
	{
		string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "display-4");

		if (maxWidth == "max-width-on")
		{
			<h2 class="@titleFontSize mw-75ch">@Model.Item.GetString("Title")</h2> }
		else
		{
			<h2 class="@titleFontSize">@Model.Item.GetString("Title")</h2>
		}
	}
}
