@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog

@{ 
	ProductViewModel product = new ProductViewModel();

	if (Dynamicweb.Context.Current.Items.Contains("ProductDetails"))
	{
		product = (ProductViewModel)Dynamicweb.Context.Current.Items["ProductDetails"];
	}

	bool hideTitle = Model.Item.GetBoolean("HideTitle");

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";

	string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "display-4");

	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;

	string maxWidth = Model.Item.GetRawValueString("TextReadability", "max-width-on");
	maxWidth = maxWidth == "max-width-on" ? "mw-75ch d-inline-block" : maxWidth;
	maxWidth = maxWidth == "max-width-off" ? "" : maxWidth;

	string layout = Model.Item.GetRawValueString("Layout", "");
	layout = layout == "alignLeft" ? "" : layout;
	layout = layout == "alignLeftMiddle" ? "d-flex align-items-center text-start" : layout;
}

@if (!string.IsNullOrEmpty(product.LongDescription)) {
	<div class="@(theme) @(layout) h-100 item_@Model.Item.SystemName.ToLower()">
		<div class="@(contentPadding)">
			@if (!hideTitle)
			{
				<div class="text-start pb-2 pb-lg-4">
					<h2 class="@titleFontSize @(maxWidth)">@Model.Item.GetString("Title")</h2>
				</div>
			}
			<div class="@(maxWidth)" itemprop="description">
				@product.LongDescription
			</div>
		</div>
	</div>
}


