@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{ 
	string layout = Model.Item.GetRawValueString("Layout", "align-left");
	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "none" ? "p-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;
	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

<div class="h-100 @(contentPadding)@(theme) item_@Model.Item.SystemName.ToLower()">
	@switch (layout)
	{
		case "text-start":
			<div class="d-flex flex-column align-items-start h-100 text-start">
				@RenderTitle()
			</div>
		break;
		case "text-center":
			<div class="d-flex flex-column align-items-center h-100 text-center">
				@RenderTitle()
			</div>
		break;
		case "text-end":
			<div class="d-flex flex-column align-items-end h-100 text-end">
				@RenderTitle()
			</div>
		break;
	}
</div>

@helper RenderTitle()
{

	if (Pageview.User != null)
	{
		string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "display-4");

		<h2 class="@titleFontSize m-0">@Translate("Hi") @Pageview.User.Name</h2>
	}
}
