@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog

@{ 
	ProductViewModel product = new ProductViewModel();

	if (Dynamicweb.Context.Current.Items.Contains("ProductDetails"))
	{
		product = (ProductViewModel)Dynamicweb.Context.Current.Items["ProductDetails"];
	}


	IEnumerable<string> selectedDisplayGroupIds = Model.Item.GetRawValueString("DisplayGroups").Split(',').ToList();
	List<CategoryFieldViewModel> displayGroups = new List<CategoryFieldViewModel>();

	foreach (var selection in selectedDisplayGroupIds)
	{
		foreach (CategoryFieldViewModel group in product.FieldDisplayGroups.Values)
		{
			if (selection == group.Id) {
				displayGroups.Add(group);
			}
		}
	}

	bool hideTitle = Model.Item.GetBoolean("HideTitle");

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";

	string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "display-4");

	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;

	string layout = Model.Item.GetRawValueString("Layout", "list");

	string alignment = Model.Item.GetRawValueString("Alignment", "");
	alignment = alignment == "alignLeft" ? "" : alignment;
	alignment = alignment == "alignLeftMiddle" ? "d-flex align-items-center text-start" : alignment;
}


<div class="@(alignment) @(theme) h-100 item_@Model.Item.SystemName.ToLower()">
	<div class="@contentPadding">
		@if ((product.ProductFields != null && Model.Item.GetBoolean("ProductFields")) || (product.ProductCategories != null && Model.Item.GetBoolean("CategoryFields")) || (displayGroups.Count != 0)) {
			if (!hideTitle)
			{
				<div class="text-start pb-2 pb-lg-4">
					<h2 class="@titleFontSize">@Model.Item.GetString("Title")</h2>
				</div>
			}
		}

		@if (displayGroups.Count != 0) {
			foreach (var group in displayGroups) {
				bool hideHeader = Model.Item.GetBoolean("HideGroupHeaders");

				if (!hideHeader) { 
					<h4 class="h4 mb-4">@group.Name</h4>
				}

				@RenderFieldsFromList(group.Fields, layout);
			}
		}

		@if (product.ProductFields != null && Model.Item.GetBoolean("ProductFields")) {
			if (product.ProductFields.Count > 0) {
				@RenderFieldsFromList(product.ProductFields, layout);
			}
		}

		@if (product.ProductCategories != null && Model.Item.GetBoolean("CategoryFields")) {
			if (product.ProductCategories.Count > 0) {
				foreach (var group in product.ProductCategories) {
					CategoryFieldViewModel category = group.Value;
					bool hideHeader = Model.Item.GetBoolean("HideGroupHeaders");

					if (!hideHeader) { 
						<h4 class="h4 mb-4">@group.Value.Name</h4>
					}

					@RenderFieldsFromList(category.Fields, layout);
				}
			}
		}
	</div>
</div>

@helper RenderFieldsFromList(Dictionary<string, FieldValueViewModel> fields, string layout) { 
	<div class="mb-5">
		@if (layout == "columns") {
			<div class="grid">
				@foreach (var field in fields) {
					@RenderField(field.Value, layout)
				}
			</div>
		}
		@if (layout == "list") {
			<dl class="grid gap-0">
				@foreach (var field in fields) {
					@RenderField(field.Value, layout)
				}
			</dl>
		}
		@if (layout == "table") {
			<table class="table table-striped">
				@foreach (var field in fields) {
					@RenderField(field.Value, layout)
				}
			</table>
		}
		@if (layout == "bullets") {
			<ul>
				@foreach (var field in fields) {
					@RenderField(field.Value, layout)
				}
			</ul>
		}
	</div>
}

@helper RenderField(FieldValueViewModel field, string layout) { 
	string fieldValue = field?.Value != null ? field.Value.ToString() : "";
	bool noValues = false;

	if (!string.IsNullOrEmpty(fieldValue)) {
		if (field.Value.GetType() == typeof(System.Collections.Generic.List<FieldOptionValueViewModel>)) {
			System.Collections.Generic.List<FieldOptionValueViewModel> values = field.Value as System.Collections.Generic.List<FieldOptionValueViewModel>;
			noValues = values.Count > 0 ? false : true;
		}
	}

	if (!string.IsNullOrEmpty(fieldValue) && noValues == false) {
		if (layout == "columns") {
			<div class="grid g-col-6 g-col-lg-4">
				<dt class="g-col-4 py-2 fw-bold">@field.Name</dt>
				<dd class="g-col-8 py-2 mb-0">@RenderFieldValue(field)</dd>
			</div>
		}
		if (layout == "list") {
			<dt class="g-col-4 py-2 fw-bold">@field.Name</dt>
			<dd class="g-col-8 py-2 mb-0">
				@RenderFieldValue(field)
			</dd>
		}
		if (layout == "table") {
			<tr>
				<th class="fw-bold" scope="row">@field.Name</th>
				<td>@RenderFieldValue(field)</td>
			</tr>
		}
		if (layout == "bullets") {
			<li>
				<strong>@field.Name</strong>
				<span>@RenderFieldValue(field)</span>
			</li>
		}
	}
}

@helper RenderFieldValue(FieldValueViewModel field) { 
	string fieldValue = field?.Value != null ? field.Value.ToString() : "";

	fieldValue = fieldValue == "False" ? Translate("No") : fieldValue;
	fieldValue = fieldValue == "True" ? Translate("Yes") : fieldValue;

	bool isColor = false;

	if (field.Value.GetType() == typeof(System.Collections.Generic.List<Dynamicweb.Ecommerce.ProductCatalog.FieldOptionValueViewModel>))
	{
		int valueCount = 0;
		System.Collections.Generic.List<FieldOptionValueViewModel> values = field.Value as System.Collections.Generic.List<FieldOptionValueViewModel>;
		int totalValues = values.Count;

		foreach (FieldOptionValueViewModel option in values)
		{
			if (option.Value.Substring(0,1) == "#") {
				isColor = true;   
			}

			if (!isColor) {
				@option.Name
			} else {
				<span class="colorbox-sm" style="background-color: @option.Value" title="@option.Name"></span>
			}
			
			if (valueCount != totalValues && valueCount < (totalValues - 1)) {
				if (isColor) {
<text> </text>
				} else {
<text>, </text>
				}
			}
			valueCount++;
		}
	}
	else
	{
		if (fieldValue.Substring(0,1) == "#") {
			isColor = true;   
		}

		if (!isColor) {
			@fieldValue
		} else {
			<span class="colorbox-sm" style="background-color: @fieldValue" title="@fieldValue"></span>
		}
	}
}
