@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System.IO

@{
	Dynamicweb.Frontend.LinkViewModel logoLink = Model.Item.GetLink("Link");

	if (logoLink is object)
	{
		logoLink.Url = logoLink.Url == "/" && Pageview.IsVisualEditorMode ? "/Default.aspx?AreaID=" + Pageview.Area.ID : logoLink.Url;
	}

	string horizontalAlign = !string.IsNullOrEmpty(Model.Item.GetRawValueString("HorizontalAlignment")) ? "justify-content-" + Model.Item.GetRawValueString("HorizontalAlignment") : string.Empty;

	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "px-3 py-2");
	contentPadding = contentPadding == "none" ? "p-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "px-3 py-2" : contentPadding;
	contentPadding = contentPadding == "large" ? "px-4 py-3" : contentPadding;

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", string.Empty).Trim().ToLower() : string.Empty;
	string title = Model.Item.GetString("LogoName","Swift");

	string logoImage = Model?.Item?.GetFile("Image")?.Path != null ? Model.Item.GetFile("Image").Path : string.Empty;
	string logoWidth = !string.IsNullOrEmpty(Model.Item.GetString("LogoWidth")) ? "width: " + Model.Item.GetInt32("LogoWidth") + "px" : string.Empty;
	logoWidth = logoWidth == "width: 0px" ? string.Empty : logoWidth;
}

<figure class="m-0 d-flex @(horizontalAlign)@(theme) item_@Model.Item.SystemName.ToLower()">
	<div id="@Model.ID" class="text-decoration-none" style="scroll-margin-top:var(--header-height,150px)"></div>
	@if (logoLink is object)
	{
		@:<a href="@logoLink.Url" class="text-decoration-none" aria-label="@title">
	}

	@if (logoImage != string.Empty)
	{
		if (Path.GetExtension(logoImage).ToLower() == ".svg")
		{
			<div class="icon-auto" style="@logoWidth">
				@ReadFile(logoImage)
			</div>
		}
		else
		{
			<picture class="mx-auto d-block">
				<img src="@logoImage" alt="@title" style="@logoWidth">
			</picture>
		}
	}
	else
	{
		<span class="fs-4">@title</span>
	}

	@if (logoLink is object)
	{
		@:</a>
	}
</figure>

