@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	string name = Model.Item.GetRawValueString("Name", string.Empty);
	string jobTitle = Model.Item.GetRawValueString("Title", string.Empty);
	string layout = Model.Item.GetRawValueString("Layout", string.Empty);
	string layoutClass = "d-flex gap-3 gap-lg-4";
	string iconItemsAlignment = Model.Item.GetRawValueString("IconItemsAlignment", "Column");
	string iconItemsAlignmentClass = "flex-column";
	int imageRatio = 100;
	string imageShape = " overflow-hidden";
	string contentAlignmentClass = "d-flex flex-column gap-3";
	string imageAlignmentClass = string.Empty;
	int imageWidth = 400;
	int imageHeight = 400;

	Dynamicweb.Frontend.FileViewModel image = Model.Item.GetFile("Image");
	string imagePath = image?.PathUrlEncoded ?? string.Empty;
	int xPos = image?.FocalPositionFromLeft ?? 50;
	int yPos = image?.FocalPositionFromTop ?? 50;

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : string.Empty;
	string themeClass = !string.IsNullOrEmpty(theme) ? theme + " p-4" : string.Empty;

	var iconItems = Model.Item?.GetItems("IconItems") ?? Enumerable.Empty<Dynamicweb.Frontend.ItemViewModel>().ToList();

	switch (iconItemsAlignment)
	{
		case "Row":
			iconItemsAlignmentClass = "flex-row";
			break;
	}

	switch (layout)
	{
		case "CircleImageTopCenter":
			layoutClass += " flex-column";
			imageShape += " rounded-circle";
			contentAlignmentClass += " align-items-center text-center";
			imageAlignmentClass = " mx-auto";
			iconItemsAlignmentClass += " align-items-center justify-content-center text-center";
			break;
		case "CircleImageTopLeft":
			layoutClass += " flex-column";
			imageShape += " rounded-circle";
			break;
		case "BoxedImageTopCenter1X1":
			layoutClass += " flex-column";
			contentAlignmentClass += " align-items-center text-center";
			imageAlignmentClass = " mx-auto";
			iconItemsAlignmentClass += " align-items-center justify-content-center text-center";
			break;
		case "BoxedImageTopLeft1X1":
			layoutClass += " flex-column";
			break;
		case "BoxedImageTopCenter3X4":
			layoutClass += " flex-column";
			imageRatio = 133;
			contentAlignmentClass += " align-items-center text-center";
			imageAlignmentClass = " mx-auto";
			imageWidth = 300;
			iconItemsAlignmentClass += " align-items-center justify-content-center text-center";
			break;
		case "BoxedImageTopLeft3X4":
			layoutClass += " flex-column";
			imageRatio = 133;
			imageWidth = 300;
			break;
		case "BoxedImageTopCenter4X3":
			layoutClass += " flex-column";
			imageRatio = 75;
			contentAlignmentClass += " align-items-center text-center";
			imageAlignmentClass = " mx-auto";
			imageHeight = 300;
			iconItemsAlignmentClass += " align-items-center justify-content-center text-center";
			break;
		case "BoxedImageTopLeft4X3":
			layoutClass += " flex-column";
			imageRatio = 75;
			imageHeight = 300;
			break;
		case "BoxedImageLeftLeft1X1":
			layoutClass += " align-items-start";
			imageAlignmentClass = " w-50";
			break;
		case "CircleImageLeftLeft":
			layoutClass += " align-items-start";
			imageShape += " rounded-circle";
			imageAlignmentClass = " w-50";
			break;
	}
}

<div class="@layoutClass@(themeClass) h-100">

	@if(!string.IsNullOrEmpty(imagePath))
	{
		<div class="ratio@(imageShape)@(imageAlignmentClass)" style="max-width:@(imageWidth)px;--bs-aspect-ratio:@imageRatio%;">
			<img src="/Admin/Public/GetImage.ashx?image=@imagePath&width=@imageWidth&height=@imageHeight&crop=0&format=webp;" width="@imageWidth" height="@imageHeight" alt="@name" style="object-fit:cover;" />
		</div>
	}

	<div class="@contentAlignmentClass">
		
		<div>
			<h5 class="mb-1">@name</h5>
			@if (!string.IsNullOrEmpty(jobTitle))
			{ 
				<h6 class="fs-7 opacity-85">@jobTitle</h6>
			}
		</div>
	
		<div class="d-flex flex-wrap @iconItemsAlignmentClass gap-3">
			@foreach (var item in iconItems)
			{
				string label = item.GetString("Label", string.Empty);
				string icon = item.GetString("Icon", string.Empty);
				Dynamicweb.Frontend.LinkViewModel link = new Dynamicweb.Frontend.LinkViewModel();

				if (item.GetLink("Link") != null)
				{
					link = item.GetLink("Link");
				}

				if (link != null && !string.IsNullOrEmpty(link.Url))
				{
					string target = link.IsExternal ? "target=\"_blank\"" : "";

					<a href="@link.Url" @target class="d-flex lh-1 align-items-center gap-2 text-decoration-none text-decoration-underline-hover">

						@if (!string.IsNullOrEmpty(icon) && !icon.ToLower().Contains("none"))
						{
							<span class="icon-2">@ReadFile(icon)</span>
						}
						@if (!string.IsNullOrEmpty(label))
						{
							<div class="opacity-85 fs-8 text-break">@label</div>
						}
					</a>
				}
				else
				{
					<div class="d-flex lh-1 align-items-center gap-2">
						@if (!string.IsNullOrEmpty(icon) && !icon.ToLower().Contains("none"))
						{
							<span class="icon-2">@ReadFile(icon)</span>
						}
						@if (!string.IsNullOrEmpty(label))
						{
							<div class="opacity-85 fs-8 text-break">@label</div>
						}
					</div>
				}
			}
		</div>

	</div>
</div>
