@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb

<div class="d-flex flex-column flex-md-row justify-content-end gap-2 fs-7 text-center text-md-end">

	@if (Pageview.User.CurrentSecondaryUser != null)
	{
		<div>
			@RenderSecondaryUser()
			<span>
				@Translate("is signed in as")
			</span>
			@RenderUser()
		</div>
		<div class="d-flex justify-content-around gap-2">
			@RenderSignIn()
			<span class="border-2 border-end h-auto"></span>
			@RenderSignOut()
		</div> }
	else
	{
		<div>
			<span>@Translate("You are signed in as")</span>
			@RenderUser()
		</div>
		<div class="d-flex justify-content-around gap-2">
			@RenderSignIn()
		</div>}
</div>

@helper RenderUser()
{
	if (Pageview.User != null)
	{
		<span class="fw-bold">@Pageview.User.Name</span>}
}

@helper RenderSecondaryUser()
{
	if (Pageview.User.CurrentSecondaryUser != null)
	{
		<span class="fw-bold">@Pageview.User.CurrentSecondaryUser.Name</span>}
}

@helper RenderSignOut()
{
	<a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="link-primary text-decoration-none text-reset flex-fill">@Translate("Sign out as customer")</a>
}

@helper RenderSignIn()
{
	Dynamicweb.Frontend.LinkViewModel CustomerListLink = Model.Item.GetLink("Link");
	string title = !string.IsNullOrEmpty(Model.Item.GetString("Title")) ? Model.Item.GetString("Title") : "";

	if (CustomerListLink != null)
	{
		<span class="d-none d-md-block border-2 border-end h-auto"></span>
		<a href="@CustomerListLink.Url" class="link-primary text-decoration-none text-reset flex-fill">@Translate("Sign in as customer")</a>
	}
}
