@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Frontend

@{ 
	bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;

	ProductViewModel product = new ProductViewModel();

	if (Dynamicweb.Context.Current.Items.Contains("ProductDetails"))
	{
		product = (ProductViewModel)Dynamicweb.Context.Current.Items["ProductDetails"];
	}

	string servicePageId = Model.Item.GetLink("VariantListServicePage") != null ? Model.Item.GetLink("VariantListServicePage").PageId.ToString() : "";
	servicePageId = servicePageId == "" && GetPageIdByNavigationTag("VariantListService") != 0 ? GetPageIdByNavigationTag("VariantListService").ToString() : servicePageId;

	string title = !string.IsNullOrEmpty(Model.Item.GetString("Title")) ? Model.Item.GetString("Title") : ""; 
	string hideTitle = Model.Item.GetBoolean("HideTitle").ToString();
	string hideImage = Model.Item.GetBoolean("HideImage").ToString();
	string hideProductNumber = Model.Item.GetBoolean("HideProductNumber").ToString();
	string hideStock = Model.Item.GetBoolean("HideStock").ToString();
	string quantitySelector = Model.Item.GetBoolean("QuantitySelector").ToString();
}

<form action="/Default.aspx?ID=@servicePageId" id="VariantProductsListForm_@Pageview.CurrentParagraph.ID" data-response-target-element="VariantProductsListContainer_@Pageview.CurrentParagraph.ID">
	<input type="hidden" name="MainProductID" value="@product.Id" />
	<input type="hidden" name="Title" value="@title" />
	<input type="hidden" name="HideTitle" value="@hideTitle" />
	<input type="hidden" name="HideImage" value="@hideImage" />
	<input type="hidden" name="HideProductNumber" value="@hideProductNumber" />
	<input type="hidden" name="HideStock" value="@hideStock" />
	<input type="hidden" name="QuantitySelector" value="@quantitySelector" />
</form>

<div id="VariantProductsListContainer_@Pageview.CurrentParagraph.ID"></div>

<script type="module">
	swift.PageUpdater.Update(document.querySelector("#VariantProductsListForm_@Pageview.CurrentParagraph.ID"));
</script>
