@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@if (GetLoop("BOMProducts").Count > 0)
{
	<form method="post" action="/Default.aspx?ID=216&amp;LayoutTemplate=Swift_MiniCart.cshtml" class="flex-fill">
		<input type="hidden" name="redirect" value="false">
		<input type="hidden" name="ProductId" value="@GetString("Ecom:Product.ID")">
		<input type="hidden" name="cartcmd" value="add">

		<h3 class="fs-6 fw-normal mb-0">@Translate("Configuration")</h3>

		<div class="list-group">
			@foreach (LoopItem bomproduct in GetLoop("BOMProducts"))
			{
				var bomimage = bomproduct.GetString("Ecom:Product.Image.VariantOrMaster");
				var qtyInputName = bomproduct.GetString("Ecom:Product.ID") + "Quantity";
				var variantIdInputName = bomproduct.GetString("Ecom:Product.ID") + "VariantId";

				<label class="list-group-item list-group-item-action py-3">
					<dl class="grid gap-0 gap-sm-3 align-items-center mb-0">
						<dt class="g-col-4 fw-normal">
							<div class="d-flex align-items-center">
								<span class="mx-2" style="height: 3rem; width:3rem;background: url('/Admin/Public/GetImage.ashx?height=30&image=@bomimage&format=webp') no-repeat left center; background-size: contain;"></span>
								<span class="form-check-label">@bomproduct.GetString("Ecom:Product.Name") <span class="fs-8">(@bomproduct.GetString("Ecom:Product.Number"))</span></span>
							</div>
						</dt>
						<dd class="g-col-6 mb-0">
						</dd>
						<dd class="g-col-2 mb-0 text-end">
							<span class="text-price">@bomproduct.GetString("Ecom:Product.Price")</span>
						</dd>
					</dl>
				</label>
			}
		</div>

		@foreach (LoopItem bomconfig in GetLoop("BOMConfigurators"))
		{
			<h3 class="fs-6 fw-normal mb-0 mt-3">@bomconfig.GetString("Ecom:Product.Configurator.Name")</h3>
			<div class="list-group">
				@foreach (LoopItem configproduct in bomconfig.GetLoop("ConfiguratorProducts"))
				{
					var bomimage = configproduct.GetString("Ecom:Product.Image.VariantOrMaster");
					var qtyInputName = bomconfig.GetString("Ecom:Product.Configurator.ID") + "Quantity";
					bool selected = !string.IsNullOrEmpty(configproduct.GetString("Ecom:Product.Configurator.Selected"));
					<label class="list-group-item list-group-item-action py-3">
						<dl class="grid gap-0 gap-sm-3 align-items-center mb-0">
							<dt class="g-col-4 fw-normal">
								<div class="d-flex align-items-center">
									<input class="form-check-input" type="radio" checked="@selected" name="@bomconfig.GetString("Ecom:Product.Configurator.ID")" id="@bomconfig.GetString("Ecom:Product.Configurator.ID")" value="@configproduct.GetString("Ecom:Product.ID")">
									<span class="mx-2" style="height: 3rem; width:3rem;background: url('/Admin/Public/GetImage.ashx?height=30&image=@bomimage&format=webp') no-repeat left center; background-size: contain;"></span>
									<span class="form-check-label">@configproduct.GetString("Ecom:Product.Name") <span class="fs-8">(@configproduct.GetString("Ecom:Product.Number"))</span></span>
								</div>
							</dt>
							<dd class="g-col-6 mb-0">
							</dd>
							<dd class="g-col-2 mb-0 text-end">
								<span class="text-price">@configproduct.GetString("Ecom:Product.Price")</span>
							</dd>
						</dl>

					</label>
				}
			</div>
		}

		<div class="input-group input-primary-button-group js-input-group mt-3">
			<label for="Quantity_@GetString("Ecom:Product.ID")" class="visually-hidden">Quantity</label>
			<input id="Quantity_@GetString("Ecom:Product.ID")" name="Quantity" value="1" step="1" min="0" class="form-control" style="max-width: 96px; min-width:64px;" type="number">
			<button type="button" onclick="swift.Cart.Update(event)" class="btn btn-primary js-add-to-cart-button " title="Add to cart" id="AddToCartButton_@GetString("Ecom:Product.ID")">Add to cart</button>
		</div>
	</form>
}
