@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@helper RenderAddressBillingAnonymous()
{
	string deliveryAddressString = GetString("Ecom:Order.Delivery.Company") + GetString("Ecom:Order.Delivery.Address") + GetString("Ecom:Order.Delivery.Zip") + GetString("Ecom:Order.Delivery.City") + GetString("Ecom:Order.Delivery.Phone");
	string billingAddressString = GetString("Ecom:Order.Customer.Company") + GetString("Ecom:Order.Customer.Address") + GetString("Ecom:Order.Customer.Zip") + GetString("Ecom:Order.Customer.City") + GetString("Ecom:Order.Customer.Phone");
	string disabled = (deliveryAddressString != billingAddressString) && billingAddressString != "" ? "" : "disabled";

	string selectedCustomerCountry = GetString("Ecom:Order.Customer.Country.Code");
	if (string.IsNullOrEmpty(selectedCustomerCountry))
	{
		selectedCustomerCountry = Pageview.Area.EcomCountryCode;
	}

	<div class="mt-0">

		<div class="grid">
			<div class="g-col-12">
				<div class="form-floating">
					<input @disabled type="text" class="form-control" name="EcomOrderCustomerCompany" id="EcomOrderCustomerCompany" value="@GetString("Ecom:Order.Customer.Company")" placeholder="@Translate("Company")">
					<label for="EcomOrderCustomerCompany">@Translate("Company (Optional)")</label>
				</div>
			</div>

			<div class="g-col-12">
				<div class="form-floating">
					<input @disabled type="text" class="form-control" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="@GetString("Ecom:Order.Customer.Name")" placeholder="@Translate("Name")">
					<label for="EcomOrderCustomerName">@Translate("Name")</label>
				</div>
			</div>

			<div class="g-col-12">
				<div class="form-floating">
					<input @disabled type="text" class="form-control" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="@GetString("Ecom:Order.Customer.Address")" placeholder="@Translate("Street & Number")">
					<label for="EcomOrderCustomerAddress">@Translate("Street & Number")</label>
				</div>
			</div>

			<div class="g-col-12">

				<div class="grid">

					<div class="g-col-3">
						<div class="form-floating">
							<input @disabled type="text" class="form-control" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="@GetString("Ecom:Order.Customer.Zip")" placeholder="@Translate("Zip code")">
							<label for="EcomOrderCustomerZip">@Translate("Zip code")</label>
						</div>
					</div>

					<div class="g-col-9 g-col-md-6">
						<div class="form-floating">
							<input @disabled type="text" class="form-control" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="@GetString("Ecom:Order.Customer.City")" placeholder="@Translate("Town / City")">
							<label for="EcomOrderCustomerCity">@Translate("Town / City")</label>
						</div>
					</div>

					<div class="g-col-12 g-col-md-3">
						<div class="form-floating">
							<select @disabled class="form-control" name="EcomOrderCustomerCountry" id="EcomOrderCustomerCountry" onchange="submitForm()">
								@foreach (LoopItem country in GetLoop("Countries"))
								{
									if (country.GetString("Ecom:Country.Code2") == selectedCustomerCountry)
									{
										<option value="@country.GetString("Ecom:Country.Code2")" selected>@country.GetString("Ecom:Country.Name")</option>
									}
									else
									{
										<option value="@country.GetString("Ecom:Country.Code2")">@country.GetString("Ecom:Country.Name")</option>
									}
								}
							</select>
							<label for="EcomOrderCustomerCountry">@Translate("Country")</label>
						</div>
					</div>

				</div>

			</div>

			<div class="g-col-12">
				<div class="form-floating">
					<input @disabled type="tel" class="form-control" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="@GetString("Ecom:Order.Customer.Phone")" placeholder="@Translate("Phone number")">
					<label for="EcomOrderCustomerPhone">@Translate("Phone number")</label>
				</div>
			</div>
		</div>

	</div>


}
