@helper RenderOrderSummaryToggleButton() {
	string iconPath = "/Files/Icons/";
	<button class="toggle-order-summary btn text-reset w-100 d-block d-lg-none px-0" type="button" data-bs-toggle="collapse" data-bs-target="#orderSummary" aria-expanded="false" aria-controls="orderSummary" id="OrderSummaryToggleButton">
		<div class="d-flex align-items-center justify-content-between">
			<span class="d-flex align-items-center">
				<span class="fs-7 lh-1"><span class="toggle-order-summary-text"></span> @Translate("order summary")</span>
				<span class="icon-2 ms-2">
					@ReadFile(iconPath+"chevron-down.svg")
				</span>
			</span>
			<span class="fw-bold"><span class="text-price">@GetString("Ecom:Order.Price")</span>
			</span>
		</div>
	</button>
	<style>
		.toggle-order-summary .toggle-order-summary-text::after {
			content: "@Translate("Show")";
		}
		.toggle-order-summary[aria-expanded="true"] .toggle-order-summary-text::after {
			content: "@Translate("Hide")";
		}
		.toggle-order-summary[ aria-expanded="true" ] svg {
			transform: rotate(-180deg);
		}
	</style>
}
