@helper RenderOrderSummaryContent() {
	<div class="d-lg-block h-lg-auto visible-lg-visible pb-2 pb-md-0 collapse" id="orderSummary">
		<div class="d-flex flex-column gap-3 position-relative" id="orderSummaryList" style="overflow-x: hidden; overflow-y: hidden;">
			@foreach (LoopItem orderline in GetLoop("OrderLines")) {
				@RenderOrderSummaryOrderLineItem(orderline)
			}
			<div class="btn btn-primary position-absolute bottom-0 mb-3 btn-sm d-none" style="width: auto; left: 50%; transform: translateX(-50%);" id="scrollToViewMoreButton">@Translate("Scroll to view more")</div>
		</div>
		
		@RenderOrderSummary()
	</div>

	<script>
		setMoreButtonState = function () {
			var windowWidth = window.innerWidth;
			var moreButton = document.querySelector('#scrollToViewMoreButton');
			var summaryList = document.querySelector("#orderSummaryList");

			if (windowWidth > 576) {
				var summaryListHeight = document.querySelector("#orderSummaryList").offsetHeight;
				var summaryFooterHeight = document.querySelector("#orderSummaryFooter").offsetHeight + 100;

				if ((summaryListHeight + summaryFooterHeight) > window.innerHeight) {
					moreButton.classList.remove("d-none");
				}

				summaryList.style.maxHeight = "calc(100vh - " + summaryFooterHeight + "px)";
			} else {
				moreButton.classList.add("d-none");
				summaryList.style.maxHeight = "unset";
			}
		};

		setMoreButtonState();
		window.addEventListener('resize', setMoreButtonState);

		document.querySelector("#orderSummaryList").addEventListener("scroll", function (event) {
			var moreButton = document.querySelector('#scrollToViewMoreButton');
			moreButton.classList.add("d-none");
		});

		document.querySelector("#summarySidebar").addEventListener("mouseover", function (event) {
			var orderSummary = document.querySelector('#orderSummaryList');
			orderSummary.style.overflowY = "auto";
		});
		document.querySelector("#summarySidebar").addEventListener("mouseout", function (event) {
			var orderSummary = document.querySelector('#orderSummaryList');
			orderSummary.style.overflowY = "hidden";
		});
	</script>
}

@Include("OrderSummaryOrderLineItem.cshtml")
@Include("OrderSummary.cshtml")
