@helper RenderOrderSummaryToggleButton() {
	string iconPath = "/Files/Icons/";
	<button class="toggle-order-summary btn text-reset w-100 d-block d-lg-none px-0" type="button" data-bs-toggle="collapse" data-bs-target="#orderSummary" aria-expanded="false" aria-controls="orderSummary" id="OrderSummaryToggleButton">
		<span class="d-flex align-items-center justify-content-between">
			<span class="d-flex align-items-center gap-2">
				<span class="fs-7 lh-1">
					<span class="toggle-order-summary-text" id="OrderSummaryToggleButtonLabel">@Translate("Show order summary")</span>
				</span>
				<span class="icon-2" id="OrderSummaryToggleButtonIcon" style="transition: all 0.25s ease-in-out;">
					@ReadFile(iconPath+"chevron-down.svg")
				</span>
			</span>
			<span class="fw-bold"><span class="text-price">@GetString("Ecom:Order.Price")</span>
			</span>
		</span>
	</button>

	<script>
		const orderSummaryToggleButton = document.getElementById("OrderSummaryToggleButton");
		const orderSummaryToggleButtonLabel = document.getElementById("OrderSummaryToggleButtonLabel");
		const orderSummaryToggleButtonIcon = document.getElementById("OrderSummaryToggleButtonIcon");
		const orderSummaryToggleText = '@Translate("Show order summary")';

		orderSummaryToggleButton.addEventListener('click', function handleClick() {
			if (orderSummaryToggleButtonLabel.textContent.toLowerCase().includes(orderSummaryToggleText.toLowerCase())) {
				orderSummaryToggleButtonLabel.textContent = '@Translate("Hide order summary")';
				orderSummaryToggleButtonIcon.classList.add("rotate-180");
			} else {
				orderSummaryToggleButtonLabel.textContent = orderSummaryToggleText;
				orderSummaryToggleButtonIcon.classList.remove("rotate-180");
			}
		});
	</script>
}
