@helper RenderOrderSummaryOrderLineItem(LoopItem orderline)
{

	string name = orderline.GetString("Ecom:Order:OrderLine.ProductName");
	string image = "/Admin/Public/GetImage.ashx?width=" + 80 + "&height=" + 80 + "&crop=5&fillcanvas=true&Background=ffffff&image=" + orderline.GetString("Ecom:Product.PrimaryImage") + "&Format=WebP&Quality=100";
	string removeFromBasketLink = orderline.GetString("Ecom:Order:OrderLine.DeleteLink");
	string priceTotalWithDiscounts = orderline.GetString("Ecom:Order:OrderLine.TotalPriceWithProductDiscounts.PriceFormatted");
	string priceBefore = orderline.GetString("Ecom:Product.InformativePrice.PriceFormatted");
	string unitPrice = orderline.GetString("Ecom:Order:OrderLine.UnitPrice.PriceFormatted");
	string discountPrice = orderline.GetString("Ecom:Product.Discount.Price.PriceFormatted");
	string discountTotal = orderline.GetString("Ecom:Order:OrderLine.TotalDiscount.PriceFormatted");
	string variantText = orderline.GetString("Ecom:Order:OrderLine.ProductVariantText");
	var orderlineId = orderline.GetValue("Ecom:Order:OrderLine.Id");
	var quantity = orderline.GetDouble("Ecom:Order:OrderLine.Quantity");
	string primaryGroupId = orderline.GetString("Ecom:Order:OrderLine.PrimaryOrDefaultGroupId");
	string productId = orderline.GetString("Ecom:Order:OrderLine.ProductID");
	string variantId = orderline.GetString("Ecom:Order:OrderLine.ProductVariantID");

	string link = "#";
	string productDetailPageId = Pageview.CurrentParagraph.Item["ProductPageLink"] != null ? Pageview.CurrentParagraph.Item["ProductPageLink"].ToString() : "";
	productDetailPageId = productDetailPageId != "" ? productDetailPageId : GetPageIdByNavigationTag("ProductDetailPage").ToString();
	link = "Default.aspx?ID=" + productDetailPageId + "&ProductID=" + productId;
    if (!string.IsNullOrEmpty(variantId))
    {
        link += "&VariantID=" + variantId;
    }

	bool isProduct = orderline.GetBoolean("Ecom:Order:OrderLine.IsProduct");

	if (isProduct)
	{
		<article class="grid grid-12">

			<div class="g-col-2">
				<a href="@link" class="ratio ratio-1x1 d-block " title="@name">
					<img src="@image" style="object-fit: contain;" alt="@name">
				</a>
			</div>

			<div class="g-col-10">

				<div class="d-flex flex-column gap-1">
					@* Title *@
					<h3 class="h6 fs-7 m-0">
						<a href="@link" class="text-decoration-none" title="@name">@name</a>
					</h3>

					@* Variants *@
					@if (!string.IsNullOrEmpty(variantText))
					{
						<p class="fs-8 m-0">@variantText</p>
					}

					@* Unit price *@
					<p class="fs-8 m-0">
						@if (discountPrice == unitPrice)
						{
							<span class="d-block">
								<span class="text-price">@unitPrice</span>
							</span>
						}
						else
						{
							<span class="text-price">@discountPrice</span>
							<span class="text-decoration-line-through">
								<span class="text-price">@unitPrice</span>
							</span>
						}
					</p>
					<div class="d-flex flex-row justify-content-between">
						@* Quantity *@
						<span class="fs-8 d-block">@Translate("Qty"): @quantity</span>

						<div class="text-end flex-fill">
							@* Total *@
							<span class="h6 d-block fs-7 m-0">
								<span class="text-price">@priceTotalWithDiscounts</span>
							</span>
							@if (orderline.GetDouble("Ecom:Order:OrderLine.TotalDiscount.Price.Value") != 0.0)
							{
								<span class="d-block fs-8">
									<span class="text-price">@discountTotal</span>
								</span>
							}
						</div>
					</div>
				</div>
			</div>
		</article>
	}
}
