@helper RenderOrderSummaryContent() {
	<div class="d-lg-block h-lg-auto collapse pt-2 pt-lg-0" id="orderSummary">
		<div class="d-flex flex-column gap-2 gap-lg-3 pb-2 pb-lg-3">
			@foreach (LoopItem orderline in GetLoop("OrderLines")) {
				@RenderOrderSummaryOrderLineItem(orderline)
			}
		</div>
		
		@RenderOrderSummary()
	</div>
}

@Include("OrderSummaryOrderLineItem.cshtml")
@Include("OrderSummary.cshtml")
@Include("VoucherForm.cshtml")
