@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@helper RenderOrderReference()
{
	string orderReference = !string.IsNullOrWhiteSpace(GetString("Ecom:Order.Reference")) ? GetString("Ecom:Order.Reference") : "";
	bool disableOrderReference = Pageview.CurrentParagraph.Item["DisableOrderReference"] != null ? (Boolean)Pageview.CurrentParagraph.Item["DisableOrderReference"] : false;

	if (!disableOrderReference)
	{
		<div class="mt-4">
			<h3 class="fs-6 fw-normal mb-0">@Translate("Add reference to order")</h3>
			<p class="fs-8 mb-3">@Translate("Add a reference that matches a field in your external system") <span class="small">(@Translate("e.g inventory management, procurement"))</span></p>

			<div class="form-floating">
				<input type="text" class="form-control" name="EcomOrderReference" id="EcomOrderReference" value="@orderReference" placeholder="@Translate("Order reference")">
				<label for="EcomOrderReference">@Translate("Order reference")</label>
			</div>
		</div>
	}
}
