@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@helper RenderOrderDeliveryDate() 
{
	string shippingDate = !string.IsNullOrWhiteSpace(GetString("Ecom:Order.ShippingDate")) ? GetString("Ecom:Order.ShippingDate") : "",
	tomorrow = DateTime.Today.AddDays(1).ToString("yyyy-MM-dd"),
	iconPath = "/Files/Templates/Designs/Swift/Assets/icons/",
	useNextDateChecked = shippingDate == "" ? "checked=\"checked\"" : "",
	useSpecificDateChecked = shippingDate != "" ? "checked=\"checked\"" : "",
	showDeliveryDate = shippingDate != "" ? "show" : "",
	disableField = shippingDate == "" ? "" : "disabled";
	bool enableDeliveryDate = Pageview.CurrentParagraph.Item["EnableDeliveryDate"] != null ? (Boolean)Pageview.CurrentParagraph.Item["EnableDeliveryDate"] : false;

	if(enableDeliveryDate)
    {
		<style>
			@* crossbrowser support - diasable webkit icon *@
			input[type="date"]::-webkit-calendar-picker-indicator {
				color: transparent;
				background: none;
				z-index: 1;
			}
		</style>

		<div class="mt-4">
	
			<h3 class="fs-6 fw-normal mb-0">@Translate("Select delivery date")</h3>
			<p class="fs-8 mb-3">@Translate("Choose either next available or a specific date")</p>

			<div class="list-group">
					
				<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
					<span class="d-flex justify-content-between">
						<input class="form-check-input me-3" type="radio" name="DeliveryDate" value="False" @useNextDateChecked onchange="hideDeliveryDateContainer()">
						<div>@Translate("Next available delivery date")</div>
					</span>
				</label>

				<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
					<span class="d-flex justify-content-between">
						<input class="form-check-input me-3" type="radio" name="DeliveryDate" value="True" @useSpecificDateChecked onchange="showDeliveryDateContainer()">
						<div>@Translate("Select specific date")</div>
					</span>
				</label>

				@* Save empty delivery, if checked *@
				<div class="d-none" id="NextDeliveryDateContainer">
					<input @disableField type="hidden" name="EcomOrderShippingDate" value="">
				</div>

				<div class="collapse @showDeliveryDate" id="DeliveryDateContainer">
					<div class="list-group-item border-top-0 py-3 bg-light">
						<input type="date" class="form-control" id="EcomOrderShippingDate" name="EcomOrderShippingDate" value="@shippingDate" min="@tomorrow">
						@* Icon for crossbrowser support *@
						<span class="icon-2 pe-none me-4 position-absolute end-0 top-50 translate-middle-y">
							@ReadFile(iconPath+"calendar.svg")
						</span>
					</div>
				</div>
			
			</div>

			<script>
				function showDeliveryDateContainer() {
					var show = new bootstrap.Collapse('#DeliveryDateContainer', {
						show: true
					});

					@* //Enable the correct form fields *@
					document.querySelector("#DeliveryDateContainer").querySelectorAll(".form-control").forEach(function(field) {
						field.removeAttribute("disabled");
					});

					document.querySelector("#NextDeliveryDateContainer").querySelectorAll("input").forEach(function (field) {
						field.setAttribute("disabled", "true");
					});
				};
				function hideDeliveryDateContainer() {
					var hide = new bootstrap.Collapse('#DeliveryDateContainer', {
						hide: true
					});

					@* //Enable the correct form fields *@
					document.querySelector("#DeliveryDateContainer").querySelectorAll(".form-control").forEach(function(field) {
						field.setAttribute("disabled", "true");
					});

					document.querySelector("#NextDeliveryDateContainer").querySelectorAll("input").forEach(function (field) {
						field.removeAttribute("disabled");
					});
				};
			</script>
		
		</div>

    }

}
