@helper RenderShippingMethods()
{
	<div class="list-group" id="ShippingMethodsGroup">
		@foreach (LoopItem method in GetLoop("Shippingmethods")) {
			string selected = method.GetBoolean("Ecom:Cart.Shippingmethod.IsSelected") ? "checked" : "";

			<label class="list-group-item list-group-item-action py-3">
				<dl class="grid gap-0 gap-sm-3 align-items-center mb-0">
					<dt class="g-col-4 fw-normal">
						<div class="form-check">
							<input class="form-check-input" type="radio" @selected name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@method.GetString("Ecom:Cart.Shippingmethod.ID")" value="@method.GetString("Ecom:Cart.Shippingmethod.ID")" @if(!string.IsNullOrWhiteSpace(method.GetString("Ecom:Cart.Shippingmethod.IsSelected"))) {<text>checked="checked"</text>} onChange="submitForm()">
							<span class="form-check-label">@method.GetString("Ecom:Cart.Shippingmethod.Description")</span>
						</div>
					</dt>
					<dd class="g-col-6 mb-0">
						@{
							string imagePath = Dynamicweb.Context.Current.Server.MapPath(method.GetString("Ecom:Cart.Shippingmethod.Icon.Clean"));

							if (File.Exists(imagePath)) {
								<span class="m-0 d-block" style="height: 1.5rem; background: url('@method.GetString("Ecom:Cart.Shippingmethod.Icon.Clean")') no-repeat left center; background-size: contain;"></span>
							}
							else {
								<span class="fs-8">@method.GetString("Ecom:Cart.Shippingmethod.Name")</span>
							}
						}
					</dd>
					<dd class="g-col-2 mb-0 text-end">
						<span class="text-price">@method.GetString("Ecom:Cart.ShippingMethod.Price")</span>
					</dd>
				</dl>
			</label>
		}
	</div>
}
