@helper RenderShippingMethods()
{
	<div class="list-group">
		@foreach (LoopItem method in GetLoop("Shippingmethods")) {
			string selected = method.GetBoolean("Ecom:Cart.Shippingmethod.IsSelected") ? "checked" : "";

			<label class="list-group-item list-group-item-action py-3 d-flex gap-3 justify-content-between align-items-baseline">
				<span class="w-100">
					<span class="grid">
						<span class="g-col-12 g-col-md-8 d-flex align-items-center">
							<input class="form-check-input mt-0 me-3" type="radio" @selected name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@method.GetString("Ecom:Cart.Shippingmethod.ID")" value="@method.GetString("Ecom:Cart.Shippingmethod.ID")" @if(!string.IsNullOrWhiteSpace(method.GetString("Ecom:Cart.Shippingmethod.IsSelected"))) {<text>checked="checked"</text>} onChange="submitForm()">
							<span class="d-block text-nowrap fs-7">@method.GetString("Ecom:Cart.Shippingmethod.Description")</span>
						</span>
						<span class="g-col-12 g-col-md-4 mt-1 mt-md-0 align-items-center text-end">
							@{
								string imagePath = Dynamicweb.Context.Current.Server.MapPath(method.GetString("Ecom:Cart.Shippingmethod.Icon.Clean"));

								if (File.Exists(imagePath)) {
									<span class="m-0 d-block" style="height: 1.5rem; background: url('@method.GetString("Ecom:Cart.Shippingmethod.Icon.Clean")') no-repeat left center; background-size: contain;"></span>
								}
								else {
									<span class="fs-8">@method.GetString("Ecom:Cart.Shippingmethod.Name")</span>
								}
							}
						</span>
					</span>
				</span>
				<span class="text-price">@method.GetString("Ecom:Cart.ShippingMethod.Price")</span>
			</label>
		}
	</div>
}
