@helper RenderStepSummary() {
	int currentStep = 1;
	int currentUserId = Dynamicweb.Core.Converter.ToInt32(GetGlobalValue("Global:Extranet.UserID"));

	foreach (LoopItem step in GetLoop("StepButtons"))
	{
		if (step.GetBoolean("Step.Current"))
		{
			currentStep = step.GetInteger("Step.Number");
		}
	}

	if (!string.IsNullOrEmpty(GetString("UserManagement:User.Address")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.ShippingMethodID")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.PaymentMethodID")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Name")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Company")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Address")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Address2")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Zip")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.City")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Email")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Phone")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Name")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Company")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Address")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Address2")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Zip")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.City")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Email")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Phone")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.ShippingMethod")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.ShippingDate")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.PaymentMethod")))
	{
		@* User *@
		if (currentUserId != 0)
		{
			<div class="list-group mb-5">
				@RenderStepSummaryOrderCustomer()
				@RenderStepSummaryUser()

				@if (currentStep != 1)
				{
					@RenderStepSummaryOrderDelivery()
					@RenderStepSummaryDeliveryMethod()
					@RenderStepSummaryDeliveryDate()
				}
			</div>
		}
		@* Anonymous *@
		else {
			if (currentStep != 1)
			{
				<div class="list-group">
					@RenderStepSummaryOrderCustomer()
					@RenderStepSummaryOrderDelivery()
					@if (currentStep > 2)
					{
						@RenderStepSummaryDeliveryMethod()
						@RenderStepSummaryDeliveryDate()
					}
					@if (currentStep > 3)
					{
						@RenderStepSummaryPaymentMethod()
						@RenderStepSummaryOrderReference()
					}
				</div>
			}
		}
	}
}

@Include("StepSummaryOrderCustomer.cshtml")
@Include("StepSummaryOrderDelivery.cshtml")
@Include("StepSummaryUser.cshtml")
@Include("StepSummaryDeliveryMethod.cshtml")
@Include("StepSummaryPaymentMethod.cshtml")
@Include("StepSummaryDeliveryDate.cshtml")
@Include("StepSummaryOrderReference.cshtml")
