@helper RenderStepSummaryOrderCustomer() {
	int currentUserId = Dynamicweb.Core.Converter.ToInt32(GetGlobalValue("Global:Extranet.UserID"));

	List<string> contact = new List<string>();
	if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Email")) || !string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Phone")))
	{
		if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Email")))
		{
			contact.Add(GetString("Ecom:Order.Customer.Email"));
		}
		if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Phone")))
		{
			contact.Add(GetString("Ecom:Order.Delivery.Phone"));
		}
	}

	string contactString = (string.Join(",", contact.Select(x => x.ToString()).ToArray())).Replace(",", ", ");
	string userAccountPage = Pageview.CurrentParagraph.Item["UserAccountPageLink"] != null ? Pageview.CurrentParagraph.Item["UserAccountPageLink"].ToString() + "&GoBackToPage=" + Pageview.Page.ID : "";

	if (!string.IsNullOrEmpty(contactString)) {
		<div class="list-group-item py-2 fs-7 bg-light" id="ContactGroup">
			<dl class="grid gap-1 gap-sm-3 mb-0">
				<dt class="g-col-8 g-col-sm-4 fw-normal">@Translate("Contact")</dt>
				<dd class="g-col-12 g-col-sm-7 order-2 order-sm-1 mb-0">@contactString</dd>


				<dd class="g-col-4 g-col-sm-1 order-1 order-sm-2 mb-0 text-end">
					@if (currentUserId == 0) {
						<button type="submit" class="btn btn-small btn-link fs-8 p-0" name="CartV2.GotoStep0" id="EditBillingAddressButton">
							<span class="text-uppercase">@Translate("Edit")</span>
						</button>
					} else {
						<a href="@userAccountPage" class="btn btn-small btn-link fs-8 p-0" id="EditBillingAddressButton">
							<span class="text-uppercase">@Translate("Edit")</span>
						</a>
					}
				</dd>
			</dl>
		</div>
	}

}
