@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@helper RenderStepsNavigation()
{
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	int currentStep = 1;
	string nextButtonName = Translate("Next");
	string previousButtonName = Translate("Back");

	foreach (LoopItem step in GetLoop("StepButtons"))
	{
		if (step.GetBoolean("Step.Current"))
		{
			currentStep = step.GetInteger("Step.Number");
		}

		if (step.GetInteger("Step.Number") == currentStep + 1)
		{
			nextButtonName = Translate(step.GetString("Step.Name"));
		}

		if (step.GetInteger("Step.Number") == currentStep + step.GetInteger("Step.Index"))
		{
			previousButtonName = Translate("Back to") + " " + Translate(step.GetString("Step.Name"));
		}
	}

	if (currentStep == GetLoop("StepButtons").Count - 1 && Pageview.CurrentParagraph.Item.SystemName != "Swift_QuoteCheckoutApp")
	{
		nextButtonName = Translate("Place Order");
		@RenderTermsAndConditionsCheckbox();
	}


	<div class="mt-4 d-flex flex-column flex-md-row justify-content-end gap-3 mt-lg-4" id="StepsNavigation">

		@if (currentStep == 1)
		{
			var checkout = Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(Pageview.CurrentParagraph)?.Item ?? null;
			var cartLink = checkout.GetLink("CartPageLink") is object ? checkout.GetLink("CartPageLink").Url : "Default.aspx?id=" + Pageview.CurrentParagraph.Page.Parent.ID;

			<a href="@cartLink" class="btn btn-link link-secondary text-decoration-none order-last order-md-first" id="BackToCartButton">
				<div class="d-flex align-items-center justify-content-center position-relative">
					<span class="icon-2 me-1 position-absolute position-md-static start-0">
						@ReadFile(iconPath + "chevron-left.svg")
					</span>
					<span>@Translate("Back to cart")</span>
				</div>
			</a>
		}
		else
		{
			<button name="@GetString("CartV2.PreviousStepButtonName")" id="@GetString("CartV2.PreviousStepButtonName")" class="btn btn-link link-secondary text-decoration-none">
				<div class="d-flex align-items-center justify-content-center position-relative">
					<span class="icon-2 me-1 position-absolute position-md-static start-0">
						@ReadFile(iconPath + "chevron-left.svg")
					</span>
					<span>@previousButtonName</span>
				</div>
			</button>
		}

		<button type="submit" name="@GetString("CartV2.NextStepButtonName")" id="@GetString("CartV2.NextStepButtonName")" class="btn btn-primary order-first order-md-last">
			<div class="d-flex align-items-center justify-content-center position-relative">
				<span>@nextButtonName</span>
				<span class="icon-2 ms-1 position-absolute position-md-static end-0">
					@ReadFile(iconPath + "chevron-right.svg")
				</span>
			</div>
		</button>

		<script>
			if (window.history.replaceState) {
				window.history.replaceState(null, null, window.location.href);
			}
		</script>

	</div>
}

@Include("../Helpers/TermsAndConditions.cshtml")
