<div class="container container-no-padding" id="delivery-contact-details-container">
	<div class="row">
		<div class="col-sm-6 d-flex flex-column py-2">
			<label class="text-label-red" for="EcomOrderDeliveryPsuedoFirstName">First name *</label>
			<input class="text-input-field" value="@GetString("UserManagement:User.FirstName")" name="EcomOrderDeliveryPsuedoFirstName"
			       id="EcomOrderDeliveryPsuedoFirstName" type="text" required="true" >
		</div>
		<div class="col-sm-6 d-flex flex-column py-2">
			<label class="text-label-red" for="EcomOrderDeliveryPsuedoLastName">Last Name *</label>
			<input class="text-input-field" id="EcomOrderDeliveryPsuedoLastName" name="EcomOrderDeliveryPsuedoLastName"
			       value="@GetString("UserManagement:User.LastName")" type="text" required="true"
			>
		</div>
		<input type="hidden" id="EcomOrderDeliveryName" name="EcomOrderDeliveryName">
	</div>
	<div class="row">
		<div class="col-sm-6 d-flex flex-column py-2">
			<label class="text-label-red" for="EcomOrderDeliveryEmail"> Email *</label>
			<input class="text-input-field" id="EcomOrderDeliveryEmail" name="EcomOrderDeliveryEmail"
			       value="@GetString("UserManagement:User.Email")" type="email" required="true"
			>
		</div>
		<div class="col-sm-6 d-flex flex-column py-2">
			<label class="text-label-red" for="EcomOrderDeliveryPhone">Phone Number</label>
			<input class="text-input-field" value="@GetString("UserManagement:User.Phone")" name="EcomOrderDeliveryPhone"
			       id="EcomOrderCustomerPhone" type="number" >
		</div>
	</div>
	@if (GetString("Ecom:Cart.UseNewsletterSubscription") == "True")
	{
	bool? isChecked = null;
	if (GetString("Ecom:Order.Customer.NewsletterSubscribe") == "true")
	{
	isChecked = true;
	}

	<div class="row">
		<div class="col d-flex flex-row justify-content-start align-items-center py-2">
			<label>
				<input class="form-check-input custom-checkbox" type="checkbox" name="EcomOrderSubscribeToNewsletter" id="EcomOrderSubscribeToNewsletter" checked="@isChecked" >
				<span class="checkmark"></span>
			</label>
			<label class="form-check-label lh-1 px-3 pb-1" for="EcomOrderSubscribeToNewsletter">
				<span>@Translate("Get special offers and discounts via email")</span>
			</label>
		</div>
	</div>
	}

</div>

<script>
	function setEcomOrderDeliveryName() {

		// Get the elements by their ID
		var firstNameInputElement = document.getElementById("EcomOrderDeliveryPsuedoFirstName");
		var surnameInputElement = document.getElementById("EcomOrderDeliveryPsuedoLastName");
		var fullNameInputElement = document.getElementById("EcomOrderDeliveryName");

		var firstName = firstNameInputElement.value || '';
		var surname = surnameInputElement.value || '';

		// Concatenate the values and trim leading and trailing whitespace
		let completeName = (firstName + ' ' + surname).trim();
		console.log(completeName)
		fullNameInputElement.value = completeName

	}

	// Attach "onchange" event to both the input fields


	document.addEventListener('DOMContentLoaded', function () {
		setEcomOrderDeliveryName();
		document.getElementById('EcomOrderDeliveryPsuedoFirstName').onchange = setEcomOrderDeliveryName;
		document.getElementById('EcomOrderDeliveryPsuedoLastName').onchange = setEcomOrderDeliveryName;
	})


</script>
