<div class="container container-no-padding" id="add-new-address-container">
	<div class="row">
		<div class="col d-flex flex-column py-2">
			<label for="EcomOrderCustomerCompany" class="conditional-rendered-label text-label-red">Company
				name</label>
			<input @disabledHiddenUser class="text-input-field" type="hidden" name="EcomOrderCustomerCompany"
			                           value="@GetString("Ecom:Order.Customer.Company")">
		</div>
	</div>

	<div class="row">
	<div class="col-sm-6 d-flex flex-column  py-2">
		<label for="EcomOrderCustomerFirstName" class="conditional-rendered-label text-label-red">First Name
			*</label>
		<input @disabledHiddenUser class="text-input-field" type="hidden" required="true"
		       name="EcomOrderCustomerFirstName"
		       value="@GetString("Ecom:Order.Customer.FirstName")">
	</div>
	<div class="col-sm-6 d-flex flex-column  py-2">
		<label for="EcomOrderCustomerLastName" class="conditional-rendered-label text-label-red">Last Name
			*</label>
		<input @disabledHiddenUser class="text-input-field" type="hidden" required="true" name="EcomOrderCustomerLastName"
		       value="@GetString("Ecom:Order.Customer.LastName")">
	</div>
</div>

	
	<div class="row">
		<div class="col-sm-6 d-flex flex-column  py-2">
			<label for="EcomOrderCustomerAddress" class="conditional-rendered-label text-label-red">Address Line 1
				*</label>
			<input @disabledHiddenUser class="text-input-field" type="hidden" required="true"
			                           name="EcomOrderCustomerAddress"
			                           value="@GetString("Ecom:Order.Customer.Address")">
		</div>
		<div class="col-sm-6 d-flex flex-column  py-2">
			<label for="EcomOrderCustomerAddress2" class="conditional-rendered-label text-label-red">Address Line
				2</label>
			<input @disabledHiddenUser class="text-input-field" type="hidden" name="EcomOrderCustomerAddress2"
			                           value="@GetString("Ecom:Order.Customer.Address2")">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 d-flex flex-column  py-2">
			<label for="EcomOrderCustomerZip" class="conditional-rendered-label text-label-red">Postcode *</label>
			<input @disabledHiddenUser class="text-input-field" required="true" type="hidden"
			                           name="EcomOrderCustomerZip"
			                           value="@GetString("Ecom:Order.Customer.Zip")">
		</div>
		<div class="col-sm-6 d-flex flex-column  py-2">
			<label for="EcomOrderCustomerCity" class="conditional-rendered-label text-label-red">Town/City *</label>
			<input @disabledHiddenUser class="text-input-field" type="hidden" required="true"
			                           name="EcomOrderCustomerCity"
			                           value="@GetString("Ecom:Order.Customer.City")">
		</div>
	</div>
</div>
