@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@inherits ViewModelTemplate<ProductViewModel>

@{
    string groupIdQueryParameter = string.IsNullOrEmpty(Dynamicweb.Context.Current.Request["GroupID"])
        ? string.Empty
        : "&amp;GroupID=" + Dynamicweb.Context.Current.Request["GroupID"];
    string productLink = "/Default.aspx?ID=" + Pageview.Page.ID + "&amp;ProductID=" + Model.Id + groupIdQueryParameter;
}
<h1>Product details</h1>
<h2><a href="@productLink">@Model.Name</a></h2>
<small>@Model.Id</small>
<div>@Model.VariantId</div>
<div>@Model.LanguageId</div>
<div>@Model.ShortDescription</div>
<div>@Model.LongDescription</div>
@if (Model.Price != null)
{
    <div>Price: @Model.Price.PriceFormatted</div>
}
@*
    <pre>
        @Model.ToJson()
    </pre>
*@