@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using Dynamicweb
@using System.IO
@using Dynamicweb.Ecommerce.ProductCatalog

@{
	string theme = Model.Parameters["theme"].ToString();
	string navAlignment = Model.Parameters["NavAlignment"].ToString();
	string linkFontWeight = Model.Parameters["LinkFontWeight"].ToString();
	string linkCasing = Model.Parameters["LinkCasing"].ToString();
	string linkFontSize = Model.Parameters["LinkFontSize"].ToString();
}

<nav class="navbar navbar-expand d-none d-lg-flex mx-n2 position-static megamenu-wrapper py-0 @navAlignment">
	@RenderFirstLevelNodes(Model.Nodes, theme, linkFontWeight, linkCasing, linkFontSize)
</nav>

<nav class="navbar navbar-expand d-flex d-lg-none mx-n2 py-0 @navAlignment">
	@RenderFirstLevelNodesMobile(Model.Nodes, linkFontWeight, linkCasing, linkFontSize, navAlignment)
</nav>

@helper RenderFirstLevelNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes, string theme, string linkFontWeight, string linkCasing, string linkFontSize)
{
	string dropdownAlignment = Model.Parameters["DropdownAlignment"].ToString();
	string dropdownLinkHeaderFontWeight = Model.Parameters["DropdownLinkHeaderFontWeight"].ToString();
	string dropdownLinkHeaderCasing = Model.Parameters["DropdownLinkHeaderCasing"].ToString();
	string dropdownLinkHeaderFontSize = Model.Parameters["DropdownLinkHeaderFontSize"].ToString();
	string dropdownLinkFontWeight = Model.Parameters["DropdownLinkFontWeight"].ToString();
	string dropdownLinkCasing = Model.Parameters["DropdownLinkCasing"].ToString();
	string dropdownLinkFontSize = Model.Parameters["DropdownLinkFontSize"].ToString();
	bool showProductGroupPromotionImage = Model.Parameters.ContainsKey("ShowProductGroupPromotionImage") ? Convert.ToBoolean(Model.Parameters["ShowProductGroupPromotionImage"].ToString()) : false;
	
	<ul class="navbar-nav">
		@foreach (var node in nodes)
		{
			var hasChildren = node.Nodes.Count() > 0;
			string dropdownAttributes = hasChildren ? " role=\"button\" data-bs-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\"" : "";

			bool hasManyChildren = false;
			foreach (var subnode in node.Nodes)
			{
				if (subnode.Nodes.Any())
				{
					hasManyChildren = true;
				}
			}
			string submenuType = "auto";

			if (submenuType == "auto")
			{
				submenuType = hasManyChildren ? "megamenu" : "dropdown";
			}

			<li class="nav-item@(node.IsActive ? " active" : "")@(hasChildren ? " dropdown" : "")@(hasManyChildren ? " has-megamenu" : "")">

				@if (node.IsClickable)
				{
					<a class="nav-link nav-link-clean nav-link-underline @linkFontWeight @linkCasing @linkFontSize@(node.IsActive ? " active" : "")@(hasChildren ? " dropdown-toggle" : "")" href="@(hasChildren ? "#" : node.Link)" @dropdownAttributes>
						@RenderNavigationItem(node)
					</a>
				}
				else
				{
					<span class="nav-link nav-link-clean @linkFontWeight @linkCasing @linkFontSize" @dropdownAlignment>
						@RenderNavigationItem(node)
					</span>
				}

				@if (hasChildren)
				{
					if (submenuType == "megamenu")
					{
						<div class="dropdown-menu megamenu py-4@(theme)" id="NavGroup@(node.PageId)">
							<div class="container-xl">
								@if (showProductGroupPromotionImage && !string.IsNullOrEmpty(node.GroupId))
								{
									<div class="grid gap-4">
										<div class="g-col-9 g-col-xxl-10">
											<div class="d-flex flex-wrap gap-3 mx-n2 @dropdownAlignment">
												@foreach (var subnode in node.Nodes)
												{
													<div class="col-4 col-xxl-3 col-xxxl-2">
														<a href="@subnode.Link" class="nav-link nav-link-underline lh-sm text-break">
															<h6 class="m-0 @dropdownLinkHeaderFontWeight @dropdownLinkHeaderCasing @dropdownLinkHeaderFontSize">@subnode.Name</h6>
														</a>
														@if (subnode.Nodes.Any())
														{
															foreach (var subsubnode in subnode.Nodes)
															{
																<a class="nav-link nav-link-underline lh-sm text-break" href="@subsubnode.Link" @(subnode.IsActive ? " aria-current='page'" : "")>
																	<span class="@dropdownLinkFontWeight @dropdownLinkCasing @dropdownLinkFontSize">@subsubnode.Name</span>
																</a>
															}
														}
													</div>
												}
											</div>
										</div>
										<div class="g-col-3 g-col-xxl-2">
											@RenderProductGroupPromotionImage(node.GetProductGroup(), node.Link)
										</div>
									</div>
								}
								else
								{
									<div class="d-flex flex-wrap mx-n2 @dropdownAlignment">
										@foreach (var subnode in node.Nodes)
										{
											<div class="col-4 col-xxl-3 col-xxxl-2">
												<a href="@subnode.Link" class="nav-link nav-link-underline lh-sm text-break">
													<h6 class="m-0 @dropdownLinkHeaderFontWeight @dropdownLinkHeaderCasing @dropdownLinkHeaderFontSize">@subnode.Name</h6>
												</a>
												@if (subnode.Nodes.Any())
												{
													foreach (var subsubnode in subnode.Nodes)
													{
														<a class="nav-link nav-link-underline lh-sm text-break" href="@subsubnode.Link" @(subnode.IsActive ? " aria-current='page'" : "")>
															<span class="@dropdownLinkFontWeight @dropdownLinkCasing @dropdownLinkFontSize">@subsubnode.Name</span>
														</a>
													}
												}
											</div>
										}
									</div>
								}
							</div>
						</div>
					}
					else
					{
						var page = Dynamicweb.Services.Pages.GetPage(node.PageId);
						string pageType = page.ItemType;

						<ul class="dropdown-menu@(theme)">
							@if (pageType == "Swift_SignIn")
							{
								if (Pageview.User == null)
								{
									<li>
										<a href="@node.Link" class="dropdown-item nav-link-underline  @linkFontWeight @linkCasing @linkFontSize" @(node.IsActive ? " aria-current='page'" : "")>@node.Name</a>
									</li>
								}
							}

							@foreach (var subnode in node.Nodes)
							{
								<li>
									<a class="dropdown-item nav-link-underline  @linkFontWeight @linkCasing @linkFontSize" href="@subnode.Link" @(node.IsActive ? " aria-current='page'" : "")>@subnode.Name</a>
								</li>
							}

							@if (pageType == "Swift_SignIn")
							{
								if (Pageview.User != null)
								{
									string link = "/Admin/Public/ExtranetLogoff.aspx?redirect=no";

									<li><hr class="dropdown-divider"></li>

									if (Pageview.User.CurrentSecondaryUser != null)
									{
										<li>
											<a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="dropdown-item nav-link-underline @linkFontWeight @linkCasing @linkFontSize" @(node.IsActive ? " aria-current='page'" : "")>@Translate("Sign out as a customer")</a>
										</li>
									}
									<li>
										<a href="@link" class="dropdown-item nav-link-underline @linkFontWeight @linkCasing @linkFontSize" @(node.IsActive ? " aria-current='page'" : "")>@Translate("Sign out")</a>
									</li>
								}

							}
						</ul>
					}
				}
			</li>
		}
	</ul>
}

@helper RenderFirstLevelNodesMobile(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes, string linkFontWeight, string linkCasing, string linkFontSize, string navAlignment)
{
	<div class="navbar-nav">
		@foreach (var node in nodes)
		{
			var hasChildren = node.Nodes.Count() > 0;

			if (node.IsClickable)
			{
				<a class="nav-link nav-link-clean text-nowrap @linkFontWeight @linkCasing @linkFontSize @(node.IsActive ? " active" : "")" href="@node.Link">
					@RenderNavigationItem(node)
				</a>
			}
			else
			{
				<span class="nav-link nav-link-clean text-nowrap @linkFontWeight @linkCasing @linkFontSize">
					@RenderNavigationItem(node)
				</span>
			}
		}
	</div>
}

@helper RenderNavigationItem(Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel node)
{
	var page = Dynamicweb.Services.Pages.GetPage(node.PageId);
	string pageType = page.ItemType;
	string linkFontSize = Model.Parameters["LinkFontSize"].ToString();
	string layout = Model?.Parameters["Layout"].ToString();
	string icon = page.Item["Icon"] != null ? page.Item["Icon"].ToString() : "";
	string iconSize = "icon-3";

	if (linkFontSize == "fs-7")
	{
		iconSize = "icon-2";
	}
	if (linkFontSize == "fs-5")
	{
		iconSize = "icon-4";
	}

	if (pageType == "Swift_Cart")
	{
		double totalProducts = 0;

		if (Dynamicweb.Ecommerce.Common.Context.Cart != null)
		{
			totalProducts = Dynamicweb.Ecommerce.Common.Context.Cart.GetParentProductLineQuantityCount(Dynamicweb.Ecommerce.Common.Context.Cart.OrderLines);
		}

		switch (layout)
		{
			case "linksOnly":
				<span class="align-middle">@node.Name</span>
				<span class="js-cart-qty mini-cart-quantity align-middle">(@totalProducts)</span>
				break;
			case "iconsOnly":
				@RenderIcon(icon, iconSize)
				<span class="js-cart-qty mini-cart-quantity align-middle">(@totalProducts)</span>
				break;
			case "iconsAndLinks":
				@RenderIcon(icon, iconSize)
				<span class="js-cart-qty mini-cart-quantity align-middle">(@totalProducts)</span>
				<span class="align-middle">@node.Name</span>
				break;
			case "linksAndIcons":
				<span class="align-middle">@node.Name</span>
				<span class="js-cart-qty mini-cart-quantity align-middle">(@totalProducts)</span>
				@RenderIcon(icon, iconSize)
				break;
		}
	}
	else
	{
		switch (layout)
		{
			case "linksOnly":
				<span class="align-middle">@node.Name</span>
				break;

			case "iconsOnly":
				@RenderIcon(icon, iconSize)
				break;
			case "iconsAndLinks":
				@RenderIcon(icon, iconSize)
				<span class="align-middle">@node.Name</span>
				break;
			case "linksAndIcons":
				<span class="align-middle">@node.Name</span>
				@RenderIcon(icon, iconSize)
				break;
		}
	}
}

@helper RenderIcon(string icon, string iconSize)
{
	if (Path.GetExtension(icon).ToLower() == ".svg" && !icon.ToLower().Contains("none"))
	{
		string iconPath = Dynamicweb.Context.Current.Server.MapPath(icon);

		<span class="@iconSize">
			@ReadFile(iconPath)
		</span>
	}
}


@helper RenderProductGroupPromotionImage(ProductGroupViewModel group, string link)
{
	IList<FieldValueViewModel> groupFields = group.GroupFields != null ? group.GroupFields : null;

	if (groupFields != null)
	{
		var groupName = group.Name;
		string ratio = Model.Parameters["ImageAspectRatio"].ToString();
		ratio = ratio != "0" ? ratio : string.Empty;
		string ratioCssClass = ratio != string.Empty ? " ratio" : "";
		string ratioVariable = ratio != "" ? "style=\"--bs-aspect-ratio: " + ratio + "\"" : string.Empty;
		string productGroupPromotionImage = string.Empty;
		string productGroupPromotionImagePath = string.Empty;
		string productGroupPromotionDescription = string.Empty;
		string productGroupPromotionLinkLabel = string.Empty;
		string productGroupPromotionLink = string.Empty;
		string productGroupPromotionImageTheme = Model.Parameters.ContainsKey("ProductGroupPromotionImageTheme") ? Model.Parameters["ProductGroupPromotionImageTheme"].ToString().ToLower() : string.Empty;
		string gridGap = !string.IsNullOrEmpty(productGroupPromotionImageTheme) ? "gap-0" : "gap-3";
		string themePadding = !string.IsNullOrEmpty(productGroupPromotionImageTheme) ? "p-3" : "p-0";

		foreach (FieldValueViewModel field in groupFields)
		{
			if (field.SystemName == "ProductGroupPromotionImage")
			{
				productGroupPromotionImage = field.Value != null ? field.Value.ToString() : string.Empty;
				productGroupPromotionImagePath = "/Admin/Public/GetImage.ashx?Width=" + 480 + "&Height=" + 480 + "&crop=0&image=" + "Files/Images/" + productGroupPromotionImage;
			}
			if (field.SystemName == "ProductGroupPromotionDescription")
			{
				productGroupPromotionDescription = field.Value != null ? field.Value.ToString() : string.Empty;
			}
			if (field.SystemName == "ProductGroupPromotionLinkLabel")
			{
				productGroupPromotionLinkLabel = field.Value != null ? field.Value.ToString() : string.Empty;
			}
			if (field.SystemName == "ProductGroupPromotionLink")
			{
				productGroupPromotionLink = field.Value != null ? field.Value.ToString() : string.Empty;
			}
		}

		<div class="grid grid-1 @gridGap@(productGroupPromotionImageTheme)">
			@if (productGroupPromotionImage != string.Empty)
			{
				productGroupPromotionLink = !string.IsNullOrEmpty(productGroupPromotionLink) ? productGroupPromotionLink : link;

				<a href="@productGroupPromotionLink" title="@groupName">
					<figure class="m-0@(ratioCssClass)" @ratioVariable>
						<img class="img-fluid" src="@productGroupPromotionImagePath" alt="@groupName" style="object-fit:cover">
					</figure>
				</a>
			}
			@if (!string.IsNullOrEmpty(productGroupPromotionDescription) || !string.IsNullOrEmpty(productGroupPromotionLinkLabel))
			{
				<div class="grid grid-1 @themePadding ">

					@if (!string.IsNullOrEmpty(productGroupPromotionDescription))
					{
						<h6 class="m-0">@productGroupPromotionDescription</h6>
					}
					@if (!string.IsNullOrEmpty(productGroupPromotionLinkLabel))
					{
						productGroupPromotionLink = !string.IsNullOrEmpty(productGroupPromotionLink) ? productGroupPromotionLink : link;

						<a href="@productGroupPromotionLink" title="@productGroupPromotionLinkLabel" class="btn btn-link text-start border-0 p-0">@productGroupPromotionLinkLabel</a>
					}
				</div>
			}
		</div>
	}
}
