@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>

@functions {
	int count = 0;}

@{ 
	string titleFontSize = Model.Parameters["TitleFontSize"].ToString();
	bool hideBreadcrumb = Model.Parameters.ContainsKey("HideBreadcrumb") ? Convert.ToBoolean(Model.Parameters["HideBreadcrumb"].ToString()) : false;
}

@helper GetNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
	foreach (var node in nodes)
	{
		if (!node.IsActive && node.InPath)
		{
			count++;
			<li class="breadcrumb-item">@node.Name</li>

			if (node.Nodes.Count() > 0)
			{
				@GetNodes(node.Nodes)
			}
		}
	}
}

@if (!hideBreadcrumb) {
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb mb-0 opacity-85">
			@GetNodes(Model.Nodes)
		</ol>
	</nav>
}

@GetActiveNode(Model.Nodes)

@helper GetActiveNode(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
	string titleFontSize = Model.Parameters["TitleFontSize"].ToString();

	foreach (var node in nodes)
	{
		if (node.IsActive && node.InPath)
		{
			count++;

			<div>
				<h1 class="@titleFontSize">@node.Name</h1>
			</div>
		}

		if (node.Nodes.Count() > 0)
		{
			@GetActiveNode(node.Nodes)
		}
	}
}

@if (count == 0 && Pageview.IsVisualEditorMode)
{
	<h1 class="@titleFontSize">@Translate("Product groups")</h1>
}
else if (count == 0)
{
	<h1 class="@titleFontSize">@Translate("Products")</h1>
}
