@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
	<img src="@image.Path" style="aspect-ratio: 4/3; object-fit: cover; object-position: @image.GetFocalPointPercentage()" />
}

<div class="content-box text-center">
	@if (Model.Item.TryGetString("Eyebrow", out string eyebrow)) {
		<div class="fs-8">@eyebrow</div>
	}

	@if (Model.Item.TryGetString("Title", out string title)) {
		<h2>@title</h2>
	}

	@if (Model.Item.TryGetString("Subtitle", out string subtitle)) {
		<div class="mb-2 fs-7">@subtitle</div>
	}

	@if (Model.Item.TryGetString("Text", out string text)) {
		@text
	}

	<button class="btn btn-primary">Read more</button>
</div>
