@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div data-swift-text>
	@if (Model.Item.TryGetString("Eyebrow", out string eyebrow)) {
		<p class="fs-7 text-body text-opacity-75">@eyebrow</p>
	}

	@if (Model.Item.TryGetString("Title", out string title)) {
		<h2>@title</h2>
	}
</div>

@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
	<figure class="ratio ratio-4x3">
		<img src="@image.Path" style="object-fit: cover; object-position: @image.GetFocalPointPercentage()" alt="@Model.Item?.GetString("AltText")" />
	</figure>
}

<div class="mb-0-last-child" data-swift-text>
	@if (Model.Item.TryGetString("Subtitle", out string subtitle)) {
		<p class="lead text-body text-opacity-75">@subtitle</p>
	}

	@if (Model.Item.TryGetString("Text", out string text)) {
		@text
	}

	<div class="d-grid d-sm-inline-flex gap-2">
		@if (Model.Item.TryGetButton("FirstButton", out ButtonViewModel firstButton)) {
			<a href="@firstButton.Link.Url" class="btn btn-primary">@firstButton.Label</a>
		}

		@if (Model.Item.TryGetButton("SecondButton", out ButtonViewModel secondButton)) {
			<a href="@secondButton.Link.Url" class="btn btn-outline-secondary">@secondButton.Label</a>
		}
	</div>
</div>
