@inherits ViewModelTemplate<UserListViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Security.UserManagement

@{
    string searchTerm = Dynamicweb.Context.Current?.Request.Params.Get("search") ?? string.Empty;
    int totalUsersOnThisPage = Model.Users.Count();
}

@if (totalUsersOnThisPage > 8 || searchTerm != string.Empty) {
    <div class="grid type-ahead-dropdown mb-3">
        <div class="g-col-12 g-col-lg-4">
            <form method="get" class="suggest-form position-relative">
                <div class="d-flex align-items-center mb-3" data-dw-colorscheme="light">
                    <label for="userSearch_@Pageview.CurrentParagraph.ID" class="visually-hidden">@Translate("Search for employees")</label>
                    <span class="position-absolute icon-2 reset-search px-3">
                        @ReadFile("/Files/Images/Icons/magnifying-glass.svg")
                    </span>
                    <input id="userSearch_@Pageview.CurrentParagraph.ID"
                            type="search"
                            class="form-control form-control-sm rounded-pill type-ahead-field py-2 ps-5 pe-5"
                            placeholder="@Translate("Search for employees")"
                            aria-label="@Translate("Search for employees")"
                            aria-describedby="userSearch_@Pageview.CurrentParagraph.ID"
                            name="search"
                            value="@searchTerm">

                    <button type="button"
                            onclick="var f = document.getElementById('userSearch_@Pageview.CurrentParagraph.ID'); f.value = ''; f.focus(); f.closest('form').submit();"
                            class="btn position-absolute end-0 icon-2 reset-search"
                            aria-label="@Translate("Clear search field")"
                            style="opacity: 0; visibility: hidden;">
                        @ReadFile("/Files/Images/Icons/xmark.svg")
                    </button>
                </div>
            </form>
        </div>
    </div>
}

@if (totalUsersOnThisPage > 0)
{
    <div class="grid">
        @foreach (var user in Model.Users)
        {
            <div class="g-col-12 g-col-xl-3" itemscope itemtype="https://schema.org/Person">
                <div class="card h-100 text-center shadow-sm m-auto" style="max-width: fit-content;">
                    <div class="card-body">
                        @if(user.TryGetImageFile(out ImageFileViewModel image))
                        {
                            <figure class="mb-4">
                                <img src="@image.ToGetImage(new(){ Width = 100, Ratio = "1/1" })" alt="@user.Name" class="img-thumbnail rounded-circle" itemprop="image"/>
                            </figure>
                        }
                        <div class="mb-2 fs-7">
                            @if(!string.IsNullOrEmpty(user.Name))
                            {
                                <h4 class="mb-0 h5" itemprop="name">@user.Name</h4>
                            }
                            @if(!string.IsNullOrEmpty(user.JobTitle))
                            {
                                <p class="mb-0 text-body text-opacity-75" itemprop="jobTitle">@user.JobTitle</p>
                            }
                            @if(!string.IsNullOrEmpty(user.Department))
                            {
                                <p class="mb-0 text-body text-opacity-75" itemprop="department">@user.Department</p>
                            }
                            @if(!string.IsNullOrEmpty(user.Company))
                            {
                                <p class="mb-0 text-body text-opacity-75" itemprop="worksFor">@user.Company</p>
                            }
                            @if(!string.IsNullOrEmpty(user.Country))
                            {
                                <p class="mb-0 text-body text-opacity-75" itemprop="country">@user.Country</p>
                            }
                            <div class="border-top mx-auto my-3" style="max-width: 5rem;"></div>
                            @if(!string.IsNullOrEmpty(user.Email))
                            {
                                <a href="mailto:@user.Email" itemprop="email">
                                    <span class="d-block pb-1">@user.Email</span>
                                </a>
                            }
                            @if(!string.IsNullOrEmpty(user.PhoneBusiness))
                            {
                                <a href="tel:@user.PhoneBusiness" itemprop="telephone">
                                    <span class="d-block">@user.PhoneBusiness</span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    if (Model.PageCount > 1)
    {
        <form class="p-3 mt-3">
            <input type="hidden" name="search" value="@searchTerm" />
            <ul class="pagination m-0">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    var active = (i == Model.CurrentPage) ? "active" : string.Empty;
                    <li class="page-item @active">
                        <button type="submit" class="page-link" name="PageNum" value="@i">@i</button>
                    </li>
                }
            </ul>
        </form>
    }
}
else
{
    <div class="card alert alert-info text-center mt-3" role="alert">
        @Translate("No employees found")
    </div>
}
