@inherits ViewModelTemplate<UserListViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Security.UserManagement

@{
    string searchTerm = Dynamicweb.Context.Current?.Request.Params.Get("search") ?? string.Empty;
}


<div class="grid type-ahead-dropdown position-relative mb-4">
    <div class="g-col-12 g-col-lg-8">
        @if(UserContext.Current.ImpersonatingUser == null) 
        {
            <h2 class="h4 mb-0">@Translate("Impersonate customer")</h2>
        } else {
            <div class="hstack gap-3">
                <h2 class="h4 mb-0">
                    <span class="fw-bold">@Translate("You are impersonating"):</span> 
                    <span>@Pageview.User.Name</span>
                </h2>
                <a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="btn btn-danger btn-sm" data-dw-button>
                    @Translate("Stop")
                </a>
            </div>
        }
    </div>
    <div class="g-col-12 g-col-lg-4">
        <form method="get" class="suggest-form">
            <div class="hstack mb-3">
                <label for="Search_@Pageview.CurrentParagraph.ID" class="visually-hidden">@Translate("Search for customer")</label>
                <span class="position-absolute icon-2 reset-search px-3">
                    @ReadFile("/Files/Images/Icons/magnifying-glass.svg")
                </span>
                <input id="Search_@Pageview.CurrentParagraph.ID"
                        type="search"
                        class="form-control form-control-sm rounded-pill type-ahead-field py-2 ps-5 pe-5"
                        placeholder="@Translate("Search for customer")"
                        aria-label="@Translate("Search for customer")"
                        aria-describedby="Search_@Pageview.CurrentParagraph.ID"
                        name="search"
                        value="@searchTerm">

                <button type="button"
                        onclick="var f = document.getElementById('Search_@Pageview.CurrentParagraph.ID'); f.value = ''; f.focus(); f.closest('form').submit();"
                        class="btn position-absolute end-0 icon-2 reset-search"
                        aria-label="@Translate("Clear search field")"
                        style="opacity: 0; visibility: hidden;">
                    @ReadFile("/Files/Images/Icons/xmark.svg")
                </button>
            </div>
        </form>
    </div>
</div>

@if (Model.Users.Count() > 0)
{
    <table class="table d-none d-lg-table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>@Translate("Customer")</th>
                <th>@Translate("Customer number")</th>
                <th>@Translate("Address")</th>
                <th>@Translate("Email")</th>
                <th></th>
            </tr>
        </thead>

        <tbody class="border-top-0">
            @foreach (var user in Model.Users)
            {
                string address = $"{user.Address}, {user.Zip} {user.City}, {user.Country}";

                <tr>
                    <td>@user.Name</td>
                    <td>@user.CustomerNumber</td>
                    <td>@address</td>
                    <td>@user.Email</td>
                    <td class="text-end">
                        @if (Pageview.User.ID != user.ID)
                        {
                            <form method="get">
                                <input type="hidden" name="NowImpersonating" value="true" />
                                <button type="submit" name="DWExtranetSecondaryUserSelector" value="@user.ID" class="btn btn-sm btn-secondary w-100" data-dw-button="secondary">
                                    @Translate("Impersonate")
                                </button>
                            </form>
                        }
                        else
                        {
                            <a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="btn btn-sm btn-danger w-100" data-dw-button>
                                @Translate("Stop")
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-block d-lg-none">
        @foreach (var user in Model.Users)
        {
            <div class="card mb-3">
                <div class="card-body p-3">
                    <h5 class="card-title">
                        @user.Name
                    </h5>
                    <div class="card-text">
                        <div>@user.CustomerNumber</div>
                        <div>@user.Address</div>
                        <div>@user.Zip, @user.City</div>
                        <div>@user.Country</div>
                        <div>@user.Email</div>
                        @if (Pageview.User.ID != user.ID)
                        {
                            <form method="get" class="mt-3">
                                <input type="hidden" name="NowImpersonating" value="true" />
                                <button type="submit" name="DWExtranetSecondaryUserSelector" value="@user.ID" class="btn btn-sm btn-secondary w-100" data-dw-button="secondary">
                                    @Translate("Impersonate")
                                </button>
                            </form>
                        }
                        else
                        {
                            <a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="btn btn-sm btn-danger w-100 mt-3" data-dw-button>
                                @Translate("Stop")
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    if (Model.PageCount > 1)
    {
        <form class="mt-3">
            <input type="hidden" name="search" value="@searchTerm" />
            <ul class="pagination m-0">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    var active = (i == Model.CurrentPage) ? "active" : string.Empty;
                    <li class="page-item @active">
                        <button type="submit" class="page-link" name="PageNum" value="@i">@i</button>
                    </li>
                }
            </ul>
        </form>
    }
}
else
{
    <div class="alert alert-info text-center mt-3" role="alert">
        @Translate("No users found")
    </div>
}
