@inherits ViewModelTemplate<UserListViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Security.UserManagement

@{
    string searchTerm = Dynamicweb.Context.Current?.Request.Params.Get("search") ?? string.Empty;
    string baseUrl = SearchEngineFriendlyURLs.GetFriendlyUrl($"default.aspx?ID={Pageview.ID}");
}

<header class="hstack gap-3 mb-4">
    <div class="vstack gap-1 flex-fill">
        <h1 class="h4 mb-0">@(Pageview.Page.GetDisplayName())</h1>
        <p class="card-text opacity-50 fs-7">
            @if(UserContext.Current.ImpersonatingUser == null) 
            {
                @Translate("Impersonate and shop on behalf of")
            }
            else
            {
                @Translate("You are shopping on behalf of") @Pageview.User?.Name
            }
        </p>
    </div>
    @if(UserContext.Current.ImpersonatingUser != null) 
    {
        <a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="btn btn-danger text-light d-flex justify-content-center">
            <span class="icon-2 me-2">
                @ReadFile("/Files/Images/Icons/stop.svg")
            </span>
            <span>@Translate("Stop")</span>
        </a>
    }
</header>

<nav class="hstack gap-2 mb-3">
    <form class="flex-fill"
        hx-get="@(baseUrl)"
        hx-trigger="keyup delay:1s, change" 
        hx-swap="outerHTML"
        hx-target="[data-swift-order-state-filter]"
        hx-select="[data-swift-order-state-filter]"
        hx-replace-url="true"
        hx-include='[name="FilterOrderStateId"]'
    >
        <div class="input-group">
            <span class="input-group-text border-end-0 bg-body">
                <span class="htmx-indicator spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span class="icon-2" data-swift-indicator-origin>@ReadFile("/Files/Images/Icons/magnifying-glass.svg")</span>
            </span>
            <input type="text" class="form-control border-start-0 border-end-0" name="search" value="@searchTerm" placeholder="@Translate("Search for customer")...">
            <button type="reset" class="input-group-text border-start-0 bg-body" hx-on:click="this.closest('form').dispatchEvent(new Event('change', { bubbles: true }))">
                <span class="icon-2">@ReadFile("/Files/Images/Icons/xmark.svg")</span>
                <span class="visually-hidden">@Translate("Clear search")</span>
            </button>
        </div>
    </form>
</nav>

<div class="card overflow-hidden">
    <div class="table-responsive" style="margin-bottom:-1px;" 
        x-data="{
            sortBy: '@(Dynamicweb.Context.Current?.Request.QueryString.Get("SortBy") ?? "CreatedAt")',
            sortOrder: '@(Dynamicweb.Context.Current?.Request.QueryString.Get("SortOrder") ?? "desc")',
            sort(val) {
                if(this.sortBy === val) {
                    this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc';
                } else {
                    this.sortBy = val;
                }
                this.$refs.sortForm.SortBy.value = this.sortBy;
                this.$refs.sortForm.SortOrder.value = this.sortOrder;
                this.$refs.sortForm.dispatchEvent(new Event('change', { bubbles: true }));
            }
        }"
    >
        <table class="table table-md table-hover mb-0 align-middle fs-7" style="--bs-table-color: var(--bs-body-color);" hx-swap-oob="true outerHTML:[data-swift-order-list]" data-swift-order-list>
            <thead style="--bs-table-bg: rgba(var(--bs-body-color-rgb), .0275); --bs-table-color: rgba(var(--bs-body-color-rgb), 0.5);">
                <tr>
                    <th>
                        <form x-ref="sortForm" 
                            hx-get="@(baseUrl)" 
                            hx-swap="none" 
                            hx-replace-url="true" 
                            hx-trigger="change"
                            hx-include='[name="search"],[name="PageNum"]'
                        >
                            <input type="hidden" name="SortBy" :value="sortBy">
                            <input type="hidden" name="SortOrder" :value="sortOrder">
                        </form>
                        <span role="button" class="hstack gap-1 ms-3" @@click="sort('Id')">
                            @Translate("Number")
                            <span x-show="sortBy === 'Id'">
                                <span x-text="sortOrder === 'asc' ? '↑' : '↓'"></span>
                            </span>
                        </span>
                    </th>
                    <th>@Translate("Customer")</th>
                    <th>@Translate("Address")</th>
                    <th>@Translate("Email")</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="border-top-0">
                @foreach (var user in Model.Users)
                {
                    string address = $"{user.Address}, {user.Zip} {user.City}, {user.Country}";

                    <tr>
                        <td>
                            <span class="ms-3">@user.CustomerNumber</span>
                        </td>
                        <td>@user.Name</td>
                        <td>@address</td>
                        <td>@user.Email</td>
                        <td class="text-end">
                            @if (Pageview.User.ID != user.ID)
                            {
                                <form method="get">
                                    <input type="hidden" name="NowImpersonating" value="true" />
                                    <button type="submit" name="DWExtranetSecondaryUserSelector" value="@user.ID" class="btn btn-sm btn-secondary w-100" data-dw-button="secondary">
                                        @Translate("Impersonate")
                                    </button>
                                </form>
                            }
                            else
                            {
                                <a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" title="@Translate("Stop impersonation")" class="btn btn-sm btn-danger text-light w-100 d-flex justify-content-center" data-dw-button>
                                    <span class="icon-2 me-2">
                                        @ReadFile("/Files/Images/Icons/stop.svg") 
                                    </span>
                                    @Translate("Stop")
                                </a>
                            }
                        </td>
                    </tr>
                }

                @if( Model.Users.Count() < 1 )
                {
                    <tr class="position-relative">
                        <td colspan="8">
                            <div class="d-grid py-4">
                                <span class="m-auto">
                                    <div class="d-grid rounded-circle m-auto" style="width:4rem;aspect-ratio:1;background-color:rgba(var(--bs-body-color-rgb), .0275);">
                                        <span class="icon-4 text-body text-opacity-50">
                                            @ReadFile("/Files/Images/Icons/file-contract.svg")
                                        </span>
                                    </div>
                                    <div class="mt-3">@Translate("No users found")</div>
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div hx-swap-oob="true outerHTML:[data-swift-order-list-pagination]" data-swift-order-list-pagination>
    @if (Model.PageCount > 1)
    {
        <form class="mt-3">
            <ul class="pagination m-0">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    var active = (i == Model.CurrentPage) ? "active" : string.Empty;
                    <li class="page-item @active">
                        <button type="submit"
                                class="page-link"
                                name="PageNum"
                                value="@i"
                                aria-label="@Translate("Go to page") @i"
                                @(active == "active" ? "aria-current=\"page\"" : "")>
                            @i
                        </button>
                    </li>
                }
            </ul>
        </form>
    }
</div>