@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System.IO
@using Dynamicweb.Frontend

@if(Model.Item.TryGetVideo("VideoSource", out VideoViewModel video)) {
		
	<swift-video-player itemscope itemtype="https://schema.org/VideoObject">
		<figure class="m-0 ratio ratio-16x9">
			<span class="visually-hidden" itemprop="name">@video.Name</span>
			<span class="visually-hidden" itemprop="contentUrl">@video.Path</span>
			<span class="visually-hidden" itemprop="thumbnailUrl">@video.Thumbnail</span>

			@if (video.IsExternalLink())
			{
				<iframe src="@video.ToEmbedUrl()" title="@video.Name" frameborder="0" allow="fullscreen; picture-in-picture; autoplay; clipboard-write; encrypted-media; web-share"></iframe>
			}
			else
			{
				<video preload="auto" swift-video poster="@video.Thumbnail">
					<source src="@(video.Path)" type="video/@Path.GetExtension(video.Path).ToLower().Replace(".", string.Empty)">
				</video>
				<button type="button" swift-video-play-btn></button>
			}
		</figure>
	</swift-video-player>
}
