@inherits ViewModelTemplate<ProductListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog

@{ 
	string detailsPageLink = Pageview.CurrentParagraph.Item["ProductDetailsPage"] != null ? Pageview.CurrentParagraph.Item["ProductDetailsPage"].ToString() : "#";

	string ratioCssClass = "";
	string ratioVariable = "";

	if (Pageview?.CurrentParagraph?.Item["ImageAspectRatio"] != null) {
		ratioCssClass = Pageview.CurrentParagraph.Item["ImageAspectRatio"].ToString() != "0" && Pageview.CurrentParagraph.Item["ImageAspectRatio"].ToString() != "" ? "ratio" : "";
		ratioVariable = Pageview.CurrentParagraph.Item["ImageAspectRatio"].ToString() != "0" && Pageview.CurrentParagraph.Item["ImageAspectRatio"].ToString() != "" ? "style=\"--bs-aspect-ratio: " + Pageview.CurrentParagraph.Item["ImageAspectRatio"].ToString() + "\"" : "";
	}
}

<div class="js-slider d-flex">
	@foreach (var product in Model.Products)
	{
		string link = detailsPageLink + "&amp;ProductID=" + product.Id;
		link += !string.IsNullOrEmpty(product.VariantId) ? "&amp;VariantID=" + product.VariantId : "";

		string imagePath = product?.DefaultImage.Value.ToString() ?? "";
		imagePath = "/Admin/Public/GetImage.ashx?width=" + 1050 + "&height=" + 1050 + "&image=" + imagePath + "&crop=5&FillCanvas=true&Format=WebP&Quality=100";

		<div>
			<div class="card rounded-0 h-100">
				<div class="@ratioCssClass" @ratioVariable>
					<img loading="lazy" src="@imagePath" class="card-img rounded-0 h-100 w-100" style="object-fit: contain;" title="@product.Name" alt="@product.Name" />
				</div>
				<div class="card-body d-flex flex-column h-100 justify-content-end">
					<div>
						<h4 class="h6">
							<a class="stretched-link text-decoration-none" href="@link">@product.Name @product.VariantId</a>
						</h4>
					</div>
					<p class="h5 fw-bold">@product.Price.PriceFormatted</p>
				</div>
			</div>
		</div>
	}
</div>
