@inherits ViewModelTemplate<ProductListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Web

@{ 
	string headingTitle = !string.IsNullOrEmpty(HttpContext.Current.Request.Form["HeadingTitle"]) ? HttpContext.Current.Request.Form["HeadingTitle"].ToString() : "";
	string detailsPageLink = !string.IsNullOrEmpty(HttpContext.Current.Request.Form["ProductDetailsPage"]) ? HttpContext.Current.Request.Form["ProductDetailsPage"].ToString() : "#";

	string ratio = !string.IsNullOrEmpty(HttpContext.Current.Request.Form["ImageAspectRatio"]) ? HttpContext.Current.Request.Form["ImageAspectRatio"].ToString() : "";
	string ratioCssClass = ratio != "" ? "ratio" : "";
	string ratioVariable = ratio != "" ? "--bs-aspect-ratio: " + ratio : "";

	string theme = !string.IsNullOrEmpty(HttpContext.Current.Request.Form["Theme"]) ? HttpContext.Current.Request.Form["Theme"].ToString() : "";
	string contentPadding = !string.IsNullOrEmpty(HttpContext.Current.Request.Form["ContentPadding"]) ? HttpContext.Current.Request.Form["ContentPadding"].ToString() : "";
	string hideNavigationBar = !string.IsNullOrEmpty(HttpContext.Current.Request.Form["HideNavigationBar"]) ? HttpContext.Current.Request.Form["HideNavigationBar"].ToString() : "false";
}

@if (headingTitle != "") {
	<div class="pt-5 pb-2 pt-lg-6 pb-lg-4">
		<h2 class="display-4">@Translate(headingTitle)</h2>
	</div>
}

<div class="js-slider d-flex" data-hide-navigation-bar="@hideNavigationBar.ToLower()">
	@foreach (var product in Model.Products)
	{
		string link = detailsPageLink + "&amp;ProductID=" + product.Id;
		link += !string.IsNullOrEmpty(product.VariantId) ? "&amp;VariantID=" + product.VariantId : "";

		string imagePath = product?.DefaultImage.Value.ToString() ?? "";
		imagePath = "/Admin/Public/GetImage.ashx?width=" + 1050 + "&height=" + 1050 + "&image=" + imagePath + "&crop=5&FillCanvas=true&Format=WebP&Quality=100";

		<div>
			<div class="card rounded-0 h-100 @contentPadding@(theme)">
				<div class="@ratioCssClass mb-3" style="@ratioVariable">
					<img loading="lazy" src="@imagePath" class="card-img rounded-0 h-100 w-100" style="object-fit: contain;" title="@product.Name" alt="@product.Name" />
				</div>
				<div class="card-body p-0 d-flex flex-column h-100 justify-content-end">
					<div>
						<h4 class="h6">
							<a class="stretched-link text-decoration-none" href="@link">@product.Name @product.VariantId</a>
						</h4>
					</div>
					<p class="h5 fw-bold">@product.Price.PriceFormatted</p>
				</div>
			</div>
		</div>
	}
</div>
