@inherits ViewModelTemplate<ParagraphViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Frontend

@{
    var widgetTitle = Model?.Item?.GetString("Title") ?? Translate("Spent this month");
    var baseUrl = string.Empty;
    var icon = "/Files/Images/Icons/dollar.svg";
    
    if((Model?.Item?.TryGetLink("BaseLink", out var baseLinkViewModel) ?? false)) {
        baseUrl = baseLinkViewModel.Url;
        var basePageId = baseLinkViewModel?.PageId ?? 0;
        var basePage = Dynamicweb.Content.Services.Pages.GetPage(basePageId);
        var basePageIcon = basePage?.Icon;
        icon = !string.IsNullOrEmpty(basePageIcon) ? basePageIcon : icon;
    }    

    var ToDate = DateTime.UtcNow;
    var FromDate = ToDate.AddDays(1 - ToDate.Day).Date;
}

<div class="card h-100" style="--swift-content-padding: 1.25rem;">
    <div class="card-body">
        <div class="hstack flex-wrap gap-2 mb-2">
            <div class="d-grid p-2 rounded-2 bg-success bg-opacity-10">
                <span class="icon fs-5 text-success">@ReadFile(icon)</span>
            </div>
            <span class="fs-7 fw-semibold text-body text-opacity-75">@(widgetTitle)</span>
        </div>
        <div data-swift-htmx-widget="@(Model?.ID)"
            hx-get="/dwapi/ecommerce/orders/search?Type=order&PageSize=999"
            hx-vals='{"FromCompletedDate": "@(FromDate.ToString("yyyy-MM-dd"))"}'
            hx-headers='{"x-dw-template": "/Designs/Swift-v2/Paragraph/Swift-v2_CustomerCenter_Dashboard/Numbers/MonthlySpent.cshtml", "accept": "text/html", "x-dw-culture": "@(Pageview?.Area?.CultureInfo?.Name)"}'
            hx-ext="swift-auth"
            hx-trigger="tokenFetched.swift.authentication from:body"
            hx-swap="innerHTML">
            @RenderPartial("/Designs/Swift-v2/Paragraph/Swift-v2_CustomerCenter_Dashboard/Numbers/Skeleton.cshtml")
        </div>
    </div>
</div>