@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.VideoViewModel>
@using System.IO;
@using Dynamicweb.Frontend

@if(!string.IsNullOrEmpty(Model.Path)) {		
	<swift-video-player itemscope itemtype="https://schema.org/VideoObject">
		<figure class="m-0 ratio ratio-16x9">
			<span class="visually-hidden" itemprop="name">@Model.Name</span>
			<span class="visually-hidden" itemprop="contentUrl">@Model.Path</span>
			<span class="visually-hidden" itemprop="thumbnailUrl">@Model.Thumbnail</span>
			@if (Model.IsExternalLink())
			{
				<iframe src="@Model.ToEmbedUrl()" title="@Model.Name" frameborder="0" allow="fullscreen; picture-in-picture; autoplay; clipboard-write; encrypted-media; web-share"></iframe>
			}
			else
			{
				<video preload="auto" swift-video poster="@Model.Thumbnail">
					<source src="@Model.Path" type="@Model.GetVideoType()">
				</video>
				<button type="button" swift-video-play-btn></button>
			}
		</figure>
	</swift-video-player>
}
