
<style>
	.result-item {
		line-height: 100%;
	}

	.result-item table {
    	border-collapse: collapse;
  	}
  	.result-item table td {
    	border: 1px solid rgba(69, 65, 65, 0.29);
  	}

	.result-item table td.name
	{
		width: 150px;
	}

	.result-item table td.value
	{
		width: 300px;
	}

</style>

<div>
    <h4>Facet Groups</h4>
	@foreach (var facetGroup in GetLoop("FacetGroups"))
	{
		<ul>
			@foreach (var facet in facetGroup.GetLoop("Facets"))
			{
				<li>
					Facet.Name = @facet.GetValue("Facet.Name")<br />
                  	Facet.QueryParameter = @facet.GetValue("Facet.QueryParameter")<br />
                  	Facet.Field = @facet.GetValue("Facet.Field")<br />
                  	Facet.Type = @facet.GetValue("Facet.Type")<br />
                  	Facet.Value = @facet.GetValue("Facet.Value")<br />

                  	<select>
                  		@foreach (var opt in facet.GetLoop("FacetOptions"))
                  		{
                  			<option value="@opt.GetValue("FacetOption.Value")" selected="@opt.GetValue("FacetOption.Selected")">@opt.GetValue("FacetOption.Label")</option>
                  		}
                  	</select>
				</li>
			}
		</ul>
	}

	<h4>Parameters</h4>
	<ul>
		@foreach (var parameter in GetLoop("Parameters"))
		{
			<li>
				@parameter.GetValue("Name") = @parameter.GetValue("Value")
			</li>
		}
	</ul>

	<h4>QueryResult</h4>
	<ul>
	@foreach (var result in GetLoop("QueryResultItem"))
	{
		<li class="result-item">
			<table>
				@foreach (var prop in result.GetLoop("Properties"))
				{
					<tr>
						<td class="name">@prop.GetValue("Name")</td>
						<td class="value">@prop.GetValue("Value")</td>
					</tr>
				}
			</table>
		</li>
	}
	</ul>
</div>
<div id="productlistnavigation">
    <span id="pagecount">
        Page @GetValue("DwPaging.CurrentPage") of @GetValue("DwPaging.PageCount")
    </span>
    <span id="pagenavigation">
	    @if(GetInteger("DwPaging.PageCount") > 1)
	    {
	    	if(GetInteger("DwPaging.CurrentPage") > 1)
		    {
		    	<a href="@GetValue("DwPaging.PreviousPageLink")">Previous</a>
		    }
		    if(GetInteger("DwPaging.CurrentPage") < GetInteger("DwPaging.PageCount"))
		    {
		    	<a href="@GetValue("DwPaging.NextPageLink")">Next</a>
		    }
	    }
    </span>
</div>



