@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Collections.Generic

@{
	var groups = GetViewParameter("Groups") as List<Dictionary<string, List<FieldValueViewModel>>>;
	string title = GetViewParameterString("Title");
	bool hideGroupHeaders = GetViewParameterBoolean("HideGroupHeaders");
	bool hideLabels = GetViewParameterBoolean("HideFieldLabels");
	bool hideTitle = GetViewParameterBoolean("HideTitle");
	string titleFontSize = GetViewParameterString("TitleFontSize");
	string size = GetViewParameterString("Size");
	string listSize = size == "full" ? "" : "m-0 p-0 lh-1 fs-7 opacity-75";
	string listStyle = size == "full" ? "" : "style=\"list-style-position: inside\"";

	if (!hideTitle)
	{
		<h2 class="g-col-12 @titleFontSize">@Model.Item.GetString("Title")</h2>
	}

	<div class="g-col-12">
		@foreach (var group in groups)
		{
			var fields = group.First().Value;
			string groupName = group.First().Key;

			if (!hideGroupHeaders)
			{
				<h3>@groupName</h3>
			}

			<ul class="@listSize" @listStyle>
				@foreach (var field in fields)
				{

					<li>
						@if (!hideLabels)
						{
							<strong>@field.Name: </strong>
						}
						<span>@RenderPartial("Paragraph/Swift_ProductSpecification/FieldValue.cshtml", field)</span>
					</li>

				}
			</ul>

		}
	</div>
}
