@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Collections.Generic

@{
	var groups = GetViewParameter("Groups") as List<Dictionary<string, List<FieldValueViewModel>>>;
	string title = GetViewParameterString("Title");
	bool hideGroupHeaders = GetViewParameterBoolean("HideGroupHeaders");
	bool hideLabels = GetViewParameterBoolean("HideFieldLabels");
	bool hideTitle = GetViewParameterBoolean("HideTitle");
	string titleFontSize = GetViewParameterString("TitleFontSize");
	string gapCss = GetViewParameterString("GapCss");

	if (!hideTitle)
	{
		<h2 class="g-col-12 @titleFontSize">@title</h2>
	}

	<div class="g-col-12">
		@foreach (var group in groups)
		{
			string groupName = group.First().Key;
			var fields = group.First().Value;

			if (!hideGroupHeaders)
			{
				<h3>@groupName</h3>
			}

			<dl class="grid @(gapCss)">
				@foreach (var field in fields)
				{
					<dt class="g-col-4">@(!hideLabels ? field.Name : string.Empty)</dt>

					<dd class="g-col-8 mb-0 text-break">@RenderPartial("Paragraph/Swift_ProductSpecification/FieldValue.cshtml", field)</dd>
				}
			</dl>
		}
	</div>
}
