@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb

@{
	var themeRaw = Pageview.CurrentParagraph.Item["Theme"]?.ToString();
	string theme = !string.IsNullOrEmpty(themeRaw) ? " theme " + themeRaw.Replace(" ", "").Trim().ToLower() : "";
}

<div class="grid gap-0" id="Cart">

	<header class="g-col-12">
		@RenderPageHeader()
	</header>

	<div class="g-col-12 g-col-lg-8 pe-lg-5 pb-md-5">

		@RenderErrors()

		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			<header class="py-2 pt-lg-5 border-bottom d-none d-lg-block">
				<div class="grid" style="line-height: 1;">
					<div class="g-col-2">@Translate("Product")</div>
					<div class="g-col-9 grid">
						<div class="g-col-2 g-start-8">@Translate("Quantity")</div>
					</div>
					<div class="g-col-1 text-end">@Translate("Total")</div>
				</div>
			</header>

			@RenderOrderLines()

			<div class="d-none d-lg-block">
				@RenderCartNavigation()
			</div>

		</form>
	</div>

	<aside class="g-col-12 g-col-lg-4 position-relative">
		<div class="p-3 p-lg-5 pb-lg-4@(theme)">
			<header>
				<h4 class="fs-6 fw-normal mb-2">@Translate("Order summary")</h4>
			</header>
			@RenderOrderSummary()
			<div class="d-block d-lg-none">
				@RenderCartNavigation()
			</div>
		</div>

	</aside>

</div>

@helper RenderPageHeader()
{
	<div class="pb-3 pb-lg-0 pt-3 pt-lg-5">
		<h1 class="h3 mb-2">@Translate("Shopping Cart")</h1>
		<p class="mb-0"><span>@Translate("Items in your shopping cart"):</span> <span>@GetString("Ecom:Order.OrderLines.TotalProductQuantity")</span></p>
	</div>
}

@helper RenderOrderLines()
{
	foreach (LoopItem orderline in GetLoop("OrderLines"))
	{
		@RenderOrderLineItem(orderline)
	}

	<script>
		function debounce(func, wait, immediate) {
			var timeout;
			return function () {
				var context = this, args = arguments;
				var later = function () {
					timeout = null;
					if (!immediate) func.apply(context, args);
				};
				var callNow = immediate && !timeout;
				clearTimeout(timeout);
				timeout = setTimeout(later, wait);
				if (callNow) func.apply(context, args);
			};
		};

		var UpdateQuantity = debounce(function () {
			document.querySelector("#ordersubmit").submit();
		}, 300);
	</script>
}

@helper RenderCartNavigation()
{
	bool anonymousUser = Pageview.User == null;
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	int currentUserId = Dynamicweb.Core.Converter.ToInt32(GetGlobalValue("Global:Extranet.UserID"));
	string shopPageId = Pageview.CurrentParagraph.Item["ShopPageLink"] != null ? Pageview.CurrentParagraph.Item["ShopPageLink"].ToString() : "";
	string checkoutAnonymousPageId = Pageview.CurrentParagraph.Item["CheckoutAnonymousPageLink"] != null ? Pageview.CurrentParagraph.Item["CheckoutAnonymousPageLink"].ToString() : "";
	string checkoutSignedInPageId = Pageview.CurrentParagraph.Item["CheckoutSignedInPageLink"] != null ? Pageview.CurrentParagraph.Item["CheckoutSignedInPageLink"].ToString() : "";
	string checkoutPageId = currentUserId == 0 ? checkoutAnonymousPageId : checkoutSignedInPageId;
	string quoteCheckoutPageId = Pageview.CurrentParagraph.Item["QuoteCheckoutPageLink"] != null ? Pageview.CurrentParagraph.Item["QuoteCheckoutPageLink"].ToString() : "";

	<div class="align-items-center d-grid d-lg-flex gap-2 justify-content-lg-end mt-lg-4">

		<a href="Default.aspx?ID=@shopPageId" class="btn btn-link link-secondary text-decoration-none me-lg-3 order-last order-lg-first swift_cartbackbutton">
			<span class="d-flex align-items-center justify-content-center position-relative">
				<span class="icon-2 me-1 position-absolute position-lg-static start-0">
					@ReadFile(iconPath + "chevron-left.svg")
				</span>
				<span>@Translate("Continue shopping")</span>
			</span>
		</a>

		@if (!string.IsNullOrEmpty(quoteCheckoutPageId) && !anonymousUser) {
			<a href="Default.aspx?ID=@quoteCheckoutPageId" class="btn btn-secondary">
				<span class="d-flex align-items-center justify-content-center position-relative">
					<span>@Translate("Request quote")</span>
					<span class="icon-2 ms-1 position-absolute position-lg-static end-0">
						@ReadFile(iconPath + "chevron-right.svg")
					</span>
				</span>
			</a>
		}

		<a href="Default.aspx?ID=@checkoutPageId" class="btn btn-primary swift_cartcheckoutbutton">
			<span class="d-flex align-items-center justify-content-center position-relative">
				<span>@Translate("Checkout")</span>
				<span class="icon-2 ms-1 position-absolute position-lg-static end-0">
					@ReadFile(iconPath + "chevron-right.svg")
				</span>
			</span>
		</a>

	</div>
}

@Include("Helpers/Errors.cshtml")
@Include("Helpers/OrderLineItem.cshtml")
@Include("Helpers/OrderSummary.cshtml")
@Include("Helpers/VoucherForm.cshtml")
