@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb

@{
	var themeRaw = Pageview.CurrentParagraph.Item["Theme"]?.ToString();
	string theme = !string.IsNullOrEmpty(themeRaw) ? " theme " + themeRaw.Replace(" ", "").Trim().ToLower() : "";

	string shopPageId = Pageview.CurrentParagraph.Item["ShopPageLink"] != null ? Pageview.CurrentParagraph.Item["ShopPageLink"].ToString() : "";

	var ecomLanguages = Dynamicweb.Ecommerce.Services.Languages.GetLanguages();
	var assetGroups = Dynamicweb.Ecommerce.Services.DetailsGroups.GetGroups();

	List<string> productIds = new List<string>();

	string confirmationPage = Pageview.CurrentParagraph.Item["ConfirmationPageLink"] != null ? Pageview.CurrentParagraph.Item["ConfirmationPageLink"].ToString() : "";

	int languageCount = 0;
}

@if (GetLoop("OrderLines").Count > 0) { 
	<div class="grid gap-0 theme">
		<header class="g-col-12 mb-4">
			<div class="pb-3 pb-lg-0 pt-3 pt-lg-5">
				<h1 class="h3 mb-2">@Translate("Downloads")</h1>
				<p>@Translate("You can get relevant product data and assets such as product images and documents")</p>
				<p class="mb-0"><span>@Translate("Products ready to download"):</span> <span>@GetString("Ecom:Order.OrderLines.TotalProductQuantity")</span></p>
			</div>
		</header>

		<section class="g-col-12 g-col-lg-8 pe-lg-5 pb-md-5">
			<header class="g-col-12 py-2 d-none d-lg-block">
				<div class="grid gap-2 lh-1">
					<div class="g-col-1"></div>
					<div class="g-col-3">@Translate("Number")</div>
					<div class="g-col-6">@Translate("Product")</div>
					<div class="g-col-2 text-end">
						<a href="@GetString("Ecom:Cart.EmptyCartLink")" title="@Translate("Remove all")">@Translate("Remove all")</a>
					</div>
				</div>
			</header>

			<header class="py-2 border-bottom d-block d-lg-none">
				<a href="@GetString("Ecom:Cart.EmptyCartLink")" title="@Translate("Remove all")">@Translate("Remove all")</a>
			</header>

			@foreach (LoopItem orderline in GetLoop("OrderLines"))
			{
				string name = orderline.GetString("Ecom:Order:OrderLine.ProductName");
				string number = orderline.GetString("Ecom:Order:OrderLine.ProductNumber");
				string image = "/Admin/Public/GetImage.ashx?width=" + 180 + "&height=" + 180 + "&image=" + orderline.GetString("Ecom:Product.PrimaryImage") + "&FillCanvas=true&&Format=WebP&Quality=100";

				string removeFromBasketLink = orderline.GetString("Ecom:Order:OrderLine.DeleteLink");

				string primaryGroupId = orderline.GetString("Ecom:Order:OrderLine.PrimaryOrDefaultGroupId");
				string productId = orderline.GetString("Ecom:Order:OrderLine.ProductID");
				string variantId = orderline.GetString("Ecom:Order:OrderLine.ProductVariantID");

				string link = "Default.aspx?ID=" + GetPageIdByNavigationTag("Shop");
				link += $"&GroupID={primaryGroupId}";
				link += $"&ProductID={productId}";
				link += !string.IsNullOrEmpty(variantId) ? $"&VariantID={variantId}" : "";
				link = Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(link);

				if (orderline.GetBoolean("Ecom:Order:OrderLine.IsProduct")) {
					<article class="grid grid-10 grid-lg-12 gap-2 g-col-12 align-items-center align-items-lg-center mb-1">
						<div class="g-col-12 border-top"></div>

						<div class="g-col-1">
							<a href="@link" tabindex="-1">
								<img class="img-fluid" src="@image" height="60" width="60" alt="@name">
							</a>
						</div>

						<div class="g-col-7 g-col-lg-9 grid grid-9 gap-0 gap-lg-3 lh-1">
							<div class="g-col-4 g-col-lg-3 order-1">
								<span class="fs-8 fs-lg-6"><a href="@link"  tabindex="-1" class="text-decoration-none text-decoration-underline-hover">@number</a></span>
							</div>

							<div class="g-col-5 g-col-lg-6 order-2 lh-1">
								<span class="fs-8 fs-lg-6"><a href="@link"  tabindex="-1" class="text-decoration-none text-decoration-underline-hover">@name</a></span>
							</div>
						</div>

						<div class="g-col-2 g-col-lg-2 text-end">
							<a href="@removeFromBasketLink" alt="@Translate("Remove")">@Translate("Remove")</a>
						</div>
					</article>

					productIds.Add(orderline.GetString("Ecom:Order:OrderLine.ProductID"));
				}
			}
		</section>

		@if (!string.IsNullOrEmpty(confirmationPage)) { 
			<aside class="g-col-12 g-col-lg-4 position-relative">
				<div class="p-3 p-lg-5 pb-lg-4@(theme)">
					<form action="/dwapi/ecommerce/products/export" class="sticky-receipt js-product-export-form">
						<input type="hidden" name="ShopId" value="@Pageview.Area.EcomShopId" />
						<input type="hidden" name="Template" value="/Files/Templates/Designs/Swift/eCom/ProductCatalog/ExportProductsMail.cshtml" />

						<div class="mb-2">
							<h3 class="h5">@Translate("Product information")</h3>
							<div>@Translate("Select a language and format for your product file")</div>
						</div>

						<div class="mb-3">
							<div class="mb-1">@Translate("Language")</div>
							<div class="dropdown bg-white js-dropdown">
								<button class="form-select text-start w-100 js-dropdown-btn" type="button" id="DownloadCartLanguageSelector" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
									@Translate("None")
								</button>
								<div class="dropdown-menu w-100 p-3">
									<div class="form-check" onclick="swift.ProductExport.SelectAllOptions(this);">
										<input class="form-check-input" type="checkbox" name="LanguageId" value="" id="LanguageCheckAll">
										<label class="form-check-label" for="LanguageCheckAll">
											@Translate("All")
										</label>
									</div>

									@foreach (var language in ecomLanguages)
									{
										string selected = languageCount == 0 ? "selected" : "";

										<div class="form-check" onclick="swift.ProductExport.UpdateSelector(this)">
											<input class="form-check-input" type="checkbox" name="LanguageId" data-short-name="@language.Code2" value="@language.LanguageId" id="Check_@language.LanguageId">
											<label class="form-check-label" for="Check_@language.LanguageId">
												@language.GetDisplayName() (@language.Code2)
											</label>
										</div>

										languageCount++;
									}
								</div>
							</div>
						</div>

						<div class="form-floating mb-4">
							<select class="form-select bg-white" id="DownloadCartFormatSelector" name="ExportFormat" aria-label="@Translate("Export format")">
								<option value="">@Translate("None")</option>
								<option value="json" selected>JSON</option>
								<option value="csv">CSV</option>
								<option value="xml">XML</option>
							</select>
							<label for="DownloadCartFormatSelector">@Translate("Export format")</label>
						</div>

						<div class="mb-2">
							<h3 class="h5">@Translate("Image settings")</h3>
							<div>@Translate("Select a resolution for your images")</div>
						</div>

						<div class="form-floating mb-4">
							<input type="hidden" name="Dpi" id="DownloadCartDpi" value="72" />
							<input type="hidden" name="ImageFormat" id="DownloadCartImageFormat" value="webp" />

							<select class="form-select bg-white" id="DownloadCartImageImageSettingsSelector" aria-label="@Translate("Resolution")"
									onchange="document.querySelector('#DownloadCartDpi').value = this.options[this.selectedIndex].getAttribute('data-dpi'); document.querySelector('#DownloadCartImageFormat').value = this.options[this.selectedIndex].getAttribute('data-image-format');">
								<option data-dpi="72" data-image-format="png" selected>@Translate("Web images") (png, dpi: 72)</option>
								<option data-dpi="144" data-image-format="jpg">@Translate("Print images") (jpg, dpi: 144)</option>
								<option data-dpi="300" data-image-format="jpg">@Translate("Press images") (jpg, dpi: 300)</option>
								<option data-dpi="600">@Translate("Origin images")</option>
							</select>
							<label for="DownloadCartImageFormatSelector">@Translate("Resolution")</label>
						</div>

						<div class="mb-2">
							<h3 class="h5">@Translate("Product assets")</h3>
							<div>@Translate("Optionally select additional product assets to download")</div>
						</div>

						<div class="mb-3">
							<div class="mb-1">@Translate("Image assets")</div>
							<div class="dropdown bg-white js-dropdown">
								<button class="form-select text-start w-100 js-dropdown-btn" type="button" id="DownloadCartImageAssetsSelector" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
									@Translate("None")
								</button>
								<div class="dropdown-menu w-100 p-3">
									<div class="form-check" onclick="swift.ProductExport.SelectAllOptions(this);">
										<input class="form-check-input" type="checkbox" name="AssetCategories" data-short-name="@Translate("All")" value="" id="AssetsCheckAll">
										<label class="form-check-label" for="AssetsCheckAll">
											@Translate("All")
										</label>
									</div>

									@foreach (var group in assetGroups)
									{
										<div class="form-check" onclick="swift.ProductExport.UpdateSelector(this)">
											<input class="form-check-input" type="checkbox" name="AssetCategories" data-short-name="@group.GetName(Dynamicweb.Ecommerce.Common.Context.LanguageID)" value="@group.SystemName" id="Check_@group.SystemName">
											<label class="form-check-label" for="Check_@group.SystemName">
												@group.GetName(Dynamicweb.Ecommerce.Common.Context.LanguageID)
											</label>
										</div>
									}
								</div>
							</div>
						</div>

						<div class="js-recipients">
							<div class="input-group mb-3 w-100 js-recipient-field">
								<div class="form-floating flex-fill">
									<input type="email" class="form-control bg-white js-recipient-email" id="DownloadCartRecipientEmail" placeholder="@Translate("Send download link to")" required>
									<div class="invalid-feedback">
										@Translate("Please enter an email address")
									</div>
									<label for="DownloadCartRecipientEmail">@Translate("Send download link to")</label>
								</div>
								<button type="button" class="btn btn-outline-secondary js-recipient-add-btn" onclick="swift.ProductExport.AddRecipent(this)">@Translate("Add")</button>
							</div>
						</div>

						<div class="js-recipient-tokens"></div>

						@foreach (var productid in productIds)
						{
							<input type="hidden" name="ProductIds" value="@productid" />
						}

						<div class="alert alert-warning mb-2 d-none js-download-images-warning">@Translate("The solution does not have license to download")</div>

						<button type="button" onclick="swift.ProductExport.SetEmailAddresses(this)" class="btn btn-primary w-100" title="@Translate("Send download link")">@Translate("Send download link")</button>

						<div class="alert alert-success mt-3 d-none js-download-success">@Translate("A download link is sent to the recipients")</div>

						@if (!string.IsNullOrEmpty(shopPageId))
						{
							<a href="/Default.aspx?ID=@shopPageId" class="btn btn-secondary w-100 mt-3" title="@Translate("Add more products")">@Translate("Add more products")</a>
						}
					</form>
				</div>
			</aside>
		}
	</div>
} 
