@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb

@{
	var themeRaw = Pageview.CurrentParagraph.Item["Theme"]?.ToString();
	string theme = !string.IsNullOrEmpty(themeRaw) ? " theme " + themeRaw.Replace(" ", "").Trim().ToLower() : "";

	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	string tomorrow = DateTime.Today.AddDays(1).ToString("yyyy-MM-dd");

	string shopPageId = Pageview.CurrentParagraph.Item["ShopPageLink"] != null ? Pageview.CurrentParagraph.Item["ShopPageLink"].ToString() : "";

	var ecomLanguages = Dynamicweb.Ecommerce.Services.Languages.GetLanguages();
	var assetGroups = Dynamicweb.Ecommerce.Services.DetailsGroups.GetGroups();

	List<string> productIds = new List<string>();

	int confirmationPageId = GetPageIdByNavigationTag("DownloadCartConfirmation");
}

@if (GetLoop("OrderLines").Count > 0) { 
	<div class="grid gap-0 theme">
		<header class="g-col-12">
			<div class="pb-3 pb-lg-0 pt-3 pt-lg-5">
				<h1 class="h3 mb-2">@Translate("Download manager")</h1>
				<p class="mb-0"><span>@Translate("Products ready to download"):</span> <span>@GetString("Ecom:Order.OrderLines.TotalProductQuantity")</span></p>
			</div>
		</header>

		<section class="g-col-12 g-col-lg-8 pe-lg-5 pb-md-5">
			<header class="py-2 pt-lg-5 border-bottom d-none d-lg-block">
				<div class="grid" style="line-height: 1;">
					<div class="g-col-6">@Translate("Product")</div>
				</div>
			</header>


			@foreach (LoopItem orderline in GetLoop("OrderLines"))
			{
				string name = orderline.GetString("Ecom:Order:OrderLine.ProductName");
				string number = orderline.GetString("Ecom:Order:OrderLine.ProductNumber");
				string image = "/Admin/Public/GetImage.ashx?width=" + 180 + "&height=" + 180 + "&image=" + orderline.GetString("Ecom:Product.PrimaryImage") + "&Format=WebP&Quality=100";

				string removeFromBasketLink = orderline.GetString("Ecom:Order:OrderLine.DeleteLink");

				<article class="grid pt-3" style="row-gap: 0;">
					<div class="g-col-3 g-col-lg-2">
						<a href="#" class="ratio ratio-1x1 d-block" title="@name">
							<img class="cart-item-img" src="@image" style="object-fit: contain;" alt="@name">
						</a>
					</div>

					<div class="g-col-9 g-col-lg-10">
						<div class="grid" style="row-gap: 0.5rem;">
							<div class="g-col-12 g-col-md-8">
								@* Title *@
								<h3 class="h6 fs-7 fs-md-6 mb-0">
									<a href="#" class="text-decoration-none" title="@name">@name</a>
								</h3>

								@if (!string.IsNullOrEmpty(number))
								{
									<p class="mt-2 mb-0 fs-7 fs-md-6 opacity-75">@number</p>
								}
							</div>

							<div class="g-col-12 g-col-md-4 text-end">
								<a href="@removeFromBasketLink"  class="btn btn-sm btn-secondary" alt="@Translate("Remove")">@Translate("Remove")</a>
							</div>
						</div>
					</div>

					@* Bottom border *@
					<span class="g-col-12 mt-3">
						<span class="d-none d-lg-block border-bottom"></span>
					</span>
				</article>

				productIds.Add(orderline.GetString("Ecom:Order:OrderLine.ProductID"));
			}

			<div class="g-col-12 mt-4">
				<div class="d-flex flex-row gap-3">
					@if (!string.IsNullOrEmpty(shopPageId)) { 
						<a href="/Default.aspx?ID=@shopPageId" class="btn btn-primary" title="@Translate("Add more products")">@Translate("Add more products")</a>
					}

					<a href="@GetString("Ecom:Cart.EmptyCartLink")" class="btn btn-secondary" title="@Translate("Remove all products")">@Translate("Remove all products")</a>
				</div>
			</div>
		</section>

		<aside class="g-col-12 g-col-lg-4 position-relative">
			<div class="p-3 p-lg-5 pb-lg-4@(theme)">
				<header class="mb-4 border-bottom">
					<h4 class="fs-6 fw-normal mb-2">@Translate("Download settings")</h4>
				</header>

				<form id="ProductExportForm" method="get" action="/dwapi/ecommerce/products/export" class="sticky-receipt">
					<div class="form-floating mb-3">
						<select class="form-select bg-white" id="DownloadCartImageAssetsSelector" aria-label="@Translate("Selected image assets")">
							<option value="json" selected>All</option>
							<option value="csv">Details</option>
							<option value="xml">Events</option>
						</select>
						<label for="DownloadCartImageAssetsSelector">@Translate("Selected image assets")</label>
					</div>

					<div class="form-floating mb-3">
						<input type="hidden" name="Dpi" id="DownloadCartDpi" value="72" />
						<input type="hidden" name="ImageFormat" id="DownloadCartImageFormat" value="webp" />

						<select class="form-select bg-white" id="DownloadCartImageImageSettingsSelector" aria-label="@Translate("Image settings")" 
								onchange="document.querySelector('#DownloadCartDpi').value = this.options[this.selectedIndex].getAttribute('data-dpi'); document.querySelector('#DownloadCartImageFormat').value = this.options[this.selectedIndex].getAttribute('data-image-format');">
							<option data-dpi="72" data-image-format="webp" selected>WEB: @Translate("Images") (dpi: 72)</option>
							<option data-dpi="300" data-image-format="png">PRINT: @Translate("Images") (dpi: 300)</option>
							<option data-dpi="600">PRINT: @Translate("Images") (dpi: 600)</option>
						</select>
						<label for="DownloadCartImageFormatSelector">@Translate("Image settings")</label>
					</div>

					<div class="form-floating mb-3">
						<select class="form-select bg-white" id="DownloadCartLanguageSelector" name="LanguageId" aria-label="@Translate("Language")">
								@foreach (var language in ecomLanguages)
								{
									<option value="@language.Code2">@language.GetDisplayName()</option>
								}
							</select>
						<label for="DownloadCartLanguageSelector">@Translate("Language")</label>
					</div>

					<div class="form-floating mb-3">
						<select class="form-select bg-white" id="DownloadCartFormatSelector" name="ExportFormat" aria-label="@Translate("Export format")">
							<option value="json" selected>JSON</option>
							<option value="csv">CSV</option>
							<option value="xml">XML</option>
						</select>
						<label for="DownloadCartFormatSelector">@Translate("Export format")</label>
					</div>

					<div class="form-floating mb-3">
						<input type="email" class="form-control bg-white" id="DownloadCartRecipientEmail" name="RecepientEmail" placeholder="@Translate("Send download link to")">
						<label for="DownloadCartRecipientEmail">@Translate("Send download link to")</label>
					</div>

					@foreach (var productid in productIds)
					{
						<input type="hidden" name="ProductIds" value="@productid" />
					}

					<button type="submit" class="btn btn-primary w-100 mt-3" title="@Translate("Start download")">@Translate("Start download")</button>
				</form>
			</div>
		</aside>
	</div>

	<script>
		document.querySelector('#ProductExportForm').addEventListener('submit', function () {
			console.log('Weeee');
		});
	</script>
} 

