@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Rendering
@using System.IO

@{ 
	List<string> addressList = new List<string>();
	if (!string.IsNullOrEmpty(GetString("UserManagement:User.Address")))
	{
		addressList.Add(GetString("UserManagement:User.Address"));
	}
	if (!string.IsNullOrEmpty(GetString("UserManagement:User.Zip")))
	{
		addressList.Add(GetString("UserManagement:User.Zip"));
	}
	if (!string.IsNullOrEmpty(GetString("UserManagement:User.City")))
	{
		addressList.Add(GetString("UserManagement:User.City"));
	}
	string addressString = (string.Join(",", addressList.Select(x => x.ToString()).ToArray()));
	var themeRaw = Pageview.CurrentParagraph.Item["Theme"]?.ToString();
	string theme = !string.IsNullOrEmpty(themeRaw) ? " theme " + themeRaw.Replace(" ", "").Trim().ToLower() : "";
}

<div class="grid gap-0 h-100">
	<div class="g-col-12 g-col-lg-8 p-3 p-lg-4 pe-xl-5 ps-xl-6 ps-xxl-8 order-last order-lg-first@(theme)">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off" style="max-width: 65rem; margin-left: auto;">

			@RenderLogo()

			@RenderStepsBreadcrumbs()

			@RenderErrors()

			@RenderStepSummary()

			<input type="hidden" id="CurrentStep" />
			<input type="hidden" name="EcomOrderCustomerEmail" value="@GetString("UserManagement:User.Email")" />
			<input type="hidden" name="EcomOrderCustomerPhone" value="@GetString("UserManagement:User.Phone")" />
			<input type="hidden" name="EcomOrderCustomerCompany" value="@GetString("UserManagement:User.Company")" />
			<input type="hidden" name="EcomOrderCustomerAddress" value="@GetString("UserManagement:User.Address")" />
			<input type="hidden" name="EcomOrderCustomerZip" value="@GetString("UserManagement:User.Zip")" />
			<input type="hidden" name="EcomOrderCustomerCity" value="@GetString("UserManagement:User.City")" />
			<input type="hidden" name="EcomOrderCustomerCountry" value="@GetString("UserManagement:User.CountryCode")">

			@RenderAddressUser()

			@if (!string.IsNullOrWhiteSpace(addressString))
			{
				@RenderStepsNavigation()
			}
		</form>
	</div>

	@RenderSummarySidebar()

</div>

@Include("Helpers/Logo.cshtml")
@Include("Helpers/StepsBreadcrumbs.cshtml")
@Include("Helpers/Errors.cshtml")
@Include("Helpers/StepSummary.cshtml")
@Include("Helpers/AddressUser.cshtml")
@Include("Helpers/StepsNavigation.cshtml")
@Include("Helpers/SummarySidebar.cshtml")
