@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using System.IO

@{
	string deliveryAddressString = GetString("Ecom:Order.Delivery.Company") + GetString("Ecom:Order.Delivery.Address") + GetString("Ecom:Order.Delivery.Zip") + GetString("Ecom:Order.Delivery.City") + GetString("Ecom:Order.Delivery.Phone");
	string billingAddressString = GetString("Ecom:Order.Customer.Company") + GetString("Ecom:Order.Customer.Address") + GetString("Ecom:Order.Customer.Zip") + GetString("Ecom:Order.Customer.City") + GetString("Ecom:Order.Customer.Phone");
	string useSameAddressChecked = (deliveryAddressString == billingAddressString) || billingAddressString == "" ? "checked=\"checked\"" : "";
	string useBillingAddressChecked = (deliveryAddressString != billingAddressString) && billingAddressString != "" ? "checked=\"checked\"" : "";
	string showBilling = (deliveryAddressString != billingAddressString) && billingAddressString != "" ? "show" : "";
	string disableSameFields = (deliveryAddressString != billingAddressString) && billingAddressString != "" ? "disabled" : "";
	var themeRaw = Pageview.CurrentParagraph.Item["Theme"]?.ToString();
	string theme = !string.IsNullOrEmpty(themeRaw) ? " theme " + themeRaw.Replace(" ", "").Trim().ToLower() : "";
}

<div class="grid gap-0 h-100" id="PaymentAnonymous">
	<div class="cart g-col-12 g-col-lg-8 p-3 p-lg-4 pe-xl-5 ps-xl-6 ps-xxl-8 order-last order-lg-first@(theme)">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off" style="max-width: 65rem; margin-left: auto;">

			@RenderLogo()

			@RenderStepsBreadcrumbs()

			@RenderErrors()

			@RenderStepSummary()

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-0">@Translate("Select payment")</h3>
				<p class="fs-8 mb-3">@Translate("All transactions are encrypted")</p>

				@RenderPaymentMethods()

			</div>

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-0">@Translate("Billing address")</h3>
				<p class="fs-8 mb-3">@Translate("Select the address that matches your credit card or payment method")</p>

				<div class="list-group">

					<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
						<span class="d-flex justify-content-between">
							<input class="form-check-input me-3" type="radio" name="BillingAddress" value="False" @useSameAddressChecked onchange="hideBillingAddressContainer()" id="SameAsDeliveryAddressRadio">
							<div>@Translate("Same address as delivery address")</div>
						</span>
					</label>

					<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
						<span class="d-flex justify-content-between">
							<input class="form-check-input me-3" type="radio" name="BillingAddress" value="True" @useBillingAddressChecked onchange="showBillingAddressContainer()" id="UseAnotherBillingAddressRadio">
							<div>@Translate("Use another billing address")</div>
						</span>
					</label>

					@* Save delivery fields to the billing fields, if it is the same *@
					<div class="d-none" id="SameBillingAddressContainer">
						<input @disableSameFields type="hidden" name="EcomOrderCustomerName" value="@GetString("Ecom:Order.Delivery.Name")">
						<input @disableSameFields type="hidden" name="EcomOrderCustomerCompany" value="@GetString("Ecom:Order.Delivery.Company")">
						<input @disableSameFields type="hidden" name="EcomOrderCustomerAddress" value="@GetString("Ecom:Order.Delivery.Address")">
						<input @disableSameFields type="hidden" name="EcomOrderCustomerAddress2" value="@GetString("Ecom:Order.Delivery.Address2")">
						<input @disableSameFields type="hidden" name="EcomOrderCustomerZip" value="@GetString("Ecom:Order.Delivery.Zip")">
						<input @disableSameFields type="hidden" name="EcomOrderCustomerCity" value="@GetString("Ecom:Order.Delivery.City")">
						<input @disableSameFields type="hidden" name="EcomOrderCustomerRegion" value="@GetString("Ecom:Order.Delivery.Region")">
						<input @disableSameFields type="hidden" name="EcomOrderCustomerCountry" value="@GetString("Ecom:Order.Delivery.Country.Code")">
						<input @disableSameFields type="hidden" name="EcomOrderCustomerPhone" value="@GetString("Ecom:Order.Delivery.Phone")">
					</div>

					<div class="collapse @showBilling" id="BillingAddressContainer">
						<div class="list-group-item border-top-0 py-3 bg-light">
							@RenderAddressBillingAnonymous()
						</div>
					</div>

				</div>

				<script>
					function showBillingAddressContainer() {
						var show = new bootstrap.Collapse('#BillingAddressContainer', {
							show: true
						});

						@* Enable the correct form fields *@
						document.querySelector("#BillingAddressContainer").querySelectorAll(".form-control").forEach(function (field) {
							field.removeAttribute("disabled");
						});

						document.querySelector("#SameBillingAddressContainer").querySelectorAll("input").forEach(function (field) {
							field.setAttribute("disabled", "true");
						});
					};
					function hideBillingAddressContainer() {
						var hide = new bootstrap.Collapse('#BillingAddressContainer', {
							hide: true
						});

						@* Enable the correct form fields *@
						document.querySelector("#BillingAddressContainer").querySelectorAll(".form-control").forEach(function(field) {
							field.setAttribute("disabled", "true");
						});

						document.querySelector("#SameBillingAddressContainer").querySelectorAll("input").forEach(function (field) {
							field.removeAttribute("disabled");
						});
					};
				</script>

			</div>

			@RenderOrderReference()

			@RenderOrderComment()

			@RenderStepsNavigation()

			<input type="hidden" id="CurrentStep" />
		</form>
	</div>

	@RenderSummarySidebar()

</div>

<script>
	function submitForm() {
		document.querySelector("#CurrentStep").name = "@GetString("CartV2.CurrentStepButtonName")";
		swift.PageUpdater.Update(document.querySelector("#ordersubmit"));
	}
</script>

@Include("Helpers/Logo.cshtml")
@Include("Helpers/StepsBreadcrumbs.cshtml")
@Include("Helpers/Errors.cshtml")
@Include("Helpers/StepSummary.cshtml")
@Include("Helpers/AddressBillingAnonymous.cshtml")
@Include("Helpers/PaymentMethods.cshtml")
@Include("Helpers/SummarySidebar.cshtml")
@Include("Helpers/StepsNavigation.cshtml")
@Include("Helpers/OrderReference.cshtml")
@Include("Helpers/OrderComment.cshtml")
