@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using System.IO

@{ 
	var themeRaw = Pageview.CurrentParagraph.Item["Theme"]?.ToString();
	string theme = !string.IsNullOrEmpty(themeRaw) ? " theme " + themeRaw.Replace(" ", "").Trim().ToLower() : ""; 
}

<div class="grid gap-0 h-100">
	<div class="g-col-12 g-col-lg-8 p-3 p-lg-4 pe-xl-5 ps-xl-6 ps-xxl-8 order-last order-lg-first@(theme)">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off" style="max-width: 65rem; margin-left: auto;">

			@RenderLogo()

			<h1 class="h2">@Translate("Request quote")</h1>
			<p>@Translate("Please fill out the form below to request a quote. We will get back to you within 24 hours")</p>

			@RenderErrors()

			@RenderStepSummary()

			<div class="form-floating mt-4">
				<textarea class="form-control" placeholder="@Translate("Add quote request here")" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" style="min-height: 100px" value="@GetString("Ecom:Order.Customer.Comment")"></textarea>
				<label for="EcomOrderCustomerComment">@Translate("Add quote request here")</label>
			</div>

			@RenderStepsNavigation()

			<input type="hidden" id="CurrentStep" />
		</form>
	</div>

	@RenderSummarySidebar()

</div>

<script>
	function submitForm() {
		document.querySelector("#CurrentStep").name = "@GetString("CartV2.CurrentStepButtonName")";
		swift.PageUpdater.Update(document.querySelector("#ordersubmit"));
	}
</script>

@Include("Helpers/Logo.cshtml")
@Include("Helpers/Errors.cshtml")
@Include("Helpers/StepSummary.cshtml")
@Include("Helpers/SummarySidebar.cshtml")
@Include("Helpers/StepsNavigation.cshtml")
