@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using System.IO

@{ 
	int frontPageId = Dynamicweb.Services.Pages.GetFirstPageForArea(Pageview.AreaID).ID;
	var themeRaw = Pageview.CurrentParagraph.Item["Theme"]?.ToString();
	string theme = !string.IsNullOrEmpty(themeRaw) ? " theme " + themeRaw.Replace(" ", "").Trim().ToLower() : "";
}

<style>
	.sticky-receipt {
		position: sticky;
	}

	@@media print {
		.sticky-receipt {
			position: relative;
		}
	}
</style>

<div class="grid p-3 h-100@(theme)">
	<div class="g-col-12 g-col-sm-10 g-start-sm-2 g-col-md-8 g-start-md-3 g-col-xl-6 g-start-xl-4 mx-sm-auto position-relative">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			<header>
				@RenderPageHeader()

				@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Email")))
				{
					<p class="my-3">
						@Translate("We sent an email to")
						<strong>@GetString("Ecom:Order.Delivery.Email")</strong>
						@Translate("with your order confirmation and receipt. If the email has not arrived within two minutes, please check your spam folder to see if the email was routed there.")
					</p>
				}
			</header>

			<section class="my-3 my-md-4">
				<div class="list-group">

					@if (!string.IsNullOrEmpty(GetString("Ecom:Order.ID")))
					{
						<div class="list-group-item py-2">
							<div class="grid">
								<dt class="g-col-4 lh-base fw-normal text-nowrap">@Translate("Order number")</dt>
								<dd class="g-col-12 g-col-md-8 mb-0">
									@if (!string.IsNullOrEmpty(GetString("Ecom:Order.IntegrationID")))
									{
										<span>@GetString("Ecom:Order.IntegrationID") (@GetString("Ecom:Order.ID"))</span>
									}
									else
									{
										<span>@GetString("Ecom:Order.ID")</span>
									}
								</dd>
							</div>
						</div>
					}

					@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Completed")))
					{
						<div class="list-group-item py-2">
							<div class="grid">
								<dt class="g-col-4 lh-base fw-normal text-nowrap">@Translate("Order date")</dt>
								<dd class="g-col-12 g-col-md-8 mb-0">@GetString("Ecom:Order.Completed")</dd>
							</div>
						</div>
					}

					<div class="list-group-item py-2">
						<div class="grid">
							<dt class="g-col-4 lh-base fw-normal text-nowrap">@Translate("Contact")</dt>
							<dd class="g-col-12 g-col-md-8 mb-0">
								@if (!string.IsNullOrEmpty(@GetString("Ecom:Order.Customer.Email")))
								{
									<span>@GetString("Ecom:Order.Customer.Email"), </span>
								}
								@if (!string.IsNullOrEmpty(@GetString("Ecom:Order.Customer.Phone")))
								{
									<span>@GetString("Ecom:Order.Customer.Phone")</span>
								}
							</dd>
						</div>
					</div>

					<div class="list-group-item py-2">
						<div class="grid">
							<dt class="g-col-4 lh-base fw-normal text-nowrap">@Translate("Delivery address")</dt>
							<dd class="g-col-12 g-col-md-8 mb-0">
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Name")))
								{
									<span>@GetString("Ecom:Order.Delivery.Name"),</span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Address")))
								{
									<span>@GetString("Ecom:Order.Delivery.Address"), </span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Address2")))
								{
									<span>@GetString("Ecom:Order.Delivery.Address2"), </span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Zip")))
								{
									<span>@GetString("Ecom:Order.Delivery.Zip")</span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.City")))
								{
									<span>@GetString("Ecom:Order.Delivery.City"),</span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Region")))
								{
									string regionName = GetString("Ecom:Order.Delivery.Region");
									foreach (LoopItem region in GetLoop("DeliveryRegions"))
									{
										if (region.GetString("Ecom:DeliveryRegion.IsDeliveryRegion") == "true")
										{
											regionName = region.GetString("Ecom:DeliveryRegion.Name");
										}
									}

									<span>@regionName,</span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Country")))
								{
									<span>@GetString("Ecom:Order.Delivery.Country")</span>
								}
							</dd>
						</div>
					</div>

					<div class="list-group-item py-2">
						<div class="grid">
							<dt class="g-col-4 lh-base fw-normal text-nowrap">@Translate("Billing address")</dt>
							<dd class="g-col-12 g-col-md-8 mb-0">
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Name")))
								{
									<span>@GetString("Ecom:Order.Customer.Name"),</span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Address")))
								{
									<span>@GetString("Ecom:Order.Customer.Address"),</span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Address2")))
								{
									<span>@GetString("Ecom:Order.Customer.Address2"),</span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Zip")))
								{
									<span>@GetString("Ecom:Order.Customer.Zip")</span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.City")))
								{
									<span>@GetString("Ecom:Order.Customer.City"),</span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Region")))
								{
									string regionName = GetString("Ecom:Order.Customer.Region");
									foreach (LoopItem region in GetLoop("CustomerRegions"))
									{
										if (region.GetString("Ecom:CustomerRegion.IsCustomerRegion") == "true")
										{
											regionName = region.GetString("Ecom:CustomerRegion.Name");
										}
									}

									<span>@regionName,</span>
								}
								@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Country")))
								{
									<span>@GetString("Ecom:Order.Customer.Country")</span>
								}
							</dd>
						</div>
					</div>

					@if (!string.IsNullOrEmpty(GetString("Ecom:Order.ShippingMethod")))
					{
						<div class="list-group-item py-2">
							<div class="grid">
								<dt class="g-col-4 lh-base fw-normal text-nowrap">@Translate("Delivery method")</dt>
								<dd class="g-col-12 g-col-md-8 mb-0">@GetString("Ecom:Order.ShippingMethod")</dd>
							</div>
						</div>
					}

					@if (!string.IsNullOrEmpty(GetString("Ecom:Order.ShippingDate")))
					{
						<div class="list-group-item py-2">
							<div class="grid">
								<dt class="g-col-4 lh-base fw-normal text-nowrap">@Translate("Delivery date")</dt>
								<dd class="g-col-12 g-col-md-8 mb-0">@GetDate("Ecom:Order.ShippingDate").ToShortDateString()</dd>
							</div>
						</div>
					}

					@if (!string.IsNullOrEmpty(GetString("Ecom:Order.PaymentMethod")))
					{
						string paymentLabel = !string.IsNullOrEmpty(GetString("Ecom:Order.TransactionCardType")) ? GetString("Ecom:Order.TransactionCardType") + " " + GetString("Ecom:Order.TransactionCardNumber") : GetString("Ecom:Order.PaymentMethod");

						<div class="list-group-item py-2">
							<div class="grid">
								<dt class="g-col-4 lh-base fw-normal text-nowrap">@Translate("Payment method")</dt>
								<dd class="g-col-12 g-col-md-8 mb-0">@paymentLabel</dd>
							</div>
						</div>
					}

					@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.Comment")))
					{
						<div class="list-group-item py-2">
							<div class="mb-2">@Translate("Comments")</div>
							<div>@GetString("Ecom:Order.Customer.Comment")</div>
						</div>
					}

					@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Reference")))
					{
						<div class="list-group-item py-2">
							<div class="grid">
								<dt class="g-col-4 lh-base fw-normal text-nowrap">@Translate("Order reference")</dt>
								<dd class="g-col-12 g-col-md-8 mb-0">@GetString("Ecom:Order.Reference")</dd>
							</div>
						</div>
					}

					@if (!string.IsNullOrEmpty(GetString("Ecom:Order.Customer.VoucherCode")))
					{
						<div class="list-group-item py-2">
							<div class="grid">
								<dt class="g-col-4 lh-base fw-normal text-nowrap">@Translate("Voucher code")</dt>
								<dd class="g-col-12 g-col-md-8 mb-0">@GetString("Ecom:Order.Customer.VoucherCode")</dd>
							</div>
						</div>
					}
				</div>
			</section>

			<section>
				<div class="list-group">
					<div class="list-group-item p-3">
						<div class="grid grid-1 py-3 pt-md-0">
							@foreach (LoopItem orderline in GetLoop("OrderLines"))
							{
								@RenderOrderSummaryOrderLineItem(orderline)
							}
						</div>
						<div class="sticky-receipt bottom-0 theme">
							@RenderOrderSummary(false)

							<section class="py-3 d-print-none">
								<div class="d-flex justify-content-end align-items-center">
									<a href="/Default.aspx?id=@frontPageId" class="btn btn-primary w-100">@Translate("Return to frontpage")</a>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>

		</form>
	</div>
</div>

@helper RenderPageHeader()
{
	<div class="mt-3 mt-md-4">
		@RenderLogo()
	</div>
	<div class="border-bottom mt-4 pb-3">
		<div class="d-flex justify-content-between mb-2">
			<div class="flex-fill">
				<h1 class="fs-1 fs-md-3 m-0">@Translate("Thank you for your order")</h1>
			</div>
			<div>
				@RenderPrintButton()
			</div>
		</div>

		<p class="d-block mb-0">@Translate("We are processing your order now, here are the details")</p>

	</div>
}

@helper RenderPrintButton()
{
	<div class="d-flex d-print-none justify-content-end align-items-center d-none d-lg-block">
		<button type="button" class="btn btn-secondary text-uppercase" onclick='window.print()'>@Translate("Print")</button>
	</div>
}

@Include("Helpers/Logo.cshtml")
@Include("Helpers/StepsNavigation.cshtml")
@Include("Helpers/StepsBreadcrumbs.cshtml")
@Include("Helpers/OrderSummaryOrderLineItem.cshtml")
@Include("Helpers/OrderSummary.cshtml")
@Include("Helpers/VoucherForm.cshtml")
