@inherits ViewModelTemplate<UserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Frontend
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Ecommerce.Frontend

<div class="offcanvas-header">
    <h5 class="offcanvas-title">@Model.Name</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="@Translate("Close")"></button>
</div>

<address class="offcanvas-body">
    <div>@Model.CustomerNumber</div>
    <div>@Model.Company</div>
    <div>@Model.Address</div>
    <div>@Model.Address2</div>
    <div>
        <span>@Model.Zip</span> <span>@Model.City</span>
    </div>
    <div>@Model.GetStateName()</div>
    <div>@Model.Country</div>
    <a href="mailto:@Model.Email" class="d-block">@Model.Email</a>
    <a href="tel:@Model.Phone" class="d-block">@Model.Phone</a>
</address>