@inherits ViewModelTemplate<UserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Frontend
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Ecommerce.Frontend

<nav aria-label="breadcrumb">
	<ol class="breadcrumb mb-4" style="--bs-breadcrumb-divider: '>'; --bs-breadcrumb-item-padding-x: 1rem; --bs-breadcrumb-font-size: .875em;">
		<li class="breadcrumb-item">@(Pageview.Page.GetDisplayName())</li>
		<li class="breadcrumb-item active" aria-current="page">@Model.UserName</li>
	</ol>
</nav>

<header class="hstack gap-3 mb-4">
    <h1 class="h4 mb-0">@(Pageview.Page.GetDisplayName())</h1>
</header>

<div class="card mb-4">
	<div class="card-body p-4">

    </div>
</div>

<div class="card mb-4">
	<div class="card-header bg-body p-4">
		<h1 class="card-title h5 mb-0">@Translate("Personal information")</h1>
	</div>
	<div class="card-body p-4">

    </div>
</div>

<div class="card mb-4">
	<div class="card-header bg-body p-4">
		<h1 class="card-title h5 mb-0">@Translate("Address")</h1>
	</div>
	<div class="card-body p-4">

    </div>
</div>

<address>
    <h1 class="h5">@Model.Name</h1>
    <div>@Model.Company</div>
    <div>@Model.Address</div>
    <div>@Model.Address2</div>
    <div>
        <span>@Model.Zip</span> <span>@Model.City</span>
    </div>
    <div>@Model.GetStateName()</div>
    <div>@Model.Country</div>
    <a href="mailto:@Model.Email" class="d-block">@Model.Email</a>
    <a href="tel:@Model.Phone" class="d-block">@Model.Phone</a>
</address>
