@inherits ViewModelTemplate<UserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Frontend
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Ecommerce.Frontend

<nav aria-label="breadcrumb">
	<ol class="breadcrumb mb-4" style="--bs-breadcrumb-divider: '>'; --bs-breadcrumb-item-padding-x: 1rem; --bs-breadcrumb-font-size: .875em;">
		<li class="breadcrumb-item">@(Pageview.Page.GetDisplayName())</li>
		<li class="breadcrumb-item active" aria-current="page">@Model.UserName</li>
	</ol>
</nav>

<header class="hstack gap-3 mb-4">
    <h1 class="h4 mb-0">@(Pageview.Page.GetDisplayName())</h1>
</header>

<div class="card mb-4">
	<div class="card-body hstack gap-4 p-4">
        @if(Model.TryGetImageFile(out ImageFileViewModel? image))
        {
            <div class="align-self-auto hstack justify-content-center p-0" style="height:6rem; aspect-ratio:1;">
                <img src="@image.ToGetImage(new(){ Width = 60, Ratio = "1/1" })" alt="@Model.Name" class="img-thumbnail rounded-circle" itemprop="image"/>
            </div>
        }
        else 
        {
            <div class="btn btn-primary rounded-circle align-self-auto hstack justify-content-center p-0" style="height:6rem; aspect-ratio:1;" data-dw-button="primary">
                <div class="d-flex dw-h6 lh-1 m-0">
                    @(Model.GetTwoLetterInitials())
                </div>
            </div>
        }
        <div>
            @if (!string.IsNullOrEmpty(Model.Name)) {
                <h4 class="mb-1">@Model.Name</h4>
            }
            <div class="text-muted fs-7">
                <span>@string.Join(" - ", new[]{ Model.Title, Model.Company }.Where(s => !string.IsNullOrWhiteSpace(s)))</span>
            </div>
            <div class="text-muted fs-8">
                <span>@string.Join(", ", new[]{ Model.City, Model.Country }.Where(s => !string.IsNullOrWhiteSpace(s)))</span>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
	<div class="card-header bg-body border-0 p-4 pb-0">
		<h1 class="card-title h5 mb-0">@Translate("Personal information")</h1>
	</div>
	<div class="card-body grid p-4">
        <div class="g-col-12 g-col-lg-6">
            @if (!string.IsNullOrEmpty(Model.FirstName)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("First name")</dt>
                    <dd>@Model.FirstName</dd>
                </dl>
            }
            @if (!string.IsNullOrEmpty(Model.Email)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("Email address")</dt>
                    <dd><a href="mailto:@Model.Email">@Model.Email</a></dd>
                </dl>
            }
        </div>
        <div class="g-col-12 g-col-lg-6">
            @if (!string.IsNullOrEmpty(Model.LastName)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("Last name")</dt>
                    <dd>@Model.LastName</dd>
                </dl>
            }
            @if (!string.IsNullOrEmpty(Model.Phone)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("Phone")</dt>
                    <dd><a href="tel:@Model.Phone">@Model.Phone</a></dd>
                </dl>
            }
        </div>
    </div>
</div>

<div class="card mb-4">
	<div class="card-header bg-body border-0 p-4 pb-0">
		<h1 class="card-title h5 mb-0">@Translate("Address")</h1>
	</div>
	<div class="card-body grid p-4">
        <div class="g-col-12 g-col-lg-6">
            @if (!string.IsNullOrEmpty(Model.Name)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("Name")</dt>
                    <dd>@Model.Name</dd>
                </dl>
            }
            @if (!string.IsNullOrEmpty(Model.Address)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("Address")</dt>
                    <dd>@Model.Address</dd>
                </dl>
            }
            @if (!string.IsNullOrEmpty(Model.Address2)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("Address") 2</dt>
                    <dd>@Model.Address2</dd>
                </dl>
            }
            @if (!string.IsNullOrEmpty(Model.Country)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("Country")</dt>
                    <dd>@Model.Country</dd>
                </dl>
            }
            @if (Model.GetStateName() != null) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("State")</dt>
                    <dd>@Model.GetStateName()</dd>
                </dl>
            }
            @if (!string.IsNullOrEmpty(Model.Zip)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("Zip")</dt>
                    <dd>@Model.Zip</dd>
                </dl>
            }
            @if (!string.IsNullOrEmpty(Model.City)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("City")</dt>
                    <dd>@Model.City</dd>
                </dl>
            }
        </div>
        <div class="g-col-12 g-col-lg-6">
            @if (!string.IsNullOrEmpty(Model.Email)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("Email")</dt>
                    <dd><a href="mailto:@Model.Email">@Model.Email</a></dd>
                </dl>
            }
            @if (!string.IsNullOrEmpty(Model.Phone)) {
                <dl>
                    <dt class="text-muted fw-normal fs-7">@Translate("Phone")</dt>
                    <dd><a href="tel:@Model.Phone">@Model.Phone</a></dd>
                </dl>
            }
        </div>
    </div>
</div>