@using System.Linq
@using Dynamicweb.Ecommerce.International
@using Dynamicweb.Ecommerce.Prices

<style>
    .ShipAdvisor .Service {
        padding: 5px;
        margin-bottom: 15px;
    }

        .ShipAdvisor .Service ul {
            padding-left: 17px;
            list-style: none;
        }

    .ShipAdvisor .DropPoints {
        padding-left: 17px;
    }

        .ShipAdvisor .DropPoints .DropPoint {
            margin-bottom: 10px;
        }
</style>

<div class="ShipAdvisor">
    <h2>Available shipping services</h2>
    @foreach (var service in GetLoop("ShippingServices"))
    {
        bool serviceSelected = service.GetBoolean("IsSelected");
        bool supportDropPoints = service.GetBoolean("SupportsPickDropPoints");

        string priceFormatted = "Not specified";
        string price2Formatted = "Not specified";
        string deliveryTime = "Not specified";

        string radioName = string.Format("{0}{1}", GetString("FieldPrefix"), "ShipAdvisorServiceConceptId");
        string radioId = string.Format("{0}{1}", radioName, service.GetString("ConceptId"));
        string radioValue = service.GetString("ConceptId");
        string radioChecked = serviceSelected ? "checked" : string.Empty;

        Currency currency = Dynamicweb.Ecommerce.Services.Currencies.GetCurrencyForCode(service.GetString("CurrencyCode"));
        if (currency != null)
        {
            PriceInfo price = new PriceInfo(currency);
            price.PriceWithVAT = service.GetDouble("Price");
            if (price.Price > 0)
            {
                priceFormatted = price.PriceFormatted;
            }

            price = new PriceInfo(currency);
            price.PriceWithVAT = service.GetDouble("Price2");
            if (price.Price > 0)
            {
                price2Formatted = price.PriceFormatted;
            }
        }
        if (!string.IsNullOrEmpty(service.GetString("DeliveryTime")))
        {
            deliveryTime = service.GetString("DeliveryTime");
        }
        <div class="Service">
            <label for="@radioId">
                <input @radioChecked type="radio" id="@radioId" name="@radioName" value="@radioValue" onclick="updateCart();" />
                <b>@service.GetString("ShippingServiceName")</b>
            </label>
            <ul>
                <li>Delivery time                               :<b> @deliveryTime                                   </b> </li>
                <li>Price                                       :<b> @priceFormatted                                 </b> </li>
                <li>Price2                                      :<b> @price2Formatted                                </b> </li>
                <li>Error message                               :<b> @service.GetString("ErrorMessage")              </b> </li>
                <li class="hidden">Supports pick drop point     :<b> @supportDropPoints                              </b> </li>
                <li class="hidden">Supports custom drop point   :<b> @service.GetString("SupportsCustomDropPoint")   </b> </li>
                <li class="hidden">Goods type                   :<b> @service.GetString("GoodsType")                 </b> </li>
                <li class="hidden">Service name                 :<b> @service.GetString("ShippingServiceName")       </b> </li>
                <li class="hidden">ConceptId                    :<b> @service.GetString("ConceptId")                 </b> </li>
                <li class="hidden">CurrencyCode                 :<b> @service.GetString("CurrencyCode")              </b> </li>
                <li class="hidden">CustomProductDBId            :<b> @service.GetString("CustomProductDBId")         </b> </li>
                <li class="hidden">Description                  :<b> @service.GetString("Description")               </b> </li>
                <li class="hidden">InfoFromCarrier              :<b> @service.GetString("InfoFromCarrier")           </b> </li>
                <li class="hidden">ProductActorAlias            :<b> @service.GetString("ProductActorAlias")         </b> </li>
                <li class="hidden">ProductCarrierCode           :<b> @service.GetString("ProductCarrierCode")        </b> </li>
                <li class="hidden">RecycleType                  :<b> @service.GetString("RecycleType")               </b> </li>
                <li class="hidden">ServiceIds                   :<b> @service.GetString("ServiceIds")                </b> </li>
                <li class="hidden">WebShopProductId             :<b> @service.GetString("WebShopProductId")          </b> </li>
            </ul>

            @if (serviceSelected)
            {
                var loop = GetLoop("DropPoints");
                if (loop.Any())
                {
                    <div class="DropPoints">
                        <h4>Drop points</h4>
                        @foreach (var dropPoint in loop)
                        {
                            string pointRadioName = string.Format("{0}{1}", GetString("FieldPrefix"), "ShipAdvisorDropPointId");
                            string pointRadioId = string.Format("{0}{1}", radioName, dropPoint.GetString("OriginalId"));
                            string pointRadioValue = dropPoint.GetString("OriginalId");
                            string pointRadioChecked = dropPoint.GetBoolean("IsSelected") ? "checked" : string.Empty;

                            <div class="DropPoint">
                                <label for="@pointRadioId">
                                    <input @pointRadioChecked type="radio" id="@pointRadioId" name="@pointRadioName" value="@pointRadioValue" onclick="updateCart();" />
                                    <b>@dropPoint.GetString("Name1")</b>
                                </label>
                                <ul>
                                    <li>Name1           :<b> @dropPoint.GetString("Name1")             </b> </li>
                                    <li>Name2           :<b> @dropPoint.GetString("Name2")             </b> </li>
                                    <li>Address1        :<b> @dropPoint.GetString("Address1")          </b> </li>
                                    <li>Address2        :<b> @dropPoint.GetString("Address2")          </b> </li>
                                    <li>PostalCode      :<b> @dropPoint.GetString("PostalCode")        </b> </li>
                                    <li>City            :<b> @dropPoint.GetString("City")              </b> </li>
                                    <li>CountryCode     :<b> @dropPoint.GetString("CountryCode")       </b> </li>
                                    <li>Contact         :<b> @dropPoint.GetString("Contact")           </b> </li>
                                    <li>Phone           :<b> @dropPoint.GetString("Phone")             </b> </li>
                                    <li>Fax             :<b> @dropPoint.GetString("Fax")               </b> </li>
                                    <li>Email           :<b> @dropPoint.GetString("Email")             </b> </li>
                                    <li>MapRefX         :<b> @dropPoint.GetString("MapRefX")           </b> </li>
                                    <li>MapRefY         :<b> @dropPoint.GetString("MapRefY")           </b> </li>
                                    <li>Distance        :<b> @dropPoint.GetString("Distance")          </b> </li>
                                    <li>OpeningHours    :<b> @dropPoint.GetString("OpeningHours")      </b> </li>
                                    <li class="hidden">ChodProductCodes:<b> @dropPoint.GetString("ChodProductCodes")  </b> </li>
                                    <li class="hidden">OriginalId      :<b> @dropPoint.GetString("OriginalId")        </b> </li>
                                    <li class="hidden">ESId            :<b> @dropPoint.GetString("ESId")              </b> </li>
                                    <li class="hidden">RoutingCode     :<b> @dropPoint.GetString("RoutingCode")       </b> </li>
                                    <li class="hidden">Depot           :<b> @dropPoint.GetString("Depot")             </b> </li>
                                    <li class="hidden">RatingData      :<b> @dropPoint.GetString("RatingData")        </b> </li>
                                    <li class="hidden">KeyValues       :<b> @dropPoint.GetString("KeyValues")         </b> </li>
                                </ul>
                            </div>
                        }
                    </div>
                }
            }
            <hr />
        </div>
    }
</div>
