@inherits ViewModelTemplate<OrderViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.ProductCatalog

@{
	var showPricesWithVat = Dynamicweb.Ecommerce.Common.Context.DisplayPricesWithVat;
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb mb-4" style="--bs-breadcrumb-divider: '>'; --bs-breadcrumb-item-padding-x: 1rem; --bs-breadcrumb-font-size: .875em;">
		<li class="breadcrumb-item"><a href="@(Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl($"Default.aspx?ID={Pageview.Page.ID}"))">@Translate("Orders")</a></li>
		<li class="breadcrumb-item active" aria-current="page">@Translate("Order") @Model.Id</li>
	</ol>
</nav>

<div class="card mb-4">
	<div class="card-body">
		<div class="hstack justify-content-between mb-2">
			<h1 class="h5 m-0">@Translate("Order Details")</h1>
			<button class="btn btn-sm btn-outline-secondary p-3 text-body" data-dw-button="outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				@Translate("Manage order")
			</button>
			<ul class="dropdown-menu dropdown-menu-end shadow-sm fs-7 p-1">
				<li>
					<a class="dropdown-item hstack gap-2 py-2 rounded-1">
						<span class="icon-2">
							@ReadFile("/Files/Images/Icons/pen.svg")
						</span>
						@Translate("Edit order")
					</a>
				</li>
				<li>
					<a class="dropdown-item hstack gap-2 py-2 rounded-1 disabled">
						<span class="icon-2">
							@ReadFile("/Files/Images/Icons/arrow-rotate-left.svg")
						</span>
						@Translate("Create RMA")
					</a>
				</li>
				<li>
					<a class="dropdown-item hstack gap-2 py-2 rounded-1">
						<span class="icon-2">
							@ReadFile("/Files/Images/Icons/arrow-down-to-bracket.svg")
						</span>
						@Translate("Download Invoice")
					</a>
				</li>
			</ul>
		</div>
		<div>
			<small class="d-block text-body text-opacity-75 lh-1 mb-2">@Translate("Order ID"): @Model.Id</small>
			<div class="hstack gap-2">
				@if (Model.CompletedDate.HasValue)
				{
					<small class="d-block text-body text-opacity-75 lh-1">@Translate("Placed on") @Model.CompletedDate.Value.ToString(Pageview.Area.CultureInfo)</small>			
				}
				<span class="badge lh-sm" style="background-color:@(Dynamicweb.Ecommerce.Services.OrderStates.GetStateById(Model.StateId).Color);">
					@(Model.StateName)
				</span>
			</div>
		</div>
	</div>
	<hr class="px-4">
	<div class="card-body">
		<table class="table table-md table-hover mb-0 align-middle fs-7" style="--bs-table-color: var(--bs-body-color);">
			<thead style="--bs-table-color: rgba(var(--bs-body-color-rgb), 0.5);">
				<tr>
					<th><input type="checkbox" class="form-check-input" /></th>
					<th>@Translate("Item")</th>
					<th class="text-end">@Translate("Price")</th>
					<th class="text-end">@Translate("Quantity")</th>
					<th class="text-end">@Translate("Total")</th>
				</tr>
			</thead>
			<tbody>
				@foreach (OrderLineViewModel orderline in Model.OrderLines)
				{
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>
							<div class="hstack gap-3">
								<div class="bg-light rounded-2" style="aspect-ratio: 1; width:3rem;"></div>
								<div class="vstack my-auto">
									<span class="fw-bold">@orderline.ProductName</span>
									<span class="text-body text-opacity-50">@orderline.ProductNumber</span>
									
								</div>
							</div>
						</td>
						<td class="text-end">@orderline.UnitPrice.PriceFormatted</td>
						<td class="text-end">@orderline.Quantity</td>
						<td class="text-end">@orderline.Price.PriceFormatted</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" class="text-end fw-semibold">@Translate("Subtotal")</td>
					<td class="text-end"><span class="text-price">@Model.TotalPriceWithoutOrderDiscountsAndFeesAndTaxes.PriceFormatted</span></td>
				</tr>
				<tr>
					<td colspan="4" class="text-end">@Translate("Shipping")</td>
					<td class="text-end"><span class="text-price">@Model.ShippingFee.PriceFormatted</span></td>
				</tr>
				<tr>
					<td colspan="4" class="text-end">@Translate("Payment")</td>
					<td class="text-end"><span class="text-price">@Model.PaymentFee.PriceFormatted</span></td>
				</tr>
				<tr>
					<td colspan="4" class="text-end">@Translate("Discount")</td>
					<td class="text-end"><span class="text-price">@Model.TotalOrderDiscount.PriceFormatted</span></td>
				</tr>
				@if (showPricesWithVat)
				{
					<tr>
						<td colspan="4" class="text-end">@Translate("VAT")</td>
						<td class="text-end"><span class="text-price">@Model.TotalTaxes.PriceFormatted</span></td>
					</tr>
				}
				<tr>
					<td colspan="4" class="text-end fw-semibold border-0">@Translate("Total")</td>
					<td class="text-end border-0"><span class="text-price dw-h6">@Model.Price.PriceFormatted</span></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class="card mb-4">
	<div class="card-body">
		<h2 class="h5 mb-3">@Translate("Shipping Information")</h2>
		<div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));">
			<address class="mb-0">
				<div class="small mb-2 text-body text-opacity-75">@Translate("Shipping Address")</div>
				<div>@Model.DeliveryCompany</div>
				<div>@Model.DeliveryName</div>
				<div>@Model.DeliveryAddress</div>
				<div>@Model.DeliveryAddress2</div>
				<div>@Model.DeliveryZip</div>
				<div>@Model.DeliveryCity</div>
				<div>@Model.DeliveryRegion</div>
				<div>@Model.DeliveryCountry</div>
				<div>@Model.DeliveryEmail</div>
				<div>@Model.DeliveryPhone</div>
			</address>
			<div class="vstack gap-3">
				<div>
					<div class="small mb-2 text-body text-opacity-75">@Translate("Shipping Method")</div>
					<div>@Model.ShippingMethod.Name</div>
					<div>@Model.ShippingMethod.Description</div>
				</div>
				<div>
					<div class="small mb-2 text-body text-opacity-75">@Translate("Tracking Number")</div>
					<div>
						@if (!string.IsNullOrEmpty(Model.TrackAndTraceURL))
						{
							<a href="@Model.TrackAndTraceURL">@Model.TrackAndTraceNumber</a>
						}
						else
						{
							<span>@Model.TrackAndTraceNumber</span>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card mb-4">
	<div class="card-body">
		<h2 class="h5 mb-3">@Translate("Billing Information")</h2>
		<div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));">
			<address class="mb-0">
				<div class="small mb-2 text-body text-opacity-75">@Translate("Billing Address")</div>
				<div>@Model.CustomerCompany</div>
				<div>@Model.CustomerName</div>
				<div>@Model.CustomerAddress</div>
				<div>@Model.CustomerAddress2</div>
				<div>@Model.CustomerZip</div>
				<div>@Model.CustomerCity</div>
				<div>@Model.CustomerRegion</div>
				<div>@Model.CustomerCountry</div>
				<div>@Model.CustomerEmail</div>
				<div>@Model.CustomerPhone</div>
			</address>
			<div class="vstack gap-3">
				<div>
					<div class="small mb-2 text-body text-opacity-75">@Translate("Payment")</div>
					<div>@Model.PaymentMethod.Name</div>
					<div>@Model.TransactionCardType @Model.TransactionNumber</div>
				</div>
			</div>
		</div>
	</div>
</div>