@inherits ViewModelTemplate<OrderViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend

<header class="hstack gap-3">
    <a href="@($"/Default.aspx?ID={Pageview.Page.ID}")" class="btn btn-outline-secondary hstack px-3 gap-3 border-0" data-dw-button="outline-secondary">
        <span class="icon-2">
            @ReadFile("/Files/Images/Icons/arrow-left.svg")
        </span>
        @Translate("Back to Orders")
    </a>

    <h1 class="h4 mb-0">@Translate("Order") @(Model.Id)</h1>
</header>