<!-- Payment Information -->
<h2>@Translate("Payment Information", "Payment Information")</h2>
<p>
    <label>@Translate("Order Id", "Order Id"): <b>@GetValue("Ecom:Order.ID")</b></label> <br />
    <label>@Translate("Amount", "Amount"): <b>@GetValue("Ecom:Order.Price.PriceWithVATFormatted")</b></label> <br />
    <label>@Translate("Currency", "Currency"): <b>@GetValue("Ecom:Order.Currency")</b></label>
</p>
<iframe src="@GetValue("EBizCharge.EbizWebFormURL")" width="580" height="400" name="myIframe" id="myIframe" style="border: none;"></iframe>