@inherits ViewModelTemplate<FavoriteListListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Frontend

@{
    var baseUrl = Dynamicweb.Context.Current?.Request.QueryString.Get("baseUrl") ?? null;
}

@* If no favorite lists are found, show a message *@
@if (!(Model?.FavoriteLists?.Any() ?? false))
{
    <div class="d-grid align-items-center text-center fs-7 fw-semibold gap-2">
        
        <div class="d-grid rounded-circle m-auto" style="aspect-ratio:1;background-color:rgba(var(--bs-body-color-rgb), .0275);">
            <span class="icon fs-5 text-muted p-3">
                @ReadFile("/Files/Images/Icons/heart.svg")
            </span>
        </div>
        <div>@Translate("No lists found")</div>
        
    </div>
    return;
}
<div class="list-group list-group-flush">
    @foreach (var favoriteList in Model.FavoriteLists)
    {
        <a class="list-group-item list-group-item-action px-0 py-3 d-flex flex-wrap align-items-center gap-2 gap-sm-3 text-decoration-none text-body"
            href="@(baseUrl)?FavoriteListId=@(favoriteList.Id)"
            tabindex="@(baseUrl is not null ? 0 : -1)"
            aria-disabled="@(baseUrl is not null)"
        >
            <div class="flex-grow-1 min-w-0">
                <div class="fs-7 fw-semibold text-body">@(favoriteList.Name)</div>
                <div class="fs-8 text-muted text-truncate">
                    <span>@(favoriteList.ProductList.Products.Count) @(favoriteList.ProductList.Products.Count == 1 ? Translate("item") : Translate("items"))</span>
                </div>
            </div>
        </a>
    }
</div>