@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Ecommerce.ProductCatalog
@inherits ViewModelTemplate<FavoriteListViewModel>

@{
    string currentPageUrl = "/Default.aspx?ID=" + Pageview.Page.ID + "&FavoriteListId=" + Model.Id;
}

@Include("../PaginationHelper.cshtml")

<h1>Favorite list products</h1>

<div>
	<div>Id: @Model.Id</div>
	<div>Name: @Model.Name</div>
    @if(Model.IsDefault){
		<div><b>Default</b></div>
    }
</div>

@if (Model.ProductList != null)
{
	<div>
		<table class="lists favorite-products">
			<tr>
				<th>Id</th>
				<th>Variant Id</th>
				<th>Product name</th>				
				<th>Price</th>
				<th style="width:200px">Image</th>
			</tr>
			@foreach (var product in Model.ProductList.Products)
			{
				<tr>
					<td>@product.Id</td>
					<td>@product.VariantId</td>
					<td>@product.Name</td>
					<td>@product.Price.PriceFormatted</td>
					<td>
					@if (product.DefaultImage.Value != "")
					{
						<img src="/Admin/Public/GetImage.ashx?Image=@product.DefaultImage.Value&Format=jpg&Width=200&Height=100&Crop=0" />
					}
					</td>
				</tr>
			}
		</table>
		@RenderPagination(currentPageUrl, Model.ProductList.PageCount, Model.ProductList.CurrentPage, Model.ProductList.PageSize)	
	</div>
}
<button class="button-back" onclick="location.href='/Default.aspx?ID=@Pageview.Page.ID'">Back</button>