@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@inherits ViewModelTemplate<FavoriteListListViewModel>

@{
	string currentPageUrl = "/Default.aspx?ID=" + Pageview.Page.ID;
}

@Include("../PaginationHelper.cshtml")

<header class="p-3 border-bottom">
	<div class="d-flex flex-row align-items-center gap-3">
		<h1 class="h6 m-0 flex-fill text-muted">@Translate("Favorite lists")</h1>
	</div>
</header>

@if (Model.FavoriteLists == null || Model.FavoriteLists.Count < 1)
{
	<div class="grid">
		<div class="g-col-12 g-start-lg-3 g-col-lg-8 d-flex flex-column gap-3 text-center py-3">
			<h2 class="h5 m-0">@Translate("It looks like you do not have any favorites yet!")</h2>
			<p class="m-0">@Translate("Save and arrange the best things for your bike here until you are ready for them.")</p>

			<div class="grid grid-1 grid-sm-2">
				<div class="text-sm-end">
					<a href="#" class="btn btn-secondary">@Translate("Go exploring")</a>
				</div>
				<div class="text-sm-start">
					<button class="btn btn-primary">@Translate("Create favorite list")</button>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<table class="lists">
		<tr>
			<th>List ID</th>
			<th>List name</th>
			<th>Is default list</th>
			<th>Owner ID</th>
		</tr>
		@foreach (var theList in Model.FavoriteLists)
		{
			string favoriteLink = currentPageUrl + "&amp;FavoriteListId=" + theList.Id;
			<tr>
				<td><a href="@favoriteLink">@theList.Id</a></td>
				<td><a href="@favoriteLink">@theList.Name</a></td>
				<td>@theList.IsDefault</td>
				<td>@theList.UserId</td>
			</tr>
		}
	</table>

	@RenderPagination(currentPageUrl, Model.PageCount, Model.CurrentPage, Model.PageSize)	
}
