@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using Dynamicweb
@using System.IO

@{
	string currentPageTitle = Translate("Navigation");

	if (Pageview.Page?.Item != null) {
		currentPageTitle = Pageview.Page.Item["Title"] != null ? Pageview.Page.Item["Title"].ToString() : currentPageTitle;
	}

	string layoutSetting = Model.Parameters.ContainsKey("Layout") ? Model.Parameters["Layout"].ToString().ToLower() : "clean";
	bool hideTexts = Model.Parameters.ContainsKey("HideTexts") ? Convert.ToBoolean(Model.Parameters["HideTexts"].ToString()) : false;
	bool hideIcons = Model.Parameters.ContainsKey("HideIcons") ? Convert.ToBoolean(Model.Parameters["HideIcons"].ToString()) : false;

	string linesLayout = layoutSetting == "lines" ? " border-top" : string.Empty;
	string small = layoutSetting == "small" ? " fs-7" : string.Empty;

	bool showSignOutLink = Model.Parameters.ContainsKey("ShowSignOutLink") ? Convert.ToBoolean(Model.Parameters["ShowSignOutLink"].ToString()) : false;
	string signOutLink = "/Admin/Public/ExtranetLogoff.aspx?redirect=no";

	string paragraphId = Pageview.CurrentParagraph.ID.ToString();
	string menuId = Model.Parameters.ContainsKey("menu-id") ? $"menu_{Model.Parameters["menu-id"].ToString().ToLower()}" : string.Empty;
	string linesLayoutCssClasses = layoutSetting == "lines" ? "d-none d-lg-block" : string.Empty;

	int nodeCount = 0;

	var nodesParms = new Dictionary<string, object>();
	nodesParms.Add("IsSubmenu", false);
	nodesParms.Add("Layout", layoutSetting);
	nodesParms.Add("HideTexts", hideTexts);
	nodesParms.Add("HideIcons", hideIcons);
	nodesParms.Add("NodeCount", nodeCount);
}

<div class="@linesLayoutCssClasses">
	<ul class="navbar-nav flex-column flex-fill @menuId">
		@foreach (var node in Model.Nodes)
		{
			nodesParms["NodeCount"] = nodeCount;
			@RenderPartial("Navigation/Vertical/NavItem.cshtml", node, nodesParms)
			nodeCount++;
		}
		@if (showSignOutLink && Pageview.User != null)
		{
			if (Dynamicweb.Security.UserManagement.User.GetCurrentSecondaryUser() != null)
			{
				<li class="nav-item@(linesLayout)">
					<a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="nav-link text-reset swift_sign-out-as-customer-link @(small)">@Translate("Sign out as a customer")</a>
				</li>
			}
			<li class="nav-item@(linesLayout)">
				<a href="@signOutLink" class="nav-link text-reset swift_sign-out-link @(small)">@Translate("Sign out")</a>
			</li>
		}
	</ul>
</div>

@* Mobile navigation for Lines layout *@
@if (layoutSetting == "lines")
{
	<div class="d-block d-lg-none">
		<div class="collapsed" data-bs-toggle="collapse" data-bs-target="#VerticalNavigation_@paragraphId" role="button" aria-expanded="true" aria-controls="Navigation">
			<div class="d-flex">
				<h6 class="fw-bold m-0 flex-fill">
					@if (string.IsNullOrEmpty(currentPageTitle))
					{
						@Translate("Navigation")
					}
					else
					{
						@currentPageTitle
					}
				</h6>
				<div class="my-auto collapse-chevron-icon"></div>
			</div>
		</div>
		<div class="collapse hide" id="VerticalNavigation_@paragraphId">
			<div class="navbar navbar-expand py-0">
				<ul class="navbar-nav flex-column flex-fill @menuId">
					@foreach (var node in Model.Nodes)
					{
						nodesParms["NodeCount"] = nodeCount;
						@RenderPartial("Navigation/Vertical/NavItem.cshtml", node, nodesParms)
						nodeCount++;
					}
					@if (showSignOutLink && Pageview.User != null)
					{
						if (Dynamicweb.Security.UserManagement.User.GetCurrentSecondaryUser() != null)
						{
							<li class="nav-item@(linesLayout)">
								<a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="nav-link text-reset swift_sign-out-as-customer-link @(small)">@Translate("Sign out as a customer")</a>
							</li>
						}
						<li class="nav-item@(linesLayout)">
							<a href="@signOutLink" class="nav-link text-reset swift_sign-out-link @(small)">@Translate("Sign out")</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
}
