@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Users.Frontend.RecoverPasswordModule.UserPasswordRecoverViewModel>
@using Dynamicweb
@using System.Collections.Generic
@using System.Linq
@using Dynamicweb.Users.Frontend.RecoverPasswordModule

<div class="mx-auto" style="max-width: 30rem;">
    <div class="text-center p-4 border-bottom">
        <h4 class="display-6 m-0">@Translate("Forgot your password?")</h4>
        <p class="card-text">@Translate("Enter your name or email and we will send you a link to reset your password.")</p>
    </div>

    <div class="p-4">
        @if (Model.Result == RecoverPasswordResultType.MissingValue)
        {
            <div class="alert alert-alert" role="alert">
                @Translate("Please provide either a username or email address")
            </div>
        }

        @if (Model.Result == RecoverPasswordResultType.UserNotFound)
        {
            <div class="alert alert-alert" role="alert">
                @Translate("No user found with the provided username or email")
            </div>
        }

        @if (Model.Result == RecoverPasswordResultType.Success)
        {
            <div class="alert alert-success" role="alert">
                @Translate("Check your email - we sent you an email with a link to reset your password")
            </div>
        }

        <form method="post">
            <div class="form-floating mb-4">
                <input type="email" name="Email" id="Email" class="form-control" placeholder="@Translate("Email")" required>
                <label for="Email">@Translate("Email")</label>
                <div class="invalid-feedback" for="Email">@Translate("Please enter a valid email.")</div>
            </div>
            
            <div class="grid grid-1">
                <button type="submit" class="btn btn-primary btn-lg" id="PasswordRecoveryButton">@Translate("Send password link")</button>
                <a href="/Default.aspx?ID=@GetPageIdByNavigationTag("SignInPage")" class="btn btn-link" id="BackToSignInButton">@Translate("Nevermind, back to sign in")</a>
            </div>
        </form>
    </div>
</div>



