@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="d-flex flex-column gap-1 h-100">
	<div class="grid gap-0">
		<div class="g-col-6">
			@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
				<img src="@image.Path" class="h-100" style="max-width: 100%; object-fit: cover" alt="@Model.Item?.GetString("AltText")" />
			}
		</div>
		<div class="g-col-6 d-flex align-items-center justify-content-start">
			<div class="card my-4" style="margin-left: var(--swift-card-offset)">			
				<div class="card-body" swift-text>
					@if (!string.IsNullOrEmpty(Model.Item.GetString("Title"))) {
						@Model.Item.GetString("Title")
					}

					@if (!string.IsNullOrEmpty(Model.Item.GetString("Text"))) {
						@Model.Item.GetString("Text")
					}

					@if (Model.Item.TryGetButton("FirstButton", out ButtonViewModel firstButton)) {
						<a href="@firstButton.Link.Url" class="btn btn-@firstButton.Style mt-3" data-dw-button="@firstButton.Style">@firstButton.Label</a>
					}

					@if (Model.Item.TryGetButton("SecondButton", out ButtonViewModel secondButton)) {
						<a href="@secondButton.Link.Url" class="btn btn-@secondButton.Style ms-1 mt-3" data-dw-button="@secondButton.Style">@secondButton.Label</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>
