@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="card d-grid grid grid-2 gap-0 h-100">
	<div class="card-body">
		<div swift-text class="mb-0-last-child">
			@if (Model.Item.TryGetString("Title", out string title))
			{
				@title
			}
			@if (Model.Item.TryGetString("Text", out string text))
			{
				@text
			} 
		</div>
		<div class="d-flex flex-wrap column-gap-3 align-items-center">
			@if (Model.Item.TryGetButton("FirstButton", out ButtonViewModel firstButton)) {
				<a href="@firstButton.Link.Url" class="btn btn-@firstButton.Style mt-3" data-dw-button="@firstButton.Style">@firstButton.Label</a>
			}
			@if (Model.Item.TryGetButton("SecondButton", out ButtonViewModel secondButton)) {
				<a href="@secondButton.Link.Url" class="btn btn-@secondButton.Style mt-3" data-dw-button="@secondButton.Style">@secondButton.Label</a>
			}
		</div>
	</div>
	<figure class="m-0">
		@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
			<img src="@image.Path" class="h-100 w-100 object-fit-cover" style="object-position: @image.GetFocalPointPercentage()" alt="@Model.Item?.GetString("AltText")" />
		}
	</figure>
</div>