@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="card d-flex flex-column gap-1 h-100">
	<div class="grid gap-1">
		<div class="g-col-6">
			<div class="card-body" swift-text>
				@if (!string.IsNullOrEmpty(Model.Item.GetString("Title"))) {
					@Model.Item.GetString("Title")
				}

				@if (!string.IsNullOrEmpty(Model.Item.GetString("Text"))) {
					@Model.Item.GetString("Text")
				}

				@if (Model.Item.TryGetButton("FirstButton", out ButtonViewModel firstButton)) {
					<a href="@firstButton.Link.Url" class="btn btn-@firstButton.Style mt-3" data-dw-button="@firstButton.Style">@firstButton.Label</a>
				}

				@if (Model.Item.TryGetButton("SecondButton", out ButtonViewModel secondButton)) {
					<a href="@secondButton.Link.Url" class="btn btn-@secondButton.Style ms-1 mt-3" data-dw-button="@secondButton.Style">@secondButton.Label</a>
				}
			</div>
		</div>
		<div class="g-col-6">
			@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
				<img src="@image.Path" class="img-fluid rounded-end h-100" style="object-fit: cover" alt="@Model.Item?.GetString("AltText")" />
			}
		</div>
	</div>
</div>
