@inherits ViewModelTemplate<CreateUserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend.CreateUser

<div data-swift-container data-dw-container-width="1">
    @if (Model.Result == CreateUserResultType.EmailAlreadyExists)
    {
        <div class="alert alert-danger">@Translate("The email already exists")</div>
    }
    else if (Model.Result == CreateUserResultType.InvalidEmail)
    {
        <div class="alert alert-danger">@Translate("The email is invalid")</div>
    }
    else if (Model.Result == CreateUserResultType.InvalidPasswordComplexity)
    {
        <div class="alert alert-danger">@Translate("The password must contain numbers, upper and lower case characters and special characters")</div>
    }
    else if (Model.Result == CreateUserResultType.InvalidPasswordLength)
    {
        <div class="alert alert-danger">@Translate("The password is not long enough")</div>
    }
    else if (Model.Result == CreateUserResultType.MismatchedPasswords)
    {
        <div class="alert alert-danger">@Translate("The passwords are not the same")</div>
    }
    else if (Model.Result == CreateUserResultType.UserNameAlreadyExists)
    {
        <div class="alert alert-danger">@Translate("Username already exists")</div>
    }
    else if (Model.Result != CreateUserResultType.None)
    {
        <div class="alert alert-danger">@Translate(Model.Result.ToString())</div>
    }

    <form method="post">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" placeholder="@Translate("Email")" name="Email" id="Email" value="@Model.Email" required />
            <label for="Email" class="form-label">@Translate("Email")</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="Password" name="Password" placeholder="@Translate("Password")" required>
            <label for="Password">@Translate("Password")</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="@Translate("Confirm Password")" required>
            <label for="ConfirmPassword">@Translate("Confirm Password")</label>
        </div>

        <button type="submit" name="Cmd" value="createuser" class="btn btn-primary me-2" id="CreateUserButton">@Translate("Create")</button>
    </form>
</div>
