@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Security;

@MasterPageFile("../Includes/EmailMaster.cshtml")
@Include("../Includes/EmailHelpers.cshtml")

<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="500" id="emailBody">
    @{
        string logoimage = "";
        Column header = new Column();
        header.header = GetString("PIM:EmailNotification.Title");
        header.textColor = "#FFFFFF";
        header.align = "center";

        @CreateRow(header, new RowSettings { backgroundColor = "#0B85C8" });

        //Message
        Column message = new Column();
        message.text.Add(Translate("Hi") + " " + GetString("PIM:EmailNotification.UserFirstName"));
        message.text.Add("");
        message.text.Add("\"" + GetString("PIM:EmailNotification.Query.Name") + "\" " + Translate("has a result count of") + " " + GetString("PIM:EmailNotification.Query.TotalCount") + " " + Translate("products"));
        @CreateRow(message);

        Column queryLeftHeader = new Column();
        Column queryLineCenterHeader = new Column();
        Column queryLineRightHeader = new Column();
        queryLineRightHeader.align = "right";

        queryLeftHeader.subheader = GetString("PIM:EmailNotification.Placeholder1.Name");
        queryLineCenterHeader.subheader = GetString("PIM:EmailNotification.Placeholder2.Name");
        queryLineRightHeader.subheader = GetString("PIM:EmailNotification.Placeholder3.Name");

        RowSettings headerSettings = new RowSettings();
        headerSettings.backgroundColor = "#eee";


        @CreateRow(queryLeftHeader, queryLineCenterHeader, queryLineRightHeader, headerSettings);

        @CreateRowDivider();


        //Query results
        RowSettings rowSettings = new RowSettings();
        rowSettings.padding = "5";

        foreach (LoopItem product in GetLoop("PIM:EmailNotification.Query.Results"))
        {
            Column queryLeft = new Column();
            Column queryLineCenter = new Column();
            Column queryLineRight = new Column();
            queryLineRight.align = "right";

            queryLeft.text.Add(product.GetString("Placeholder1"));
            queryLineCenter.text.Add(product.GetString("Placeholder2"));
            queryLineRight.text.Add(product.GetString("Placeholder3"));

            @CreateRow(queryLeft, queryLineCenter, queryLineRight, rowSettings);

            @CreateRowDivider();
        }

        //Footer
        Column footerLeft = new Column();

        Column footerRight = new Column();
        footerRight.textColor = "#FFF";
        footerRight.image = logoimage;
        footerRight.align = "right";

        @CreateRow(footerLeft, footerRight, new RowSettings { backgroundColor = "#0B85C8" });

    }
</table>