@inherits ViewModelTemplate<ProductGroupViewModel>
@using Dynamicweb.Ecommerce.Products
@using Dynamicweb.Rendering
@using Dynamicweb.Frontend
@using Dynamicweb.Ecommerce.ProductCatalog

@{
    var groups = Dynamicweb.Ecommerce.Services.ProductGroups.GetSubgroups(Dynamicweb.Ecommerce.Services.ProductGroups?.GetGroup(Model.Id, Dynamicweb.Ecommerce.Common.Context.LanguageID));
    var pageId = Dynamicweb.Context.Current?.Request.Headers.Get("x-pageId") ?? null;
}

<a href="@(SearchEngineFriendlyURLs.GetFriendlyUrl(Model.GetGroupLink(Dynamicweb.Core.Converter.ToInt32(pageId))))" class="d-block dw-h4 mb-4">@(Model.Name)</a>

<ul class="navbar-nav pb-5 gap-3 d-grid" style="grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));">
@foreach( var group in groups.Where(g=>g.NavigationShowInMenu))
{
    var link = SearchEngineFriendlyURLs.GetFriendlyUrl($"Default.aspx?ID={pageId}&GroupID={group.Id}");
    var image = $"/Admin/Public/GetImage.ashx?Image={group.LargeImage}&height=375&width=500&crop=0";

    <li class="vstack gap-2 position-relative text-center">
        <img src="@(image)" alt="@(group.Name)" class="rounded" style="object-fit: cover;aspect-ratio: 4/3;" loading="eager">
        <a href="@(link)" class="flex-fill text-decoration-none text-body text-opacity-75 stretched-link pt-2 pb-4 fs-7">@group.Name</a>
    </li>
}
</ul>