@inherits ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Frontend
@using Dynamicweb.Ecommerce.ProductCatalog

@{
    bool isEcom = Dynamicweb.Core.Converter.ToBoolean(Dynamicweb.Context.Current?.Request.Headers.Get("x-isEcom") ?? null);
    var groupId = Dynamicweb.Context.Current?.Request.Headers.Get("x-groupId") ?? null;
    var areaId = Dynamicweb.Context.Current?.Request.Headers.Get("x-areaId") ?? null;
    var pageId = Dynamicweb.Context.Current?.Request.Headers.Get("x-pageId") ?? null;
    var pageName = Dynamicweb.Context.Current?.Request.Headers.Get("x-pageName") ?? null;
    var template = "Designs/Swift-v2/Paragraph/Swift-v2_OffCanvasMenu/OffCanvasMenu/Partials/EcomMenuImageGrid.cshtml";
    var endpoint = $"/dwapi/ecommerce/groups/{groupId}";
}

<div class="offcanvas-header offcanvas-animate-in z-2 bg-body pe-4" style="grid-area: Header;">
    <button type="button" class="btn icon-3 p-2" @@click="$dispatch('close-offcanvas');">
        @ReadFile("/Files/Images/Icons/chevron-left.svg")
    </button>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
</div>
<div class="offcanvas-body offcanvas-animate-in z-2 bg-body px-4" style="grid-area: Body;">
        
    <div hx-trigger="load"
        hx-get="@(endpoint)" 
        hx-headers='
        {
            "Accept": "text/html",
            "x-dw-template": "@(template)",
            "x-groupId": "@(groupId)",
            "x-pageId": "@(pageId)"
        }'
        hx-swap="outerHTML"></div>

</div>