@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>

<section class="py-6" data-dw-colorscheme="@Model.ColorScheme?.Id" data-dw-itemtype="@Model?.Item?.SystemName.ToLower()" data-swift-gridrow>
	<div class="container-xl grid align-items-baseline">
		@foreach(var column in Model.Columns)
		{
			<div class="g-col-12 g-col-lg-@column.ColumnWidth" data-dw-itemtype="@column.Paragraph?.Item?.SystemName.ToLower()" id="@column.Paragraph?.ID" data-dw-colorscheme="@column.Paragraph?.ColorScheme?.Id">
				@column.Output()
			</div>
		}
	</div>
</section>
