@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>

@{
	string rowHeight = Model.Item.GetRawValueString("RowHeight", "0").ToLower();
	rowHeight = "py-" + rowHeight;

	List<string> columnWidths = new List<string>();
	string column1width = Model.Item.GetRawValueString("Column_1Width", string.Empty).ToLower();
	column1width = column1width == "grow" ? "flex-grow-1" : "flex-grow-0";
	columnWidths.Add(column1width);
	string column2width = Model.Item.GetRawValueString("Column_2Width", string.Empty).ToLower();
	column2width = column2width == "grow" ? "flex-grow-1" : "flex-grow-0";
	columnWidths.Add(column2width);
	string column3width = Model.Item.GetRawValueString("Column_3Width", string.Empty).ToLower();
	column3width = column3width == "grow" ? "flex-grow-1" : "flex-grow-0";
	columnWidths.Add(column3width);
	string column4width = Model.Item.GetRawValueString("Column_4Width", string.Empty).ToLower();
	column4width = column4width == "grow" ? "flex-grow-1" : "flex-grow-0";
	columnWidths.Add(column4width);
	string column5width = Model.Item.GetRawValueString("Column_5Width", string.Empty).ToLower();
	column5width = column5width == "grow" ? "flex-grow-1" : "flex-grow-0";
	columnWidths.Add(column5width);
	string column6width = Model.Item.GetRawValueString("Column_6Width", string.Empty).ToLower();
	column6width = column6width == "grow" ? "flex-grow-1" : "flex-grow-0";
	columnWidths.Add(column6width);

	string columnPosition = $"align-items-{Model.Item.GetString("VerticalAlignment", "center")}";

	string hideOnScroll = Model.Item.GetRawValueString("HideOnScroll", string.Empty).ToLower();
	hideOnScroll = hideOnScroll == "hide" ? "js-hide-on-scroll" : string.Empty;

	int count = 0;
}

<section class="@rowHeight @(hideOnScroll)" data-dw-colorscheme="@Model.ColorScheme?.Id" data-swift-gridrow>
	<div class="container-xl d-flex flex-row gap-3 @columnPosition">
		@foreach(var column in Model.Columns)
		{
			<div class="col @columnWidths[count]" id="@column.Paragraph?.ID" data-dw-colorscheme="@column.Paragraph?.ColorScheme?.Id">
				@column.Output()
			</div>

			count++;
		}
	</div>
</section>

