@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>
@using Dynamicweb.Frontend

<section data-swift-gridrow="@Model.Definition.Id"
		 style="@Model.BackgroundImage?.ToBackgroundStyle(new () { Width=1680 }, true)" 
	data-dw-colorscheme="@Model.ColorScheme?.Id" 
	data-dw-itemtype="@Model.Item?.SystemName?.ToLower()" 
	data-dw-row-space-top="@(Model.TopSpacing ?? 6)" 
	data-dw-row-space-bottom="@(Model.BottomSpacing ?? 6)" 
	data-dw-row-gap-column="@(Model.GapX ?? 3)"
	data-dw-row-gap-row="@(Model.GapX ?? 3)"
	data-dw-row-vertical-align="@(Model.VerticalAlignment)">

	<div data-swift-container class="grid" data-dw-container-width="@(Model.ContainerWidth ?? 3)">
		@foreach(var column in Model.Columns)
		{
			<div data-swift-gridcolumn class="g-col-@column.ColumnWidthMobile g-col-lg-@column.ColumnWidth order-@column.ColumnNumberMobile order-lg-@column.ColumnNumber" data-dw-itemtype="@column.Paragraph?.Item?.SystemName.ToLower()" id="@column.Paragraph?.ID" data-dw-colorscheme="@column.Paragraph?.ColorScheme?.Id">
				@column.Output()
			</div>
		}
	</div>
</section>
