@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>

@functions {
	string GetWidthSetting(int columnNumber) {
		string columnWidth = Model.Item.GetRawValueString($"Column_{columnNumber}Width", string.Empty).ToLower();
		columnWidth = columnWidth == "grow" ? "flex-grow-1" : "flex-grow-0";
		return columnWidth;
	}
}

@{
	string rowHeight = Model.Item.GetRawValueString("RowHeight", "0").ToLower();
	rowHeight = "py-" + rowHeight;
	string verticalAlignment = $"align-items-{Model.Item.GetString("VerticalAlignment", "center")}";
}

<section class="@rowHeight" data-dw-colorscheme="@Model.ColorScheme?.Id" data-dw-itemtype="@Model?.Item?.SystemName.ToLower()" data-swift-gridrow>
	<div class="container-xl d-flex gap-3 @verticalAlignment">
		@foreach(var column in Model.Columns)
		{
			<div class="col @GetWidthSetting(column.ColumnNumber-1)" data-dw-itemtype="@column.Paragraph?.Item?.SystemName.ToLower()" id="@column.Paragraph?.ID" data-dw-colorscheme="@column.Paragraph?.ColorScheme?.Id" data-swift-gridcolumn>
				@column.Output()
			</div>
		}
	</div>
</section>

