@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>

@functions {
	string GetWidthSetting(int columnNumber) {
		string columnWidth = Model.Item.GetRawValueString($"Column_{columnNumber}Width", string.Empty).ToLower();
		columnWidth = columnWidth == "grow" ? "flex-grow-1" : "flex-grow-0";
		return columnWidth;
	}
}

@{
	string rowHeight = Model.Item.GetRawValueString("RowHeight", "0").ToLower();
	rowHeight = "py-" + rowHeight;

	List<string> columnWidths = new List<string>();
	columnWidths.Add(GetWidthSetting(1));
	columnWidths.Add(GetWidthSetting(2));
	columnWidths.Add(GetWidthSetting(3));
	columnWidths.Add(GetWidthSetting(4));
	columnWidths.Add(GetWidthSetting(5));
	columnWidths.Add(GetWidthSetting(6));

	string verticalAlignment = $"align-items-{Model.Item.GetString("VerticalAlignment", "center")}";
}

<section class="@rowHeight" data-dw-colorscheme="@Model.ColorScheme?.Id" data-dw-itemtype="@Model?.Item?.SystemName.ToLower()" data-swift-gridrow>
	<div class="container-xl row @verticalAlignment">
		@foreach(var column in Model.Columns)
		{
			<div class="col @columnWidths[(column.ColumnNumber-1)]" id="@column.Paragraph?.ID" data-dw-colorscheme="@column.Paragraph?.ColorScheme?.Id">
				@column.Output()
			</div>
		}
	</div>
</section>

