@inherits ViewModelTemplate<UserCreateViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Security.UserManagement;
@using Dynamicweb.Users.Frontend.UserCreate;
@using Dynamicweb.Users.Frontend

<h1>@Translate("Hi and welcome") @Model.UserName</h1>
<h4>@Translate("You are one click away from activating your account")</h4>
<p>@Translate("Please click the button below to confirm your email and set your password for") @Model.Email </p>

@if (!string.IsNullOrEmpty(Model.CreatePasswordLink)) {
    <a href="@Model.CreatePasswordLink">@Translate("Click here to create a password")</a>
}
else
{
    <a href="@Model.ApprovalLink">@Translate("Click here and confirm")</a>
}
