@inherits ViewModelTemplate<OrderListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend

@{ 
	string selectedState = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("FilterOrderStateId")) ? Dynamicweb.Context.Current.Request.QueryString.Get("FilterOrderStateId") : "";
	string ordersPageLink = Pageview.CurrentParagraph.Item["OrdersPage"] != null ? Pageview.CurrentParagraph.Item["OrdersPage"].ToString() : "";
	string iconPath = "/Files/Templates/Designs/Swift/Assets/Icons/";
}

<header class="p-3 border-bottom">
	<form id="searchForm" method="get">
		<input type="hidden" name="ID" value="@Pageview.ID">

		<div class="d-flex flex-row align-items-center gap-3">
			<h1 class="h6 m-0 flex-fill text-muted">@Pageview.CurrentParagraph.Item["Title"]</h1>
			@if (ordersPageLink != "")
			{
				<a href="@ordersPageLink">@Translate("View all")</a>
			}
		</div>
	</form>
</header>

@if (Model.Orders.Count() != 0)
{
	int count = 1;
	int total = Model.Orders.Count;

	<table class="table table-striped table-hover table-linked d-none d-lg-table">
		<thead>
			<tr>
				<th>@Translate("Placed")</th>
				<th>@Translate("Order number")</th>
				<th class="text-end">@Translate("Total")</th>
				<th class="text-end">@Translate("OrderState")</th>
				<th aria-hidden="true">&nbsp;</th>
			</tr>
		</thead>

		@foreach (var order in Model.Orders)
		{
			string orderLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;OrderId={order.Id}";

			<tr>
				<td>
					<a href="@orderLink" class="d-block text-decoration-none">@order.CompletedDate</a>
				</td>
				<td>
					<a href="@orderLink" class="d-block text-decoration-none" tabindex="-1">@order.Id</a>
				</td>
				<td>
					<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">
						<span class="text-price">@order.Price.PriceFormatted</span>
					</a>
				</td>
				<td>
					<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">@order.StateName</a>
				</td>
				<td aria-hidden="true">
					<a href="@orderLink" tabindex="-1" class="d-block text-end text-decoration-none">
						@ReadFile(iconPath+"arrow-right.svg")
					</a>
				</td>
			</tr>
		}
	</table>

	<table class="table table-linked table-clean d-lg-none">
		@foreach (var order in Model.Orders)
		{
			string orderLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;OrderId={order.Id}";

			<tbody>
				<tr>
					<th class="text-muted fw-normal">
						<a href="@orderLink" class="d-block text-start text-decoration-none">
							<span class="fs-8 text-muted">@Translate("Placed")</span>
						</a>
					</th>
					<td>
						<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">@order.CompletedDate</a>
					</td>
				</tr>
				<tr>
					<th class="text-muted fw-normal">
						<a href="@orderLink" class="d-block text-start text-decoration-none" tabindex="-1">
							<span class="fs-8 text-muted">@Translate("Order number")</span>
						</a>
					</th>
					<td>
						<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">@order.Id</a>
					</td>
				</tr>
				<tr>
					<th class="text-muted fw-normal">
						<a href="@orderLink" class="d-block text-start text-decoration-none" tabindex="-1">
							<span class="fs-8 text-muted">@Translate("Total")</span>
						</a>
					</th>
					<td>
						<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">
							<span class="text-price">@order.Price.PriceFormatted</span>
						</a>
					</td>
				</tr>
				<tr>
					<th class="text-muted fw-normal">
						<a href="@orderLink" class="d-block text-start text-decoration-none" tabindex="-1">
							<span class="fs-8 text-muted">@Translate("OrderState")</span>
						</a>
					</th>
					<td>
						<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">@order.StateName</a>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">
							<div class="d-grid">
								<span class="btn btn-secondary">@Translate("View order details")</span>
							</div>
						</a>
					</td>
				</tr>
			</tbody>
		}
	</table>

} else {
	<div class="alert alert-info text-center" role="alert">
		@Translate("No orders found")
	</div>
}
