@inherits ViewModelTemplate<OrderListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend

@{ 
	string contentPadding = Pageview.CurrentParagraph.Item["ContentPadding"] != null ? Pageview.CurrentParagraph.Item["ContentPadding"].ToString() : "";
	contentPadding = contentPadding == "none" ? "px-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;
	var themeRaw = Pageview.CurrentParagraph.Item["Theme"]?.ToString();
	string theme = !string.IsNullOrEmpty(themeRaw) ? " h-100 theme " + themeRaw.Replace(" ", "").Trim().ToLower() : "";
	string selectedState = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("FilterOrderStateId")) ? Dynamicweb.Context.Current.Request.QueryString.Get("FilterOrderStateId") : "";
	string ordersPageLink = Pageview.CurrentParagraph.Item["OrdersPage"] != null ? Pageview.CurrentParagraph.Item["OrdersPage"].ToString() : "";
	string iconPath = "/Files/Templates/Designs/Swift/Assets/Icons/";
}

<div class="@(contentPadding)@(theme)">
	
	<header>
		<form id="searchForm" method="get">
			<input type="hidden" name="ID" value="@Pageview.ID">

			<div class="d-flex flex-row align-items-center gap-3 p-3 border-bottom">
				<h1 class="h6 m-0 flex-fill">@Pageview.CurrentParagraph.Item["Title"]</h1>
				@if (ordersPageLink != "")
				{
					<a href="@ordersPageLink">@Translate("View all")</a>
				}
			</div>
		</form>
	</header>

	@if (Model.Orders.Count() != 0)
	{
		int count = 1;
		int total = Model.Orders.Count;

		<table class="table d-none d-lg-table table-striped table-hover table-linked align-top mb-0">
			<thead>
				<tr>
					<th>@Translate("Placed")</th>
					<th>@Translate("Order number")</th>
					<th class="text-end">@Translate("Total")</th>
					<th class="text-end">@Translate("OrderState")</th>
					<th aria-hidden="true">&nbsp;</th>
				</tr>
			</thead>

			<tbody class="border-top-0">
				@foreach (var order in Model.Orders)
				{
					string orderLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;OrderId={order.Id}";
					string orderDate = order.CompletedDate.Value.ToString("HH:mm") != "00:00" ? order.CompletedDate.ToString() : order.CompletedDate.Value.ToString().Replace("00:00", "");

					<tr>
						<td>
							<a href="@orderLink" class="d-block text-decoration-none">
								<span>@orderDate</span>
							</a>
						</td>
						<td>
							<a href="@orderLink" class="d-block text-decoration-none" tabindex="-1">
								@if (!string.IsNullOrEmpty(order.IntegrationOrderId)) { 
									<text>@order.IntegrationOrderId (@order.Id)</text>
								} else {
									@order.Id
								}
							</a>
						</td>
						<td>
							<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">
								<span class="text-price">@order.Price.PriceFormatted</span>
							</a>
						</td>
						<td>
							<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">@order.StateName</a>
						</td>
						<td aria-hidden="true">
							<a href="@orderLink" tabindex="-1" class="icon-3 d-flex justify-content-end text-decoration-none">
								@ReadFile(iconPath+"arrow-right.svg")
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

		<table class="table d-table d-lg-none table-borderless table-linked table-clean align-top mb-0">
			@foreach (var order in Model.Orders)
			{
				string orderLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;OrderId={order.Id}";

				<tbody class="border-bottom">
					<tr>
						<th>
							<a href="@orderLink" class="d-block text-start text-decoration-none">
								<span class="fs-8">@Translate("Placed")</span>
							</a>
						</th>
						<td>
							<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">@order.CompletedDate</a>
						</td>
					</tr>
					<tr>
						<th>
							<a href="@orderLink" class="d-block text-start text-decoration-none" tabindex="-1">
								<span class="fs-8">@Translate("Order number")</span>
							</a>
						</th>
						<td>
							<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">
								@if (!string.IsNullOrEmpty(order.IntegrationOrderId)) { 
									<text>@order.IntegrationOrderId (@order.Id)</text>
								} else {
									@order.Id
								}
							</a>
						</td>
					</tr>
					<tr>
						<th>
							<a href="@orderLink" class="d-block text-start text-decoration-none" tabindex="-1">
								<span class="fs-8">@Translate("Total")</span>
							</a>
						</th>
						<td>
							<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">
								<span class="text-price">@order.Price.PriceFormatted</span>
							</a>
						</td>
					</tr>
					<tr>
						<th>
							<a href="@orderLink" class="d-block text-start text-decoration-none" tabindex="-1">
								<span class="fs-8">@Translate("OrderState")</span>
							</a>
						</th>
						<td>
							<a href="@orderLink" class="d-block text-end text-decoration-none" tabindex="-1">@order.StateName</a>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a href="@orderLink" class="d-block text-decoration-none" tabindex="-1">
								<div class="d-grid">
									<span class="btn btn-secondary">@Translate("View order details")</span>
								</div>
							</a>
						</td>
					</tr>
				</tbody>
			}
		</table>



} else {
	<div class="alert alert-info text-center mt-3" role="alert">
		@Translate("No orders found")
	</div>
}
</div>
