@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@helper RenderPaymentInformation()
{
	<h2>@Translate("Payment Information")</h2>
	<p>
		<label>@Translate("Order Id"): <b>@GetString("Ecom:Order.ID")</b></label> <br />
		<label>@Translate("Amount"): <b>@GetString("Ecom:Order.Price.PriceWithVATFormatted")</b></label> <br />
		<label>@Translate("Currency"): <b>@GetString("Ecom:Order.Currency")</b></label>
	</p>
}
