@inherits ViewModelTemplate<UserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Frontend

@{ 
	string goBackToPage = Dynamicweb.Context.Current.Request.QueryString.Get("GoBackToPage");
}

<header class="d-flex flex-row align-items-center gap-3 px-2 py-3 border-bottom">
    <h1 class="h6 m-0 flex-fill">@Pageview.CurrentParagraph.Item["Title"]</h1>
</header>

<div class="grid p-3">
    <div class="g-col-12 g-col-lg-6">
        @if (!string.IsNullOrEmpty(Model.Name))
        {
            <h2 class="h6 mb-3">@Model.Name</h2>
        }
        @if (!string.IsNullOrEmpty(Model.Company))
        {
            <div>@Model.Company</div>
        }
        @if (!string.IsNullOrEmpty(Model.Address))
        {
            <div>@Model.Address</div>
        }
        @if (!string.IsNullOrEmpty(Model.Address2))
        {
            <div>@Model.Address2</div>
        }
        @if (!string.IsNullOrEmpty(Model.Zip) || !string.IsNullOrEmpty(Model.City))
        {
            <div>
                <span>@Model.Zip</span> <span>@Model.City</span>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.State))
        {
            <div>@Model.State</div>
        }
        @if (!string.IsNullOrEmpty(Model.Country))
        {
            <div>@Model.Country</div>
        }
        @if (!string.IsNullOrEmpty(Model.Email))
        {
            <div>@Model.Email</div>
        }
        @if (!string.IsNullOrEmpty(Model.Phone))
        {
            <div>@Model.Phone</div>
        }
    </div>

    <div class="g-col-12">
        @if (!string.IsNullOrEmpty(goBackToPage)) {
            <a href="/Default.aspx?ID=@goBackToPage" class="btn btn-secondary" data-dw-button="secondary">@Translate("Go back to checkout")</a>
        }
    </div>
</div>