@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.LinkViewModel>

@{ 
	var backgroundColor = GetViewParameter("backgroundColor");
	var backgroundColorDarken = GetViewParameter("backgroundColorDarken");
	var foregroundColor = GetViewParameter("foregroundColor");
	var borderColor = GetViewParameterString("borderColor");
	var align = GetViewParameterString("align");
	var title = GetViewParameterString("title");
	var themeCssName = GetViewParameterString("themeCssName");
	var link = Model.Url;
	var uri = Dynamicweb.Context.Current.Request.Url;
	var hostname = uri.Scheme + Uri.SchemeDelimiter + uri.Host;

}

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box; min-width: 100% !important;" width="100%">
	<tbody>
		<tr>
			<td align="center" style="vertical-align: top;" valign="top">
							
				<!--[if mso]>
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align="center" style="background-color: @(backgroundColor);">
							<a href="@link" target="_blank" style="font-size: 16px; font-family: sans-serif; color: @foregroundColor; font-weight: bold; text-decoration: none; padding: 12px 24px; border: 1px solid @(backgroundColor); display: inline-block;">@title</a>
						</td>
					</tr>
				</table>
				<![endif]-->

				<table border="0" cellpadding="0" cellspacing="0" style="mso-hide:all;">
				  <tr>
					<td align="center" valign="middle" bgcolor="@(backgroundColor)" style="font-family:sans-serif; font-size:16px; font-weight: bold; padding-top:14px; padding-right:24px; padding-bottom:14px; padding-left:24px;" class="cta-button">
						<a href="@link" target="_blank" style="text-decoration:none; color:@(foregroundColor);">
							<span style="color:@(foregroundColor);">@title</span>
						</a>
					</td>
				  </tr>
				</table>
			</td>
	
		</tr>
	</tbody>
</table>
