@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.FileViewModel>

@functions
{ 
	private static double GetImageHeight(string imageRatio, double imageWidth)
	{
		string[] ratioValues = imageRatio.Split('-');
		double ratio = ratioValues.Length == 2 ? Dynamicweb.Core.Converter.ToDouble(ratioValues[1]) / Dynamicweb.Core.Converter.ToDouble(ratioValues[0]) : 1;
		return imageWidth * ratio;
	}

	private string GetTableReset()
	{
		return "border-collapse:separate;border-spacing:0;border:0;margin:0;outline:0;padding:0;";
	}
}

@if (!string.IsNullOrEmpty(Model.Path))
{
	string imagePath = Model?.Path ?? "";
	imagePath = Dynamicweb.Context.Current.Server.UrlEncode(imagePath);
	int columnCount = GetViewParameterInt32("columns");
	int columnWidth = 640;
	int padding = GetViewParameterInt32("padding");
	string ratio = GetViewParameterString("imageRatio");
	string imageHeight = string.Empty;

	var imageWidth = columnWidth - padding;
	columnWidth = imageWidth / columnCount;

	string image = $"/Admin/Public/GetImage.ashx?width={imageWidth}";
	string crop = "7";

	if (ratio != "original")
	{
		if (!string.IsNullOrEmpty(ratio))
		{
			imageHeight = $"height='{GetImageHeight(ratio, imageWidth)}'";
			image += $"&height={GetImageHeight(ratio, imageWidth)}&fillcanvas=true";
		}
	}

	image += $"&crop={crop}&image={imagePath}&quality=100&format=webp";

	var cssClass = GetViewParameter("cssClass");
	string alt = GetViewParameterString("alt");

	<!--[if mso]>
	<table style="@GetTableReset()" width="@(columnWidth)" border="0" cellpadding="0" cellspacing="0" role="presentation">
		<tbody>
			<tr style="@GetTableReset()">
				<td style="@GetTableReset()">
				<![endif]-->
	<table width="100%" style="@GetTableReset()" border="0" cellpadding="0" cellspacing="0" role="presentation">
		<tr style="@GetTableReset()">
			<td style="@GetTableReset()line-height:0;">
				<img src="@image" class="@cssClass" style="@GetTableReset()width:100%;max-width:@(columnWidth)px" alt="@alt" width="@(columnWidth)" />
			</td>
		</tr>
	</table>
				<!--[if mso]>
				</td>
			</tr>
		</tbody>
	</table>
	<![endif]-->
}
