@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel>
@using Dynamicweb
@using System.IO
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Ecommerce.Common

@functions {
	public string GetImagePathSanitized(string imagePath)
	{
		if (!imagePath.StartsWith("/Files", StringComparison.OrdinalIgnoreCase))
		{
			if (!imagePath.StartsWith("Files/", StringComparison.OrdinalIgnoreCase))
			{
				imagePath = $"/Files/Images/{imagePath}";
			}
		}
		return imagePath;
	}
}

@{

	var group = Model.GetProductGroup();
	IList<FieldValueViewModel> groupFields = group.GroupFields;

	if (groupFields != null)
	{
		foreach (FieldValueViewModel field in groupFields)
		{
			if (field.SystemName == "ProductGroupNavigationImage")
			{
				if (!string.IsNullOrEmpty(field.Value.ToString()))
				{
					string productGroupImageShape = GetViewParameterString("ProductGroupImageShape");
					string productGroupImageSize = GetViewParameterString("ProductGroupImageSize");
					string ratio = GetViewParameterString("Ratio");
					string ratioCssClass = ratio != string.Empty ? "ratio" : string.Empty;
					string ratioVariable = ratio != "" ? "--bs-aspect-ratio: " + ratio : string.Empty;
					var groupImage = GetImagePathSanitized(field.Value.ToString());
					var groupName = group.Name;

					if (Path.GetExtension(groupImage).ToLower() == ".svg")
					{
						if (!string.IsNullOrEmpty(ratio))
						{
							<div class="@(ratioCssClass)" style="@ratioVariable">
								@ReadFile(groupImage)
							</div>
						}
						else
						{
							<div class="icon-auto" style="height: @(productGroupImageSize)px; width: @(productGroupImageSize)px;">
								@ReadFile(groupImage)
							</div>
						}

					}
					else
					{
						if (!string.IsNullOrEmpty(ratio))
						{
							var imagePath = Dynamicweb.Context.Current.Server.UrlEncode(groupImage);
							var imageSrc = $"/Admin/Public/GetImage.ashx?Image={groupImage}&Width=320";

							<figure class="@(ratioCssClass) m-0" style="@ratioVariable">
								<img loading="lazy" class="@productGroupImageShape" alt="@groupName" src="@imageSrc" style="object-fit: contain">
							</figure>

						}
						else
						{
							var imagePath = Dynamicweb.Context.Current.Server.UrlEncode(groupImage);
							var imageSrc = $"/Admin/Public/GetImage.ashx?Image={groupImage}&Width={productGroupImageSize}&Height={productGroupImageSize}&crop=0";

							<img loading="lazy" class="@productGroupImageShape" alt="@groupName" width="@productGroupImageSize" height="@productGroupImageSize" src="@imageSrc">
						}
					}
				}
			}
		}
	}

}
