@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.QueryPublisher.QueryResultViewModel>
@using Dynamicweb.Core.Encoders
@using Dynamicweb
@using Dynamicweb.Frontend

<form method="get" class="grid">
	<div class="g-col-12 g-col-lg-4">
		@RenderPartial("QueryPublisher/Post/Post_Search.cshtml")
	</div>
	<div class="g-col-12 g-col-lg-2">
		@RenderPartial("QueryPublisher/Post/Post_CategoryFolderFilter.cshtml")
	</div>
</form>

@if (Model.Results.Count() > 0)
{
	<div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))">
		@foreach (var post in Model.Results)
		{
			if (post.TryGetValue("PageId", out object? pageId) && pageId is int)
			{
				var pageObject = Dynamicweb.Content.Services.Pages?.GetPage((int)pageId);
				var pageInfo = pageObject != null ? Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(pageObject) : null;
				string? parentCategory = pageObject?.Parent?.IsFolder == true ? pageObject.Parent.GetDisplayName() : null;

				if (pageInfo != null)
				{
					<a href="/Default.aspx?ID=@pageInfo.ID" class="card text-decoration-none">
						@if (pageInfo.TryGetImageFile(out ImageFileViewModel imageFile))
						{
							<img src="@imageFile.ToGetImage(new GetImageSettings { Ratio = "16/9" })" class="card-img-top" alt="@pageInfo.Name">
						}
						<div class="card-body">
							@if (parentCategory != null) {
								<div class="badge text-bg-secondary">@parentCategory</div>
							}
							<h5 class="card-title">
								@pageInfo.Name 
							</h5>
							<p class="card-text">
								@pageInfo.Description
							</p>
						</div>
					</a>
				}
			}
		}
	</div>
}
else
{
	<div class="alert alert-dark w-100 text-center" role="alert">
		@Translate("No results found")
	</div>
}
