@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb

@{ 
    string pageId = GetGlobalValue("Global:Page.ID");
    int signInProfilePageId = Pageview.Page.ID;
    string currentUserId = GetGlobalValue("Global:Extranet.UserID");
    string redirectPage = Dynamicweb.Context.Current.Request.UrlReferrer.AbsoluteUri;
}

<div>
    @if (!string.IsNullOrEmpty(GetString("DW_extranet_error_uk")))
    {
        <div class="alert alert-danger" role="alert">
            @GetString("DW_extranet_error_uk")
        </div>
    }

    <form method="post">
        <input type="hidden" name="ID" value="@pageId" />
        <input type="hidden" name="DWExtranetUsernameRemember" value="True" />
        <input type="hidden" name="DWExtranetPasswordRemember" value="True" />
		<input type="hidden" name="redirect" value="@redirectPage"> 
        <input type="hidden" name="LoginAction" value="Login" />

        <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="login-username" name="username" placeholder="@Translate("Email")" required>
                    <label for="login-username">@Translate("Email")</label>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="login-password" name="password" placeholder="@Translate("Password")" required>
                    <label for="login-password">@Translate("Password")</label>
                </div>
            </div> 
        </div>
        
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="True" name="Autologin" id="rememberMe">
          <label class="form-check-label" for="flexCheckDefault">@Translate("Remember me")</label>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary d-inline" id="SignInButton">@Translate("Sign in")</button>
            <a class="btn btn-link d-inline" href="/Default.aspx?id=@(signInProfilePageId)&LoginAction=Recovery" id="ForgotPasswordButton">@Translate("Forgot password?")</a>
        </div>
    </form>
</div>

