@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<h5 id="PasswordRecoveryText">@Translate("Password recovery")</h5>

@if (GetString("UserManagement:User.Login.Action") == "Recovery")
{
    bool userFound = true;
    if (!string.IsNullOrWhiteSpace(GetString("UserManagement:User.Login.FoundUsersCount")))
    {
        if (GetInteger("UserManagement:User.Login.FoundUsersCount") == 0 || GetInteger("UserManagement:User.Login.FoundUsersCount") > 1)
        {
            userFound = false;
        }
    }
    string isInvalid = !userFound ? "is-invalid" : "";

    <form method="post" action="@GetString("DWExtranetAction")">
        <input type="hidden" name="ForgotPasswordMailTemplate" value="@GetString("UserManagement:User.Login.EmailTemplate")" />
        <input type="hidden" name="ForgotPasswordSenderEmail" value="@GetString("UserManagement:User.Login.EmailSender")" />
        <input type="hidden" name="ForgotPasswordMailSubject" value="@GetString("UserManagement:User.Login.EmailSubject")" />

        <div class="mb-3">@Translate("Insert your email below and you will receive an email where you can recover your password.") dfafasf</div>

        @foreach (LoopItem loginField in GetLoop("UserManagement:User.Login.Fields"))
        {
            <div class="form-floating @isInvalid mb-3">
                <input type="text" name="@loginField.GetString("Field.Name")" id="@loginField.GetString("Field.Name")" class="form-control" placeholder="@loginField.GetString("Field.Title")" />
                <label for="@loginField.GetString("Field.Name")">@loginField.GetString("Field.Title")</label>
                <div class="invalid-feedback" for="@loginField.GetString("Field.Name")">@loginField.GetString("Field.Error")</div>
            </div>
        }

        @if (!userFound)
        {
            <div class="invalid-feedback mb-3">
                @Translate("User not found.")
            </div>
        }

        <div class="mb-3">
            <button type="submit" name="LoginAction" value="Recovery" class="btn btn-primary d-inline" id="PasswordRecoveryButton">@Translate("Send password recovery")</button>
            <button type="button" name="LoginAction" onclick="window.history.back()" class="btn btn-link d-inline px-0 px-lg-3" id="BackToSignInButton">@Translate("Nevermind, back to sign in")</button>
        </div>
    </form>
}

@if (GetString("UserManagement:User.Login.Action") == "RecoveryLinkSent")
{
    <div class="alert alert-info" role="alert">
        @Translate("Check your email - we sent you an email with a link. Click it to continue to reset your password.")
    </div>
}

@if (GetString("UserManagement:User.Login.Action") == "PasswordSent")
{
    <div class="alert alert-info" role="alert">
        @Translate("Check your email - we sent you an email with the password.")
    </div>
}

@if (GetString("UserManagement:User.Login.Action") == "NewPasswordForm")
{
    if (!GetBoolean("UserManagement:User.Login.RecoveryToken.FoundUser"))
    {
        <div class="alert alert-warning" role="alert">
            @Translate("Something went wrong.")
            @Translate("Try recover password") <a href="/default.aspx?id=@GetString("Global:Page.ID")" id="SomethingIsWrongTryAgainButton">@Translate("again")</a>
        </div>
    }

    if (GetBoolean("UserManagement:User.Login.RecoveryToken.FoundUser") && GetBoolean("UserManagement:User.Login.RecoveryToken.OutOfDate"))
    {
        <div class="alert alert-warning" role="alert">
            @Translate("The recovery password link out of date.") @Translate("Try recover password") <a href="/default.aspx?id=@GetString("Global:Page.ID")" id="OutOfDateTryAgainButton">@Translate("again")</a>
        </div>
    }

    if (GetBoolean("UserManagement:User.Login.RecoveryToken.FoundUser") && !GetBoolean("UserManagement:User.Login.RecoveryToken.OutOfDate"))
    {
        string isInvalidNewPassword = !string.IsNullOrWhiteSpace(GetString("UserManagement:User.Login.Field.NewPassword.Error")) ? "is-invalid" : "";
        string isInvalidNewPasswordConfirm = !string.IsNullOrWhiteSpace(GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Error"))  ? "is-invalid" : "";

        <div>
            @Translate("Choose a new password")
        </div>
        <div>
            @Translate("Notice")! @Translate("A strong password is a combination of letters and punctuation marks")<text>.</text>
        </div>

        <p></p>

        <form method="post" action="@GetString("DWExtranetAction")">
            <input type="hidden" name="RecoveryToken" value="@GetString("UserManagement:User.Login.RecoveryToken")" />
            <input type="hidden" name="ForgotPasswordMailTemplate" value="@GetString("UserManagement:User.Login.EmailTemplate")" />
            <input type="hidden" name="ForgotPasswordSenderEmail" value="@GetString("UserManagement:User.Login.EmailSender")" />
            <input type="hidden" name="ForgotPasswordMailSubject" value="@GetString("UserManagement:User.Login.EmailSubject")" />

            <div class="form-floating @isInvalidNewPassword mb-3">
                <label class="form-label" for="@GetString("UserManagement:User.Login.Field.NewPassword.Name")">@Translate("New password"):</label>
                @GetString("UserManagement:User.Login.Field.NewPassword.Input").Replace("id", "class=\"form-control\" id")
                <div class="invalid-feedback" for="@GetString("UserManagement:User.Login.Field.NewPassword.Name")">@GetString("UserManagement:User.Login.Field.NewPassword.Error")</div>
            </div>
             
            <div class="form-floating @isInvalidNewPasswordConfirm mb-3">
                <label class="form-label" for="@GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Name")">@Translate("Confirm password"):</label>
                @GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Input").Replace("id", "class=\"form-control\" id")
                <div class="invalid-feedback" for="@GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Name")">@GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Error")</div>
            </div>

            <button type="submit" class="btn btn--primary dw-mod" name="LoginAction" value="ChangePassword" id="ChangePasswordButton">@Translate("Submit")</button>
        </form>
    }
}

@if (GetString("UserManagement:User.Login.Action") == "PasswordChanged")
{
    <div class="alert alert-info" role="alert">
        @Translate("Password changed")
    </div>
}
