@{
	string stepsIconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
}
<div id="payment-details-placeholder" class="hidden">
<div class="card-payment-box" >
	<div class="card-payment-container">
		<div class="payment-input">
			<div class="card-text">@Translate("Pay by credit card")</div>
			<div class="card-info"><span>@ReadFile(stepsIconPath + "locktsd.svg")<div>@Translate("Enter your 16 digit card number, expiry & CVC")</div></span></div>
			<div class="psuedo-card-box">
				<div id="card-element">
					<!-- a Stripe Element will be inserted here. -->
				</div>
			</div>
		</div>
		<div class="lock">@ReadFile(stepsIconPath + "locktsd.svg")</div>
	</div>
	<div id="error-message">
		<!-- Display error message to your customers here -->
	</div>
</div>
	<div class="hidden" id="card-pay-button-text">@Translate("Pay with Card")</div>
</div>
