@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Users.Frontend.RecoverPasswordModule.UserPasswordRecoverViewModel>
@using Dynamicweb
@using System.Collections.Generic
@using System.Linq
@using Dynamicweb.Users.Frontend.RecoverPasswordModule


<div class="template_password-recovery">

    <div class="card border-0 mx-auto" style="max-width: 30rem;">

        <div class="card-header text-center p-4 border-bottom">
            <h4 class="display-6 m-0">@Translate("Reset your password")</h4>
            <p class="card-text">@Translate("Enter and confirm your new password.")</p>
        </div>

        <div class="card-body p-4">

            <form method="post" action="" class="grid grid-1 gap-4">
                <input type="hidden" name="UserRecoverPassword" value="true"/>
                <div class="form-floating">
                    <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="@Translate("NewPassword")">
                    <label for="NewPassword">@Translate("NewPassword")</label>
                </div>

                <div class="form-floating">
                    <input type="password" name="ConfirmNewPassword" id="ConfirmNewPassword" class="form-control" placeholder="@Translate("ConfirmNewPassword")">
                    <label for="ConfirmNewPassword">@Translate("ConfirmNewPassword")</label>
                </div>

                <div class="grid grid-1">
                    <button type="submit" name="LoginAction" value="Recovery" class="btn btn-primary btn-lg" id="PasswordRecoveryButton">@Translate("Change password")</button>
                    <a href="/Default.aspx?ID=@GetPageIdByNavigationTag("SignInPage")" class="btn btn-link" id="BackToSignInButton">@Translate("Nevermind, back to sign in")</a>
                </div>
            </form>
            
        </div>

    </div>

</div>

@if (Model.RecoverPasswordResult == RecoverPasswordResultType.MismatchedPasswords)
{
    <div class="alert alert-info" role="alert">
        @Translate("Passwords don't match")
    </div>
}

@if (Model.RecoverPasswordResult == RecoverPasswordResultType.InvalidPasswordLength)
{
    <div class="alert alert-info" role="alert">
        @Translate("Password not accepted: Length is not valid.")
    </div>
}

@if (Model.RecoverPasswordResult == RecoverPasswordResultType.InvalidPasswordComplexity)
{
    <div class="alert alert-info" role="alert">
        @Translate("Password not accepted: {errorMessage.TrimEnd('.')}..")
    </div>
}

@if (Model.RecoverPasswordResult == RecoverPasswordResultType.Success)
{
    <div class="alert alert-info" role="alert">
        @Translate("Password changed")
    </div>
}

