@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.UserPasswordRecoveryEmailViewModel>
@using Dynamicweb
@using System.Collections.Generic
@using System.Linq

<h2>
    @Translate("Password recovery")
</h2>

@if (!string.IsNullOrWhiteSpace(Model.RecoveryLink))
{
    string link = Model.RecoveryLink.Replace("LoginAction=Recovery&", "");

    <p>
        @Translate("Hi") @Model.User.UserName
    </p>
    <p>
        @Translate("We have received a request to reset the password for your account.")
        @Translate("Click on the link below to create a new password.")
    </p>

    <a href="@link">@Translate("Create new password")</a>

    <p>
        @Translate("If you didn't ask to reset your password, ignore this email and your password will not be changed.")
    </p>
}
