@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
	string invalidDescription = !string.IsNullOrEmpty(GetString("UserManagement:User.Description.Input.Error")) ? "is-invalid" : "";
	string invalidName = !string.IsNullOrEmpty(GetString("UserManagement:User.Name.Input.Error")) ? "is-invalid" : "";
	string invalidEmail = !string.IsNullOrEmpty(GetString("UserManagement:User.Email.Input.Error")) ? "is-invalid" : "";
}

@GetString("UserManagement:User.ManageAddresses.FormStart")

	<header class="p-3 border-bottom">
		<div>
			@if (GetBoolean("UserManagement:User.ManageAddresses.AddAddress"))
			{
				<h1 class="h6 m-0">@Translate("Add address")</h1>
			}
			else
			{
				<h1 class="h6 m-0">@Translate("Update address")</h1>
			}
		</div>
	</header>

	<div class="p-3">
		<div class="row">

			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control @invalidDescription" placeholder="@Translate("Description")" name="Description" id="Description" value="@GetString("UserManagement:User.UserAddress.Description.Value")" required />
					<div class="invalid-feedback">@GetString("UserManagement:User.UserAddress.Description.Input.Error")</div>
					<label for="UserManagement_Form_Name" class="form-label">@Translate("Description")</label>
				</div>
			</div>

			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Company") (@Translate("optional"))" name="Company" id="Company" value="@GetString("UserManagement:User.UserAddress.Company.Value")" />
					<div class="invalid-feedback">@GetString("UserManagement:User.UserAddress.Company.Input.Error")</div>
					<label for="UserManagement_Form_Name" class="form-label">@Translate("Company") (@Translate("optional"))</label>
				</div>
			</div>

			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Street & number")" name="Address" id="Address" value="@GetString("UserManagement:User.UserAddress.Address.Value")" required />
					<div class="invalid-feedback">@GetString("UserManagement:User.UserAddress.Address.Input.Error")</div>
					<label for="UserManagement_Form_Email" class="form-label">@Translate("Street & number")</label>
				</div>
			</div>

			<div class="col-12 col-lg-3">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Zip")" name="Zip" id="Zip" value="@GetString("UserManagement:User.UserAddress.Zip.Value")" required />
					<div class="invalid-feedback">@GetString("UserManagement:User.UserAddress.Zip.Input.Error")</div>
					<label for="UserManagement_Form_Email" class="form-label">@Translate("Zip code")</label>
				</div>
			</div>

			<div class="col-12 col-lg-6">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Town / City")" name="City" id="City" value="@GetString("UserManagement:User.UserAddress.City.Value")" required />
					<div class="invalid-feedback">@GetString("UserManagement:User.UserAddress.City.Input.Error")</div>
					<label for="UserManagement_Form_Email" class="form-label">@Translate("Town / City")</label>
				</div>
			</div>

			<div class="col-12 col-lg-3">
				<div class="form-floating mb-3">
					@if (GetBoolean("UserManagement:User.ManageAddresses.AddAddress"))
					{
						<select class="form-select" id="Country" name="Country">
							<option selected>@Translate("Select country")</option>
							@foreach (LoopItem country in GetLoop("UserManagement.CountryList"))
							{
								<option value="@country.GetString("Country.Code2")">@country.GetString("Country.Name")</option>
							}
						</select>
					}
					else
					{
						string countryCode = GetString("UserManagement:User.UserAddress.CountryCode.Value");
						<select class="form-select" id="Country" name="Country">
							@foreach (LoopItem country in GetLoop("UserManagement.CountryList"))
							{
								string selected = country.GetString("Country.Code2") == countryCode ? "selected" : "";
								<option value="@country.GetString("Country.Code2")" @selected>@country.GetString("Country.Name")</option>
							}
						</select>
					}
					<label for="Country" class="form-label">@Translate("Country")</label>
				</div>
			</div>

			<div class="col-12 col-lg-6">
				<div class="form-floating mb-3">
					<input type="email" class="form-control @invalidEmail" placeholder="@Translate("Email")" name="Email" id="Email" value="@GetString("UserManagement:User.UserAddress.Email.Value")" required />
					<div class="invalid-feedback">@GetString("UserManagement:User.UserAddress.Email.Input.Error")</div>
					<label for="UserManagement_Form_Email" class="form-label">@Translate("Email address")</label>
				</div>
			</div>

			<div class="col-12 col-lg-6">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Phone")" name="Phone" id="Phone" value="@GetString("UserManagement:User.UserAddress.Phone.Value")" required />
					<div class="invalid-feedback">@GetString("UserManagement:User.UserAddress.Phone.Input.Error")</div>
					<label for="UserManagement_Form_Email" class="form-label">@Translate("Phone number")</label>
				</div>
			</div>

			<div class="col-12 pb-3">
				<div class="form-check">
					@if (GetBoolean("UserManagement:User.UserAddress.Default.Value"))
					{
						<input class="form-check-input" type="checkbox" id="Default" name="Default" checked="checked">
					}
					else
					{
						<input class="form-check-input" type="checkbox" id="Default" name="Default">
					}
					<label class="form-check-label" for="Default">
						@Translate("Set this address as your default address")
					</label>
				</div>
			</div>

			<div class="col-12">
			@if (GetBoolean("UserManagement:User.ManageAddresses.AddAddress"))
			{
				<button type="submit" id="submitter" class="btn btn-primary">@Translate("Save")</button>
			}
			else
			{
				<button type="submit" id="submit1" class="btn btn-secondary">@Translate("Update")</button>
			}
				<a href="@GetString("UserManagement:User.ManageAddresses.DetailUrl")" class="btn btn-link">@Translate("Cancel")</a>
			</div>

		</div>
	</div>
@GetString("UserManagement:User.ManageAddresses.FormEnd")
