@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@GetString("UserManagement:User.ManageAddresses.AddAddress.Javascript")
@GetString("UserManagement:User.ManageAddresses.UpdateAddress.Javascript")
@GetString("UserManagement:User.ManageAddresses.DeleteAddress.Javascript")
@GetString("UserManagement:User.ManageAddresses.MakeDefault.Javascript")

@{ 
	var addressesLoop = GetLoop("UserManagement:User.UserAddresses");
    int addessesPageSize = 2;
    int addessesCount = 0;

    string addressesPageLink = Pageview.CurrentParagraph.Item["AddressesPage"] != null ? Pageview.CurrentParagraph.Item["AddressesPage"].ToString() : "";
}

<div class="d-flex flex-row align-items-center pb-3 mb-3 border-bottom">
    <h2 class="flex-fill h6 m-0">@Translate("My addresses")</h2>
    @if (addressesPageLink != "")
	{
        <a href="@addressesPageLink" class="btn text-uppercase">@Translate("View all")</a>
	}
</div>
<div class="row g-3">
    @if (!string.IsNullOrEmpty(Pageview.User.Address) || !string.IsNullOrEmpty(Pageview.User.Country) || !string.IsNullOrEmpty(Pageview.User.Zip) || !string.IsNullOrEmpty(Pageview.User.State)) {
		addessesCount++;

        <div class="col-12 col-lg-6">
            <h3 class="mb-2 h6 fw-bold">@Translate("Billing address")</h3>

            @if (!string.IsNullOrEmpty(Pageview.User.Address))
            {
                <div>@Pageview.User.Address</div>
            }
            @if (!string.IsNullOrEmpty(Pageview.User.Zip) || !string.IsNullOrEmpty(Pageview.User.City))
            {
                <div>@Pageview.User.Zip<span>&nbsp;</span>@Pageview.User.City</div>
            }
            @if (!string.IsNullOrEmpty(Pageview.User.State))
            {
                <div>@Pageview.User.State</div>
            }
            @if (!string.IsNullOrEmpty(Pageview.User.Country))
            {
                <div>@Pageview.User.Country</div>
            }
            @if (!string.IsNullOrEmpty(Pageview.User.Email))
            {
                <div>@Pageview.User.Email</div>
            }
            @if (!string.IsNullOrEmpty(Pageview.User.Phone))
            {
                <div>@Pageview.User.Phone</div>
            }
        </div>
    }

    @foreach (LoopItem address in addressesLoop.OrderByDescending(address => address.GetString("UserManagement:User.UserAddress.Default")).ToList())
	{
		if (addessesCount < addessesPageSize)
		{
			string addressId = address.GetString("UserManagement:User.UserAddress.ID");
			addessesCount++;

            <div class="col-12 col-lg-6">
                @if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Description.Value")))
				{
                    <h3 class="mb-2 h6 fw-bold">@Translate("Shipping address") - @address.GetString("UserManagement:User.UserAddress.Description.Value")</h3>
				}
				else
				{
                    <h3 class="mb-2 h6 fw-bold">@Translate("Shipping address")</h3>
				}
                @if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Address.Value")))
				{
                    <div>@address.GetString("UserManagement:User.UserAddress.Address.Value")</div>
				}
                @if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Zip.Value")) || !string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.City.Value")))
				{
                    <div>@address.GetString("UserManagement:User.UserAddress.Zip.Value")<span>&nbsp;</span>@address.GetString("UserManagement:User.UserAddress.City.Value")</div>
				}
                @if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.State.Value")))
				{
                    <div>@address.GetString("UserManagement:User.UserAddress.State.Value")</div>
				}
                @if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Country.Value")))
				{
                    <div>@address.GetString("UserManagement:User.UserAddress.Country.Value")</div>
				}
                @if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Email.Value")))
				{
                    <div>@address.GetString("UserManagement:User.UserAddress.Email.Value")</div>
				}
                @if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Phone.Value")))
				{
                    <div>@address.GetString("UserManagement:User.UserAddress.Phone.Value")</div>
				}
            </div>
		}
	}
</div>
