@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@GetString("UserManagement:User.ManageAddresses.AddAddress.Javascript")
@GetString("UserManagement:User.ManageAddresses.UpdateAddress.Javascript")
@GetString("UserManagement:User.ManageAddresses.MakeDefault.Javascript")

@{ 
	var addressesLoop = GetLoop("UserManagement:User.UserAddresses");
}

<header class="p-3 border-bottom">
	<form id="searchForm" method="get">
		<input type="hidden" name="ID" value="@Pageview.ID">

		<div class="d-flex flex-row align-items-center gap-3">
			<h1 class="h6 m-0 flex-fill text-muted">@Translate("My addresses")</h1>

			@GetString("UserManagement:User.ManageAddresses.FormStart")
			<button type="submit" class="btn btn-link" onclick="addAddress();">@Translate("+ Add new address")</button>
			@GetString("UserManagement:User.ManageAddresses.FormEnd")
		</div>
	</form>
</header>

@if (
	!string.IsNullOrEmpty(Pageview.User.Address) || 
	!string.IsNullOrEmpty(Pageview.User.Country) || 
	!string.IsNullOrEmpty(Pageview.User.Zip) || 
	!string.IsNullOrEmpty(Pageview.User.State)) {
		string accountSettingsLink = Pageview.CurrentParagraph.Item["AccountSettingsPage"] != null ? Pageview.CurrentParagraph.Item["AccountSettingsPage"].ToString() + "&GoBackToPage=" + Pageview.Page.ID : "";

	<table class="table">
		<tr class="card-body">
			<td>
				<h2 class="card-title">@Translate("Billing address")</h2>
				<address>
				@if (!string.IsNullOrEmpty(Pageview.User.Address))
				{
					<div>@Pageview.User.Address</div>
				}
				@if (!string.IsNullOrEmpty(Pageview.User.Zip) || !string.IsNullOrEmpty(Pageview.User.City))
				{
					<div>@Pageview.User.Zip<span>&nbsp;</span>@Pageview.User.City</div>
				}
				@if (!string.IsNullOrEmpty(Pageview.User.State))
				{
					<div>@Pageview.User.State</div>
				}
				@if (!string.IsNullOrEmpty(Pageview.User.Country))
				{
					<div>@Pageview.User.Country</div>
				}
				@if (!string.IsNullOrEmpty(Pageview.User.Email))
				{
					<div>@Pageview.User.Email</div>
				}
				@if (!string.IsNullOrEmpty(Pageview.User.Phone))
				{
					<div>@Pageview.User.Phone</div>
				}
				</address>
			</td>
		</tr>

		@if (accountSettingsLink != "") {
		<tr>
			<td>
				<a href="@accountSettingsLink" class="card-link">@Translate("Edit")</a>
			</td>
		</tr>
		}
	</table>
}

@if (addressesLoop.Count > 0)
{
	<table class="table">

	@foreach (LoopItem address in addressesLoop.OrderByDescending(address => address.GetString("UserManagement:User.UserAddress.Default")).ToList())
	{
		string addressId = address.GetString("UserManagement:User.UserAddress.ID");

		<tbody>
			<tr>
				<td colspan="2">
					@if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Description.Value")))
					{
						<h2 class="h6 mb-3 text-muted">@Translate("Delivery address") - @address.GetString("UserManagement:User.UserAddress.Description.Value")</h2>
					} else {
						<h2 class="h6 mb-3 text-muted">@Translate("Delivery address")</h2>
					}
					<address class="m-0">
					@if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Address.Value")))
					{
						@address.GetString("UserManagement:User.UserAddress.Address.Value")<br>
					}
					@if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Zip.Value")) || !string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.City.Value")))
					{
						@address.GetString("UserManagement:User.UserAddress.Zip.Value")<span>&nbsp;</span>@address.GetString("UserManagement:User.UserAddress.City.Value")<br>
					}
					@if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.State.Value")))
					{
						@address.GetString("UserManagement:User.UserAddress.State.Value")<br>
					}
					@if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Country.Value")))
					{
						@address.GetString("UserManagement:User.UserAddress.Country.Value")<br>
					}
					@if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Email.Value")))
					{
						@address.GetString("UserManagement:User.UserAddress.Email.Value")<br>
					}
					@if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Phone.Value")))
					{
						@address.GetString("UserManagement:User.UserAddress.Phone.Value")<br>
					}
					</address>
				</td>
			</tr>

			@if (addressesLoop.Count > 1)
			{
			<tr>
				<td>
				@if (!address.GetBoolean("UserManagement:User.UserAddress.Default"))
				{
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="@addressId" id="SetDefaultAddress_@addressId" onclick="makeDefaultAddress('@addressId');">
						<label class="form-check-label" for="SetDefaultAddress_@addressId">
							@Translate("Set as default delivery address")
						</label>
					</div>
				}
				else
				{
					@Translate("This is your default delivery address");
				}
				</td>
				<td class="text-end">
					<button type="button" onclick="updateAddress('@addressId');" class="btn btn-link">@Translate("Edit")</button>
					<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#addressDeleteModal_@addressId">@Translate("Delete")</button>
					<div class="modal fade" tabindex="-1" id="addressDeleteModal_@addressId" aria-labelledby="addressDeleteModal_@addressId" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">@Translate("Delete address")</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									@if (!string.IsNullOrEmpty(address.GetString("UserManagement:User.UserAddress.Description.Value")))
									{
										<div>@Translate("You are about to delete the address"): @Translate("Delivery address") - @address.GetString("UserManagement:User.UserAddress.Description.Value")</div>
									}
									else
									{
										<div>@Translate("You are about to delete the address"): @Translate("Delivery address")</div>
									}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Translate("Cancel")</button>
									<form action="/Default.aspx?Id=@Pageview.Page.ID" method="post"> 
										<input type="hidden" name="ManageAddressesFormAction" value="Delete" />
										<input type="hidden" name="SelectedAddressId" value="@addressId" />
										<input type="hidden" name="UserId" value="@Pageview.User.ID" />
										<input type="hidden" name="DefaultAddressId" value="@Pageview.User.ID" />
										<button type="submit" class="btn btn-primary">@Translate("Delete")</button>
									</form>
								</div>
							</div>
						</div>
				</td>
			</tr>
			}

		</tbody>


	}
	</table>
} else {
	@Translate("There are no addresses in the list")
}
