@inherits Dynamicweb.Rendering.ViewModelTemplate<UserViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Security.UserManagement

@if (Model?.ID == null) return;

@{
    string viewProfileLink = !string.IsNullOrEmpty(SearchEngineFriendlyURLs.GetFriendlyUrl(GetPageIdByNavigationTag("ViewProfile"))) ? SearchEngineFriendlyURLs.GetFriendlyUrl(GetPageIdByNavigationTag("ViewProfile")) : string.Empty;
    string customerCenterLink = !string.IsNullOrEmpty(SearchEngineFriendlyURLs.GetFriendlyUrl(GetPageIdByNavigationTag("CustomerCenter"))) ? SearchEngineFriendlyURLs.GetFriendlyUrl(GetPageIdByNavigationTag("CustomerCenter")) : string.Empty;
    string avatarLink = viewProfileLink != string.Empty ? viewProfileLink : customerCenterLink;
}

<style>
    .avatar .hover {
        opacity: 0;
    }

    .avatar .hover:hover {
        opacity: 1;
        
    }
</style>

<div class="vstack align-items-center justify-content-center py-2 position-relative">
    <a href="@(avatarLink)" class="avatar position-relative" title="@Translate("View profile")">
        <div class="btn btn-primary icon-2 rounded-circle position-absolute top-0 left-0 hover" style="height:4rem; width:4rem;" data-dw-button>
            @ReadFile("/Files/Images/Icons/eye.svg")
        </div>

        @if(Model.TryGetImageFile(out ImageFileViewModel? image))
        {
            <div class="align-self-auto hstack justify-content-center p-0" style="height:4rem; aspect-ratio:1;">
                <img src="@image.ToGetImage(new(){ Width = 60, Ratio = "1/1" })" alt="@Model.Name" class="img-thumbnail rounded-circle" itemprop="image"/>
            </div>
        }
        else 
        {
            <div class="btn btn-primary rounded-circle align-self-auto hstack justify-content-center p-0" style="height:4rem; aspect-ratio:1;" data-dw-button="primary">
                <div class="d-flex dw-h6 lh-1 m-0">
                    @(Model.GetTwoLetterInitials())
                </div>
            </div>
        }
    </a>

    <h5 class="h6 mb-0 text-center mt-2">
        @((!string.IsNullOrEmpty(Model?.FirstName) && !string.IsNullOrEmpty(Model?.LastName)) ? $"<span>{Model.FirstName}</span> <span>{Model.LastName}</span>" : Model?.Name)
    </h5>
    
    @if ( UserContext.Current.ImpersonatingUser is not null)
    {
       <p class="text-body text-opacity-50 fs-8 mb-0">@Translate("Impersonated by") @(UserContext.Current.ImpersonatingUser?.Name)</p>
    }
</div>