@inherits Dynamicweb.Rendering.ViewModelTemplate<PageViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Frontend.Navigation
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Ecommerce.Products
@using Dynamicweb.Security.UserManagement

@{
    var sidebarNav = Navigation.GetNavigationViewModel(new() {
        StartLevel = 2,
        StopLevel = 5,
        ExpandMode = ExpandMode.All
    });

    <div hx-swap-oob="true outerHTML:[data-customer-center-navigation]" data-customer-center-navigation>
        @if (sidebarNav?.Nodes?.Any() ?? false)
        {
            <nav class="list-group gap-1 fs-7 rounded-0 pt-1" style="--bs-border-width: 0; --bs-list-group-action-hover-bg: rgba(var(--dw-color-foreground-rgb), .05); --bs-list-group-action-active-bg: rgba(var(--dw-color-foreground-rgb), .1); --bs-list-group-active-bg: rgba(var(--dw-color-foreground-rgb), .08);" role="navigation">
                @foreach (var node in sidebarNav.Nodes.Where(n => n.ShowInMenu))
                {
                    await RenderNavItem(node, (sidebarNav.Nodes.Count(n => (n.Nodes.Any())) > 0));
                }
            </nav>
        }

        @if (Model.CurrentUser is not null)
        {			
            <span class="border-top d-block mb-3"></span>
            <nav class="list-group gap-1 fs-7 pt-1" role="navigation" style="--bs-list-group-border-width: 0; --bs-list-group-action-hover-bg: rgba(var(--dw-color-foreground-rgb), .05); --bs-list-group-action-active-bg: rgba(var(--dw-color-foreground-rgb), .1); --bs-list-group-active-bg: rgba(var(--dw-color-foreground-rgb), .08);">

                @if (UserContext.Current.ImpersonatingUser != null)
                {
                    <a href="Default.aspx?ID=@(Model.ID)&DwExtranetRemoveSecondaryUser=1" class="list-group-item list-group-item-action rounded hstack gap-2">
                        <span class="icon-2">@ReadFile("/Files/Images/Icons/arrows-repeat.svg")</span>
                        <span>
                            @Translate("Switch back to") @(UserContext.Current.ImpersonatingUser.Name)
                        </span>
                    </a>
                }
                <a href="/Admin/Public/ExtranetLogoff.aspx?redirect=no" class="list-group-item list-group-item-action rounded hstack gap-2">
                    <span class="icon-2">@ReadFile("/Files/Images/Icons/arrow-left-from-bracket.svg")</span>
                    @Translate("Sign out")
                </a>
            </nav>
        }

    </div>

    async Task RenderNavItem(NavigationTreeNodeViewModel node, bool isGroupNode = false)
    {
        var pageIcon = string.Empty;
        var nodePage = Dynamicweb.Content.Services.Pages.GetPage(node.PageId);
        if (nodePage?.PropertyItem?.TryGetValue("Icon", out object? pageIconValue) ?? false)
        {
            pageIcon = Dynamicweb.Core.Converter.ToString(pageIconValue);
        }
        bool isGroupHeader = isGroupNode && node.Nodes.Any();

        
        if (isGroupHeader)
        {
            <h6 class="fs-8 mb-2 text-muted mt-3 text-uppercase"><a class="text-muted @(node.IsClickable ? "text-decoration-underline" : "text-decoration-none") @(node.IsActive ? "active fw-bold" : null)" aria-current="@(node.IsActive)" href="@(node.IsClickable ? node.Link : null)">@(node.Name)</a></h6>
            
            foreach (var subnode in node.Nodes.Where(n => n.ShowInMenu))
            {
                await RenderNavItem(subnode);
            }
            
            <span class="d-block mt-3"></span>
        }
        
        else
        {
            <a class="list-group-item list-group-item-action rounded hstack gap-2 @(node.IsActive ? "active" : null) @(!node.IsClickable ? "disabled" : null)" aria-current="@(node.IsActive)" href="@(node.IsClickable ? node.Link : null)" disabled="@(!node.IsClickable)">
                @if (pageIcon.EndsWith(".svg", StringComparison.OrdinalIgnoreCase))
                {
                    <span class="icon-2">@ReadFile(pageIcon)</span>
                }
                <span>@node.Name</span>
                @if (node.Nodes.Any())
                {
                    <span class="icon-2 ms-auto">@ReadFile("/Files/Images/Icons/chevron-right.svg")</span>
                }
            </a>
            
            @if(node.InPath && node.Nodes.Any()) 
            {
                <div class="border-3 border-start ps-2">
                    @foreach (var subnode in node.Nodes.Where(n => n.ShowInMenu))
                    {
                        await RenderNavItem(subnode);
                    }           
                </div>
            }
        }
    }
}