@inherits Dynamicweb.Rendering.ViewModelTemplate<UserViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Frontend.Navigation
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Ecommerce.Products

@if (Model?.ID != null)
{
    <div class="vstack align-items-center p-3 position-relative border-bottom">
        <a href="@(SearchEngineFriendlyURLs.GetFriendlyUrl(GetPageIdByNavigationTag("CustomerCenter")))" class="stretched-link"></a>

        @if(Model.TryGetImageFile(out ImageFileViewModel? image))
        {
            <div class="align-self-auto hstack justify-content-center p-0" style="height:4rem; aspect-ratio:1;">
                <img src="@image.ToGetImage(new(){ Width = 60, Ratio = "1/1" })" alt="@Model.Name" class="img-thumbnail rounded-circle" itemprop="image"/>
            </div>
        }
        else 
        {
            <div class="btn btn-primary align-self-auto hstack justify-content-center p-0" style="height:4rem; aspect-ratio:1;" data-dw-button="primary">
                <div class="d-flex dw-h6 lh-1 m-0">
                    <span>@(Model?.FirstName?.Trim().First() ?? Model?.Name?.Trim().ElementAt(0))</span>
                    <span>@(Model?.LastName?.Trim().First() ?? Model?.Name?.Trim().ElementAt(1))</span>
                </div>
            </div>
        }

        <div class="text-center w-100 mt-2">
            <h5 class="h6 mb-0">@(Model?.FirstName ?? Model?.Name) @(Model?.LastName ?? null)</h5>
        </div>

    </div>
}