@inherits Dynamicweb.Rendering.ViewModelTemplate<UserViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Security.UserManagement

@if (Model?.ID == null) return;

@{
    string? avatarLink = SearchEngineFriendlyURLs.GetFriendlyUrl(GetPageIdByNavigationTag("ViewProfile"));
    avatarLink = avatarLink == null ? SearchEngineFriendlyURLs.GetFriendlyUrl(GetPageIdByNavigationTag("CustomerCenter")) : avatarLink;
}

<div class="vstack align-items-center justify-content-center py-2 position-relative">
    <a href="@(avatarLink)" class="position-relative" style="height:4rem; height: 4rem;" title="@Translate("View profile")" hx-swap-oob="true outerHTML:[data-swift-avatar-image]" data-swift-avatar-image>
        <div class="btn btn-primary icon-2 rounded-circle position-absolute top-0 left-0 p-0 opacity-0 opacity-100-hover" style="height:4rem; width:4rem;" data-dw-button>
            @ReadFile("/Files/Images/Icons/eye.svg")
        </div>

        @if(Model.TryGetImageFile(out ImageFileViewModel? image))
        {
            <div class="align-self-auto hstack justify-content-center p-0" style="height:4rem; aspect-ratio:1;">
                <img src="@image.ToGetImage(new(){ Width = 60, Ratio = "1/1" })" alt="@Model.Name" class="img-thumbnail rounded-circle" itemprop="image"/>
            </div>
        }
        else 
        {
            <div class="btn btn-primary rounded-circle align-self-auto hstack justify-content-center p-0" style="height:4rem; aspect-ratio:1;" data-dw-button>
                <div class="d-flex dw-h6 lh-1 m-0 float-start text-decoration-none">
                    @(Model.GetTwoLetterInitials())
                </div>
            </div>
        }
    </a>

    <h5 class="h6 mb-0 text-center mt-2">
        @((!string.IsNullOrEmpty(Model?.FirstName) && !string.IsNullOrEmpty(Model?.LastName)) ? $"<span>{Model.FirstName}</span> <span>{Model.LastName}</span>" : Model?.Name)
    </h5>
    
    @if ( UserContext.Current.ImpersonatingUser is not null)
    {
       <p class="text-muted fs-8 mb-0">@Translate("Impersonated by") @(UserContext.Current.ImpersonatingUser?.Name)</p>
    }
</div>