@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.CustomerExperienceCenter.Favorites
@using Dynamicweb.Content

@{
	int favoritesPageId = GetPageIdByNavigationTag("FavoritesPage") != 0 ? GetPageIdByNavigationTag("FavoritesPage") : Pageview.ID;
	var favoritesLists = Pageview.User?.GetFavoriteLists();

	if (Model.Item.TryGetLink("FavoritesPage", out var page))
	{
		favoritesPageId = page.PageId;
	}
}

<div class="nav-wrapper" data-swift-menu="@Model.ID">
	<div class="nav-item dropdown position-static">
		@if (favoritesLists?.Count() > 1)
		{
			<button class="btn p-2 nav-link d-inline-flex align-items-center gap-2 text-nowrap text-decoration-underline-hover" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="@Translate("Toggle favorites")" id="FavoritesDropdown_@Model.ID" data-swift-favorites>
				@if (Model.Item.TryGetString("Icon", out var icon) && icon.Contains(".svg"))
				{
					<span class="icon-3 pe-none">@ReadFile(icon)</span>
				}
				@if (Model.Item.TryGetString("Title", out string title) )
				{
					<span>@title</span>
				}
			</button>
			<ul class="dropdown-menu" aria-labelledby="FavoritesDropdown_@Model.ID" data-dw-colorscheme="@Model.ColorScheme?.Id">			
				@foreach (var node in Pageview.User.GetFavoriteLists())
				{
					<li>
						<a href="/Default.aspx?ID=@(favoritesPageId)&FavoriteListId=@(node.ListId)" class="dropdown-item py-2 text-decoration-underline-hover">@node.Name</a>
					</li>
				}
			</ul>
		} 
		else 
		{
			<a href="/Default.aspx?ID=@favoritesPageId" class="p-2 nav-link d-inline-flex align-items-center gap-2 text-nowrap text-decoration-underline-hover" data-swift-favorites>
				@if (Model.Item.TryGetString("Icon", out var icon) && icon.Contains(".svg"))
				{
					<span class="icon-3 pe-none">@ReadFile(icon)</span>
				}
				@if (Model.Item.TryGetString("Title", out string title) )
				{
					<span>@title</span>
				}
			</a>
		}
	</div>
</div>
