@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>


@{ 
	bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;
}

@if (!isVisualEditor) {
	@RenderNodes(Model.Nodes)
} else if (Model.Nodes.Count() == 0) { 
	<div class="alert alert-dark m-0" role="alert">
		<span>@Translate("Breadcrumb navigation: The navigation will be shown here, if any")</span>
	</div>
}


@helper RenderNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
    <ol class="breadcrumb small mb-0">
        @foreach (var node in nodes)
		{
			if (!node.IsActive) {
                <li class="breadcrumb-item active">
					<a href="@node.Link" class="text-reset">@node.Name</a>
				</li>
			} else {
				<li class="breadcrumb-item active">
					@node.Name
				</li>
			}
		}
    </ol>
}
