@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>


@{ 
	bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) && Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit"));
}

@if (!isVisualEditor || Model.Nodes.Any()) {
	@RenderNodes(Model.Nodes)
} else if (!Model.Nodes.Any()) { 
	<div class="alert alert-dark m-0" role="alert">
		<span>@Translate("Breadcrumb navigation: The navigation will be shown here, if any")</span>
	</div>
}

@helper RenderNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
	string linkColor = "#14215B";
	foreach (var node in nodes)
	{
		<text>
		<!--[if !mso]-->
			<a style="display: inline-block;font-size: 14px;font-weight: bold;line-height: 24px;padding: 12px 24px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: @linkColor !important;" href="@node.Link">
				@node.Name
			</a>
		<!--[endif]-->
		<!--[if mso]>
			<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="@node.Link" style="height:50px;v-text-anchor:middle;width:120px;" stroke="f">
    			<w:anchorlock/>
				<v:textbox style="mso-fit-shape-to-text:t" inset="12px,12px,12px,12px">
					<center style="font-size:14px;color:@linkColor;font-weight:bold;mso-line-height-rule:exactly;mso-text-raise:4px">
						@node.Name
					</center>
				</v:textbox>
			</v:rect>
		<![endif]-->
		</text>
	}
}
