@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using Dynamicweb
@using System.Web
@using Dynamicweb.Frontend.Navigation
@using Dynamicweb.Content
@using System.IO

@RenderFirstLevelNodes(Model.Nodes)


@helper RenderFirstLevelNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
    string size = Model?.Parameters["Size"] != null  ? Model.Parameters["Size"].ToString() : "normal";
    string navSpacing = size == "small" ? "" : "py-2";
    string smallClass = size == "normal" ? "" : "small";

    <nav class="nav mx-n3 @smallClass @navSpacing">
        @foreach (var node in nodes)
        {
            var hasChildren = node.Nodes.Count() > 0;
            bool hasManyChildren = false;
            foreach (var subnode in node.Nodes)
            {
                if (subnode.Nodes.Any()) {
                    hasManyChildren = true;
                }
            }

            string submenuType = "auto";
            if (submenuType == "auto") {
                submenuType = hasManyChildren ? "megamenu" : "dropdown";
            }

            string megamenuCss = hasChildren && submenuType == "megamenu" ? "has-megamenu" : "";
            string dropdownAttributes = hasChildren ? "id=\"NavGroup" + node.PageId + "\" role=\"button\" data-bs-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\"" : "";

            <div class="nav-item @smallClass @(node.IsActive ? "active" : "") @megamenuCss">
                @if (node.IsClickable)
                {
                    <a class="nav-link nav-link-clean @(node.IsActive ? "active" : "") @(hasChildren ? "dropdown-toggle" : "")" href="@(hasChildren ? "#" : node.Link)" title="@node.Name" @dropdownAttributes>
                        @RenderNavigationItem(node)
                    </a>
                } else {
                    <span class="nav-link nav-link-clean" title="@node.Name" @dropdownAttributes>
                        @RenderNavigationItem(node)
                    </span>
                }

                @if (hasChildren)
                {
                    if (submenuType == "megamenu") {
                        <div class="dropdown-menu megamenu rounded-0 border-bottom p-4" id="NavGroup@(node.PageId)">
                            <div class="row">
                                @foreach (var subnode in node.Nodes)
                                {
                                    <div class="col">
                                        <a href="@subnode.Link" class="text-decoration-none text-reset">
                                            <h5 class="font-size-sm border-bottom pb-2">@subnode.Name</h5>
                                        </a>
                                        @if (subnode.Nodes.Any())
                                        {
                                            foreach (var subsubnode in subnode.Nodes)
                                            {
                                                <a class="d-block w-100 text-nowrap py-2 font-size-sm text-decoration-none text-reset" href="@subsubnode.Link">@subsubnode.Name</a>
                                            }
                                        }
                                        else 
                                        {
                                            <a class="d-block w-100 text-nowrap py-2 font-size-sm text-decoration-none text-reset" href="@subnode.Link">@subnode.Name</a>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    } else {
                        <ul class="dropdown-menu" aria-labelledby="NavGroup@(node.PageId)">
                            @foreach (var subnode in node.Nodes)
                            {
                                <li>
                                    <a class="dropdown-item" href="@subnode.Link">@subnode.Name</a>
                                </li>
                            }
                        </ul>
                    }  
                }
            </div>
        }
    </nav>
}

@helper RenderNavigationItem(Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel node) { 
    var page = Dynamicweb.Services.Pages.GetPage(node.PageId);
    string pageType = page.ItemType;
    
    string textPosition = Model?.Parameters["TextPosition"] != null ? Model.Parameters["TextPosition"].ToString() : "right";
    bool hideTexts = Model?.Parameters["HideTexts"] != null  ? Convert.ToBoolean(Model.Parameters["HideTexts"].ToString()) : false;
    bool hideIcons = Model?.Parameters["HideIcons"] != null  ? Convert.ToBoolean(Model.Parameters["HideIcons"].ToString()) : false;

    string icon = page.Item["Icon"] != null ? page.Item["Icon"].ToString() : "";

    <div class="d-inline-block">
        @if (pageType == "R4_Checkout") {
            double totalProducts = Dynamicweb.Ecommerce.Common.Context.Cart.GetParentProductLineQuantityCount(Dynamicweb.Ecommerce.Common.Context.Cart.OrderLines);

            if (hideTexts) {
                if (Path.GetExtension(icon).ToLower() == ".svg") {
                    <div class="d-flex flex-row align-items-center position-relative pe-3">
                        <div class="icon-container">
                            @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(icon))   
                        </div>
                        <div class="bg-secondary position-absolute rounded-circle start-100 top-0 translate-middle text-center ms-n2 mt-1" style="width: 1.5rem;">
                            <div><small class="text-white">@totalProducts</small></div>
                        </div>
                    </div>
                }
            } else if (hideIcons) {
                <div>@node.Name</div>
            } else {
                if (textPosition == "bottom") {
                    <div class="d-flex flex-column align-items-center position-relative">
                        @if (Path.GetExtension(icon).ToLower() == ".svg") {
                            <div class="icon-container">
                                @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(icon))   
                            </div>
                        }
                        <div class="mt-2">@node.Name (<span class="js-cart-qty">@totalProducts</span>)</div>
                    </div>
                }
                if (textPosition == "left") {
                    <div class="d-flex flex-row align-items-center position-relative">
                        <div class="me-2">@node.Name (<span class="js-cart-qty">@totalProducts</span>)</div>
                        @if (Path.GetExtension(icon).ToLower() == ".svg") {
                            <div class="icon-container">
                                @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(icon))   
                            </div>
                        }
                    </div>
                }
                if (textPosition == "right") {
                    <div class="d-flex flex-row align-items-center position-relative">
                        @if (Path.GetExtension(icon).ToLower() == ".svg") {
                            <div class="icon-container me-2">
                                @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(icon))   
                            </div>
                        }
                        <div>@node.Name (<span class="js-cart-qty">@totalProducts</span>)</div>
                    </div>
                }
            }
		} else {
            if (hideTexts) {
                if (Path.GetExtension(icon).ToLower() == ".svg") {
                    <div class="d-flex flex-row align-items-center position-relative">
                        <div class="icon-container">
                            @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(icon))   
                        </div>
                    </div>
                }
            } else if (hideIcons) {
                <div>@node.Name</div>
            } else {
                if (textPosition == "bottom") {
                    <div class="d-flex flex-column align-items-center position-relative">
                        @if (Path.GetExtension(icon).ToLower() == ".svg") {
                            <div class="icon-container">
                                @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(icon))   
                            </div>
                        }
                        <div class="mt-2">@node.Name</div>
                    </div>
                }
                if (textPosition == "left") {
                    <div class="d-flex flex-row align-items-center position-relative">
                        <div class="me-2">@node.Name</div>
                        @if (Path.GetExtension(icon).ToLower() == ".svg") {
                            <div class="icon-container">
                                @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(icon))   
                            </div>
                        }
                    </div>
                }
                if (textPosition == "right") {
                    <div class="d-flex flex-row align-items-center position-relative">
                        @if (Path.GetExtension(icon).ToLower() == ".svg") {
                            <div class="icon-container me-2">
                                @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(icon))   
                            </div>
                        }
                        <div>@node.Name</div>
                    </div>
                }
            }
		}
    </div>   
}



