@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>


@{ 
    string navType = Model?.Parameters["NavType"] != null  ? Model.Parameters["NavType"].ToString() : "first-nav";
}

<ul class="@navType">
    @RenderNodes(Model.Nodes)
</ul>


@helper RenderNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
    foreach (var node in nodes)
    {
        var hasChildren = node.Nodes.Count() > 0;

        <li>
            <a class="flex-fill text-reset" aria-current="page" href="@node.Link" title="@node.Name">@node.Name</a>
            @if (hasChildren) {
                <ul>
                    @RenderNodes(node.Nodes)
                </ul>  
            }
        </li>
    }
}
