@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using System.Web
@using System.IO

<ul class="nav">
    @RenderNodes(Model.Nodes)
</ul>


@helper RenderNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
    foreach (var node in nodes)
    {
        var page = Dynamicweb.Services.Pages.GetPage(node.PageId);
        string pageType = page.ItemType;
        string icon = page.Item["Icon"] != null ? page.Item["Icon"].ToString() : "";

        <li class="nav-item">
            <a class="nav-link nav-link-clean flex-fill text-reset" aria-current="page" href="@node.Link" title="@node.Name">
                 @if (!string.IsNullOrEmpty(icon) && !icon.Contains("none")) {
                    if (Path.GetExtension(icon).ToLower() == ".svg") {
                        <div class="svg-icon dw-icon-size-3 w-100">
                             @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(icon))   
                        </div>
                    }
                } else {
                    <div>@node.Name</div>
                }
            </a>
        </li>
    }
}
