@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using System.Web

@{ 
    string navType = Model?.Parameters["NavType"] != null  ? Model.Parameters["NavType"].ToString() : "first-nav";
}

<ul class="nav @navType" role="navigation">
	<div class="nav-inner">
    	@RenderNodes(Model.Nodes)
	</div>
</ul>


@helper RenderNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
    foreach (var node in nodes)
    {
        var hasChildren = node.Nodes.Count() > 0;
		var nodeId = !string.IsNullOrEmpty(node.GroupId) ? node.GroupId : node.PageId.ToString();
		var inPathChecked = node.InPath ? "checked" : "";
		var inPathClass = node.InPath ? "in-path" : "";
		var activeClass = node.IsActive ? "active fw-bold" : "";
        <li class="nav-item py-2">
            <a class="nav-link flex-fill text-reset @activeClass @inPathClass" aria-current="page" href="@node.Link" title="@node.Name">@node.Name</a>
            @if (hasChildren) {
				<label class="nav-link" for="nav_@nodeId">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
				</label>
				<input type="checkbox" class="visually-hidden sub-nav-check" id="nav_@nodeId" @inPathChecked>
                <ul class="nav sub-nav" role="navigation">
					<div class="nav-inner">
						<div class="d-flex align-items-center bg-light py-2">
							<label class="nav-link" for="nav_@nodeId">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
							</label>
							<div class="nav-link ps-0 flex-fill"><span>@node.Name</span></div>
						</div>

						@RenderNodes(node.Nodes)
					</div>
                </ul>  
            }
        </li>
    }
}
