@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using System.Web
@using System.IO

@{ 
    string navType = Model?.Parameters["NavType"] != null  ? Model.Parameters["NavType"].ToString() : "first-nav";
}

<ul class="nav @navType" role="navigation">
	<div class="nav-inner">
    	@RenderNodes(Model.Nodes)
	</div>
</ul>


@helper RenderNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
    foreach (var node in nodes)
    {
        var hasChildren = node.Nodes.Count() > 0;
		var nodeId = !string.IsNullOrEmpty(node.GroupId) ? node.GroupId : node.PageId.ToString();
		var inPathChecked = node.InPath ? "checked" : "";
		var inPathClass = node.InPath ? "in-path" : "";
		var activeClass = node.IsActive ? "active fw-bold" : "";
        <li class="nav-item py-2">
            <a class="nav-link flex-fill text-reset @activeClass @inPathClass" aria-current="page" href="@node.Link" title="@node.Name">@node.Name</a>
            @if (hasChildren) {
				<label class="nav-link" for="nav_@nodeId">
					@RenderStaticIcon("arrow-right")
				</label>
				<input type="checkbox" class="visually-hidden sub-nav-check" id="nav_@nodeId" @inPathChecked>
                <ul class="nav sub-nav" role="navigation">
					<div class="nav-inner">
						<div class="nav-header d-flex align-items-center py-2">
							<label class="nav-link" for="nav_@nodeId">
								@RenderStaticIcon("arrow-left")
							</label>
							<div class="nav-link ps-0 flex-fill"><span>@node.Name</span></div>
						</div>

						@RenderNodes(node.Nodes)
					</div>
                </ul>  
            }
        </li>
    }
}


@helper RenderStaticIcon(string icon)
{
	string iconPath = "/Files/Icons/" + icon + ".svg";  

	if (!iconPath.ToLower().Contains("none") && iconPath != "")
	{
		iconPath = HttpContext.Current.Server.MapPath(iconPath);

		<span class="pe-none">
		@if (File.Exists(iconPath)) {
			@System.IO.File.ReadAllText(iconPath)
		}
		</span>
	}	
}
