@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>

@{
	string navType = Model?.Parameters["NavType"] != null ? Model.Parameters["NavType"].ToString() : "first-nav";
}

<ul class="nav @navType">
	<div class="nav-inner">
		@RenderNodes(Model.Nodes)
	</div>
</ul>


@helper RenderNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
	foreach (var node in nodes)
	{
		var hasChildren = node.Nodes.Count() > 0;
		var nodeId = !string.IsNullOrEmpty(node.GroupId) ? node.GroupId : node.PageId.ToString();
		var inPathChecked = node.InPath ? "checked" : "";
		var inPathClass = node.InPath ? "in-path" : "";
		var activeClass = node.IsActive ? "active fw-bold" : "";
		<li class="nav-item py-1">
			<a class="nav-link flex-fill text-reset @activeClass @inPathClass" aria-current="page" href="@node.Link" title="@node.Name">@node.Name</a>
			@if (hasChildren)
			{
				<label class="nav-link" for="nav_@nodeId">
					@RenderStaticIcon("arrow-right")
				</label>
				<input type="checkbox" class="visually-hidden sub-nav-check" id="nav_@nodeId" @inPathChecked>
				<ul class="nav sub-nav">
					<div class="nav-inner">
						<div class="nav-header d-flex align-items-center py-1">
							<label class="nav-link" for="nav_@nodeId">
								@RenderStaticIcon("arrow-left")
							</label>
							<div class="nav-link ps-0 flex-fill"><span>@node.Name</span></div>
						</div>

						@RenderNodes(node.Nodes)
					</div>
				</ul>
			}
		</li>
	}
	if (Pageview.User != null)
	{ 
		<li class="dropdown-item py-2">
			<a href="/Admin/Public/ExtranetLogoff.aspx?ID=@Pageview.Page.ID" class="nav-link px-0 flex-fill">@Translate("Sign out")</a>
		</li>
	}
}


@helper RenderStaticIcon(string icon)
{
	string iconPath = "/Files/Templates/Designs/R4/Assets/icons/" + icon + ".svg";

	if (!iconPath.ToLower().Contains("none") && iconPath != "")
	{
		iconPath = Dynamicweb.Context.Current.Server.MapPath(iconPath);

		<span class="pe-none">
			@ReadFile(iconPath)
		</span>
	}
}
