@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using System.Web

@functions {
	bool isVisualEditor = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(HttpContext.Current.Request.QueryString.Get("VisualEdit")) : false;
	int count = 0;
}

@helper GetNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
	foreach (var node in nodes)
	{
		if (node.IsActive && node.InPath)
		{
			count++;

			<span>@node.Name</span>
		}
		else
		{
			if (node.InPath)
			{
				count++;

				<span>@node.Name / </span>
			}

			if (node.Nodes.Count() > 0)
			{
				@GetNodes(node.Nodes)
			}
		}
	}
}

@GetNodes(Model.Nodes)

@if (count == 0 && isVisualEditor)
{
	<h1>@Translate("Product groups")</h1>
}
