@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using System.Web

@RenderNodes(Model.Nodes)

@helper RenderNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
    <ul class="list-unstyled">
        @foreach (var node in nodes)
        {
            var hasChildren = node.Nodes.Count() > 0;

            <li>
                <div class="d-flex">
                    <a class="flex-fill" aria-current="page" href="@node.Link" title="@node.Name">@node.Name</a>

                    @if (hasChildren) { 
                        string icon = !node.InPath ? "fa-plus" : "fa-minus";

                        <div class="my-auto" data-toggle="collapse" data-target="#NavigationGroup_@node.GroupId" role="button" aria-expanded="true" aria-controls="NavigationGroup_@node.GroupId"><i class="fal @icon"></i></div>
                    }
                </div>
                @if (hasChildren) {
                    string collapsed = node.InPath ? "show" : "";

                    <div class="ml-3 collapse @collapsed" id="NavigationGroup_@node.GroupId">
                        @RenderNodes(node.Nodes)
                    </div>  
                }
            </li>
        }
    </ul>
}