@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using System.Web

@RenderNodes(Model.Nodes)

@helper RenderNodes(IEnumerable<Dynamicweb.Frontend.Navigation.NavigationTreeNodeViewModel> nodes)
{
    <ul class="nav flex-column">
        @foreach (var node in nodes)
		{
			var hasChildren = node.Nodes.Count() > 0;
			string groupId = !string.IsNullOrEmpty(node.GroupId) ? node.GroupId : node.PageId.ToString();

            <li class="nav-item">
                <div class="d-flex align-items-center ">
                    <a class="nav-link px-0 flex-fill" aria-current="page" href="@node.Link" title="@node.Name">@node.Name</a>

                    @if (hasChildren) {
						string collapseCSS = node.InPath ? "" : "collapsed";

                        <div class="@collapseCSS collapse-icon svg-icon dw-icon-size-4" data-bs-toggle="collapse" data-bs-target="#NavigationGroup_@groupId" role="button" aria-expanded="true" aria-controls="NavigationGroup_@node.GroupId"></div>
                    }
                </div>
                @if (hasChildren) {
                    string collapsed = node.InPath ? "show" : "";

                    <div class="ms-3 collapse @collapsed" id="NavigationGroup_@groupId">
                        @RenderNodes(node.Nodes)
                    </div>  
                }
            </li>
        }
    </ul>
}
