@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Frontend.Navigation

@if (!Model.Nodes.Any()) return;

<ul class="navbar-nav">
    @foreach (var node in Model.Nodes.Where(n => n.ShowInMenu))
    {
        var isEcom = node.IsEcommerceGroup();

        <li class="hstack justify-content-between">
            <a href="@(node.Link)" class="flex-fill text-decoration-none @(node.Level.Equals(2) ? null : "text-body text-opacity-75")">
                <span class="dw-h4">@node.Name</span>
            </a>
            
            @if(node.Nodes.Where(n => n.ShowInMenu).Any())
            {
                var areaId = Dynamicweb.Content.Services.Pages.GetPage(node.PageId)?.AreaId;
                var endpoint = $"/dwapi/frontend/navigations/{areaId}?ExpandMode=all&RootPageId={node.PageId}";
                var template = "Designs/Swift-v2/Paragraph/Swift-v2_OffCanvasMenu/OffCanvasMenu/Partials/NewEcomOffCanvas.cshtml";

                <button type="button" class="btn icon-3 py-2 ps-4 pe-0"
                    hx-trigger="click"
                    hx-get="@(endpoint)" 
                    hx-headers='
                    {
                        "Accept": "text/html",
                        "x-dw-template": "@(template)",
                        "x-pageId": "@(node.PageId)",
                        "x-pageName": "@(node.Name)",
                        "x-areaId": "@(areaId)",
                        "x-groupId": "@(isEcom ? node.GroupId : null)",
                        "x-isEcom": "@(isEcom)",
                        "x-level": "@(node.Level)"
                    }'
                    hx-target="closest .offcanvas.d-grid"
                    hx-swap="beforeend"
                >
                    @ReadFile("/Files/Images/Icons/chevron-right.svg")
                </button>
            }
        </li>
    }
</ul>