@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>

@functions 
{
	private string GetTableReset()
	{
		return "border-collapse:separate;border-spacing:0;border:0;margin:0;outline:0;padding:0;";
	}
}

@{
	var settings = Dynamicweb.Frontend.ContentViewModelFactory.CreatePageInfoViewModel(Pageview.Page.Parent).Item;
	var rowType = Model.Item.SystemName.ToLower();
	var rowId = Model.Id;
	var stack = Model.Item.GetRawValueString("MobileBehaviour", "stack");

	@* The email settings page *@
	var emailThemeId = settings.GetRawValueString("EmailTheme");
	var emailThemeParagraph = emailThemeId != null && emailThemeId != string.Empty ? Dynamicweb.Services.Paragraphs.GetParagraph(Convert.ToInt32(emailThemeId)) : null;
	var emailTheme = emailThemeParagraph != null && Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(emailThemeParagraph).Item.GetString("CssClassName") != string.Empty ? Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(emailThemeParagraph)?.Item : null;
	
	var emailContentThemeId = settings.GetRawValueString("EmailContentTheme");
	var emailContentThemeParagraph = emailContentThemeId != null && emailContentThemeId != string.Empty ? Dynamicweb.Services.Paragraphs.GetParagraph(Convert.ToInt32(emailContentThemeId)) : null;
	var emailContentTheme = emailContentThemeParagraph != null && Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(emailContentThemeParagraph).Item.GetString("CssClassName") != string.Empty ? Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(emailContentThemeParagraph)?.Item : null;
	
	@* Row theme colors*@
	var rowThemeId = Model.Item.GetRawValueString("RowBackground");
	var rowThemeParagraph = rowThemeId != null && rowThemeId != string.Empty ? Dynamicweb.Services.Paragraphs.GetParagraph(Convert.ToInt32(rowThemeId)) : null;
	var rowTheme = rowThemeParagraph != null && Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(rowThemeParagraph).Item.GetString("CssClassName") != string.Empty ? Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(rowThemeParagraph)?.Item : null;
	string rowBackgroundColor = "background-color:"; 
	rowBackgroundColor += rowTheme != null ? rowTheme.GetString("BackgroundColor") + ";" : emailTheme != null ? emailTheme.GetString("BackgroundColor") + ";" : "none;";
	string rowColor = "color:";
	rowColor += rowTheme != null ? rowTheme.GetString("ForegroundColor") + ";" : emailTheme != null ? emailTheme.GetString("ForegroundColor") + ";" : "inherit;";

	@* Column theme colors *@
	var columnThemeId = Model.Item.GetRawValueString("ColumnBackground", string.Empty);
	var columnThemeParagraph = columnThemeId != null && columnThemeId != string.Empty ? Dynamicweb.Services.Paragraphs.GetParagraph(Convert.ToInt32(columnThemeId)) : null;
	var columnTheme = columnThemeParagraph != null && Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(columnThemeParagraph).Item.GetString("CssClassName") != string.Empty ? Dynamicweb.Frontend.ContentViewModelFactory.CreateParagraphInfoViewModel(columnThemeParagraph)?.Item : null;
	string columnBackgroundColor = "background-color:";
	columnBackgroundColor += columnTheme != null ? columnTheme.GetString("BackgroundColor") + ";" : emailContentTheme != null ? emailContentTheme.GetString("BackgroundColor") + ";" : "none;";
	string columnColor = "color:";
	columnColor += columnTheme != null ? columnTheme.GetString("ForegroundColor") + ";" : emailContentTheme != null ? emailContentTheme.GetString("ForegroundColor") + ";" : "inherit;";
}

<div class="@rowType" id="@rowId" style="@GetTableReset()">
	<table class="row" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;mso-line-height-rule:exactly;@GetTableReset()width:100%;@(rowBackgroundColor)@(rowColor)" width="100%">
		<tbody>
			<tr style="@GetTableReset()">
				<td style="@GetTableReset()">
					<table class="row-content @(stack)" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;mso-line-height-rule:exactly;@GetTableReset()color:inherit;width:640px;@(columnBackgroundColor)@(columnColor)margin-left:auto;margin-right:auto;" width="640">
						<tbody>
							<tr style="@GetTableReset()">
								<td class="column" style="mso-table-lspace:0pt;mso-table-rspace:0pt;text-align:left;vertical-align:top;mso-line-height-rule:exactly;@GetTableReset()" width="50%">
									@Model.Column(1).Output()
								</td>
								<td class="column" style="mso-table-lspace:0pt;mso-table-rspace:0pt;text-align:left;vertical-align:top;mso-line-height-rule:exactly;@GetTableReset()" width="50%">
									@Model.Column(2).Output()
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
