@inherits ViewModelTemplate<UserListViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend

<div>
    <header class="p-3 py-md-2 border-bottom">
        <div class="grid grid-1 grid-md-2 align-items-center gap-3">
            <h1 class="h6 m-0">@Pageview.CurrentParagraph.Item["Title"]</h1>
        </div>
    </header>

    @if (Model.Users.Count() > 0)
    {
        <table class="table d-none d-lg-table table-linked table-striped table-hover align-top mb-0">
            <thead>
                <tr>
                    <th>@Translate("Id")</th>
                    <th>@Translate("Name")</th>
                    <th>@Translate("Customer number")</th>
                    <th>@Translate("Country")</th>
                </tr>
            </thead>

            <tbody class="border-top-0">
                @foreach (var user in Model.Users)
                {
                    string userLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;Secret={user.UniqueId}";

                    <tr>
                        <td>
                            <a href="@userLink" class="d-block text-decoration-none" tabindex="-1">
                                @user.ID
                            </a>
                        </td>

                        @if (!string.IsNullOrEmpty(user.Name))
                        {
                            <td>
                                <a href="@userLink" class="d-block text-decoration-none" tabindex="-1">
                                    @user.Name
                                </a>
                            </td>
                        }

                        <td>
                            <a href="@userLink" class="d-block text-decoration-none" tabindex="-1">
                                @user.CustomerNumber
                            </a>
                        </td>

                        <td>
                            <a href="@userLink" class="d-block text-decoration-none" tabindex="-1">
                                @user.Country
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info text-center mt-3" role="alert">
            @Translate("No users found")
        </div>
    }
</div>