@inherits ViewModelTemplate<UserListViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend

@if (Model.Users.Count() > 0)
{
    <table class="table d-none d-lg-table table-striped table-hover align-top mb-0">
        <thead>
            <tr>
                <th>@Translate("Id")</th>
                <th>@Translate("Name")</th>
                <th>@Translate("Customer number")</th>
                <th>@Translate("Country")</th>
                <th>@Translate("Email")</th>
                <th>@Translate("Phone")</th>
            </tr>
        </thead>

        <tbody class="border-top-0">
            @foreach (var user in Model.Users)
            {
                <tr role="button"
                    tabindex="0"
                    data-bs-toggle="offcanvas" 
                    data-bs-target="#DynamicOffcanvas"
                    hx-trigger="click" 
                    hx-target="#DynamicOffcanvas" 
                    hx-get="/"
                    hx-vals='{"ParagraphId": "@Pageview.CurrentParagraph.ID", "ID": "@Pageview.Page.ID", "LayoutTemplate": "Swift-v2_PageClean.cshtml", "Secret": "@user.UniqueId"}'>

                    <td>@user.ID</td>
                    <td>@user.Name</td>
                    <td>@user.CustomerNumber</td>
                    <td>@user.Country</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info text-center mt-3" role="alert">
        @Translate("No users found")
    </div>
}
