@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@helper RenderManualPaymentForm()
{
	<div class="mb-4">
		<div class="grid">
			<div class="alert alert-warning  d-none m-0 mb-lg-1 g-col-12" id="ErrorBlock"></div>
		
		    <input type="hidden" id="dataValue" name="dataValue">
		    <input type="hidden" id="dataDescriptor" name="dataDescriptor">
		    
		    <div class="g-col-12 g-col-sm-6">
			     <div class="form-floating">
                    <input id="fullName" placeholder="@Translate("Cardholder's Name")" name="fullName" type="text" class="form-control">
                    <label class="form-label" for="fullName">@Translate("Cardholder's name")</label>
                </div>
            </div>
		    <div class="g-col-12 g-col-sm-6">
			    <div class="form-floating">
				    <input id="cardNumber" required="required" placeholder="@($"{Translate("Card number")} ({Translate("required")})")" name="cardNumber" type="text" class="form-control">
				    <label class="form-label" for="cardNumber">@($"{Translate("Card number")} ({Translate("required")})")</label>
			    </div>
		    </div>
		    
		    <div class="g-col-12 g-col-sm-3">
			    <div class="form-floating">
				    <input id="expMonth" required="required" placeholder="@($"{Translate("Month")} (MM) ({Translate("required")})")" name="expMonth" type="text" class="form-control" maxlength="2">
				    <label class="form-label" for="expMonth">@($"{Translate("Month")} (MM) ({Translate("required")})")</label>
			    </div>
		    </div>
		    
		    <div class="g-col-12 g-col-sm-3">
                <div class="form-floating">
                    <input id="expYear" required="required" placeholder="@($"{Translate("Year")} (YY) ({Translate("required")})")" name="expYear" type="text" class="form-control" maxlength="2">
                    <label class="form-label" for="expYear">@($"{Translate("Year")} (YY) ({Translate("required")})")</label>
                </div>
            </div>
            
		    <div class="g-col-12 g-col-sm-3">
			    <div class="form-floating">
				    <input id="cardCode" required="required" placeholder="@($"{Translate("Card Code")} (YY) ({Translate("required")})")" name="cardCode" type="text" class="form-control" maxlength="4">
				    <label class="form-label" for="cardCode">@($"{Translate("Card Code")} (YY) ({Translate("required")})")</label>
			    </div>
		    </div>
		    
		    <div class="g-col-12 g-col-sm-3">
                <div class="form-floating">
                    <input id="zip" placeholder="@Translate("Zip Code")" name="zip" type="text" class="form-control">
                    <label class="form-label" for="zip">@Translate("Zip Code")</label>
                </div>
            </div>
            
		    <button class="form-pay-button d-none btn btn--primary" onclick="sendPaymentDataToAnet()" type="button">@Translate("Pay")</button>
		</div>
	</div>
}
