@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>

@{
	string containerClass = "container-xl";

	string width = Model.Item.GetRawValueString("Width", "").ToLower();
	if (width == "stretch")
	{
		containerClass = "container-fluid";
	}
	if (width == "none")
	{
		containerClass = "overflow-hidden";
	}

	string rowClass = "gap-3";
	string spaceBetweenColumns = Model.Item.GetRawValueString("SpaceBetweenColumns", "").ToLower();

	if (spaceBetweenColumns == "stick")
	{
		rowClass = "gap-0";
	}
	if (spaceBetweenColumns == "spacing-large")
	{
		rowClass = "gap-1 gap-md-4 gap-lg-5";
	}

	string columnPosition = Model.Item.GetRawValueString("ColumnPosition", "align-items-center").ToLower();
	if (columnPosition == "top")
	{
		columnPosition = "align-items-start";
	}
	if (columnPosition == "center")
	{
		columnPosition = "align-items-center";
	}
	if (columnPosition == "bottom")
	{
		columnPosition = "align-items-end";
	}

	string rowHeight = Model.Item.GetRawValueString("RowHeight", "0").ToLower();
	rowHeight = "py-" + rowHeight;

	string column1width = Model.Item.GetRawValueString("Column_1Width", "").ToLower();
	column1width = column1width == "grow" ? "flex-grow-1" : "flex-grow-0";

	string column2width = Model.Item.GetRawValueString("Column_2Width", "").ToLower();
	column2width = column2width == "grow" ? "flex-grow-1" : "flex-grow-0";

	string hideOnScroll = Model.Item.GetRawValueString("HideOnScroll", "").ToLower();
	hideOnScroll = hideOnScroll == "hide" ? "js-hide-on-scroll" : "";

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
	string alternativeTheme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("AlternativeTheme")) ? " theme " + Model.Item.GetRawValueString("AlternativeTheme").Replace(" ", "").Trim().ToLower() : "";
	string mainTheme = theme;

	string headerCssClass = "sticky-top";
	if (Pageview.Page.PropertyItem != null) {
		headerCssClass = Pageview.Page.PropertyItem["MoveThisPageBehindTheHeader"] != null ? Pageview.Page.PropertyItem["MoveThisPageBehindTheHeader"].ToString() : "sticky-top";
	}
	headerCssClass = headerCssClass == "" ? "sticky-top" : headerCssClass;
	headerCssClass = Pageview.IsVisualEditorMode ? "" : headerCssClass;

	string themeSwitchers = "";
	string themeAnimated = "";
	if (headerCssClass == "fixed-top")
	{
		theme = alternativeTheme;
		themeSwitchers = "data-main-theme=\"" + mainTheme + "\" data-alternative-theme=\"" + alternativeTheme + "\"";
		themeAnimated = "theme-animated ";
	}

	if (Pageview.IsVisualEditorMode || !string.IsNullOrWhiteSpace(Model.Column(1).Output()) || !string.IsNullOrWhiteSpace(Model.Column(2).Output()))
	{
		<div class="@rowHeight @themeAnimated @theme @hideOnScroll item_@Model.Item.SystemName.ToLower()" @themeSwitchers>
			<div class="@containerClass">
				<div class="d-flex flex-row @rowClass @columnPosition">
					<div class="col @column1width">
						@Model.Column(1).Output()
					</div>
					<div class="col @column2width">
						@Model.Column(2).Output()
					</div>
				</div>
			</div>
		</div>
	}
}
