@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@foreach (LoopItem item in GetLoop("ItemPublisher:Items.List"))
{
	string title = item.GetString("ItemPublisher:Item.Title");
	string coverImagePath = item.GetString("ItemPublisher:Item.CoverImage");
	string coverImage = $"/Admin/Public/GetImage.ashx?image={coverImagePath}&width=320&Crop=0&Quality=75&format=webp";
	string summary = item.GetString("ItemPublisher:Item.Summary");
	string tags = item.GetString("ItemPublisher:Item.Tags");
	int authorID = item.GetInteger("ItemPublisher:Item.Author");
	var author = Dynamicweb.Security.UserManagement.User.GetUserByID(authorID);
	string authorImage = $"/Admin/Public/GetImage.ashx?image={author.Image}&Height=48&width=48&Crop=0&Quality=100&format=webp";
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	string link = item.GetString("ItemPublisher:Item.Url");
	string theme = Pageview.CurrentParagraph.Item["Theme"].ToString();
	string themeClass = string.Empty;

	if (!string.IsNullOrEmpty(theme)) {
		themeClass = "theme " + theme + " p-3 " ;
	}

	<article>
		<a class="text-decoration-none" title="@title" href="@link">
			<figure class="m-0 ratio ratio-16x9">
				<img src="@coverImage" loading="lazy" alt="@title" style="object-fit: cover;">
			</figure>
		</a>
		<div class="@(themeClass)pt-3">
			<div class="grid grid-1 gap-2">
				<div class="d-flex gap-2 align-items-center">
					<img class="img-fluid rounded-circle" src="@authorImage" loading="lazy" alt="@author.Name" width="32" height="32" />
					<div class="d-flex flex-column">
						<div class="flex-fill fs-8 opacity-75">
							<span>@author.Name, </span>
							<span>@author.JobTitle</span>
						</div>
						<div class="d-flex align-items-center gap-1 fs-8 opacity-75">
							<div class="icon-1">
								@ReadFile(iconPath + "calendar.svg")
							</div>
							<span>@item.GetDate("ItemPublisher:Item.ActiveFrom").ToShortDateString()</span>
						</div>
					</div>

				</div>
				<h5 class="m-0">@title</h5>
				<p class="m-0">@summary.</p>
			</div>
			<div class="pt-3">
				<a href="@link" class="btn btn-primary p-2">
					<div class="icon-3">
						@ReadFile(iconPath + "arrow-right.svg")
					</div>
				</a>
			</div>
		</div>
	</article>
}
