@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@foreach (LoopItem item in GetLoop("ItemPublisher:Items.List"))
{
	string title = item.GetString("ItemPublisher:Item.Title");
	string coverImagePath = item.GetString("ItemPublisher:Item.CoverImage");
	string coverImage = $"/Admin/Public/GetImage.ashx?image={coverImagePath}&width=320&Crop=0&Quality=75&format=webp";
	string summary = item.GetString("ItemPublisher:Item.Summary");
	string tags = item.GetString("ItemPublisher:Item.Tags");
	int authorID = item.GetInteger("ItemPublisher:Item.Author");
	var author = Dynamicweb.Security.UserManagement.User.GetUserByID(authorID);
	string authorImage = $"/Admin/Public/GetImage.ashx?image={author.Image}&Height=48&width=48&Crop=0&Quality=100&format=webp";
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	string link = item.GetString("ItemPublisher:Item.Url");

	string theme = Pageview.CurrentParagraph.Item["Theme"].ToString();
	string themeClass = " theme " + theme + " p-3 ";

	string listStyle = Pageview.CurrentParagraph.Item["ListStyle"].ToString();
	string itemStyleStacked = Pageview.CurrentParagraph.Item["ItemStyleStacked"].ToString();
	string itemStyleSideBySide = Pageview.CurrentParagraph.Item["ItemStyleSideBySide"].ToString();

	string listStyleClass = string.Empty;

	if (listStyle == "side-by-side")
	{
		listStyleClass = "d-flex";

		if(itemStyleSideBySide == "image-right") {
			listStyleClass += " flex-row-reverse";
		}
	}

	<article class="@listStyleClass">
		<a class="text-decoration-none w-100" title="@title" href="@link">
			<figure class="m-0">
				<img class="img-fluid" src="@coverImage" loading="lazy" alt="@title" style="object-fit: cover;">
			</figure>
		</a>
		<div class="d-flex flex-column flex-fill gap-3@(themeClass)pt-3">
			<div class="d-flex gap-2 align-items-center">
				<img class="img-fluid rounded-circle" src="@authorImage" loading="lazy" alt="@author.Name" width="32" height="32" />
				<div class="d-flex flex-column flex-fill fs-8 opacity-75">
					<div class="flex-fill">
						<span>@author.Name, </span>
						<span>@author.JobTitle</span>
					</div>
					<div class="d-flex align-items-center gap-1">
						<div class="icon-1">
							@ReadFile(iconPath + "calendar.svg")
						</div>
						<span>@item.GetDate("ItemPublisher:Item.ActiveFrom").ToShortDateString()</span>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column flex-fill">
				<h3 class="h5 m-0">@title</h3>
				<p class="m-0">@summary</p>
			</div>
			<div class="pt-3">
				<a href="@link" class="btn btn-primary p-2">
					<div class="icon-3">
						@ReadFile(iconPath + "arrow-right.svg")
					</div>
				</a>
			</div>
		</div>
	</article>
}
