@inherits ViewModelTemplate<OrderViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.ProductCatalog

<div class="modal fade" id="checkoutCartModal" tabindex="-1" aria-labelledby="CheckoutCart" aria-hidden="true" 
  hx-on::load="bootstrap.Modal.getOrCreateInstance(this).show();"
  x-on:hide-bs-modal.dot="
    const el = document.activeElement;
    if (el && $el.contains(el)) el.blur();
  "
  x-on:hidden-bs-modal.dot="
    bootstrap.Modal.getOrCreateInstance($el).dispose();
    $el.remove();
  "
  >
  <div class="modal-dialog pt-8">
    <div class="modal-content">
      <form method="post">
        <div class="modal-header">
          <h5 class="modal-title">@Translate("Go to checkout")</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Translate("Cancel")"></button>
        </div>
        <div class="modal-body">
          <p class="mb-0 text-muted lh-sm fs-7">@Translate("Are you sure you want to go to checkout with") <span class="fw-bold text-body">@Model.DisplayName @Model.Id</span></p>
          <input type="hidden" name="CartId" id="CartId" value='@Model.Id' />
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal" data-dw-button>@Translate("Cancel")</button>
          <button type="submit" class="btn btn-primary btn-sm" name="CustomerCenterCmd" value="GoToCheckout" data-dw-button>@Translate("Go to checkout")</button>
        </div>
      </form>
    </div>
  </div>
</div>