@inherits ViewModelTemplate<LoginViewModel>
@using Dynamicweb.Users.Frontend.LoginModule
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb

<form class="grid grid-1 gap-4 p-4" method="post">
    <input type="hidden" name="redirect" value="@Model.RedirectAfterLogin">

    <div class="form-floating">
        <input type="text" class="form-control" id="login-username" name="username" placeholder="@Translate("Email")" required>
        <label for="login-username">@Translate("Email")</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control" id="LoginPassword" name="password" placeholder="@Translate("Password")" required>
        <label for="login-password">@Translate("Password")</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="True" name="Autologin" id="RememberMe">
        <label class="form-check-label" for="RememberMe">@Translate("Keep me signed in")</label>
    </div>

    <div class="d-grid align-items-center">
        <button type="submit" class="btn btn-primary btn-lg" id="SignInButton">@Translate("Sign in")</button>
    </div>
</form>
