@inherits ViewModelTemplate<LoginViewModel>
@using Dynamicweb.Users.Frontend.LoginModule
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb

<div class="mx-auto w-100 w-md-75">
    <form method="post">
        <input type="hidden" name="redirect" value="@Model.RedirectAfterLogin">

        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="login-username" name="username" placeholder="@Translate("Email")" required>
            <label for="login-username">@Translate("Email")</label>
        </div>

        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="LoginPassword" name="password" placeholder="@Translate("Password")" required>
            <label for="login-password">@Translate("Password")</label>
        </div>

        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="True" name="Autologin" id="RememberMe">
            <label class="form-check-label" for="RememberMe">@Translate("Keep me signed in")</label>
        </div>

        <div class="d-grid align-items-center">
            <button type="submit" class="btn btn-primary" data-dw-button="primary" id="SignInButton">@Translate("Sign in")</button>
        </div>
    </form>
</div>
