@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend.Navigation
@using Dynamicweb.Content

@{
	int rootPageId = GetPageIdByNavigationTag("SignInPage") != 0 ? GetPageIdByNavigationTag("SignInPage") : Pageview.ID;
	if (Model.Item.TryGetLink("SignInPage", out var signInPage))
	{
		rootPageId = signInPage.PageId;
	}

	NavigationTreeViewModel navigationModel = null;
	navigationModel = Navigation.GetNavigationViewModel(new NavigationSettings()
	{
		RootPageId = rootPageId,
		ExpandMode = ExpandMode.All
	});
}

@if (Pageview.User == null || Pageview.IsVisualEditorMode)
{
	<div class="nav-wrapper" data-swift-menu="@Model.ID">
		<div class="nav-item dropdown position-static">
			<a href="/Default.aspx?ID=@rootPageId" class="nav-link hstack gap-2 p-2 text-nowrap text-decoration-underline-hover" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="SignInDropdown_@Model.ID">
				@if (Model.Item.TryGetString("Icon", out var icon) && icon.Contains(".svg"))
				{
					<span class="icon-3 pe-none">@ReadFile(icon)</span>
				}
				@if (Model.Item.TryGetString("Title", out string title) )
				{
					<span>@title</span>
				}
			</a>
			<ul class="dropdown-menu dropdown-menu-shadow" aria-labelledby="SignInDropdown_@Model.ID" data-dw-colorscheme="light">			
				@foreach (var node in navigationModel?.Nodes)
				{
					<li>
						<a class="dropdown-item" href="@node.Link">@node.Name</a>
					</li>

				}
			</ul>
		</div>
	</div>
}
