@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.FileViewModel>
@using System.IO
@using Dynamicweb.Frontend

@if (!string.IsNullOrEmpty(Model.Path))
{
	string imagePath = Model?.Path ?? "";
	imagePath = Dynamicweb.Context.Current.Server.UrlEncode(imagePath);

	int xPos = Model?.FocalPositionFromLeft ?? 50;
	int yPos = Model?.FocalPositionFromTop ?? 50;
	string cssPosition = $"{xPos}% {yPos}%";

	string imgSizeSelector = "50vw";
	bool isFullScreenWidth = GetViewParameterBoolean("fullwidth");
	if (isFullScreenWidth)
	{
		imgSizeSelector = "100vw";
	}
	else
	{
		int imageColumnCount = GetViewParameterInt32("columns");
		if (imageColumnCount == 1)
		{
			imgSizeSelector = "100vw";
		}
		else if (imageColumnCount == 2)
		{
			imgSizeSelector = "50vw";
		}
		else if (imageColumnCount == 3)
		{
			imgSizeSelector = "33vw";
		}
		else if (imageColumnCount == 4)
		{
			imgSizeSelector = "25vw";
		}
		else if (imageColumnCount == 6)
		{
			imgSizeSelector = "17vw";
		}
	}



	@* Image sizes + a fallback image *@
	//string imagePathXS = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=360&format=webp";
	//string imagePathS = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=480&format=webp";
	string imagePathM = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=640&format=webp";
	string imagePathL = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=960&format=webp";
	string imagePathXL = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=1280&format=webp";
	string imagePathXXL = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=1920&format=webp";
	string imagePathFallBack = imagePathM;

	@* attributes to send to the image tag *@
	string loading = !string.IsNullOrEmpty(GetViewParameterString("loading")) ? GetViewParameterString("loading") : "lazy";
	var cssClass = GetViewParameter("cssClass");
	var itemprop = GetViewParameter("itemprop");
	var style = GetViewParameter("style");
	string alt = GetViewParameterString("alt");
	var dataImageNumber = GetViewParameter("data-image-number");
	var id = GetViewParameter("id"); //	GetViewParameter returns null if no value is found leaving out the id attribute if no value is present for this parameter.
	var title = GetViewParameter("title");
	if (title != null) {
		title = title.ToString() != "" ? "title=\"" + title + "\"" : "";
    }

	if (Path.GetExtension(imagePath).ToLower() == ".svg")
	{
		<div class="icon-auto">
			@ReadFile(Model.Path)
		</div>
	}
	else
	{
		<img srcset="
			@imagePathM   640w,
			@imagePathL   960w,
			@imagePathXL  1280w,
			@imagePathXXL 1920w"
			 src="@imagePathFallBack"
			 sizes="(min-width: 992px) @imgSizeSelector, 100vw"
			 loading="@loading"
			 decoding="async"
			 class="@cssClass"
			 style="object-fit: cover;object-position: @cssPosition;@style"
			 alt="@alt"
			 id="@id"
			 itemprop="@itemprop"
			 data-image-number="@dataImageNumber"
			 @title>
	}
}
