@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.FileViewModel>
@using System.IO
@using Dynamicweb.Frontend

@if (!string.IsNullOrEmpty(Model.Path))
{
	string imagePath = Model?.Path ?? "";
	imagePath = Dynamicweb.Context.Current.Server.UrlEncode(imagePath);

	int xPos = Model?.FocalPositionFromLeft ?? 50;
	int yPos = Model?.FocalPositionFromTop ?? 50;
	string cssPosition = $"{xPos}% {yPos}%";

	@* Image sizes + a fallback image *@
	string imagePathXS = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=360&format=webp";
	string imagePathS = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=480&format=webp";
	string imagePathM = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=640&format=webp";
	string imagePathL = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=960&format=webp";
	string imagePathXL = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=1280&format=webp";
	string imagePathXXL = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=1920&format=webp";
	string imagePathFallBack = imagePathM;

	@* attributes to send to the image tag *@
	string loading = !string.IsNullOrEmpty(GetViewParameterString("loading")) ? GetViewParameterString("loading") : "lazy";
	string cssClass = GetViewParameterString("cssClass");
	string style = GetViewParameterString("style");
	string alt = GetViewParameterString("alt");
	string dataImageNumber = GetViewParameterString("data-image-number");
	var id = GetViewParameter("id"); //	GetViewParameter returns null if no value is found leaving out the id attribute if no value is present for this parameter.


	if (Path.GetExtension(imagePath).ToLower() == ".svg")
	{
		<div class="icon-4">
			@ReadFile(Model.Path)
		</div>
	}
	else
	{
		<img srcset="
			@imagePathXS   360w,
			@imagePathS   480w,
			@imagePathM   640w,
			@imagePathL   960w,
			@imagePathXL  1280w,
			@imagePathXXL 1920w"
			 src="@imagePathFallBack"
			 sizes="(min-width: 992px) 50vw, 100vw"
			 loading="@loading"
			 decoding="async"
			 class="@cssClass"
			 style="object-fit: cover;object-position: @cssPosition;@style"
			 alt="@alt"
			 id="@id"
			 data-image-number="@dataImageNumber">
	}
}
