@inherits ViewModelTemplate<ProductViewModel>
@using Dynamicweb.Ecommerce.CustomerExperienceCenter.Favorites
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog

@{
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	string productId = Model.Id;
	bool isInFavoriteList = Pageview.User.IsProductInAnyFavoriteList(productId);
	string favoriteListId = Dynamicweb.Context.Current.Request.QueryString.Get("FavoriteListId");
}

<form methmethod="post" action="">

	<input type="hidden" name="productId" value="@Model.Id" />
	<input type="hidden" name="variantId" value="@Model.VariantId" />
	<input type="hidden" name="variantId" value="@Pageview.User.ID" />
	<input type="hidden" name="variantId" value="@favoriteListId" />

	@if(isInFavoriteList)
	{
		<button type="button" class="btn btn-secondary">
			<span class="icon-2">
				@ReadFile(iconPath + "heart-filled.svg")
			</span>
		</button>
	} else {
		<button type="button" class="btn btn-secondary">
			<span class="icon-2">
				@ReadFile(iconPath + "heart.svg")
			</span>
		</button>
	}
</form>
