@inherits ViewModelTemplate<ProductViewModel>
@using Dynamicweb.Ecommerce.CustomerExperienceCenter.Favorites
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog

@{
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	string productId = Model.Id;
	string variantId = Model.VariantId;

	IEnumerable<FavoriteList> favoreiteLists = Pageview?.User?.ID != null ? Pageview.User.GetFavoriteLists() : new FavoriteList[] { };
	int favoriteListId = GetViewParameter("ListId") != null ? GetViewParameterInt32("ListId") : 0;
	favoriteListId = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("FavoriteListId")) ? Convert.ToInt32(Dynamicweb.Context.Current.Request.QueryString.Get("FavoriteListId")) : favoriteListId;
	string favoriteToggleType = favoriteListId == 0 && favoreiteLists.Count() > 1 ? "multiple-lists" : "single-list";
	favoriteToggleType = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("FavoriteListId")) ? "remove-from-list" : favoriteToggleType;

	bool isInFavoriteList = Pageview?.User?.ID != null ? Pageview.User.IsProductInAnyFavoriteList(productId, variantId) : false;
	string pageId = GetPageIdByNavigationTag("FavoriteServicePage") != 0 ? GetPageIdByNavigationTag("FavoriteServicePage").ToString() : "";
	pageId = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("FavoriteListId")) ? Pageview.Page.ID.ToString() : pageId;

	string url = "/Default.aspx?ID=" + pageId + "&ProductID=" + productId + "&ProductVariantId=" + variantId;
	url += favoriteToggleType == "single-list" || favoriteToggleType == "remove-from-list" ? "&FavoriteListId=" + favoriteListId : "";
	url += favoriteToggleType == "remove-from-list" ? "&FavoriteCmd=removeproductfromfavoritelist" : "";

	string buttonStyle = !string.IsNullOrEmpty(GetViewParameterString("ButtonStyle")) ? GetViewParameterString("ButtonStyle") : string.Empty;
	string buttonSize = !string.IsNullOrEmpty(GetViewParameterString("ButtonSize")) ? GetViewParameterString("ButtonSize") : string.Empty;
	string buttonWidth = !string.IsNullOrEmpty(GetViewParameterString("ButtonWidth")) ? GetViewParameterString("ButtonWidth") : string.Empty;
	bool showButtonText = !string.IsNullOrEmpty(GetViewParameterString("ShowButtonText")) ? GetViewParameterBoolean("ShowButtonText") : false;
}

<button type="button" class="btn @buttonStyle @buttonSize @buttonWidth" id="FavoriteBtn_@productId@variantId" onclick="swift.Favorites.Toggle(event, '@url', '@favoriteToggleType')" style="z-index: 1">
	@if (isInFavoriteList)
	{
		<div class="favorite-icon">
			<span class="in-list">
				<span class="icon-2">@ReadFile(iconPath + "heart-filled.svg")</span>
				@if (showButtonText)
				{
					<span class="ms-1">@Translate("Remove from favorites")</span>
				}
			</span>
			<span class="not-in-list d-none">
				<span class="icon-2">@ReadFile(iconPath + "heart.svg")</span>
				@if (showButtonText)
				{
					<span class="ms-1">@Translate("Add to favorites")</span>
				}
			</span>
		</div>
	}
	else
	{
		<div class="favorite-icon">
			<span class="in-list d-none">
				<span class="icon-2">@ReadFile(iconPath + "heart-filled.svg")</span>
				@if (showButtonText)
				{
					<span class="ms-1">@Translate("Remove from favorites")</span>
				}
			</span>
			<span class="not-in-list">
				<span class="icon-2">@ReadFile(iconPath + "heart.svg")</span>
				@if (showButtonText)
				{
					<span class="ms-1">@Translate("Add to favorites")</span>
				}
			</span>
		</div>
	}
</button>

