@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Cart
@using Dynamicweb.Ecommerce.Orders

@{ 
	string contentPadding = Pageview.CurrentParagraph.Item["ContentPadding"] != null ? Pageview.CurrentParagraph.Item["ContentPadding"].ToString() : "";
	contentPadding = contentPadding == "none" ? "px-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;
	var themeRaw = Pageview.CurrentParagraph.Item["Theme"]?.ToString();
	string theme = !string.IsNullOrEmpty(themeRaw) ? " h-100 theme " + themeRaw.Replace(" ", "").Trim().ToLower() : "";
	
	string cardId = Context.Current.Request.QueryString.Get("SavedCardID");
	PaymentCardToken card = Dynamicweb.Ecommerce.Services.PaymentCard.GetById(Converter.ToInt32(cardId));
}

<div class="@(contentPadding)@(theme)" id="SavedCardLog">
	<header class="d-flex flex-row align-items-center gap-3 p-3 border-bottom">
		<h1 class="h6 m-0 flex-fill">@Translate("Your saved card")</h1>
	</header>
	
	@if (card != null)
	{
		<table class="table d-print-table">
			<tr>
				<td class="">@Translate("Card name")</td>
				<td class="text-end">@card.Name</td>
			</tr>
			<tr>
				<td class="">@Translate("Card type")</td>
				<td class="text-end">
					<span>@card.CardType</span>
					@{
						string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
						string svgIcon = ReadFile(iconPath + card.CardType.ToLower() + ".svg");

						if (!string.IsNullOrEmpty(svgIcon))
						{
							<span class="ms-3 icon-6">
								@svgIcon
							</span>
						}
					}
				</td>
			</tr>
			<tr>
            	<td>@Translate("Card identifier")</td>
            	<td class="text-end">@card.Identifier</td>
            </tr>
			<tr>
            	<td>@Translate("Last used")</td>
            	<td class="text-end">@card.UsedDate</td>
			<tr>
				<td colspan="2" class="text-end">
					@{
						string deleteUrl = $"{GetString("Ecom:CustomerCenter.SavedCards.BaseUrl")}&DelSavedCardID={cardId}";
					}
					<a onclick="@deleteUrl" class="btn btn-secondary py-0">@Translate("Delete")</a>
				</td>
            </tr>
		</table>
	}
	else
	{
		<div class="alert alert-info text-center mt-3" role="alert">
			@Translate("There was an error loading the card. Please try again!")
		</div>
	}
</div>
