@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Environment

@{ 
	string pageId = GetGlobalValue("Global:Page.ID");
	string settingsType = Dynamicweb.Context.Current.Request.GetString("SettingsType");
	string goBackToPage = Dynamicweb.Context.Current.Request.GetString("GoBackToPage");
	string invalidOldPassword = !string.IsNullOrEmpty(GetString("UserManagement:User.OldPassword.Input.Error")) ? "is-invalid" : "";
	string invalidPassword = !string.IsNullOrEmpty(GetString("UserManagement:User.NewPassword.Input.Error")) ? "is-invalid" : "";
	string invalidConfirmPassword = !string.IsNullOrEmpty(GetString("UserManagement:User.NewPasswordConfirm.Input.Error")) ? "is-invalid" : "";
}

@GetString("UserManagement:User.FormStart").Replace("<form", "<form novalidate")
	<header class="p-3 border-bottom">
		<div class="d-flex flex-row align-items-center gap-3">
			@if (settingsType == "profile" || settingsType == "")
			{
				<h1 class="h6 m-0 flex-fill text-muted d-none d-lg-block">@Translate("Edit profile")</h1>
				<a href="/Default.aspx?ID=@pageId&SettingsType=changepassword" class="btn btn-link">@Translate("Change password")</a>
			}
			else
			{
				<h1 class="h6 m-0 d-none d-lg-block">@Translate("Change password")</h1>
			}
		</div>
	</header>

	@if (settingsType == "profile" || settingsType == "") {
		<div class="row p-3 gx-3">

		@foreach (LoopItem error in GetLoop("FormValidationErrors"))
		{
			<div class="alert alert-danger m-0" role="alert">
				@error.GetString("UserManagement:User.FormValidationError.Message")
			</div>
		}

			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Name")" name="UserManagement_Form_Name" id="UserManagement_Form_Name" value="@GetString("UserManagement:User.Name")" />
					<label for="UserManagement_Form_Name" class="form-label">@Translate("Name")</label>
					<div class="invalid-feedback">@GetString("UserManagement:User.Name.Input.Error")</div>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Company") (@Translate("optional"))" name="UserManagement_Form_Company" id="UserManagement_Form_Company" value="@GetString("UserManagement:User.Company.Value")" />
					<label for="UserManagement_Form_Company" class="form-label">@Translate("Company") (@Translate("optional"))</label>
					<div class="invalid-feedback">@GetString("UserManagement:User.Company.Input.Error")</div>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Street & number")" name="UserManagement_Form_Address" id="UserManagement_Form_Address" value="@GetString("UserManagement:User.Address")" required />
					<label for="UserManagement_Form_Email" class="form-label">@Translate("Street & number")</label>
					<div class="invalid-feedback">@GetString("UserManagement:User.Address.Input.Error")</div>
				</div> 
			</div>
			<div class="col-12 col-lg-3">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Zip")" name="UserManagement_Form_Zip" id="UserManagement_Form_Zip" value="@GetString("UserManagement:User.Zip")" required />
					<label for="UserManagement_Form_Email" class="form-label">@Translate("Zip")</label>
					<div class="invalid-feedback">@GetString("UserManagement:User.Zip.Input.Error")</div>
				</div> 
			</div>
			<div class="col-12 col-lg-6">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Town / City")" name="UserManagement_Form_City" id="UserManagement_Form_City" value="@GetString("UserManagement:User.City")" required />
					<label for="UserManagement_Form_Email" class="form-label">@Translate("Town / City")</label>
					<div class="invalid-feedback">@GetString("UserManagement:User.City.Input.Error")</div>
				</div> 
			</div>
			<div class="col-12 col-lg-3">
				<div class="form-floating mb-3">
					@{
						string countryCode = GetString("UserManagement:User.Country");

						<select class="form-select" id="UserManagement_Form_Country" name="UserManagement_Form_Country">
							@foreach (LoopItem country in GetLoop("UserManagement.CountryList"))
							{
								string selected = country.GetString("Country.Code2") == countryCode ? "selected" : ""; 

								<option value="@country.GetString("Country.Code2")" @selected>@country.GetString("Country.Name")</option>
							}
						</select>
					}
					<label for="Country" class="form-label">@Translate("Country")</label>
				</div> 
			</div>
			<div class="col-12 col-lg-6">
				<div class="form-floating mb-3">
					<input type="email" class="form-control" placeholder="@Translate("Email")" name="UserManagement_Form_Email" id="UserManagement_Form_Email" value="@GetString("UserManagement:User.Email")" required />
					<label for="UserManagement_Form_Email" class="form-label">@Translate("Email")</label>
					<div class="invalid-feedback">@GetString("UserManagement:User.Email.Input.Error")</div>
				</div> 
			</div>
			<div class="col-12 col-lg-6">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="@Translate("Phone")" name="UserManagement_Form_Phone" id="UserManagement_Form_Phone" value="@GetString("UserManagement:User.Phone")" />
					<label for="UserManagement_Form_Email" class="form-label">@Translate("Phone")</label>
					<div class="invalid-feedback">@GetString("UserManagement:User.Phone.Input.Error")</div>
				</div> 
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-primary">@Translate("Update")</button>
			</div>
		</div>
	} else {
		<div class="p-3">

			<div class="d-grid">
			@foreach (LoopItem error in GetLoop("FormValidationErrors"))
			{
				<div class="alert alert-danger" role="alert">
					@error.GetString("UserManagement:User.FormValidationError.Message")
				</div>
			}
			</div>

			<div class="row gx-3">
				<div class="col-lg-6">
					<div class="form-floating">
						<input type="password" class="form-control @invalidOldPassword" id="UserManagement_Form_OldPassword" name="UserManagement_Form_OldPassword" placeholder="@Translate("Old password")" required>
						<label for="UserManagement_Form_OldPassword">@Translate("Current password")</label>
						<div class="invalid-feedback">@GetString("UserManagement:User.OldPassword.Input.Error")</div>
					</div>
				</div>
			</div>

			<div class="row gx-3">
				<div class="col-12 col-lg-6 mt-3">
					<div class="form-floating">
						<input type="password" class="form-control @invalidPassword" id="UserManagement_Form_NewPassword" name="UserManagement_Form_NewPassword" placeholder="@Translate("Old password")" required>
						<label for="UserManagement_Form_NewPassword">@Translate("New password")</label>
						<div class="invalid-feedback">@GetString("UserManagement:User.NewPassword.Input.Error")</div>
					</div>
				</div>
				<div class="col-12 col-lg-6 mt-3">
					<div class="form-floating">
						<input type="password" class="form-control @invalidConfirmPassword" id="UserManagement_Form_NewPasswordConfirm" name="UserManagement_Form_NewPasswordConfirm" placeholder="@Translate("Old password")" required>
						<label for="UserManagement_Form_NewPasswordConfirm">@Translate("Confirm new password")</label>
						<div class="invalid-feedback">@GetString("UserManagement:User.NewPasswordConfirm.Input.Error")</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col mt-3">
					<button type="submit" class="btn btn-primary">@Translate("Update password")</button>
				</div>
			</div>

		</div>
	}

	<input type="hidden" name="ID" value="@pageId" />
@GetString("UserManagement:User.FormEnd")
