@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Frontend.Navigation
@using Dynamicweb.Ecommerce
@{
    var areaId = Pageview?.AreaID;
}

<button class="hstack gap-2 p-2 btn" data-dw-button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu_@(Model.ID)">
    @if( Model.Item.TryGetString("Icon", out var icon) && icon.EndsWith(".svg", StringComparison.OrdinalIgnoreCase)) {
        <span class="icon-3 pe-none">@ReadFile(icon)</span>
    }
    @if (Model.Item.TryGetString("Title", out var title)) 
    {
        <span>@(title)</span>
    }
</button>

<div data-swift-offcanvas-menu x-data class="offcanvas offcanvas-@(Model.Item.GetString("OffCanvasDirection", "start")) d-grid border-0 overflow-x-hidden" tabindex="-1" id="offcanvasMenu_@(Model.ID)"
    x-on:close-offcanvas="
        const header = $event.target.closest('.offcanvas-header');
        const body = header.nextElementSibling;
        body.classList.add('offcanvas-animate-out');
        header.classList.add('offcanvas-animate-out');
        const removeElement = (el) => {
            el.addEventListener('animationend', () => el.remove(), { once: true });
        };
        removeElement(body);
        removeElement(header);
    " 
    >
    
    <div class="offcanvas-header z-2 px-4" style="grid-area: Header;">

        @if( Model.Item.TryGetString("Image", out var image) && image.EndsWith(".svg", StringComparison.OrdinalIgnoreCase)) {
            <span class="icon-auto" style="max-inline-size: 6rem; max-block-size: 3rem;">@ReadFile(image)</span>
        }
        
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    
    <div class="offcanvas-body z-2 px-4" style="grid-area: Body;">

        @if( Model.Item?.TryGetItems("Sections", out var sections) ?? false)
        {
            foreach( var section in sections )
            {
                var template = section.TryGetString("Layout", out var layout) ? layout.Replace("/Files/Templates/", string.Empty) : "Designs/Swift-v2/Paragraph/Swift-v2_OffCanvasMenu/OffCanvasMenu/DefaultMenu.cshtml";
                var root = section.TryGetLink("Source", out var source) ? $"&RootPageId={source.PageId}" : null;

                <div class="pb-4" data-swift-navigation="@(section.GetString("Title"))">
                    <div
                        hx-get="/dwapi/frontend/navigations/@areaId?ExpandMode=all@(root)" 
                        hx-trigger="shown.bs.offcanvas from:#offcanvasMenu_@(Model.ID)"
                        hx-swap="outerHTML"
                        hx-headers='
                        {
                            "Accept": "text/html",
                            "x-dw-template": "@(template)"
                        }'
                    >
                        <ul class="navbar-nav">
                            @for (var i = 0; i < 4; i++)
                            {
                                <li><div class="placeholder placeholder-wave w-75 fw-5"></div></li>
                            }
                        </ul>
                    </div>

                    @if( section.TryGetString("Text", out var text))
                    {
                        <div class="pt-4 mb-0-last-child">
                            @(text)
                        </div>
                    }
                </div>
            }
        }
        else {
            <div class="pb-4" data-swift-navigation="@(Model.ID)">
                <div 
                    hx-get="/dwapi/frontend/navigations/@areaId?ExpandMode=all" 
                    hx-trigger="shown.bs.offcanvas from:#offcanvasMenu_@(Model.ID)"
                    hx-swap="outerHTML"
                    hx-headers='
                    {
                        "Accept": "text/html",
                        "x-dw-template": "Designs/Swift-v2/Paragraph/Swift-v2_OffCanvasMenu/OffCanvasMenu/DefaultMenu.cshtml"
                    }'
                >
                    <ul class="navbar-nav">
                        @for (var i = 0; i < 4; i++)
                        {
                            <li><div class="placeholder placeholder-wave w-75 fw-5"></div></li>
                        }
                    </ul>
                </div>
            </div>
        }
        
    </div>
</div>