@inherits ViewModelTemplate<UserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Frontend


<header>
    <h1 class="h5">@Model.Name</h1>
</header>

<address>
    <div>@Model.Company</div>
    <div>@Model.Address</div>
    <div>@Model.Address2</div>
    <div>
        <span>@Model.Zip</span> <span>@Model.City</span>
    </div>
    <div>@Model.State</div>
    <div>@Model.Country</div>
    <a href="mailto:@Model.Email">@Model.Email</a>
    <a href="tel:@Model.Phone">@Model.Phone</a>
</address>
