@inherits ViewModelTemplate<UserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Frontend


<header class="d-flex flex-row align-items-center gap-3 p-3 border-bottom">
    <h1 class="h6 m-0 flex-fill">@Model.Name</h1>
</header>

<div class="grid p-3">
    <div class="g-col-12 g-col-lg-6">
        @if (!string.IsNullOrEmpty(Model.Company))
        {
            <div>@Model.Company</div>
        }
        @if (!string.IsNullOrEmpty(Model.Address))
        {
            <div>@Model.Address</div>
        }
        @if (!string.IsNullOrEmpty(Model.Address2))
        {
            <div>@Model.Address2</div>
        }
        @if (!string.IsNullOrEmpty(Model.Zip) || !string.IsNullOrEmpty(Model.City))
        {
            <div>
                <span>@Model.Zip</span> <span>@Model.City</span>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.State))
        {
            <div>@Model.State</div>
        }
        @if (!string.IsNullOrEmpty(Model.Country))
        {
            <div>@Model.Country</div>
        }
        @if (!string.IsNullOrEmpty(Model.Email))
        {
            <div>@Model.Email</div>
        }
        @if (!string.IsNullOrEmpty(Model.Phone))
        {
            <div>@Model.Phone</div>
        }
    </div>
</div>