@inherits ViewModelTemplate<UserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Frontend



<div class="offcanvas-header">
    <h5 class="offcanvas-title m-0">@Model.Name</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>

<div class="offcanvas-body">
    @if (!string.IsNullOrEmpty(Model.Company))
    {
        <div>@Model.Company</div>
    }
    @if (!string.IsNullOrEmpty(Model.Address))
    {
        <div>@Model.Address</div>
    }
    @if (!string.IsNullOrEmpty(Model.Address2))
    {
        <div>@Model.Address2</div>
    }
    @if (!string.IsNullOrEmpty(Model.Zip) || !string.IsNullOrEmpty(Model.City))
    {
        <div>
            <span>@Model.Zip</span> <span>@Model.City</span>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.State))
    {
        <div>@Model.State</div>
    }
    @if (!string.IsNullOrEmpty(Model.Country))
    {
        <div>@Model.Country</div>
    }
    @if (!string.IsNullOrEmpty(Model.Email))
    {
        <div>@Model.Email</div>
    }
    @if (!string.IsNullOrEmpty(Model.Phone))
    {
        <div>@Model.Phone</div>
    }
</div>