@inherits ViewModelTemplate<UserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Frontend

<address>
    <h1 class="h5">@Model.Name</h1>
    <div>@Model.Company</div>
    <div>@Model.Address</div>
    <div>@Model.Address2</div>
    <div>
        <span>@Model.Zip</span> <span>@Model.City</span>
    </div>
    <div>@Model.State</div>
    <div>@Model.Country</div>
    <a href="mailto:@Model.Email" class="d-block">@Model.Email</a>
    <a href="tel:@Model.Phone" class="d-block">@Model.Phone</a>
</address>
