@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Security;

@MasterPageFile("../Includes/EmailMaster.cshtml")
@Include("../Includes/EmailHelpers.cshtml")

<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="500" id="emailBody">
    @{
        string logoimage = "";
        Column header = new Column();
        header.header = GetString("ProductWorkflowStateChanged:Workflow.Name");
        header.textColor = "#FFFFFF";
        header.align = "center";

        @CreateRow(header, new RowSettings { backgroundColor = "#0B85C8" });

        //Message
        Column message = new Column();
        message.text.Add(Translate("Hi") + " " + GetString("ProductWorkflowStateChanged:EmailNotification.UserFirstName"));
        message.text.Add("");
        var stateChangedText = Translate("Today") + " (" + GetString("ProductWorkflowStateChanged:Date") + ") " + Translate("the state of the product ") + "\"" + GetString("Ecom:Product.Name") + "\" ";
        var currentStateName = GetString("ProductWorkflowStateChanged:CurrentState.Name");
        var previousStateName = GetString("ProductWorkflowStateChanged:PreviousState.Name");

        if (string.IsNullOrEmpty(previousStateName))
        {
            stateChangedText += Translate("was moved into the state") + " \"" + currentStateName + "\"";
        }
        else
        {
            stateChangedText += Translate("has been changed from") + " \"" + previousStateName + "\" " + Translate("to") + " \"" + currentStateName + "\"";
        }

        message.text.Add(stateChangedText);

        @CreateRow(message);

        @CreateRowDivider();

        //Footer
        Column footerLeft = new Column();

        Column footerRight = new Column();
        footerRight.textColor = "#FFF";
        footerRight.image = logoimage;
        footerRight.align = "right";

        @CreateRow(footerLeft, footerRight, new RowSettings { backgroundColor = "#0B85C8" });

    }
</table>