@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{
	string logoWidth = !string.IsNullOrEmpty(Model?.Item.GetString("LogoWidth")) ? "width: " + Model.Item.GetInt32("LogoWidth") + "px" : string.Empty;
	logoWidth = logoWidth == "width: 0px" ? string.Empty : logoWidth;
}

<figure class="m-0 d-flex position-relative">
	@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
		if (image.IsSvg()) {
			<figure class="icon-auto" style="@logoWidth">
				@ReadFile(image.Path)
			</figure>
		}
		else 
		{
			<figure class="mx-auto d-block">
				<img src="@image.Path" alt="@image.Path" style="@logoWidth">
			</figure>
		}
	}
	@if (Model.Item.TryGetString("LogoName", out string title)) {
		<span class="fs-4">@title</span>
	}
	@if (Model.Item.TryGetLink("Link", out LinkViewModel link)) {
		<a href="@link.Url" class="stretched-link" title="@link.Url"></a>
	}
</figure>

