@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Collections.Generic

@{
	var groups = GetViewParameter("Groups") as List<FieldGroupViewModel>;

	string title = Model.Item.GetString("Title");
	bool hideGroupHeaders = Model.Item.GetBoolean("HideGroupHeaders");
	bool hideLabels = Model.Item.GetBoolean("HideFieldLabels");
	bool hideTitle = Model.Item.GetBoolean("HideTitle");
	string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "display-4");

	string size = GetViewParameterString("Size");
	string gapCss = size == "full" ? " gap-4" : " gap-2";
	string tableSizeCss = size == "full" ? "" : " table-sm";

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "none" ? string.Empty : contentPadding;
	contentPadding = contentPadding == "small" ? " p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? " p-4 p-md-5" : contentPadding;

	string listSize = size == "full" ? "" : "m-0 p-0 lh-1 fs-7 opacity-75";
	string listStyle = size == "full" ? "" : "style=\"list-style-position: inside\"";

	if (!hideTitle)
	{
		<h2 class="g-col-12 @titleFontSize">@Model.Item.GetString("Title")</h2>
	}

	<div class="g-col-12">
		@foreach (var group in groups)
		{
			string groupName = group.Name;
			var fields = group.Fields;

			if (!hideGroupHeaders)
			{
				<h3>@groupName</h3>
			}

			<ul class="@listSize" @listStyle>
				@foreach (var field in fields)
				{

					<li>
						@if (!hideLabels)
						{
							<strong>@field.Name: </strong>
						}
						<span>@RenderPartial("Components/Specifications/Shared/FieldValue.cshtml", field)</span>
					</li>

				}
			</ul>

		}
	</div>
}
