@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Collections.Generic



@{
	var groups = GetViewParameter("Groups") as List<Dictionary<string, List<FieldValueViewModel>>>;
	string title = GetViewParameterString("Title");
	bool hideGroupHeaders = GetViewParameterBoolean("HideGroupHeaders");
	bool hideLabels = GetViewParameterBoolean("HideFieldLabels");
	bool hideTitle = GetViewParameterBoolean("HideTitle");
	string titleFontSize = GetViewParameterString("TitleFontSize");
	string gapCss = GetViewParameterString("GapCss");

	if (!hideTitle)
	{
		<h2 class="g-col-12 @titleFontSize">@Model.Item.GetString("Title")</h2>
	}

	foreach (var group in groups)
	{
		var fields = group.First().Value;
		string groupName = group.First().Key;

		if (!hideGroupHeaders)
		{
		<div class="g-col-12">
			<h3>@groupName</h3>
		</div>
		}

		<div class="g-col-12">
			<div class="grid @(gapCss)">
				@foreach (var field in fields)
				{
					<div class="grid g-col-6 g-col-lg-4 gap-1">
						<dt class="g-col-12 g-col-lg-4">@(!hideLabels ? field.Name : string.Empty)</dt>
						<dd class="g-col-12 g-col-lg-8 mb-0 text-break">@RenderPartial("Components/Specifications/Shared/FieldValue.cshtml", field)</dd>
					</div>
				}
			</div>
		</div>
	}
}
