@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Collections.Generic

@{
	var groups = GetViewParameter("Groups") as List<FieldGroupViewModel>;

	string title = Model.Item.GetString("Title");
	bool hideGroupHeaders = Model.Item.GetBoolean("HideGroupHeaders");
	bool hideLabels = Model.Item.GetBoolean("HideFieldLabels");
	bool hideTitle = Model.Item.GetBoolean("HideTitle");
	string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "display-4");

	string size = GetViewParameterString("Size");
	string gapCss = size == "full" ? " gap-4" : " gap-2";

	if (!hideTitle)
	{
		<h2 class="g-col-12 @titleFontSize">@title</h2>
	}

	<div class="g-col-12">
		@foreach (var group in groups)
		{
			var fields = group.Fields;
			string groupName = group.Name;

			if (!hideGroupHeaders)
			{
				<h3>@groupName</h3>
			}

			<dl class="grid @(gapCss)">
				@foreach (var field in fields)
				{
					<dt class="g-col-4">@(!hideLabels ? field.Name : string.Empty)</dt>

					<dd class="g-col-8 mb-0 text-break">@RenderPartial("Components/Specifications/Shared/FieldValue.cshtml", field)</dd>
				}
			</dl>
		}
	</div>
}
