@inherits Dynamicweb.Rendering.ViewModelTemplate<UserForgotPasswordViewModel>
@using Dynamicweb.Users.Frontend.UserForgotPassword

<div class="mx-auto w-100" style="max-width: 30rem;">
    @if (Model.Result == UserForgotPasswordResultType.MismatchedPasswords)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("The passwords do not match. Please try again")
        </div>
    }
    else if (Model.Result == UserForgotPasswordResultType.PasswordNotDifferent)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("The new password must be different from the old password")
        </div>
    }
    else if (Model.Result == UserForgotPasswordResultType.InvalidPasswordLength)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("The password must be longer")
        </div>
    }
    else if (Model.Result == UserForgotPasswordResultType.InvalidPasswordComplexity)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("The password is too simple. Try using a mix of uppercase, lowercase, numbers and special characters")
        </div>
    }
    else if (Model.Result == UserForgotPasswordResultType.MustContainNumbersAndCharacters)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("The password must contain both numbers and letters")
        </div>
    }
    else if (Model.Result == UserForgotPasswordResultType.PasswordMissingCharacterVariety)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("The password must contain uppercase, lowercase, numbers and special characters")
        </div>
    }
    else if (Model.Result == UserForgotPasswordResultType.RecoveryTokenExpired)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("The password reset token has expired. Please try to reset your password again")
        </div>
    }
    else if (Model.Result == UserForgotPasswordResultType.ViolatingReuseRules)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("The new password must be different from the old password")
        </div>
    } 
    else if (Model.Result == UserForgotPasswordResultType.Success)
    {
        <div class="alert alert-success" role="alert">
            @Translate("Password changed")
        </div>
    }
    else if (Model.Result != UserForgotPasswordResultType.None)
    {
        <div class="alert alert-danger">@Translate(Model.Result.ToString())</div>
    }

    <form method="post">
        <input type="hidden" name="UserRecoverPassword" value="true"/>

        <div class="form-floating mb-3">
            <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="@Translate("New password")" required>
            <label for="NewPassword">@Translate("New password")</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" name="ConfirmNewPassword" id="ConfirmNewPassword" class="form-control" placeholder="@Translate("Confirm new password")" required>
            <label for="ConfirmNewPassword">@Translate("Confirm new password")</label>
        </div>

        <button type="submit" name="LoginAction" value="Recovery" class="btn btn-primary w-100" data-dw-button="primary" id="PasswordRecoveryButton">@Translate("Change password")</button>
    </form>     
</div>

