@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@using System.Web

@{
	bool removeMasterLayout = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("RemoveMasterLayout")) ? Convert.ToBoolean(HttpContext.Current.Request.QueryString.Get("RemoveMasterLayout")) : false;
}

@if (!removeMasterLayout)
{
	<!doctype html>
	<html lang="@Pageview.Area.CultureInfo.TwoLetterISOLanguageName" class="h-100">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex nofollow">
		<meta name="googlebot" content="noindex">
		<meta name="googlebot-news" content="nosnippet">

		<title>@Model.Title</title>

		<!-- R4 Styles -->
		<link href="~/Files/Templates/Designs/R4/Assets/css/r4.min.css" rel="stylesheet" type="text/css">
	</head>

	<body class="d-flex flex-column min-vh-100">

		@if (Pageview.Device.ToString() != "Mobile")
		{
			<header class="page-header" id="page-header">
				@if (@Model.Area.Item.GetString("HeaderDesktop") != null)
				{
					@RenderGrid(@Model.Area.Item.GetInt32("HeaderDesktop"))
				}
			</header>
		}

		@if (Pageview.Device.ToString() == "Mobile")
		{
			<header class="page-header" id="page-header">
				@if (@Model.Area.Item.GetString("HeaderMobile") != null)
				{
					@RenderGrid(@Model.Area.Item.GetInt32("HeaderMobile"))
				}
			</header>
		}

		<main id="page-content" class="overflow-hidden">
			<div id="content">
				@RenderPageContent()
			</div>
		</main>

		@if (Pageview.Device.ToString() != "Mobile")
		{
			<footer class="page-footer bg-light" id="page-footer">
				@if (@Model.Area.Item.GetString("FooterDesktop") != null)
				{
					@RenderGrid(@Model.Area.Item.GetInt32("FooterDesktop"))
				}
			</footer>
		}

		@if (Pageview.Device.ToString() == "Mobile")
		{
			<footer class="page-footer mt-auto bg-light" id="page-footer">
				@if (@Model.Area.Item.GetString("FooterMobile") != null)
				{
					@RenderGrid(@Model.Area.Item.GetInt32("FooterMobile"))
				}
			</footer>
		}

		<!-- R4 Scripts -->
		<script src="~/Files/Templates/Designs/R4/Assets/js/r4.min.js" type="text/javascript"></script>
		<script src="~/Files/Templates/Designs/R4/Assets/_src/js/productlist.js" type="text/javascript"></script>

	</body>

</html>
} else
{
	@RenderPageContent()
}

@*Hack due to weird, limiting error*@
@helper RenderPageContent() { 
    <text>
        @ContentPlaceholder()
    </text>  
}
