@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@using System.Web


<!doctype html>
<html lang="@Pageview.Area.CultureInfo.TwoLetterISOLanguageName" class="h-100">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex nofollow">
		<meta name="googlebot" content="noindex">
		<meta name="googlebot-news" content="nosnippet">

		<title>@Model.Title</title>

		<!-- R4 Styles -->
		<link href="~/Files/Templates/Designs/R4/Assets/css/r4.min.css" rel="stylesheet" type="text/css">
	</head>

	<body class="d-flex flex-column min-vh-100">
		<div class="d-none d-lg-block">
			<header class="page-header bg-white border-bottom position-sticky top-0" id="page-header" style="z-index: 10">
				@if (@Model.Area.Item.GetString("HeaderDesktop") != null)
				{
					@RenderGrid(@Model.Area.Item.GetInt32("HeaderDesktop"))
				}
			</header>
		</div>

		<div class="d-block d-lg-none">
			<header class="page-header bg-white border-bottom position-sticky top-0" id="page-header" style="z-index: 10">
				@if (@Model.Area.Item.GetString("HeaderMobile") != null)
				{
					@RenderGrid(@Model.Area.Item.GetInt32("HeaderMobile"))
				}
			</header>
		</div>

		<main id="page-content" class="overflow-hidden">
			<div id="content">
				@ContentPlaceholder()
			</div>
		</main>

		<div class="d-none d-lg-block">
			<footer class="page-footer bg-light" id="page-footer">
				@if (@Model.Area.Item.GetString("FooterDesktop") != null)
				{
					@RenderGrid(@Model.Area.Item.GetInt32("FooterDesktop"))
				}
			</footer>
		</div>

		<div class="d-block d-lg-none">
			<footer class="page-footer mt-auto bg-light" id="page-footer">
				@if (@Model.Area.Item.GetString("FooterMobile") != null)
				{
					@RenderGrid(@Model.Area.Item.GetInt32("FooterMobile"))
				}
			</footer>
		</div>

		<!-- R4 Scripts -->
		<script src="~/Files/Templates/Designs/R4/Assets/js/r4.js" type="text/javascript"></script>
		<script src="~/Files/Templates/Designs/R4/Assets/_src/js/_productlist.js" type="text/javascript"></script>
		<script src="~/Files/Templates/Designs/R4/Assets/_src/js/hc-offcanvas-nav.js" type="text/javascript"></script>

	</body>

</html>
