@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@using System.Web

<!doctype html>
<html lang="@Pageview.Area.CultureInfo.TwoLetterISOLanguageName">

<head>
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link href="/Files/Templates/Designs/R4/Assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    
    <!-- Font awesome -->
    <link rel="stylesheet" href="/Files/Templates/Designs/R4/assets/icons/fontawesome/pro/css/all.min.css" type="text/css">

    <!-- Rapido -->
    <link href="~/Files/Templates/Designs/R4/Assets/css/rapido.css" rel="stylesheet">
</head>

<body>

    <div id="page" class="page">

        @if (Pageview.Device.ToString() != "Mobile")
        {
            <header class="header" id="PageHeader">
                @if (@Model.Area.Item.GetString("HeaderDesktop") != null) {
                    @RenderGrid(@Model.Area.Item.GetInt32("HeaderDesktop"))
                }
            </header>
        }

        @if (Pageview.Device.ToString() == "Mobile")
        {
            <header id="PageHeader">
                @if (@Model.Area.Item.GetString("HeaderMobile") != null) {
                    @RenderGrid(@Model.Area.Item.GetInt32("HeaderMobile"))
                }
            </header>
        }

        <main id="page-content" class="overflow-hidden">
            @ContentPlaceholder()
        </main>

        @if (Pageview.Device.ToString() != "Mobile")
        {
            <footer id="PageFooter">
                @if (@Model.Area.Item.GetString("FooterDesktop") != null) {
                    @RenderGrid(@Model.Area.Item.GetInt32("FooterDesktop"))
                }
            </footer>
        }

        @if (Pageview.Device.ToString() == "Mobile")
        {
            <footer class="footer" id="PageFooter">
                @if (@Model.Area.Item.GetString("FooterMobile") != null) {
                    @RenderGrid(@Model.Area.Item.GetInt32("FooterMobile"))
                }
            </footer>
        }
    </div>


    <!-- Scripts -->
    <script src="/Files/Templates/Designs/R4/Assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>