@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@using System
@using System.Web

@MasterPageFile("R4_Master.cshtml")

@{
	string theme = "";
	string gridContent = "";
}

@if (Model.PropertyItem != null) {
	theme = !string.IsNullOrWhiteSpace(Model.PropertyItem.GetRawValueString("Theme")) ? " theme " + Model.PropertyItem.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

@if (Model.Item != null) {
	gridContent = @Model.Grid("Grid", "Grid", "default:true;sort:1", "Page");
}

@if (theme != "")
{
	<div class="@theme">
		@gridContent
	</div>
}
else
{
	@gridContent
}

@if (!Model.IsCurrentUserAllowed) {
	bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;
	int signInPage = GetPageIdByNavigationTag("SignInPage");

	if (!isVisualEditor) {
		if (signInPage != 0) {
			Dynamicweb.Context.Current.Response.Redirect("/Default.aspx?ID=" + signInPage);
		} else {
			<div class="alert alert-dark m-0" role="alert">
				<span>@Translate("You do not have access to this page")</span>
			</div>
		}
	} else {
		<div class="alert alert-dark m-0" role="alert">
			<span>@Translate("To work on this page, you must be signed in, in the frontend")</span>
		</div>
	}
}

