@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb

@{
	string showPricesWithVat = Pageview.Area.EcomPricesWithVat.ToLower();
	bool neverShowVat = string.IsNullOrEmpty(showPricesWithVat);
	string currencyCode = !string.IsNullOrEmpty(GetString("CurrencyCode")) ? GetString("CurrencyCode") + " " : "";

	string shopId = Pageview.Area.EcomShopId != null ? Pageview.Area.EcomShopId : string.Empty;
	string orderId = string.IsNullOrEmpty(GetString("Id")) ? GetString("ID") : GetString("Id");
	
	bool isStandardSwiftTemplates = Pageview.AreaSettings.GetString("AddressFieldsBasedOn", "swift") == "swift";
}

<div>
	<header class="p-3 border-bottom">
		<div class="d-flex flex-row align-items-center gap-3">
			<h1 class="h6 m-0 flex-fill text-muted">@Translate("Your order")</h1>
			<a href="/Admin/public/CustomerCenter/RequestExternalPdf.aspx?type=OpenOrder&id=@orderId&forceDownload=true&shopid=@(shopId)" class="d-inline me-2" title="@Translate("Download PDF")">@Translate("Download")</a>
			<button onclick="javascript:print()" class="btn btn-link p-0">@Translate("Print")</button>
		</div>
	</header>

	<table class="table d-print-table m-0">
		@if (!string.IsNullOrEmpty(orderId))
		{
			<tr>
				<td class="">@Translate("Order number")</td>
				<td class="text-end">@orderId</td>
			</tr>
		}

		@if (!string.IsNullOrEmpty(GetString("Date")))
		{
			string date = !string.IsNullOrEmpty(GetString("Date")) ? GetDate("Date").Year > 0001 ? GetDate("Date").TimeOfDay.Ticks > 0 ? GetDate("Date").ToString(Dynamicweb.Core.Helpers.DateHelper.DateOnlyFormatStringMedium) : GetDate("Date").ToShortDateString() : GetString("Date") : "";
			<tr>
				<td>@Translate("Order date")</td>
				<td class="text-end">@date</td>
			</tr>
		}

		<tr>
			<td>@Translate("Delivery address")</td>
			<td class="text-end">
				@{
					if (isStandardSwiftTemplates)
					{
						if (!string.IsNullOrEmpty(GetString("DeliveryName")))
						{
							<div>@GetString("DeliveryName")</div>
						}
						if (!string.IsNullOrEmpty(GetString("DeliveryAddress")))
						{
							<div>@GetString("DeliveryAddress")</div>
						}
						if (!string.IsNullOrEmpty(GetString("DeliveryAddress2")))
						{
							<div>@GetString("DeliveryAddress2")</div>
						}

						<div>
							@if (!string.IsNullOrEmpty(GetString("DeliveryZip")))
							{
								<span>@GetString("DeliveryZip")</span>
							}
							@if (!string.IsNullOrEmpty(GetString("DeliveryCity")))
							{
								<span>@GetString("DeliveryCity")</span>
							}
						</div>

						<div>
							@if (!string.IsNullOrEmpty(GetString("DeliveryRegion")))
							{
								<span>@GetString("DeliveryRegion")</span>
							}
							@if (!string.IsNullOrEmpty(GetString("DeliveryCountry")))
							{
								<span>@GetString("DeliveryCountry")</span>
							}
						</div>
					}
					else
					{
						@RenderDeliveryAddress()
					}

					if (!string.IsNullOrEmpty(GetString("DeliveryEmail")))
					{
						<div>@GetString("DeliveryEmail")</div>
					}
					if (!string.IsNullOrEmpty(GetString("DeliveryPhone")))
					{
						<div>@GetString("DeliveryPhone")</div>
					}
				}
			</td>
		</tr>

		<tr>
			<td>@Translate("Billing address")</td>
			<td class="text-end">
				@{
                	if (isStandardSwiftTemplates)
                	{
		                if (!string.IsNullOrEmpty(GetString("CustomerName")))
		                {
			                <div>@GetString("CustomerName")</div>
		                }
		                if (!string.IsNullOrEmpty(GetString("CustomerAddress")))
		                {
			                <div>@GetString("CustomerAddress")</div>
		                }
		                if (!string.IsNullOrEmpty(GetString("CustomerAddress2")))
		                {
			                <div>@GetString("CustomerAddress2")</div>
		                }

		                <div>
			                @if (!string.IsNullOrEmpty(GetString("CustomerZip")))
			                {
				                <span>@GetString("CustomerZip")</span>
			                }
			                @if (!string.IsNullOrEmpty(GetString("CustomerCity")))
			                {
				                <span>@GetString("CustomerCity")</span>
			                }
		                </div>

		                <div>
			                @if (!string.IsNullOrEmpty(GetString("CustomerRegion")))
			                {
				                <span>@GetString("CustomerRegion")</span>
			                }
			                @if (!string.IsNullOrEmpty(GetString("CustomerCountry")))
			                {
				                <span>@GetString("CustomerCountry")</span>
			                }
		                </div>
                	}
                	else
                	{
						<text>
                		@RenderCustomerAddress()
						</text>
                	}

	                if (!string.IsNullOrEmpty(GetString("CustomerEmail")))
	                {
		                <div>@GetString("CustomerEmail")</div>
	                }
	                if (!string.IsNullOrEmpty(GetString("CustomerPhone")))
	                {
		                <div>@GetString("CustomerPhone")</div>
	                }
                }
			</td>
		</tr>

		@if (!string.IsNullOrEmpty(GetString("ShippingMethodName")))
		{
			<tr>
				<td>@Translate("Delivery method")</td>
				<td class="text-end">@GetString("ShippingMethodName")</td>
			</tr>
		}

		@if (!string.IsNullOrEmpty(GetString("PaymentMethodName")))
		{
			<tr>
				<td>@Translate("Payment method")</td>
				<td class="text-end">
					<span>@GetString("PaymentMethodName")</span>
				</td>
			</tr>
		}
	</table>

	<section class="p-3 d-flex flex-column gap-3">
		@foreach (var orderline in GetLoop("OrderLinesLoop"))
		{
			string unitPriceWithVat = string.IsNullOrEmpty(orderline.GetString("UnitPriceWithVAT")) ? orderline.GetString("UnitPriceWithVat") : orderline.GetString("UnitPriceWithVAT");
			string unitPriceWithoutVat = string.IsNullOrEmpty(orderline.GetString("UnitPriceWithoutVAT")) ? orderline.GetString("UnitPriceWithoutVat") : orderline.GetString("UnitPriceWithoutVAT");
			string priceWithVAT = string.IsNullOrEmpty(orderline.GetString("PriceWithVAT")) ? orderline.GetString("PriceWithVat") : orderline.GetString("PriceWithVAT");
			string priceWithoutVAT = string.IsNullOrEmpty(orderline.GetString("PriceWithoutVAT")) ? orderline.GetString("PriceWithoutVat") : orderline.GetString("PriceWithoutVAT");

			string productName = !string.IsNullOrEmpty(orderline.GetString("ProductName")) ? orderline.GetString("ProductName") + " " + orderline.GetString("ProductNumber") : orderline.GetString("ProductNumber");
			string productPrice = showPricesWithVat.ToLower() == "true" ? currencyCode + unitPriceWithVat : currencyCode + unitPriceWithoutVat;
			string productPriceTotal = showPricesWithVat.ToLower() == "true" ? currencyCode + priceWithVAT : currencyCode + priceWithoutVAT;

			var orderlineQuantity = orderline.GetString("Quantity");
			var productId = orderline.GetString("ProductNumber");
			var variantId = orderline.GetString("ProductVariantID");

			var orderlineType = !string.IsNullOrEmpty(orderline.GetString("ParentLineID")) ? "discountOrFee" : "product";

			<article>
				<div class="grid grid-9 h-100">
					<div class="g-col-9 g-col-md-5">
						@if (orderlineType == "product") { 
							<h2 class="h6 mb-3 fw-bold">@productName</h2>

							<ul class="list-unstyled text-muted mb-0">
								<li>
									<span>@Translate("Price"):</span>
									<span>@productPrice</span>

								</li>
								<li>
									<span>@Translate("Quantity"):</span>
									<span>@orderlineQuantity</span>
								</li>
							</ul>
						} 
					</div>

					<div class="g-col-9 g-col-md-4 text-end">
						<h6 class="h6 m-0">
							<span class="text-price">@productPriceTotal</span>
						</h6>
					</div>
				</div>
			</article>
		}

		@{
			string priceWithVat = string.IsNullOrEmpty(GetString("PriceWithVAT")) ? GetString("PriceWithVat") : GetString("PriceWithVAT");
			string priceWithoutVat = string.IsNullOrEmpty(GetString("PriceWithoutVAT")) ? GetString("PriceWithoutVat") : GetString("PriceWithoutVAT");
			string orderSubtotal = showPricesWithVat.ToLower() == "true" ? priceWithVat : priceWithoutVat;

			<div class="cart-total grid mt-3">
				<div class="g-col-12">
					<dl class="m-0">
						<div class="d-flex my-1 pt-4 border-dark border-top"></div>
						<dt class="flex-fill fw-bold">@Translate("Total")</dt>
						<dd class="flex-fill mb-0 text-end">
							<span class="text-price fw-bold">@(currencyCode) @(orderSubtotal)</span>
							@if (!neverShowVat && showPricesWithVat == "false")
							{
								<span class="fs-7 fw-normal d-block">@Translate("Excl. VAT")</span>
							}
							@if (!neverShowVat && showPricesWithVat == "true")
							{
								<span class="fs-7 fw-normal d-block">@Translate("Incl. VAT")</span>
							}
						</dd>
					</dl>
				</div>
			</div>
		}
	</section>
</div>

@Include("Helpers/AddressDisplayFormatted.cshtml")
