@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
    string id = string.IsNullOrEmpty(GetString("Id")) ? GetString("ID") : GetString("Id");
    string tabName = GetString("Ecom:IntegrationCustomerCenter.PageMenuName");
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-4" style="--bs-breadcrumb-divider: '>'; --bs-breadcrumb-item-padding-x: 1rem; --bs-breadcrumb-font-size: .875em;">
        <li class="breadcrumb-item"><a href="@(Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl($"Default.aspx?ID={Pageview.Page.ID}"))">@Pageview.Page.GetDisplayName()</a></li>
        
        @if (string.IsNullOrEmpty(id)) {
            <li class="breadcrumb-item">@tabName</li>
        }
        else
        {
            <li class="breadcrumb-item"><a href="@(Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl($"Default.aspx?ID={Pageview.Page.ID}"))">@tabName</a></li>
            <li class="breadcrumb-item active" aria-current="page">@id</li>
        }
    </ol>
</nav>

<ul class="nav nav-tabs mt-4 mb-3">
    @foreach (LoopItem nodePage in GetLoop("Ecom:IntegrationCustomerCenter.PagesLoop"))
    {
        bool isActive = nodePage.GetString("Ecom:IntegrationCustomerCenter.PageMenuName") == GetString("Ecom:IntegrationCustomerCenter.PageMenuName");
        
        <li class="nav-item">
            <a href="@nodePage.GetString("Ecom:IntegrationCustomerCenter.PageLink")" aria-current="page" class="nav-link @(isActive ? "active" : "")">@nodePage.GetString("Ecom:IntegrationCustomerCenter.PageMenuName")</a>
        </li>
    }
</ul>

@GetValue("Ecom:IntegrationCustomerCenter.PageContent")
