@inherits ViewModelTemplate<FavoriteListViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.ProductCatalog

<div class="modal fade" id="renameFavoriteListModal" tabindex="-1" aria-labelledby="RenameFavoriteList" aria-hidden="true" 
  hx-on::load="bootstrap.Modal.getOrCreateInstance(this).show();"
  x-on:shown-bs-modal.dot="
    const input = $el.querySelector('input[type=text]');
    if (input) setTimeout(() => input.focus(), 0);
  "
  x-on:hide-bs-modal.dot="
    const el = document.activeElement;
    if (el && $el.contains(el)) el.blur();
  "
  x-on:hidden-bs-modal.dot="
    bootstrap.Modal.getOrCreateInstance($el).dispose();
    $el.remove();
  "
  >
  <div class="modal-dialog pt-8">
    <form method="post" class="modal-content">
      <input type="hidden" name="favoriteListId" id="favoriteListId" value='@(Model?.Id)' />
      <input type="hidden" name="userId" id="userId" value='@(Pageview?.User?.ID)' /> 

      <div class="modal-header">
          <h5 class="modal-title">@Translate("Edit list")</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Translate("Cancel")"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <input type="text" class="form-control" name="name" id="name" placeholder="@Translate("Name")" value='@(Model?.Name)' />
          <label for="name" class="form-label">@Translate("Name")</label>
        </div>
        <div class="form-floating mt-3">
          <input type="text" class="form-control" name="description" id="description" placeholder="@Translate("Description") (@Translate("optional"))" value='@(Model?.Description)' />
          <label for="description" class="form-label">@Translate("Description") (@Translate("optional"))</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal" data-dw-button>@Translate("Cancel")</button>
        <button type="submit" class="btn btn-primary btn-sm" name="favoritecmd" value="renamefavoritelist" data-dw-button>@Translate("Save changes")</button>
      </div>
    </form>
  </div>
</div>