@inherits ViewModelTemplate<UserCreateViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Users.Frontend.UserCreate
@using Dynamicweb.Security.UserManagement

@{
    var baseUrl = SearchEngineFriendlyURLs.GetFriendlyUrl($"default.aspx?ID={Pageview?.Page?.ID ?? 0}");
    var baseUrlRaw = Dynamicweb.Context.Current?.Request.RawUrl ?? string.Empty;
    var userGroupId = Dynamicweb.Context.Current?.Request.QueryString.Get("UserGroupId") ?? string.Empty;
    var userGroupName = UserManagementServices.UserGroups.GetGroupById(Convert.ToInt32(userGroupId))?.Name ?? string.Empty;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-3" style="--bs-breadcrumb-divider: '>'; --bs-breadcrumb-item-padding-x: 1rem; --bs-breadcrumb-font-size: .875em;">
        <li class="breadcrumb-item"><a href="@(baseUrl)">@(Pageview?.Page?.GetDisplayName())</a></li>
        <li class="breadcrumb-item"><a href="@(baseUrl)?UserGroupId=@(userGroupId)">@(userGroupName)</a></li>
        <li class="breadcrumb-item active" aria-current="page">@(Translate("Invite user"))</li>
    </ol>
</nav>

<header class="mb-4">
    <h1 class="h4 mb-0">@(Translate("Invite user"))</h1>
</header>

<form hx-post="@(baseUrlRaw)"
    hx-disinherit="*"
    hx-trigger="submit"
    hx-target="this"
    hx-select="this"
    hx-swap="outerHTML"
    hx-replace-url="false"
    >

    @{
        var result = Model?.Result;
        if (result == UserCreateResultType.EmailAlreadyExists)
        {
            <div class="alert alert-danger">@Translate("The email already exists")</div>
        }
        else if (result == UserCreateResultType.InvalidEmail)
        {
            <div class="alert alert-danger">@Translate("The email is invalid")</div>
        }
        else if (result == UserCreateResultType.UserNameAlreadyExists)
        {
            <div class="alert alert-danger">@Translate("The username already exists")</div>
        }
        else if (result != UserCreateResultType.None)
        {
            <div class="alert alert-danger">@Translate(result?.ToString() ?? string.Empty)</div>
        }
    }

    <div class="vstack">
        <p class="text-muted">@Translate("Invite a new user by filling in the details below")</p>

        <div class="form-floating">
            <input type="text" class="form-control" name="Name" id="Name" placeholder="@Translate("Name")" value="@(Model?.Name)" autocomplete="off" autofocus />
            <label for="Name" class="form-label">@Translate("Name")</label>
        </div>

        <div class="form-floating mt-3">
            <input type="email" class="form-control" name="Email" id="Email" placeholder="@Translate("Email")" value="@(Model?.Email)" autocomplete="off" />
            <label for="Email" class="form-label">@Translate("Email")</label>
        </div>

        <div class="hstack gap-2 mt-3 justify-content-end">
            <a href="@(baseUrl)?UserGroupId=@(userGroupId)" type="button" class="btn btn-outline-secondary btn-sm" data-dw-button>@Translate("Cancel")</a>
            <button type="submit" class="btn btn-primary btn-sm" data-dw-button>@(Translate("Invite user"))</button>
        </div>
    </div>
</form>