@inherits ViewModelTemplate<UserCreateViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Security.UserManagement;
@using Dynamicweb.Users.Frontend.UserCreate;
@using Dynamicweb.Users.Frontend

<div class="mx-auto w-100" style="max-width: 30rem;">
    @if (Model.Result == UserCreateResultType.EmailAlreadyExists)
    {
        <div class="alert alert-danger">@Translate("The email already exists")</div>
    }
    else if (Model.Result == UserCreateResultType.InvalidEmail)
    {
        <div class="alert alert-danger">@Translate("The email is invalid")</div>
    }
    else if (Model.Result == UserCreateResultType.InvalidPasswordComplexity)
    {
        <div class="alert alert-danger">@Translate("The password is too simple. Try using a mix of uppercase, lowercase, numbers and special characters")</div>
    }
    else if (Model.Result == UserCreateResultType.InvalidPasswordLength)
    {
        <div class="alert alert-danger">@Translate("The password must be longer")</div>
    }
    else if (Model.Result == UserCreateResultType.MismatchedPasswords)
    {
        <div class="alert alert-danger">@Translate("The passwords do not match. Please try again")</div>
    }
    else if (Model.Result == UserCreateResultType.UserNameAlreadyExists)
    {
        <div class="alert alert-danger">@Translate("The username already exists")</div>
    }
    else if (Model.Result != UserCreateResultType.None)
    {
        <div class="alert alert-danger">@Translate(Model.Result.ToString())</div>
    }

    <form method="post">
        <input type="hidden" name="UserName" id="UserName" value="@Model.Email" />
        
        <div class="form-floating mb-4">
            <input type="email" class="form-control" placeholder="@Translate("Email")" name="Email" id="Email" value="@Model.Email" required />
            <label for="Email" class="form-label">@Translate("Email")</label>
        </div>

        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="Password" name="Password" placeholder="@Translate("Password")" required>
            <label for="Password">@Translate("Password")</label>
        </div>

        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="@Translate("Confirm password")" required>
            <label for="ConfirmPassword">@Translate("Confirm password")</label>
        </div>

        <button type="submit" name="Cmd" value="createuser" class="btn btn-primary w-100" data-dw-button="primary" id="CreateUser">@Translate("Create user")</button>
    </form>
</div>
