@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Frontend
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Icons/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<div class="row">
	<div class="col-lg-8 py-3 py-lg-5 pe-lg-5 order-last order-lg-first">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			@RenderPageHeader()

			@RenderErrorMessages()

			@RenderStepsBreadcrumbs()

			@RenderCustomerSummary()

			<div class="mt-4">
				<div class="row">
					<div class="col">
						<h3 class="fs-6 fw-normal mb-3">@Translate("Customer information")</h3>
					</div>
					<div class="col text-end d-none d-md-block">
						<a href="#" class="h6 fw-normal mb-3 d-block">@Translate("Already have account?") @Translate("Log in")</a>
					</div>
				</div>

				<div class="row gx-3">
					<div class="col-12 col-md-6">
						<div class="form-floating">
							<input type="email" class="form-control" name="EcomOrderDeliveryEmail" id="EcomOrderDeliveryEmail" value="@GetString("Ecom:Order.Delivery.Email")" placeholder="@Translate("Email Address")">
							<label for="EcomOrderDeliveryEmail">@Translate("Email Address")</label>
						</div>
					</div>
					<div class="col-12 col-md-6 mt-3 mt-md-0">
						<div class="form-floating">
							<input type="tel" class="form-control" name="EcomOrderDeliveryPhone" id="EcomOrderDeliveryPhone" value="@GetString("Ecom:Order.Delivery.Phone")" placeholder="@Translate("Phone number")">
							<label for="EcomOrderDeliveryPhone">@Translate("Phone number")</label>
						</div>
					</div>
					<div class="col-12 d-md-none mt-2">
						<a href="#">@Translate("Already have account?") @Translate("Log in")</a>
					</div>
					<div class="col-12 mt-3">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="EcomOrderNewsletterSubscribe" id="EcomOrderNewsletterSubscribe" value="" @if (GetString("Ecom:Order.Customer.NewsletterSubscribe") == "true") {<text>checked="checked"</text>}>
							<label class="form-check-label" for="EcomOrderNewsletterSubscribe">
								<span>@Translate("Keep me updated with deals, news and offers")</span>
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-3">@Translate("Delivery address")</h3>

				<div class="row">
					<div class="col-12">
						<div class="form-floating">
							<input type="text" class="form-control" name="EcomOrderDeliveryName" id="EcomOrderDeliveryName" value="@GetString("Ecom:Order.Delivery.Name")" placeholder="@Translate("Name")">
							<label for="EcomOrderDeliveryName">@Translate("Name")</label>
						</div>
					</div>

					<div class="col-12 mt-3">
						<div class="form-floating">
							<input type="text" class="form-control" name="EcomOrderDeliveryCompany" id="EcomOrderDeliveryCompany" value="@GetString("Ecom:Order.Delivery.Company")" placeholder="@Translate("Company")">
							<label for="EcomOrderDeliveryCompany">@Translate("Company (Optional)")</label>
						</div>
					</div>

					<div class="col-12 mt-3">
						<div class="form-floating">
							<input type="text" class="form-control" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="@GetString("Ecom:Order.Delivery.Address")" placeholder="@Translate("Street & Number")">
							<label for="EcomOrderDeliveryAddress">@Translate("Street & Number")</label>
						</div>
					</div>

					<div class="col-12">
						<div class="row gx-3">
							<div class="col-md-3 mt-3">
								<div class="form-floating">
									<input type="text" inputmode="numeric" pattern="[0-9]*" class="form-control" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="@GetString("Ecom:Order.Delivery.Zip")" placeholder="@Translate("Zipcode")">
									<label for="EcomOrderDeliveryZip">@Translate("Zipcode")</label>
								</div>
							</div>
							<div class="col-md-6 mt-3">
								<div class="form-floating">
									<input type="text" class="form-control" name="EcomOrderDeliveryCity" id="EcomOrderDeliveryCity" value="@GetString("Ecom:Order.Delivery.City")" placeholder="@Translate("Town / City")">
									<label for="EcomOrderDeliveryCity">@Translate("Town / City")</label>
								</div>
							</div>
							<div class="col-md-3 mt-3">
								<div class="form-floating">
									<select class="form-control" name="EcomOrderDeliveryState" id="EcomOrderDeliveryState">
									@foreach (LoopItem country in GetLoop("Countries")) {

									if (country.GetString("Ecom:Country.IsDeliveryCountryOrDefault") == "true") {
										<option value="@country.GetString("Ecom:Country.Code2")" selected>@country.GetString("Ecom:Country.Name")</option>
									} else {
										<option value="@country.GetString("Ecom:Country.Code2")">@country.GetString("Ecom:Country.Name")</option>
									}

									}
									</select>
									<label for="EcomOrderDeliveryState">@Translate("Country")</label>
								</div>
							</div>
						</div>
					</div>
					
				</div>

			</div>

			@RenderStepsNavigation(iconPath)
		</form>
	</div>

	<div class="summary-sidebar col-lg-4 position-relative py-2 py-lg-5 ps-lg-5">
		<div class="position-relative">

			@RenderToggleOrderSummaryButton()
			@RenderSidebar()

		</div>
	</div>
</div>

@helper RenderPageHeader() {
	<div class="pb-3 pb-md-4">
		<h1 class="h3 mb-2">@Translate("Address")</h1>
		<p class="mb-0">@Translate("Please fill in your address")</p>
	</div>
}

@Include("Helpers/StepsNavigation.cshtml")
@Include("Helpers/StepsBreadcrumbs.cshtml")
@Include("Helpers/Errors.cshtml")
@Include("Helpers/CustomerSummary.cshtml")
@Include("Helpers/Sidebar.cshtml")
@Include("Helpers/ToggleOrderSummaryButton.cshtml")
