@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Templates/Designs/R4/Assets/icons/FontAwesome/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

	@RenderPageHeader()

	@RenderCheckoutSteps()

	@RenderStepSum()

	<div class="row mt-5">

		<div class="col">

			<h3 class="h5 fw-bold mb-3">@Translate("Delivery Address")</h3>

			<div class="row">
				<div class="col-md-12">
					<div class="form-floating">
						<input type="text" class="form-control" name="EcomOrderDeliveryName" id="EcomOrderDeliveryName" value="@GetString("Ecom:Order.Delivery.Name")" placeholder="@Translate("Name")">
						<label for="EcomOrderDeliveryName">@Translate("Name")</label>
					</div>
				</div>

				<div class="col-md-12 mt-3">
					<div class="form-floating">
						<input type="text" class="form-control" name="EcomOrderDeliveryCompany" id="EcomOrderDeliveryCompany" value="@GetString("Ecom:Order.Delivery.Company")" >
						<label for="EcomOrderDeliveryCompany">@Translate("Company (Optional)")</label>
					</div>
				</div>

				<div class="col-md-12 mt-3">
					<div class="form-floating">
						<input type="text" class="form-control" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="@GetString("Ecom:Order.Delivery.Address")">
						<label for="EcomOrderDeliveryAddress">@Translate("Street & Number")</label>
					</div>
				</div>

				<div class="col-md-2 mt-3">
					<div class="form-floating">
						<input type="text" inputmode="numeric" pattern="[0-9]*" class="form-control" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="@GetString("Ecom:Order.Delivery.Zip")">
						<label for="EcomOrderDeliveryZip">@Translate("Zipcode")</label>
					</div>
				</div>

				<div class="col-md-5 mt-3">
					<div class="form-floating">
						<input type="text" class="form-control" name="EcomOrderDeliveryCity" id="EcomOrderDeliveryCity" value="@GetString("Ecom:Order.Delivery.City")">
						<label for="EcomOrderDeliveryCity">@Translate("Town / City")</label>
					</div>
				</div>

				<div class="col-md-5 mt-3">
					<div class="form-floating">
						<select class="form-control" name="EcomOrderDeliveryState" id="EcomOrderDeliveryState">
						@foreach (LoopItem country in GetLoop("Countries")) {

						if (country.GetString("Ecom:Country.IsDeliveryCountryOrDefault") == "true") {
							<option value="@country.GetString("Ecom:Country.Code2")" selected>@country.GetString("Ecom:Country.Name")</option>
						} else {
							<option value="@country.GetString("Ecom:Country.Code2")">@country.GetString("Ecom:Country.Name")</option>
						}

						}
						</select>
						<label for="EcomOrderDeliveryState">@Translate("State / Country")</label>
					</div>
				</div>

				<div class="col-md-7 mt-3">
					<div class="form-floating">
						<input type="email" class="form-control" name="EcomOrderDeliveryEmail" id="EcomOrderDeliveryEmail" value="@GetString("Ecom:Order.Delivery.Email")">
						<label for="EcomOrderDeliveryEmail">@Translate("Email Address")</label>
					</div>
				</div>

				<div class="col-md-5 mt-3">
					<div class="form-floating">
						<input type="text" class="form-control" name="EcomOrderDeliveryPhone" id="EcomOrderDeliveryPhone" value="@GetString("Ecom:Order.Delivery.Phone")">
						<label for="EcomOrderDeliveryPhone">@Translate("Phone")</label>
					</div>
				</div>
			</div>
		</div>


	</div>

	@RenderCheckoutNavigation(iconPath)
</form>

@helper RenderPageHeader() {
	<div class="py-4 py-lg-5">
        <h1 class="h3 fw-bold mb-0">Address</h1>
        <p class="mb-0">Please fill in your address</p>
    </div>
}

@Include("Helpers/CheckoutNavigation.cshtml")
@Include("Helpers/CheckoutSteps.cshtml")
@Include("Helpers/CheckoutSum.cshtml")
