@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Frontend
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string pageId = GetGlobalValue("Global:Page.ID");
	string checkoutPageId = Pageview.CurrentParagraph.Item["CheckoutPageLink"] != null ? Pageview.CurrentParagraph.Item["CheckoutPageLink"].ToString() : "";
}

<div class="row">
	
	<header class="col-12">
		@RenderPageHeader()
	</header>

	<section class="col-12 col-lg-8 pe-lg-5">

		@RenderErrorMessages()

		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">
			
			<header class="py-2 pt-lg-5 border-bottom text-muted d-none d-lg-block">
				<div class="row">
					<div class="col-2">@Translate("Product")</div>
					<div class="col-10">
						<div class="row">
							<div class="col-3 offset-6 text-center">@Translate("Quantity")</div>
							<div class="col-3 text-end">@Translate("Total")</div>
						</div>
					</div>
				</div>
			</header>

			@RenderOrderLines()

			<div class="d-none d-lg-block">
				@RenderCartNavigation("/Files/Icons/", checkoutPageId)
			</div>

		</form>
	</section>

	<aside class="col-12 col-lg-4 position-relative ps-0 pe-0 ps-lg-0 pe-lg-3">
		<div class="p-3 p-lg-5 bg-light">
			<header>
				<h4 class="fs-6 fw-normal text-muted mb-2">@Translate("Order summary")</h4>
			</header>
			@RenderOrderSummary()
			<div class="d-block d-lg-none">
				@RenderCartNavigation("/Files/Icons/", checkoutPageId)
			</div>
		</div>
	</aside>

</div>

@helper RenderPageHeader() {

	string itemsText = GetDouble("Ecom:Order.OrderLines.Count") > 1 ? Translate("items") : Translate("item");

	<div class="pb-3 pb-lg-0 pt-3 pt-lg-5">
		<h1 class="h3 mb-2">@Translate("Shopping Cart")</h1>
		<p class="mb-0"><span>@Translate("You have")</span> <span>@GetString("Ecom:Order.OrderLines.TotalProductQuantity")</span> <span>@itemsText</span> <span>@Translate("in your shopping cart")</span></p>
	</div>
}

@helper RenderOrderLines() {
	foreach (LoopItem orderline in GetLoop("OrderLines")) {
		@RenderOrderLineItem(orderline)
	}
}

@helper RenderCartNavigation(string iconPath, string checkoutPageId) {

	string checkoutLink = "#";
	checkoutLink = "Default.aspx?ID=" + checkoutPageId;

	<div class="align-items-center d-grid d-lg-flex gap-2 text-uppercase justify-content-lg-end my-3 mt-lg-4 mb-lg-0">
	
		<a href="Default.aspx?ID=@GetPageIdByNavigationTag("Shop")" class="btn btn-link link-secondary text-decoration-none me-lg-3 order-last order-lg-first">
			<div class="d-flex align-items-center justify-content-center position-relative">
				@if (File.Exists(HttpContext.Current.Server.MapPath(iconPath+"chevron-left.svg"))) {
					<span class="icon-2 me-1 position-absolute position-lg-static start-0">
						@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(iconPath+"chevron-left.svg"))
					</span>
				}
				<span>@Translate("Continue shopping")</span>
			</div>
		</a>

		<a href="@checkoutLink" class="btn btn-primary btn-lg">
			<div class="d-flex align-items-center justify-content-center position-relative">
				<span>@Translate("Checkout")</span>
				@if (File.Exists(HttpContext.Current.Server.MapPath(iconPath+"chevron-right.svg"))) {
					<span class="icon-2 ms-1 position-absolute position-lg-static end-0">
						@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(iconPath+"chevron-right.svg"))
					</span>
				}
			</div>
		</a>

	</div>
}

@Include("Helpers/Errors.cshtml")
@Include("Helpers/OrderLineItem.cshtml")
@Include("Helpers/OrderSummary.cshtml")
