@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Templates/Designs/R4/Assets/icons/FontAwesome/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

@* @TemplateTags() *@
<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">
	
	@* {% block pageheader %} *@
	@RenderPageHeader()

	@* {% block main %} *@
	@RenderCartHeader()

	@RenderCartOrderLines()

	@* {% block navigation %} *@
	@RenderCheckoutNavigation(iconPath)
</form>

@helper RenderPageHeader() {
	<div class="py-4 py-lg-5">
        <h1 class="h3 fw-bold mb-0">Shopping Cart</h1>
        <p class="mb-0">You have <span class="fw-bold">@GetString("Ecom:Order.OrderLines.Count") items</span> in your shopping cart</p>
    </div>
}

@helper RenderCartOrderLines() {
	foreach (LoopItem orderline in GetLoop("OrderLines")) {
		@RenderCartOrderLineItem(orderline)
	}
}

@Include("Helpers/CartHeader.cshtml")
@Include("Helpers/CheckoutNavigation.cshtml")
@Include("Helpers/CheckoutSteps.cshtml")
@Include("Helpers/CartOrderLineItem.cshtml")
