@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Icons/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<div class="row">
	<header class="col-12">
		@RenderCartPageHeader()
	</header>
	<section class="col-12 col-lg-8 pe-lg-5">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">
			@RenderCartHeader()
			@RenderCartOrderLines()
			@RenderCartNavigation(iconPath)
			@RenderCartErrorMessages()
		</form>
	</section>

	<aside class="col-12 col-lg-4 position-relative ps-0 pe-0 ps-lg-0 pe-lg-3">
			@RenderCartSummary()
	</aside>
</div>

@helper RenderCartOrderLines() {
	foreach (LoopItem orderline in GetLoop("OrderLines")) {
		@RenderCartOrderLineItem(orderline)
	}
}

@helper RenderCartNavigation(string iconPath) {

	string checkoutLink = "#";
	string CheckoutPageLink = Pageview.Item["CheckoutPageLink"] != null ? Pageview.Item["CheckoutPageLink"].ToString() : "";
	checkoutLink = "Default.aspx?ID=" + CheckoutPageLink;

	<div class="align-items-center d-grid d-lg-flex gap-2 text-uppercase justify-content-lg-end my-3 mt-lg-4 mb-lg-0">
	
		<a href="Default.aspx?ID=@GetPageIdByNavigationTag("Shop")" class="btn btn-link link-secondary text-decoration-none me-lg-3 order-last order-lg-first">
			@if (File.Exists(HttpContext.Current.Server.MapPath(iconPath+"chevron-left.svg"))) {
				<span class="icon-2 me-1">
					@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(iconPath+"chevron-left.svg"))
				</span>
			}
			<span>@Translate("Continue shopping")</span>
		</a>

		<a href="@checkoutLink" class="btn btn-primary btn-lg">
			<span>@Translate("Checkout")</span>
			<span class="icon-2 ms-1">
				@if (File.Exists(HttpContext.Current.Server.MapPath(iconPath+"chevron-right.svg"))) {
					@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(iconPath+"chevron-right.svg"))
				}
			</span>
		</a>

		<script>
			if ( window.history.replaceState ) {
				window.history.replaceState( null, null, window.location.href );
			}
		</script>

	</div>
}

@helper RenderCartSummary() {
	<div class="p-3 p-lg-5 bg-light">
		<header>
			<h4 class="h6 text-muted pb-2 border-bottom">Order summary</h4>
		</header>
		<div class="fs-7 mb-3">
			<div class="d-flex justify-content-between mb-2 fw-bold"><span>Lorem, ipsum.</span><span>Sapiente, vitae.</span></div>
			<div class="d-flex justify-content-between mb-2"><span>Lorem, ipsum.</span><span>Provident, ut.</span></div>
			<div class="d-flex justify-content-between mb-2"><span>Lorem, ipsum.</span><span>Ratione, maiores.</span></div>
			<div class="d-flex justify-content-between mb-2"><span>Lorem, ipsum.</span><span>In, a.</span></div>
			<div class="d-flex justify-content-between mb-2"><span>Lorem, ipsum.</span><span>Ratione, libero!</span></div>
		</div>
		<div class="fs-7 pt-3 border-top">
			<div class="d-flex justify-content-between mb-2 fs-6 fw-bold"><span>Total with VAT:</span><span>10.798 €</span></div>
			<div class="d-flex justify-content-between mb-2"><span>Lorem, ipsum.</span><span>Provident, ut.</span></div>
			<div class="d-flex justify-content-between"><span>Lorem, ipsum.</span><span>Ratione, libero!</span></div>
		</div>
	</div>
}

@Include("Helpers/CartHeader.cshtml")
@Include("Helpers/CartPageHeader.cshtml")
@Include("Helpers/CartErrors.cshtml")
@Include("Helpers/CartOrderLineItem.cshtml")
