@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using System.Web
@{
	string iconPath = "/Files/Templates/Designs/R4/Assets/icons/";
}

@RenderBreadcrumb()

@* {% block pageheader %} *@
@RenderPageHeader()

@* {% block main %} *@
main her

@* {% block navigation %} *@
@RenderCheckoutNavigation(iconPath)


@helper RenderBreadcrumb() {
	@* {% block breadcrums %} *@
	<ol class="breadcrumb small mb-0">
		<li class="breadcrumb-item">
			<a href="{{ '/' | safe }}" class="text-body">Home</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">Cart</li>
	</ol>
}

@helper RenderPageHeader() {
	<div class="py-4 py-lg-5">
        <h1 class="h3 fw-bold mb-0">Shopping Cart</h1>
        <p class="mb-0">You have 3 items in your shopping cart</p>
    </div>
}

@helper RenderCheckoutNavigation(string iconPath) {
	
	<div class="align-items-center d-grid d-lg-flex gap-2 justify-content-center justify-content-lg-end mt-5 mt-lg-5">
	
		<a class="btn btn-link link-secondary text-decoration-none text-uppercase me-lg-3 order-last order-lg-first" href="#">
			<span class="icon-container me-1">
				@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(iconPath + "angle-left.svg"))
			</span>
			<span>Here goes text</span>
		</a>

		<a class="btn btn-success btn-lg text-uppercase" href="#">
			<span>Here goes text</span>
			<span class="icon-container ms-1">
				@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(iconPath + "angle-right.svg"))
			</span>
		</a>
	
	</div>
}
