@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Templates/Designs/R4/Assets/icons/FontAwesome/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

	@RenderPageHeader()

	@RenderCheckoutSteps()

	@RenderStepSumAddress()

	<div class="row mt-5">
		<div class="col">

			<h3 class="h5 fw-bold mb-3">@Translate("Delivery methods")</h3>

			<div class="list-group">

				@foreach (LoopItem method in GetLoop("Shippingmethods")) {
					<label class="list-group-item py-3 d-flex justify-content-between">
						<div class="d-flex justify-content-between">
							@if (string.IsNullOrWhiteSpace(method.GetString("Ecom:Cart.Shippingmethod.IsSelected"))) {
								<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@method.GetString("Ecom:Cart.Shippingmethod.ID")" value="@method.GetString("Ecom:Cart.Shippingmethod.ID")">
							}
							else {
								<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@method.GetString("Ecom:Cart.Shippingmethod.ID")" value="@method.GetString("Ecom:Cart.Shippingmethod.ID")" checked="checked">
							}

							<div>
								<span class="d-block">@method.GetString("Ecom:Cart.Shippingmethod.Name")</span>
							</div>
						</div>
						<span class="text-nowrap">@method.GetString("Ecom:Cart.ShippingMethod.Price")</span>
					</label>
				}

			</div>

		</div>
	</div>


	@RenderCheckoutNavigation(iconPath)
</form>

@helper RenderPageHeader() {
	<div class="py-4 py-lg-5">
		<h1 class="h3 fw-bold mb-0">Delivery</h1>
		<p class="mb-0">Choose your delivery method</p>
	</div>
}

@Include("Helpers/CheckoutNavigation.cshtml")
@Include("Helpers/CheckoutSteps.cshtml")
@Include("Helpers/CheckoutAddressSum.cshtml")
