@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Frontend
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Icons/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<div class="row">
	<div class="col-lg-8 py-3 py-lg-5 pe-lg-5 order-last order-lg-first">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			@RenderLogo()

			@RenderPageHeader()

			@RenderStepsBreadcrumbs()

			@RenderErrorMessages()

			@RenderCustomerSummary()

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-3">@Translate("Select delivery method")</h3>

				<div class="list-group">

					@foreach (LoopItem method in GetLoop("Shippingmethods")) {
						<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
							<div class="d-flex justify-content-between align-items-center">
								@if (string.IsNullOrWhiteSpace(method.GetString("Ecom:Cart.Shippingmethod.IsSelected"))) {
									<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@method.GetString("Ecom:Cart.Shippingmethod.ID")" value="@method.GetString("Ecom:Cart.Shippingmethod.ID")" onChange="document.getElementById('ordersubmit').submit()">
								}
								else {
									<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@method.GetString("Ecom:Cart.Shippingmethod.ID")" value="@method.GetString("Ecom:Cart.Shippingmethod.ID")" checked="checked" onChange="document.getElementById('ordersubmit').submit()">
								}

								@{
									string imagePath = HttpContext.Current.Server.MapPath(method.GetString("Ecom:Cart.Shippingmethod.Icon.Clean"));

									if (File.Exists(imagePath)) {
										<figure class="m-0" style="height: 1.5rem; width: 8rem; background: url('@method.GetString("Ecom:Cart.Shippingmethod.Icon.Clean")') no-repeat left center; background-size: contain;"></figure>
									}
									else {
										<span class="d-block text-nowrap">@method.GetString("Ecom:Cart.Shippingmethod.Name")</span>
									}
								}
								<span class="d-block text-nowrap lh-1 mt-1 text-muted fs-8 ms-2">@method.GetString("Ecom:Cart.Shippingmethod.Description")</span>
							</div>
							<span class="text-price">@method.GetString("Ecom:Cart.ShippingMethod.Price")</span>
						</label>
					}

				</div>

			</div>

			@RenderStepsNavigation(iconPath)

		</form>
	</div>

	<div class="summary-sidebar col-lg-4 position-relative py-2 py-lg-5 ps-lg-5 border-start">
		<div class="position-relative">

			@RenderToggleOrderSummaryButton()
			@RenderSidebar()

		</div>
	</div>

</div>

@helper RenderPageHeader() {
	<div class="pb-3 pb-md-4">
		<h1 class="h3 mb-2">@Translate("Delivery")</h1>
		<p class="mb-0">@Translate("Choose your delivery method")</p>
	</div>
}

@Include("Helpers/Logo.cshtml")
@Include("Helpers/StepsNavigation.cshtml")
@Include("Helpers/Errors.cshtml")
@Include("Helpers/StepsBreadcrumbs.cshtml")
@Include("Helpers/CustomerSummary.cshtml")
@Include("Helpers/Sidebar.cshtml")
@Include("Helpers/ToggleOrderSummaryButton.cshtml")
