@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Templates/Designs/R4/Assets/icons/FontAwesome/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

	@* {% block pageheader %} *@
	@RenderPageHeader()

	@* {% block main %} *@
	@RenderCheckoutSteps()

	<h3>Delivery methods</h3>
	<ul>
		@foreach (LoopItem method in GetLoop("Shippingmethods")) {
			<li>
				@method.GetString("Ecom:Cart.Shippingmethod.Name")
				@* @method.TemplateTags() *@
			</li>
		}
	</ul>

	@* {% block navigation %} *@
	@RenderCheckoutNavigation(iconPath)
</form>


@helper RenderPageHeader() {
	<div class="py-4 py-lg-5">
        <h1 class="h3 fw-bold mb-0">Delivery</h1>
        <p class="mb-0">Choose your delivery method</p>
    </div>
}

@Include("Helpers/CheckoutNavigation.cshtml")
@Include("Helpers/CheckoutSteps.cshtml")
