@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Templates/Designs/R4/Assets/icons/FontAwesome/";
	string pageId = GetGlobalValue("Global:Page.ID");

	string userCheckoutName = GetString("Ecom:Order.Customer.Name");
	string userCompany = GetString("Ecom:Order.Customer.Company");
	string userStreetAddress = GetString("Ecom:Order.Customer.Address");
	string userZip = GetString("Ecom:Order.Customer.Zip");
	string userTownCity = GetString("Ecom:Order.Customer.City");
	string userStateCountry = GetString("Ecom:Order.Customer.Country");
	string userEmail = GetString("Ecom:Order.Customer.Email");
	string userPhone = GetString("Ecom:Order.Customer.Phone");
}

<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

	@RenderPageHeader()

	@RenderCheckoutSteps()

	@RenderSumOfStepAddress()

	@RenderDeliveryMethods()

	@RenderCheckoutNavigation(iconPath)

</form>

@helper RenderPageHeader() {
	<div class="py-4 py-lg-5">
		<h1 class="h3 fw-bold mb-0">Delivery</h1>
		<p class="mb-0">Choose your delivery method</p>
	</div>
}

@helper RemderSumOfStepAddress() {
	<div class="col-md-12">
		<div class="list-group">
			<div class="list-group-item d-flex justify-content-between align-items-baseline rounded-0 py-3 bg-light">
				<div class="me-3 w-100">
					<dl class="row mb-0">
						<dt class="col-md-4 h6 fw-bold mb-lg-0 lh-base">Delivery address</dt>
						<dd class="col-md-8 mb-0">
							<span>@userCheckoutName</span>
							<span>@userStreetAddress</span>
							<span>@userZip</span>
							<span>@userTownCity</span>
							<span>@userEmail</span>
							<span>@userPhone</span>
						</dd>
					</dl>
				</div>
				<small>
					<a href="/pages/e-commerce/checkout-1/" class="text-uppercase text-secondary">Edit</a>
				</small>
			</div>
		</div>
	</div>
}

@helper RenderDeliveryMethods() {
	<h3>Delivery methods</h3>
	<ul>
		@foreach (LoopItem method in GetLoop("Shippingmethods")) {
			<li>
				@method.GetString("Ecom:Cart.Shippingmethod.Name")
			</li>
		}
	</ul>
}

@Include("Helpers/CheckoutNavigation.cshtml")
@Include("Helpers/CheckoutSteps.cshtml")
