@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Templates/Designs/R4/Assets/icons/FontAwesome/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<div class="row">
	<div class="cart col-lg-8 py-4 py-lg-5 pe-lg-5 order-last order-lg-first">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			@RenderPageHeader()

			@RenderCheckoutSteps()

			@RenderStepSum()

			<div class="row mt-5">

				<div class="col">

					<h3 class="h5 fw-bold mb-3">@Translate("Delivery methods")</h3>

					<div class="list-group">

						@foreach (LoopItem method in GetLoop("Shippingmethods")) {
							<label class="list-group-item py-3 d-flex justify-content-between">
								<div class="d-flex justify-content-between">
									@if (string.IsNullOrWhiteSpace(method.GetString("Ecom:Cart.Shippingmethod.IsSelected"))) {
										<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@method.GetString("Ecom:Cart.Shippingmethod.ID")" value="@method.GetString("Ecom:Cart.Shippingmethod.ID")">
									}
									else {
										<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@method.GetString("Ecom:Cart.Shippingmethod.ID")" value="@method.GetString("Ecom:Cart.Shippingmethod.ID")" checked="checked">
									}

									<div>
										<span class="d-block">@method.GetString("Ecom:Cart.Shippingmethod.Name")</span>
									</div>
								</div>
								<span class="text-nowrap">@method.GetString("Ecom:Cart.ShippingMethod.Price")</span>
							</label>
						}

					</div>

				</div>
			</div>


			@RenderCheckoutNavigation(iconPath)
		</form>
	</div>

	<div class="summary-sidebar col-lg-4 position-relative py-3 py-lg-5 ps-lg-5">
		<div class="pt-3 pt-lg-0 position-relative">
			@RenderCheckoutSidebarCart()
		</div>
	</div>

</div>

@helper RenderPageHeader() {
	<div class="
		[ pb-4 pt-3 ]
		[ pb-lg-5 pt-lg-3 ]
		">
		<h1 class="h3 fw-bold mb-0">@Translate("Delivery")</h1>
		<p class="mb-0">@Translate("Choose your delivery method")</p>
	</div>
}

@Include("Helpers/CheckoutNavigation.cshtml")
@Include("Helpers/CheckoutSteps.cshtml")
@Include("Helpers/CheckoutSum.cshtml")
@Include("Helpers/CheckoutCart.cshtml")
