@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Templates/Designs/R4/Assets/icons/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

	@* {% block pageheader %} *@
	@RenderPageHeader()

	@* {% block main %} *@
	@RenderCheckoutSteps()

	<h3>Delivery methods</h3>
	<ul>
		@foreach (LoopItem method in GetLoop("Shippingmethods")) {
			<li>
				@method.GetString("Ecom:Cart.Shippingmethod.Name")
				@* @method.TemplateTags() *@
			</li>
		}
	</ul>

	<h4 class="mt-5">at your convenience, good sir</h4>
	<pre>
		@RenderAddressForm()
	</pre>

	@* {% block navigation %} *@
	@RenderCheckoutNavigation(iconPath)
</form>


@helper RenderPageHeader() {
	<div class="py-4 py-lg-5">
        <h1 class="h3 fw-bold mb-0">Delivery</h1>
        <p class="mb-0">Choose your delivery method</p>
    </div>
}

@Include("Helpers/CheckoutNavigation.cshtml")
@Include("Helpers/CheckoutSteps.cshtml")

@helper RenderAddressForm() {
	<text>
	Ecom:Order.Customer.Accepted	System.String	
	Ecom:Order.Customer.AccessUserID	System.Int32	0
	Ecom:Order.Customer.AccessUserUserName	System.String	
	Ecom:Order.Customer.Address	System.String	
	Ecom:Order.Customer.Address2	System.String	
	Ecom:Order.Customer.Cell	System.String	
	Ecom:Order.Customer.City	System.String	
	Ecom:Order.Customer.Comment	System.String	
	Ecom:Order.Customer.Comment.Clean	System.String	
	Ecom:Order.Customer.Company	System.String	
	Ecom:Order.Customer.Country	System.String	
	Ecom:Order.Customer.Country.Code	System.String	
	Ecom:Order.Customer.EAN	System.String	
	Ecom:Order.Customer.Email	System.String	
	Ecom:Order.Customer.Fax	System.String	
	Ecom:Order.Customer.FirstName	System.String	
	Ecom:Order.Customer.HouseNumber	System.String	
	Ecom:Order.Customer.Initials	System.String	
	Ecom:Order.Customer.MiddleName	System.String	
	Ecom:Order.Customer.Name	System.String	
	Ecom:Order.Customer.NewsletterSubscribe	System.String	
	Ecom:Order.Customer.Number	System.String	
	Ecom:Order.Customer.Phone	System.String	
	Ecom:Order.Customer.Prefix	System.String	
	Ecom:Order.Customer.RefID	System.String	
	Ecom:Order.Customer.Region	System.String	
	Ecom:Order.Customer.SecondaryUserID	System.Int32	0
	Ecom:Order.Customer.SecondaryUserName	System.String	
	Ecom:Order.Customer.Surname	System.String	
	Ecom:Order.Customer.Title	System.String	
	Ecom:Order.Customer.VatRegNumber	System.String	
	Ecom:Order.Customer.VoucherCode	System.String	
	Ecom:Order.Customer.Zip	System.String	
	Ecom:Order.Date	System.DateTime	11/02/2021 20:54:50
	Ecom:Order.Delivery.Address	System.String	
	Ecom:Order.Delivery.Address2	System.String	
	Ecom:Order.Delivery.Cell	System.String	
	Ecom:Order.Delivery.City	System.String	
	Ecom:Order.Delivery.Company	System.String	
	Ecom:Order.Delivery.Country	System.String	
	Ecom:Order.Delivery.Country.Code	System.String	
	Ecom:Order.Delivery.Email	System.String	
	Ecom:Order.Delivery.Fax	System.String	
	Ecom:Order.Delivery.FirstName	System.String	
	Ecom:Order.Delivery.HouseNumber	System.String	
	Ecom:Order.Delivery.Initials	System.String	
	Ecom:Order.Delivery.isPickupPoint	System.Boolean	False
	Ecom:Order.Delivery.MiddleName	System.String	
	Ecom:Order.Delivery.Name	System.String	
	Ecom:Order.Delivery.Phone	System.String	
	Ecom:Order.Delivery.Prefix	System.String	
	Ecom:Order.Delivery.Region	System.String	
	Ecom:Order.Delivery.Surname	System.String	
	Ecom:Order.Delivery.Title	System.String	
	Ecom:Order.Delivery.Zip	System.String	
	Ecom:Order.DisplayName	System.String
	</text>
}
