@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Rendering
@using System.IO

<div class="row">
	<div class="col-lg-8 py-3 py-lg-5 pe-lg-5 order-last order-lg-first">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			@RenderLogo()

			@RenderStepsBreadcrumbs()

			@RenderErrors()

			@RenderStepSummary()
			
			@RenderAddressDeliveryAnonymous()

			@RenderStepsNavigation()

			<input type="hidden" id="CurrentStep" />
		</form>
	</div>

	@RenderSummarySidebar()

</div>

<script>
	function submitForm() {
		document.querySelector("#CurrentStep").name = "@GetString("CartV2.CurrentStepButtonName")";
		document.getElementById('ordersubmit').submit();
	}
</script>

@Include("Helpers/Logo.cshtml")
@Include("Helpers/StepsBreadcrumbs.cshtml")
@Include("Helpers/Errors.cshtml")
@Include("Helpers/StepSummary.cshtml")
@Include("Helpers/AddressDeliveryAnonymous.cshtml")
@Include("Helpers/StepsNavigation.cshtml")
@Include("Helpers/SummarySidebar.cshtml")
