@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using System.IO

<div class="row">
	<div class="cart col-lg-8 py-3 py-lg-5 pe-lg-5 order-last order-lg-first">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			@RenderLogo()

			@RenderStepsBreadcrumbs()

			@RenderErrors()

			@RenderStepSummary()

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-0">@Translate("Select payment")</h3>
				<p class="fs-8 mb-3 text-muted">@Translate("All transactions are encrypted")</p>

				@RenderPaymentMethods()

			</div>

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-0">@Translate("Delivery address")</h3>
				<p class="fs-8 mb-3 text-muted">@Translate("Select the address that matches your credit card or payment method")</p>
				
				<div class="list-group">
					
					<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
						<span class="d-flex justify-content-between">
							<input class="form-check-input me-3" type="radio" name="DeliveryAddress" id="" value="" checked="checked" onchange="hideDeliveryAddressContainer()">
							<div>
								<span class="d-block text-nowrap">@Translate("Same address as billing address")</span>
							</div>
						</span>
					</label>

					<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
						<span class="d-flex justify-content-between">
							<input class="form-check-input me-3" type="radio" name="DeliveryAddress" id="" value="" onchange="showDeliveryAddressContainer()">
							<div>
								<span class="d-block text-nowrap">@Translate("Use another delivery address")</span>
							</div>
						</span>
					</label>

					<div class="collapse" id="DeliveryAddressContainer">
						<div class="list-group-item border-top-0 py-3 bg-light">
							@RenderAddressDeliveryAnonymous()
						</div>
					</div>
					
				</div>

				<script>
					function showDeliveryAddressContainer() {
						var show = new Collapse('#DeliveryAddressContainer', {
							show: true
						});
					};
					function hideDeliveryAddressContainer() {
						var hide = new Collapse('#DeliveryAddressContainer', {
							hide: true
						});
					};
				</script>

			</div>

			@RenderStepsNavigation()

		</form>
	</div>

	@RenderSummarySidebar()

</div>

@Include("Helpers/Logo.cshtml")
@Include("Helpers/StepsBreadcrumbs.cshtml")
@Include("Helpers/Errors.cshtml")
@Include("Helpers/StepSummary.cshtml")
@Include("Helpers/AddressDeliveryAnonymous.cshtml")
@Include("Helpers/PaymentMethods.cshtml")
@Include("Helpers/SummarySidebar.cshtml")
@Include("Helpers/StepsNavigation.cshtml")
