@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Frontend
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

<div class="row">
	<div class="cart col-lg-8 py-3 py-lg-5 pe-lg-5 order-last order-lg-first">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			@RenderLogo()

			@RenderStepsBreadcrumbs()

			@RenderErrors()

			@RenderStepSummary()

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-0">@Translate("Select payment")</h3>
				<p class="fs-8 mb-3 text-muted">@Translate("All transactions are encrypted")</p>

				@RenderPaymentMethods()

			</div>

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-0">@Translate("Billing address")</h3>
				<p class="fs-8 mb-3 text-muted">@Translate("Select the address that matches your credit card or payment method")</p>
				
				UseDeliveryAddress:
				@GetString("Ecom:Order.UseDeliveryAddress")
				
				<div class="list-group">

					<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
						<div class="d-flex justify-content-between">
							<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="BillingAddress" id="" value="" checked="checked">
							<div>
								<span class="d-block text-nowrap">@Translate("Same address as shipping address")</span>
							</div>
						</div>
					</label>

					<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
						<div class="d-flex justify-content-between">
							<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="BillingAddress" id="" value="">
							<div>
								<span class="d-block text-nowrap">@Translate("Use another billing address")</span>
							</div>
						</div>
					</label>

				</div>

			</div>

			@RenderStepsNavigation()

		</form>
	</div>

	@RenderSummarySidebar()

</div>

@Include("Helpers/Logo.cshtml")
@Include("Helpers/StepsBreadcrumbs.cshtml")
@Include("Helpers/Errors.cshtml")
@Include("Helpers/StepSummary.cshtml")
@Include("Helpers/PaymentMethods.cshtml")
@Include("Helpers/SummarySidebar.cshtml")
@Include("Helpers/StepsNavigation.cshtml")
