@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Frontend
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

<div class="row">
	<div class="cart col-lg-8 py-3 py-lg-5 pe-lg-5 order-last order-lg-first">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			@RenderLogo()

			@RenderStepsBreadcrumbs()

			@RenderErrors()

			@RenderStepSummary()

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-0">@Translate("Select payment")</h3>
				<p class="fs-8 mb-3 text-muted">@Translate("All transactions are encrypted")</p>

				@RenderPaymentMethods()

			</div>

			@RenderStepsNavigation()

		</form>
	</div>

	@RenderSummarySidebar()

</div>

@Include("Helpers/Logo.cshtml")
@Include("Helpers/StepsBreadcrumbs.cshtml")
@Include("Helpers/Errors.cshtml")
@Include("Helpers/StepSummary.cshtml")
@Include("Helpers/PaymentMethods.cshtml")
@Include("Helpers/SummarySidebar.cshtml")
@Include("Helpers/StepsNavigation.cshtml")
