@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Frontend
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Icons/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<div class="row">
	<div class="cart col-lg-8 py-3 py-lg-5 pe-lg-5 order-last order-lg-first">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			@RenderLogo()

			@RenderPageHeader()

			@RenderStepsBreadcrumbs()

			@RenderErrorMessages()

			@RenderCustomerSummary()

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-0">@Translate("Select payment method")</h3>
				<p class="fs-8 mb-3 text-muted">@Translate("All transactions are encrypted")</p>

				<div class="list-group">

					@foreach (LoopItem method in GetLoop("Paymethods")) {
						<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between align-items-center">
							<div class="d-flex justify-content-between align-items-center">
								@{
									string paymentMethodId = GetString("Ecom:Order.PaymentMethodID");
									string paymentMethodIdSaved = method.GetString("Ecom:Cart.Paymethod.ID");
								}
								<input class="form-check-input me-3 my-0" style="display: inline-table;" type="radio" name="EcomCartPaymethodID" id="EcomCartPaymentmethodID_@method.GetString("Ecom:Cart.Paymethod.ID")" @if (String.Equals(paymentMethodId, paymentMethodIdSaved)) {<text>checked="checked"</text>} value="@method.GetString("Ecom:Cart.Paymethod.ID")">
								<span class="d-flex justify-content-start text-nowrap">
									@{
										string imagePath = HttpContext.Current.Server.MapPath(method.GetString("Ecom:Cart.Paymethod.Icon.Clean"));

										if (File.Exists(imagePath)) {
											<figure class="m-0" style="height: 1.5rem; width: 8rem; background: url('@method.GetString("Ecom:Cart.Paymethod.Icon.Clean")') no-repeat left center; background-size: contain;"></figure>
										}
										else {
											@method.GetString("Ecom:Cart.Paymethod.Name")
										}
									}
								</span>
								<span class="d-block text-nowrap lh-1 mt-1 text-muted fs-8 ms-2">@method.GetString("Ecom:Cart.Paymethod.Description")</span>
							</div>
							<span class="text-price lh-1">@method.GetString("Ecom:Cart.Paymethod.Price")</span>
						</label>
					}
				</div>

			</div>

			<div class="mt-4">

				<h3 class="fs-6 fw-normal mb-0">@Translate("Billing address")</h3>
				<p class="fs-8 mb-3 text-muted">@Translate("Select the address that matches your credit card or payment method")</p>
				@GetString("Ecom:Order.UseDeliveryAddress")
				<div class="list-group">

					<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
						<div class="d-flex justify-content-between">
							<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="BillingAddress" id="" value="">
							<div>
								<span class="d-block text-nowrap">@Translate("Same address as shipping address")</span>
							</div>
						</div>
					</label>

					<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
						<div class="d-flex justify-content-between">
							<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="BillingAddress" id="" value="">
							<div>
								<span class="d-block text-nowrap">@Translate("Use another billing address")</span>
							</div>
						</div>
					</label>

				</div>

			</div>

			@RenderStepsNavigation(iconPath)

		</form>
	</div>

	<div class="summary-sidebar col-lg-4 position-relative py-2 py-lg-5 ps-lg-5 border-start">
		<div class="position-relative">

			@RenderToggleOrderSummaryButton()
			@RenderSidebar()

		</div>
	</div>

</div>

@helper RenderPageHeader() {
	<div class="pb-3 pb-md-4">
		<h1 class="h3 mb-2">@Translate("Payment")</h1>
		<p class="mb-0">@Translate("Choose the payment method")</p>
	</div>
}

@Include("Helpers/Logo.cshtml")
@Include("Helpers/StepsNavigation.cshtml")
@Include("Helpers/Errors.cshtml")
@Include("Helpers/StepsBreadcrumbs.cshtml")
@Include("Helpers/CustomerSummary.cshtml")
@Include("Helpers/Sidebar.cshtml")
@Include("Helpers/ToggleOrderSummaryButton.cshtml")
