@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Templates/Designs/R4/Assets/icons/FontAwesome/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

	@* {% block pageheader %} *@
	@RenderPageHeader()

	@* {% block main %} *@
	@RenderCheckoutSteps()
	
	<h3>Payment methods</h3>
	<ul>
	@foreach (LoopItem method in GetLoop("Paymethods")) {
		<li class="mb-3">
			<span class="d-block">@method.GetString("Ecom:Cart.Paymethod.Name")</span>
			<span class="d-block">@method.GetString("Ecom:Cart.Paymethod.Description")</span>
			<span class="d-block">@method.GetString("Ecom:Cart.Paymethod.Price")</span>
			@* @method.TemplateTags() *@
		</li>
	}
	</ul>
	
	<h3>Billing address</h3>

	@* {% block navigation %} *@
	@RenderCheckoutNavigation(iconPath)
</form>


@helper RenderPageHeader() {
	<div class="py-4 py-lg-5">
        <h1 class="h3 fw-bold mb-0">Payment</h1>
        <p class="mb-0">Choose the payment method</p>
    </div>
}

@Include("Helpers/CheckoutNavigation.cshtml")
@Include("Helpers/CheckoutSteps.cshtml")
