@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Frontend
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
@using System
@using System.Web
@using System.IO

@{
	string iconPath = "/Files/Icons/";
	string pageId = GetGlobalValue("Global:Page.ID");
}

<div class="row">
	<div class="cart col-lg-8 py-4 py-lg-5 pe-lg-5 order-last order-lg-first">
		<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">

			@RenderPageHeader()

			@RenderCartErrorMessages()

			@RenderCheckoutSteps()

			@RenderStepSum()

			<div class="row mt-5">
				<div class="col">

					<h3 class="h5 fw-bold mb-3">@Translate("Payment methods")</h3>

					<div class="list-group">
					@foreach (LoopItem method in GetLoop("Paymethods")) {
						<label class="list-group-item py-3 d-flex justify-content-between">
							<div class="d-flex justify-content-between">

							@{
								string paymentMethodId = GetString("Ecom:Order.PaymentMethodID");
								string paymentMethodIdSaved = @method.GetString("Ecom:Cart.Paymethod.ID");
							}

							<input 
								class="form-check-input me-3" 
								style="display: inline-table;" 
								type="radio" 
								name="EcomCartPaymethodID" 
								id="EcomCartPaymentmethodID_@method.GetString("Ecom:Cart.Paymethod.ID")" 
								@if (String.Equals(paymentMethodId, paymentMethodIdSaved)) {<text>checked="checked"</text>}
								value="@method.GetString("Ecom:Cart.Paymethod.ID")">

								<div>
									<span class="d-block">@method.GetString("Ecom:Cart.Paymethod.Name")</span>
									<span class="d-block small lh-1">@method.GetString("Ecom:Cart.Paymethod.Description")</span>
								</div>
							</div>
							<span class="price">@method.GetString("Ecom:Cart.Paymethod.Price")</span>
						</label>
					}
					</div>
				</div>
			</div>

			@RenderCheckoutNavigation(iconPath)

		</form>
	</div>

	<div class="summary-sidebar col-lg-4 position-relative py-3 py-lg-5 ps-lg-5">
		<div class="position-relative">

			@RenderToggleSidebarButton()
			@RenderCheckoutSidebarCart()

		</div>
	</div>

</div>


@helper RenderPageHeader() {
	<div class="pb-4">
		<h1 class="h3 fw-bold mb-0">@Translate("Payment")</h1>
		<p class="mb-0">@Translate("Choose the payment method")</p>
	</div>
}

@Include("Helpers/CheckoutNavigation.cshtml")
@Include("Helpers/CartErrors.cshtml")
@Include("Helpers/CheckoutSteps.cshtml")
@Include("Helpers/CheckoutSum.cshtml")
@Include("Helpers/CheckoutCart.cshtml")
@Include("Helpers/ToggleSidebarButton.cshtml")
