@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
	@using Dynamicweb
	@using Dynamicweb.Extensibility
	@using Dynamicweb.Content
	@using Dynamicweb.Core
	@using Dynamicweb.Ecommerce.Orders
	@using Dynamicweb.Ecommerce.Orders.SalesDiscounts
	@using System
	@using System.Web
	@using System.IO
	
	@{
		string iconPath = "/Files/Templates/Designs/R4/Assets/icons/FontAwesome/";
		string pageId = GetGlobalValue("Global:Page.ID");
	}
	
	<div class="row">
		<div class="col-8 mx-auto">
			<form name="ordersubmit" id="ordersubmit" method="post" autocomplete="off">
	
				<div class="row">
					<div class="col">
						<header>
							<div class="d-flex justify-content-between border-bottom">
								@RenderPageHeader()
								<div class="d-flex flex-shrink-1 justify-content-end align-items-center">
									<button type="button" class="btn btn-primary" onclick="window.print()">@Translate("Print")</button>
								</div>
							</div>
			
							@if((
								@GetString("Ecom:Order.Delivery.Email")
							) != "")
							{
								<p class="my-4 my-lg-5">
									@Translate("We sent an email to") 
									<strong>@GetString("Ecom:Order.Delivery.Email")</strong>
									@Translate("with your order confirmation and receipt. If the email has not arrived within two minutes, please check your spam folder to see if the email was routed there.")</p>
							}
			
						</header>
					</div>
				</div>
	
				<div class="row">
					<div class="col">
						<dl class="list-group my-5">
			
							@if((
								@GetString("Ecom:Order.ID")
							) != "")
							{
								<div class="list-group-item py-3">
									<div class="row">
										<dt class="col-3">@Translate("Order number")</dt>
										<dd class="col-9 mb-0">@GetString("Ecom:Order.ID")</dd>
									</div>
								</div>
							}
			
							@if((
								@GetString("Ecom:Order.Date")
							) != "")
							{
								<div class="list-group-item py-3">
									<div class="row">
										<dt class="col-3">@Translate("Order date")</dt>
										<dd class="col-9 mb-0">@GetString("Ecom:Order.Date")</dd>
									</div>
								</div>
							}
					
							@if((
								@GetString("Ecom:Order.Delivery.Name") ?? 
								@GetString("Ecom:Order.Delivery.Address") ?? 
								@GetString("Ecom:Order.Delivery.Zip") ?? 
								@GetString("Ecom:Order.Delivery.City") ?? 
								@GetString("Ecom:Order.Delivery.Email") ?? 
								@GetString("Ecom:Order.Delivery.Phone"
							)) != "")
							{
								<div class="list-group-item py-3">
									<div class="row">
										<dt class="col-3">@Translate("Delivery address")</dt>
										<dd class="col-9 mb-0">@GetString("Ecom:Order.Delivery.Name"), @GetString("Ecom:Order.Delivery.Address"), @GetString("Ecom:Order.Delivery.Zip") @GetString("Ecom:Order.Delivery.City"), @GetString("Ecom:Order.Delivery.Email"), @GetString("Ecom:Order.Delivery.Phone")</dd>
									</div>
								</div>
							}
					
							@if((
								@GetString("Ecom:Order.Customer.Name") ?? 
								@GetString("Ecom:Order.Customer.Address") ?? 
								@GetString("Ecom:Order.Customer.Zip") ?? 
								@GetString("Ecom:Order.Customer.City") ?? 
								@GetString("Ecom:Order.Customer.Email") ?? 
								@GetString("Ecom:Order.Customer.Phone"
							)) != "")
							{
								<div class="list-group-item py-3">
									<div class="row">
										<dt class="col-3">@Translate("Billing address")</dt>
										<dd class="col-9 mb-0">@GetString("Ecom:Order.Customer.Name"), @GetString("Ecom:Order.Customer.Address"), @GetString("Ecom:Order.Customer.Zip") @GetString("Ecom:Order.Customer.City"), @GetString("Ecom:Order.Customer.Email"), @GetString("Ecom:Order.Customer.Phone")</dd>
									</div>
								</div>
							}
					
							@if((
								@GetString("Ecom:Order.ShippingMethod")
							) != "")
							{
								<div class="list-group-item py-3">
									<div class="row">
										<dt class="col-3">@Translate("Delivery method")</dt>
										<dd class="col-9 mb-0">@GetString("Ecom:Order.ShippingMethod")</dd>
									</div>
								</div>
							}
					
							@if((
								@GetString("Ecom:Order.PaymentMethod")
							) != "")
							{
								<div class="list-group-item py-3">
									<div class="row">
										<dt class="col-3">@Translate("Payment method")</dt>
										<dd class="col-9 mb-0">@GetString("Ecom:Order.PaymentMethod")</dd>
									</div>
								</div>
							}
						</dl>
					</div>
				</div>
	
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col">
								<h3 class="h5 fw-bold mb-3">@Translate("Order summary")</h3>
							</div>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col">
						@RenderCheckoutSidebarCart()
					</div>
				</div>
	
			</form>
		</div>
	</div>
	
	@helper RenderPageHeader() {
		<div class="py-4 py-lg-5">
			<h1 class="h3 fw-bold mb-0">@Translate("Thank you for your order")</h1>
			<p class="mb-0">@Translate("We are processing your order now, here are the details")</p>
		</div>
	}
	
	@Include("Helpers/CheckoutNavigation.cshtml")
	@Include("Helpers/CheckoutSteps.cshtml")
	@Include("Helpers/CheckoutSum.cshtml")
	@Include("Helpers/CheckoutCart.cshtml")
	