@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System.Globalization
@using System.Drawing
@using Dynamicweb.Frontend

@functions{

	private string GetFontValue(string field)
	{
		var fontValue = Model.Item.GetString(field);
		return fontValue;
	}

	private FileViewModel GetFontFile()
	{
		var file = Model.Item.GetFile("File");
		return file;
	}

	private string CreateFontFace(FileViewModel font, string name, string style, string weight)
	{
		var fontFaceSb = new System.Text.StringBuilder();
		var fontFormat = font.Extension == ".ttf" ? "truetype" : font.Extension.Replace(".", string.Empty);

		fontFaceSb.AppendLine("@font-face {");
		fontFaceSb.AppendLine($"font-family: '{name}';");
		fontFaceSb.AppendLine($"font-style: {style};");
		fontFaceSb.AppendLine($"font-weight: {weight};");
		fontFaceSb.AppendLine("font-display: swap;");
		fontFaceSb.AppendLine($"src: url({font.Path}) format('{fontFormat}');");
		fontFaceSb.AppendLine("}");
		return fontFaceSb.ToString();
	}
}

@{

	if (!string.IsNullOrEmpty(GetFontValue("Name")) && GetFontFile() is object)
	{
		var sb = new System.Text.StringBuilder();

		sb.AppendLine(CreateFontFace(GetFontFile(), GetFontValue("FontFamilyName"), GetFontValue("FontStyle"), GetFontValue("FontWeight")));

		Dynamicweb.Core.Helpers.TextFileHelper.WriteTextFile(sb.ToString() + Environment.NewLine, Dynamicweb.Context.Current.Server.MapPath($"/Files/Templates/Designs/Swift/_parsed/Swift_css/Swift_font_styles_{Dynamicweb.Content.Services.Pages.GetPage(Model.PageID).AreaId}.tmp"), true);
	}
}

@if (!string.IsNullOrEmpty(GetFontValue("Name")) && GetFontFile() is object)
{
	<div class="g-col-12">
		<div>@GetFontValue("Name") - <small class="opacity-75">(@GetFontValue("FontFamilyName"), @GetFontValue("FontWeight"), @GetFontValue("FontStyle"))</small></div>
	</div>
	<div class="grid g-col-12">
		<div class="g-col-12 g-col-lg-8">
			<div class="font-wrapper" style="--font-family:'@(GetFontValue("FontFamilyName"))';--font-weight:@(GetFontValue("FontWeight")); --font-style:@(GetFontValue("FontStyle"));">
				<h1>@Translate("The quick, brown fox jumps over the lazy dog")</h1>
				<h2>@Translate("The quick, brown fox jumps over the lazy dog")</h2>
				<h3>@Translate("The quick, brown fox jumps over the lazy dog")</h3>
				<h4>@Translate("The quick, brown fox jumps over the lazy dog")</h4>
				<h5>@Translate("The quick, brown fox jumps over the lazy dog")</h5>
				<h6>@Translate("The quick, brown fox jumps over the lazy dog")</h6>
			</div>
		</div>
		<div class="g-col-12 g-col-lg-4">
			<table class="table table-borderless table-sm w-100">
				<tr>
					<td colspan="2" class="fw-bold">@Translate("Parameters")</td>
				</tr>
				<tr>
					<td>@Translate("Font family")</td>
					<td><a role="button" title="@Translate("Click to copy")">@(GetFontValue("FontFamilyName"))</a></td>
				</tr>
				<tr>
					<td>@Translate("Font weight")</td>
					<td><a role="button" title="@Translate("Click to copy")">@(GetFontValue("FontWeight"))</a></td>
				</tr>
				<tr>
					<td>@Translate("Font style")</td>
					<td><a role="button" title="@Translate("Click to copy")">@(GetFontValue("FontStyle"))</a></td>
				</tr>
			</table>
		</div>

	</div>

	<div class="g-col-12">
		<hr />
	</div>
}
