@inherits ViewModelTemplate<UserAuthenticationViewModel>
@using Dynamicweb.Users.Frontend.UserAuthentication
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb


<div class="mx-auto w-100" style="max-width: 30rem;">
    @{
        if(Model.Result == UserAuthenticationResultType.IncorrectLogin)
        {
            <div class="alert alert-danger" role="alert">
                @Translate("The username or password you entered is incorrect. Please try again.")
            </div>
        }
        else if(Model.Result == UserAuthenticationResultType.PasswordLengthInvalid)
        {
            <div class="alert alert-danger" role="alert">
                @Translate("The password you entered does not meet the required length. Please ensure it meets the minimum length criteria and try again.")
            </div>
        }
        else if(Model.Result == UserAuthenticationResultType.ExceededFailedLogOnLimit)
        {
            <div class="alert alert-danger" role="alert">
                @Translate("You have exceeded the maximum number of failed login attempts. Please wait a while before trying again.")
            </div>
        }
        else if(Model.Result == UserAuthenticationResultType.LoginLocked)
        {
            <div class="alert alert-danger" role="alert">
                @Translate("Your account has been locked due to multiple failed login attempts.")
            </div>
        }
        else if(Model.Result == UserAuthenticationResultType.ExternalProviderAuthenticationFailed)
        {
            <div class="alert alert-danger" role="alert">
                @Translate("External provider authentication failed")
            </div>
        }
        else if(Model.Result == UserAuthenticationResultType.ExternalProviderEmailNotProvided)
        {
            <div class="alert alert-danger" role="alert">
                @Translate("External provider email not provided")
            </div>
        }
        else if(Model.Result == UserAuthenticationResultType.ExternalProviderNotRegisteredOrInactive)
        {
            <div class="alert alert-danger" role="alert">
                @Translate("External provider not registered or inactive")
            </div>
        }
        else if(Model.Result == UserAuthenticationResultType.UserAutoCreationDisabled)
        {
            <div class="alert alert-danger" role="alert">
                @Translate("User auto creation is disabled")
            </div>
        }
        else if(Model.Result == UserAuthenticationResultType.UserCreationFailed)
        {
            <div class="alert alert-danger" role="alert">
                @Translate("User auto creation failed")
            </div>
        }
        else if(Model.Result == UserAuthenticationResultType.Success)
        {
            <div class="alert alert-success" role="alert">
                @Translate("You have successfully logged in. Welcome back!")
            </div>
        }
        else if(Model.Result == UserAuthenticationResultType.PasswordChangedSuccess)
        {
            <div class="alert alert-success" role="alert">
                @Translate("You have successfully changed the password.")
            </div>
        }
        else if (Model.Result != UserAuthenticationResultType.None)
        {
            <div class="alert alert-danger">@Translate(Model.Result.ToString())</div>
        }
    }

    @if (Model.ExternalLogins.Any()) {
        foreach(var provider in Model.ExternalLogins)
        {
            <form class="grid grid-1 gap-4 mb-4" method="post">            
                <button type="submit" name="ExternalLoginProviderId" value="@provider.Id" class="btn btn-outline-primary w-100" data-dw-button>
                    <span class="hstack gap-2 justify-content-center align-items-center">
                        @if (provider.Icon != null) 
                        {
                            if (provider.Icon.Contains(".svg")) {
                                <span class="icon-3">
                                    @ReadFile(provider.Icon)
                                </span>
                            } 
                            else
                            {
                                <img src="/Admin/Public/GetImage.ashx?image=@(provider.Icon)&width=18&format=webp" >
                            }
                        }
                        <span>@Translate("Sign in with") @provider.Name</span>
                    </span>
                </button>
            </form>
        }
        <div class="d-flex align-items-center gap-3 mb-4">
            <span class="border-top flex-fill"></span>
            <span class="text-uppercase text-muted fs-7">@Translate("or continue with email")</span>
            <span class="border-top flex-fill"></span>
        </div>
    }

    <form method="post">
        <input type="hidden" name="redirect" value="@Model.RedirectAfterLogin">

        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="Username" name="username" placeholder="@Translate("Email")" required>
            <label for="Username">@Translate("Email")</label>
        </div>

        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="Password" name="password" placeholder="@Translate("Password")" required>
            <label for="Password">@Translate("Password")</label>
        </div>

        <div class="d-flex justify-content-between mb-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="True" name="Autologin" id="RememberMe">
                <label class="form-check-label" for="RememberMe">@Translate("Keep me signed in")</label>
            </div>

            @if (!string.IsNullOrEmpty(Model.CreatePasswordLink))
            {
                <div class="d-flex justify-content-end fw-bold">
                    <a href="@Model.CreatePasswordLink" class="text-decoration-none text-decoration-underline-hover">@Translate("Forgot password?")</a>
                </div>
            }
        </div>

        <div class="d-grid align-items-center">
            <button type="submit" class="btn btn-primary" data-dw-button="primary" id="SignIn">@Translate("Sign in")</button>
        </div>

        @if (!string.IsNullOrEmpty(Model.CreateUserLink))
        {
            <div class="d-flex justify-content-center mt-4 gap-2">
                @Translate("Don't have an account?") 
                <span class="fw-bold">
                    <a href="@Model.CreateUserLink" class="text-decoration-none text-decoration-underline-hover">@Translate("Sign up")</a>
                </span>
            </div>
        }
    </form>
</div>
