@inherits Dynamicweb.Rendering.ViewModelTemplate<ChangePasswordViewModel>
@using Dynamicweb.Users.Frontend.ChangePassword

<div class="mx-auto" style="min-width: 20rem; max-width: 30rem;">
    @if (Model.Result == ChangePasswordResultType.MismatchedPasswords)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("Passwords don't match")
        </div>
    }

    @if (Model.Result == ChangePasswordResultType.InvalidPasswordLength)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("Password not accepted: Length is not valid")
        </div>
    }

    @if (Model.Result == ChangePasswordResultType.InvalidPasswordComplexity)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("Password not complex enough: You need both letters and numbers")
        </div>
    }

    @if (Model.Result == ChangePasswordResultType.InvalidOldPassword)
    {
        <div class="alert alert-danger" role="alert">
            @Translate("Old password is incorrect")
        </div>
    }

    @if (Model.Result == ChangePasswordResultType.Success)
    {
        <div class="alert alert-success" role="alert">
            @Translate("Password changed")
        </div>
    }

    <form method="post">
        <input type="hidden" name="UserOldPassword" value="true"/>

        <div class="form-floating mb-3">
            <input type="password" name="OldPassword" id="OldPassword" class="form-control" placeholder="@Translate("Old password")" required>
            <label for="OldPassword">@Translate("Old Password")</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="@Translate("New password")" required>
            <label for="NewPassword">@Translate("New password")</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" name="ConfirmNewPassword" id="ConfirmNewPassword" class="form-control" placeholder="@Translate("Confirm new password")" required>
            <label for="ConfirmNewPassword">@Translate("Confirm new password")</label>
        </div>

        <button type="submit" name="cmd" value="ChangePassword" class="btn btn-primary btn-lg w-100" data-dw-button="primary" id="PasswordRecoveryButton">@Translate("Change password")</button>
    </form>     
</div>

