@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@using System
@using Dynamicweb.Ecommerce.ProductCatalog
@MasterPageFile("Swift_MasterNoLayout.cshtml")

@{ 
	bool isVisualEditor = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("VisualEdit")) : false;

	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	string theme = "";
	string gridContent = "";

	if (Model.PropertyItem != null)
	{
		theme = !string.IsNullOrWhiteSpace(Model.PropertyItem.GetRawValueString("Theme")) ? " theme " + Model.PropertyItem.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
	}

	if (Model.Item != null)
	{
		gridContent = Model.Grid("Grid", "Grid", "default:true;sort:1", "Page");
	}

	string viewType = Model.Item.GetRawValueString("ViewType", "3-columns");

	<div class="bg-light w-100 position-relative" style="top: -120px; height: calc(100vh + 120px)">
		<div style="height: 120px">
			<h3 class="h5 p-5"><span class="icon-2 me-2">@ReadFile(iconPath + "edit-2.svg")</span> @Translate("Product list item builder")</h3>
		</div>
		<div class="container-xl d-flex flex-row align-items-center justify-content-center h-100 position-relative" style="top: -120px">
			<div class="grid w-100">
				@if (viewType == "2-columns") {
					<div class="g-col-3"></div>
					<div class="g-col-6 shadow bg-white @theme p-2">
						@gridContent
					</div>
					<div class="g-col-3"></div>
                }
				@if (viewType == "3-columns") {
					<div class="g-col-4"></div>
					<div class="g-col-3 shadow bg-white @theme p-2">
						@gridContent
					</div>
					<div class="g-col-4"></div>
					<div class="g-col-1"></div>
                }
				@if (viewType == "4-columns") {
					<div class="g-col-4"></div>
					<div class="g-col-4 shadow bg-white @theme p-2">
						@gridContent
					</div>
					<div class="g-col-4"></div>
                }
				@if (viewType == "list") {
					<div class="g-col-1"></div>
					<div class="g-col-9 shadow bg-white @theme p-2">
						@gridContent
					</div>
					<div class="g-col-2"></div>
                }
			</div>
		</div>
	</div>

	if (!Model.IsCurrentUserAllowed)
	{
		int signInPage = GetPageIdByNavigationTag("SignInPage");
		int dashboardPage = GetPageIdByNavigationTag("MyAccountDashboardPage");

		if (!isVisualEditor)
		{
			if (signInPage != 0)
			{
				if (signInPage != Model.ID)
				{
					Dynamicweb.Context.Current.Response.Redirect("/Default.aspx?ID=" + signInPage);
				}
				else
				{
					if (dashboardPage != 0)
					{
						Dynamicweb.Context.Current.Response.Redirect("/Default.aspx?ID=" + dashboardPage);
					}
					else
					{
						Dynamicweb.Context.Current.Response.Redirect("/");
					}
				}
			}
			else
			{
				<div class="alert alert-dark m-0" role="alert">
					<span>@Translate("You do not have access to this page")</span>
				</div>
			}
		}
		else
		{
			<div class="alert alert-dark m-0" role="alert">
				<span>@Translate("To work on this page, you must be signed in, in the frontend")</span>
			</div>
		}
	}
}
