@inherits ViewModelTemplate<ListEditorViewModel<string>>
@using Dynamicweb.Rendering
@using Dynamicweb.Content
@using Dynamicweb.Content.Items
@using Dynamicweb.Content.Items.Rendering

@{
string editorId = Model.EditorId;
}

<div class="item-editor-box list-editor-box">
    <ul class="item-lists">
        @if (Model.Items is object)
        {
            for (var i = 0; i < Model.Items.Count; i++)
            {
                <li class="item-clearfix">
                    <input class="item-option-input" type="radio" id="@(editorId)_@i" name="@editorId" value="@Model.Items[i].Id" @(Model.SelectedValue == Model.Items[i].Id ? "checked" : "") />
                    <label class="item-option-label" for="@(editorId)_@i">@Model.Items[i].Id</label>
                </li>
            }
        }
        else
        {
            for (var i = 0; i < Model.Options.Count; i++)
            {
                <li class="item-clearfix">
                    <input class="item-option-input" type="radio" id="@(editorId)_@i" name="@editorId" value="@Model.Options[i].Value" @(Model.Options[i].Selected ? "checked" : "") />
                    <label class="item-option-label" for="@(editorId)_@i">@Model.Options[i].Name</label>
                </li>
            }
        }
    </ul>
</div>