@{
    string formCssClass = GetString("Form.CssClass");
    string formSystemFields = GetString("Form.SystemFields");
    bool formLabelBold = GetBoolean("Form.LabelBold");
    bool formLabelOverField = GetBoolean("Form.LabelOverField");
    string formId = GetString("Form.HtmlId");
    string formOnSubmit = GetString("Form.OnSubmit");
    string formSpamScript = GetString("Form.SpamScript");
    string formAction = GetString("Form.Action");
    int formColumnShiftFormFieldID = GetInteger("Form.ColumnShiftFormFieldID");
    string formLabelRequired = GetString("Form.LabelRequired");

    int formMaxSubmits = GetInteger("Form.MaxSubmits");
    int formSubmitCount = GetInteger("Form.SubmitCount");
}


@{
    if (formMaxSubmits > 0 && formSubmitCount >= formMaxSubmits)
    {
        @GetString("Form.MaxSubmitsReachedText")
    }
    else
    {
        <style type="text/css">
            .formtable td {
                padding: 3px;
            }

            .formtable .columnCell {
                vertical-align: top;
            }

            .formtable .labelCell {
                vertical-align: top;
                padding-right: 10px;
            }


            .formtable .descriptionCell {
                font-size: 0.8em;
                opacity: 0.8;
                padding: 0px;
                padding-left: 3px;
                padding-bottom: 5px;
                max-height: 0.8em;
                line-height: 1.0em;
            }

            .formtable input[type=text],
            .formtable input[type=password],
            .formtable textarea {
                min-width: 250px;
            }
    @if (formLabelBold)
    {
        <text>.formtable .labelCell label {font-weight:bold;}</text>
    }
        </style>

        <form method="post" action="@formAction" enctype="multipart/form-data" class="@formCssClass" id="@formId" onsubmit="@formOnSubmit">
            @formSystemFields
            <table class="formtable">
                @if (formColumnShiftFormFieldID > 0)
                {
                    @GetStartTable();
                }

                @foreach (LoopItem field in GetLoop("Fields"))
                {
                    int fieldId = field.GetInteger("Field.ID");
                    string fieldHtmlId = field.GetString("Field.HtmlId");
                    string fieldName = field.GetString("Field.Name");
                    string fieldControl = field.GetString("Field.Control");
                    string fieldDescription = field.GetString("Field.Description");
                    bool fieldIsButton = field.GetBoolean("Field.IsButton");
                    bool fieldIsOther = field.GetBoolean("Field.IsOther");
                    bool fieldRequired = field.GetBoolean("Field.Required");

                    string requiredImage = string.Empty;
                    if (fieldRequired && !String.IsNullOrEmpty(formLabelRequired))
                    {
                        requiredImage = String.Format("<img src=\"/Files/images/{0}\">", formLabelRequired);
                    }

                    string fieldActivityId = field.GetString("Field.Activity.Id");
                    string fieldActivityName = field.GetString("Field.Activity.Name");
                    string fieldActivityDescription = field.GetString("Field.Activity.Description");

                    if (formLabelOverField)
                    {
                        if (!fieldIsButton && !fieldIsOther)
                        {
                            <tr class="labelRow">
                                <td class="labelCell">
                                    <label for="@fieldHtmlId">@fieldName @requiredImage</label>
                                </td>
                            </tr>
                        }
                        <tr class="fieldRow">
                            <td>@fieldControl</td>
                        </tr>
                        <tr class="descriptionRow">
                            <td class="descriptionCell"><small>@fieldDescription</small></td>
                        </tr>

                        if (!string.IsNullOrEmpty(fieldActivityId))
                        {
                            <tr class="consentRow">
                                <td>
                                    <strong>@fieldActivityName</strong>
                                    <div>@fieldActivityDescription</div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="fieldRow">
                            <td class="labelCell">
                                @if (!fieldIsButton && !fieldIsOther)
                                {
                                    <label for="@fieldHtmlId">@fieldName @requiredImage</label>
                                }
                            </td>
                            <td>@fieldControl</td>
                        </tr>
                        <tr class="descriptionRow">
                            <td class="descriptionCell"></td>
                            <td class="descriptionCell"><small>@fieldDescription</small></td>
                        </tr>
                        if (!string.IsNullOrEmpty(fieldActivityId))
                        {
                            <tr class="consentRow">
                                <td></td>
                                <td>
                                    <strong>@fieldActivityName</strong>
                                    <div>@fieldActivityDescription</div>
                                </td>
                            </tr>
                        }
                    }

                    if (formColumnShiftFormFieldID == fieldId)
                    {
                        @GetShiftColumn();
                    }
                }
                @if (formColumnShiftFormFieldID > 0)
                {
                    @GetEndTable();
                }
            </table>
        </form>
    }
}

@functions {
    private string GetStartTable()
    {
        return "<tr><td class=\"columnCell\"><table class=\"firstColumn\">";
    }

    private string GetShiftColumn()
    {
        return "</table></td><td class=\"columnCell\"><table class=\"secondColumn\">";
    }

    private string GetEndTable()
    {
        return "</table></td></tr>";
    }
}