@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>


@{
    @GetString("Form.FormStart") 
    <div class="item-inner">
        @GetString("Form.SystemFields")

        @foreach (LoopItem field in GetLoop("Fields"))
        {
            string fieldType = field.GetString("Field.Type");
            string inputType = fieldType.ToLower().Replace("textinput", "text");
            bool required = field.GetBoolean("Field.Required");
            string systemName = field.GetString("Field.SystemName");
            string value = field.GetString("Field.ValueFromAutoOrDefault");
            string placeholder = Translate(field.GetString("Field.Placeholder"));
            string label = Translate(field.GetString("Field.Name"));
            string description = Translate(field.GetString("Field.Description"));
            string control = field.GetString("Field.Control");
            string name = field.GetString("Field.Name");

            <div class="mb-3">
                @switch (fieldType)
                {
                    case "TextInput":
                    case "Email":
                    case "Password":
                    case "Tel":
                    case "Number":
                        <div class="form-floating">
                            <input id="@systemName" class="form-control" type="@inputType" name="@systemName" placeholder="@placeholder" value="@value" required="@required" />
                            <label for="@systemName" class="form-label">@label</label> 
                        </div>
                        break;

                    case "Week":
                    case "Time":
                    case "Color":
                        // BUG: comes out as "TextInput"
                        break;

                    case "Month":
                    case "Search":
                    case "Url":
                    case "Range":
                        // Missing Component
                        break;

                    case "Textarea":
                        <div class="form-floating">
                            <textarea id="@systemName" class="form-control" name="@systemName" placeholder="@placeholder" required="@required">@value</textarea>
                            <label for="@systemName" class="form-label">@label</label> 
                        </div>
                        break;

                    case "Hidden":
                        <input type="@inputType" id="@systemName" name="@systemName" value="@value" />
						break;

					case "File":
							<input class="form-control visually-hidden" type="@inputType" id="@systemName" name="@systemName" placeholder="@placeholder" required="@required">
							<label for="@systemName" class="btn btn-primary">@name</label>
                        break;

                    case "Date":
                        //Missing component
                        break;

                    case "Datetime":
                    case "Datetime-Local":
                        //Missing component
                        break;

                    case "CheckBox":
                        string isChecked = value.ToLower() == "true" ? "checked" : ""; 

                        <div class="form-check">
                            <input class="form-check-input" type="@inputType" id="@systemName" name="@systemName" required="@required" @isChecked>
                            <label class="form-check-label" for="@systemName">@label</label>
                        </div>
                        break;

                    case "Radio":
                    case "CheckBoxList":
                        string type = fieldType.ToLower() == "radio" ? "radio" : "checkbox";

                        <label for="@systemName" class="form-label">@label</label> 
                        foreach (LoopItem option in field.GetLoop("Options"))
                        {
                            string optionChecked = option.GetBoolean("Option.DefaultSelected") ? "checked" : "";
                            string id = systemName + option.GetString("Option.ID");
                            string optionValue = option.GetString("Option.Value");
                            string optionText = Translate(option.GetString("Option.Text"));

                            <div class="form-check">
                                <input class="form-check-input" type="@type" id="@id" name="@systemName" value="@optionValue" required="@required" @optionChecked>
                                <label class="form-check-label" for="@id">@optionText</label>
                            </div>
                        }
                        break;

                    case "Select":
                        <div class="form-floating">
                            <select class="form-select" name="@systemName">
                                @foreach (var option in field.GetLoop("Options"))
                                {
                                    string optionSelected = option.GetBoolean("Option.DefaultSelected") == true ? "selected" : "";
                                    string id = systemName + option.GetString("Option.ID");
                                    string optionValue = option.GetString("Option.Value");
                                    string optionText = Translate(option.GetString("Option.Text"));

                                    <option @optionSelected value="@optionValue" id="@id" >@optionText</option>
                                }
                            </select>
                            <label for="@systemName" class="form-label">@label</label>
                        </div>
                        break;

                    case "Submit":
                        <button class="btn btn-primary" type="submit" onclick="Buttons.LockButton(event)" id="@systemName">@label</button>
                        break;

                    case "Reset":
                        <button class="btn btn-secondary" type="reset" onclick="Buttons.LockButton(event)" id="@systemName">@label</button>
                        break;
                    case "Text":
                        <div class="form-text">@control</div>
                        break;

                    case "Image":
                        string imagePath = field.GetString("Field.Image");
                        if (!string.IsNullOrEmpty(imagePath))
                        {
                            <img class="img-fluid" src="@imagePath" />
                        }
                        break;

                    case "PageShift":
                         <label for="@systemName">@label</label><span class="formPageShift"></span>
                        break;
                }
                @if (!string.IsNullOrEmpty(description)) {
                    <div class="form-text">@description</div>
                }
            </div>
        }
    </div>

    @GetString("Form.FormEnd")
}


