@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{
	var cartContext = string.Empty;
	string cartId = string.Empty;
	string jsCartClass = "js-cart-qty";
	Dynamicweb.Ecommerce.Common.Context.CartContext = null;

	if (Model.Item.TryGetString("CartContext", out var cartContextSelection))
	{
		cartContext = cartContextSelection;
		cartId = $"ID=\"Cart_{cartContext}\"";
		jsCartClass = string.Empty;

		Dynamicweb.Ecommerce.Common.Context.CartContext = Dynamicweb.Ecommerce.Services.OrderContexts.GetOrderContextById(cartContext);
	}

	double totalProducts = 0;
	if (Dynamicweb.Ecommerce.Common.Context.Cart != null)
	{
		totalProducts = Dynamicweb.Ecommerce.Common.Context.Cart.GetParentProductLineQuantityCount(Dynamicweb.Ecommerce.Common.Context.Cart.OrderLines);
	}
}

<div class="nav-item">
	<span class="p-2 nav-link d-inline-flex align-items-center gap-2 text-nowrap" role="button">
		@if (Model.Item.TryGetString("Icon", out string iconPath))
		{
			<span class="icon-3 pe-none">@ReadFile(iconPath)</span>
		}
		@if (Model.Item.TryGetString("Title", out string title))
		{
			<span>@title</span>
		}
		<span class="mini-cart-quantity pe-none @jsCartClass" @cartId data-order-context="@cartContext">@totalProducts</span>
	</span>
</div>