@inherits ViewModelTemplate<ProductListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog

@{
	string url = "/Default.aspx?ID=" + (GetPageIdByNavigationTag("CartSummary"));
	string iconPath = "/Files/Templates/Designs/Swift/Assets/icons/";
	string defaultQuantity = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("defaultQuantity")) ? Dynamicweb.Context.Current.Request.QueryString.Get("defaultQuantity") : "0";

	var productCounter = 0;
}

@if (Model.Products.Count() > 0)
{
	<header class="g-col-12 py-2 d-none d-lg-block">
		<div class="grid gap-2 lh-1">
			<div class="g-col-1"></div>
			<div class="g-col-1">Number</div>
			<div class="g-col-4">Product</div>
			<div class="g-col-2">Variant</div>
			<div class="g-col-2 text-end">Price</div>
			<div class="g-col-2 text-end">Qty</div>
		</div>
	</header>

	foreach (var product in Model.Products)
	{
		string minQty = product.PurchaseMinimumQuantity != 1 ? "min=\"" + product.PurchaseMinimumQuantity.ToString() + "\"" : "min=\"1\"";
		string stepQty = product.PurchaseQuantityStep > 1 ? product.PurchaseQuantityStep.ToString() : "1";
		string valueQty = product.PurchaseMinimumQuantity > product.PurchaseQuantityStep ? product.PurchaseMinimumQuantity.ToString() : stepQty;
		productCounter += 1;

		<article class="grid grid-10 grid-lg-12 gap-2 g-col-12 align-items-baseline align-items-lg-center">

			<div class="d-none d-lg-block g-col-12 border-top"></div>

			<input type="hidden" name="ProductLoopCounter@(productCounter)" value="@(productCounter)" />
			<input type="hidden" name="ProductId@(productCounter)" value="@product.Id" />
			<input type="hidden" name="VariantId@(productCounter)" value="@product.VariantId" />

			<div class="g-col-1">
				<img class="img-fluid" src="/Admin/public/getimage.ashx?image=@Dynamicweb.Context.Current.Server.UrlEncode(product.DefaultImage.Value)&width=60&height=60&format=webp&Crop=5&fillcanvas=true" height="60" width="60" alt="@product.Name">
			</div>

			<div class="g-col-6 g-col-lg-9 grid grid-9 gap-0 gap-lg-3 lh-1">

				<div class="g-col-4 g-col-lg-1 order-1">
					<span class="fs-8 fs-lg-6">@product.Number</span>
				</div>

				<div class="g-col-4 g-col-lg-4 order-3 lh-1">
					<span class="fs-8 fs-lg-6">@product.Name</span>
				</div>

				<div class="g-col-5 g-col-lg-2 order-4">
					<span class="fs-8 fs-lg-6">@product.VariantName</span>
				</div>

				<div class="g-col-5 g-col-lg-2 text-end order-2 order-lg-last">
					<span class="text-price fs-8 fs-lg-6">@product.Price.PriceFormatted</span>
				</div>
			</div>

			<div class="g-col-3 g-col-lg-2">
				<label for="Quantity" class="visually-hidden">Quantity:</label>
				<input type="number" step="@stepQty" min="@minQty" class="form-control text-center ms-auto" value="@defaultQuantity" name="Quantity@(productCounter)" style="max-width: 100px;">
			</div>

		</article>
	}

	<div class="theme position-sticky bottom-0 py-3 text-end g-col-12">
		<button type="button" class="btn btn-primary" onclick="swift.PageUpdater.Update(document.querySelector('#ExpressBuyAddForm'))">
			<div class="d-flex gap-2 align-items-center lh-base">
				<span>@Translate("Add all to cart")</span>
				<span class="icon-2">
					@ReadFile(iconPath + "shopping-cart.svg")
				</span>
			</div>
		</button>
	</div>

}
