@inherits ViewModelTemplate<ProductListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog

@if (Model.Products.Count() > 0)
{
	<header class="g-col-12 py-2 border-bottom d-none d-lg-block">
		<div class="grid" style="line-height: 1;">
			<div class="g-col-1"></div>
			<div class="g-col-2">Number</div>
			<div class="g-col-2">Product</div>
			<div class="g-col-2">Variant</div>
			<div class="g-col-2">Price</div>
			<div class="g-col-2">Qty</div>
			<div class="g-col-2"></div>
		</div>
	</header>
	foreach (var product in Model.Products)
	{
		<article class="grid grid-10 grid-lg-12 gap-2 g-col-12 pt-2">
			<div class="g-col-2 g-col-lg-1">
				<img class="" src="/Admin/public/getimage.ashx?image=@Dynamicweb.Context.Current.Server.UrlEncode(product.DefaultImage.Value)&width=60&height=60&format=webp&Crop=5&fillcanvas=true" height="60" width="60" alt="@product.Name">
			</div>
			<div class="g-col-2 g-col-lg-2">@product.Number</div>
			<div class="g-col-2 g-col-lg-2"><span class="fs-8">@product.Name</span>
				
			</div>
			<div class="g-col-2 g-col-lg-2">
				@product.VariantName
			</div>
			<div class="g-col-2 g-col-lg-2">
				<span class="text-price">@product.Price.PriceFormatted</span>
			</div>
			<div class="g-col-2 g-col-lg-2">
				<label for="Quantity@product.Number" class="visually-hidden">Quantity:</label>
				<input type="number" id="Quantity@product.Number" step="1" min="0" class="form-control text-center" value="1" name="Quantity@product.Number" style="max-width: 4.5rem;">
			</div>

		</article>

	}

}

