@inherits ViewModelTemplate<PageViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend
@using Dynamicweb.Users.Frontend.UserGroups

<div class="modal fade" id="inviteUserModal" tabindex="-1" aria-labelledby="InviteUser" aria-hidden="true" 
  hx-on::load="bootstrap.Modal.getOrCreateInstance(this).show();"
  x-on:hidden-bs-modal.dot="
    bootstrap.Modal.getOrCreateInstance($event.target).dispose();
    $event.target.remove();
  "
  >
  <div class="modal-dialog pt-8">
    <form method="post" class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">@Translate("Invite user")</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Translate("Cancel")"></button>
      </div>
      <div class="modal-body">
      <p class="text-muted">@Translate("Invite a new user by filling in the details below")</p>

      <div class="form-floating mt-3">
          <input type="email" class="form-control" name="Email" id="Email" placeholder="@Translate("Email")" value="" autocomplete="off" />
          <label for="Email" class="form-label">@Translate("Email")</label>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal" data-dw-button>@Translate("Cancel")</button>
        <button type="submit" class="btn btn-primary btn-sm" name="UserGroupCmd" value="inviteuser" data-dw-button>@Translate("Invite user")</button>
      </div>
  </form>
  </div>
</div>