@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="d-flex flex-column justify-content-center align-items-center text-center gap-1 position-relative p-4" style="height: @(Model.Item.GetString("Height"))rem" data-dw-colorscheme="@Model.ColorScheme?.Id">
	@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
		<figure class="position-absolute top-0 bottom-0 end-0 start-0 m-0">
			<img src="@image.Path" class="h-100 w-100" style="object-fit: cover; object-position: @image.GetFocalPointPercentage()" />
		</figure>
	}

	<div class="mb-0-last-child" style="z-index: 1">
		@if (Model.Item.TryGetString("Title", out string title)) {
			<h2>@title</h2>
		}

		@if (Model.Item.TryGetString("Text", out string text)) {
			@text
		}

		<button class="btn btn-primary">Read more</button>
	</div>
</div>
