@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="d-grid position-relative align-content-end text-end" style="min-height: @(Model.Item.GetString("Height"))vh">
	@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
		<figure class="position-absolute top-0 bottom-0 end-0 start-0 m-0 pe-none ratio">
			<img class="object-fit-cover" src="@image.Path" style="object-position: @image.GetFocalPointPercentage()" alt="@Model.Item?.GetString("AltText")" />
		</figure>
		<div class="position-absolute m-0 pe-none" style="inset:0;opacity:0.6;background-image:linear-gradient(to left top, @Model?.ColorScheme?.ForegroundColor?.Contrast(100), 50%, transparent);"></div>
	}

	<div swift-container class="position-relative">
		<div swift-text class="mb-0-last-child ms-auto">
			@if (Model.Item.TryGetString("Eyebrow", out string eyebrow)) {
				@eyebrow
			}
			
			@if (Model.Item.TryGetString("Title", out string title)) {
				<h2>@title</h2>
			}

			@if (Model.Item.TryGetString("Text", out string text)) {
				@text
			}

			<div class="d-grid d-sm-inline-flex gap-2 align-items-center">
				@if (Model.Item.TryGetButton("FirstButton", out ButtonViewModel firstButton)) {
					<a href="@firstButton.Link.Url" class="btn btn-primary">@firstButton.Label</a>
				}

				@if (Model.Item.TryGetButton("SecondButton", out ButtonViewModel secondButton)) {
					<a href="@secondButton.Link.Url" class="btn btn-outline-secondary">@secondButton.Label</a>
				}
			</div>
		</div>
	</div>
</div>
