@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div data-swift-poster class="d-grid position-relative align-content-center align-items-center text-center" data-swift-poster-height="@(Model.Item.GetString("Height"))">
	@if (Model.Item.TryGetImageFile("Image", out ImageFileViewModel image)) {
		<figure class="position-absolute top-0 bottom-0 end-0 start-0 m-0 pe-none ratio">
			<img class="object-fit-cover" src="@image.ToGetImage(new(){ Quality = 95 })" style="object-position: @image.GetFocalPointPercentage()" alt="@Model.Item?.GetString("AltText")" />
		</figure>
		<div class="position-absolute m-0 pe-none" style="inset:0;opacity:0.6;background-image:radial-gradient(circle at center, var(--swift-poster-gradient-color), 50%, transparent);"></div>
	}

	<div data-swift-container class="position-relative">
		<div data-swift-text class="text-center mb-0-last-child mx-auto">
			@if (Model.Item.TryGetString("Eyebrow", out string eyebrow)) {
				@eyebrow
			}			
			@if (Model.Item.TryGetString("Title", out string title)) {
				@title
			}
			@if (Model.Item.TryGetString("Text", out string text)) {
				@text
			}
		</div>
		<div class="d-flex flex-wrap gap-2 align-items-center justify-content-center">
			@if (Model.Item.TryGetButton("FirstButton", out ButtonViewModel firstButton)) {
				<a href="@firstButton.Link.Url" class="btn btn-@firstButton.Style" data-dw-button="@firstButton.Style">@firstButton.Label</a>
			}
			@if (Model.Item.TryGetButton("SecondButton", out ButtonViewModel secondButton)) {
				<a href="@secondButton.Link.Url" class="btn btn-@secondButton.Style" data-dw-button="@secondButton.Style">@secondButton.Label</a>
			}
		</div>
	</div>
</div>
