@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Ecommerce.Orders

@* Red lines may be due to variables defined in the parent tempalte - There is no actual error *@

@{
	
	<div class="align-items-center d-grid d-lg-flex gap-2 justify-content-lg-end mt-lg-4">

		<a href="Default.aspx?ID=@shopPageId" class="btn btn-link text-decoration-none me-lg-3 order-last order-lg-first swift_cartbackbutton">
			<span class="d-flex align-items-center justify-content-center position-relative">
				<span class="icon-2 me-1 position-absolute position-lg-static start-0">
					@ReadFile(iconPath + "chevron-left.svg")
				</span>
				<span>@Translate("Continue shopping")</span>
			</span>
		</a>
		
		@if (!anonymousUser && isQuote)
        {
        	<a href="@($"{Context.Current.Request.Url}&cartcmd=emptycart")" class="btn btn-secondary">
        		<span class="d-flex align-items-center justify-content-center position-relative">
        			<span>@Translate("Clear Cart")</span>
        			<span class="icon-2 ms-1 position-absolute position-lg-static end-0">
        				@ReadFile(iconPath + "trash-2.svg")
        			</span>
        		</span>
        	</a>
        }

		@if (!string.IsNullOrEmpty(quoteCheckoutLink) && !anonymousUser && !isQuote)
		{
			<a href="@quoteCheckoutLink" class="btn btn-secondary">
				<span class="d-flex align-items-center justify-content-center position-relative">
					<span>@Translate("Request quote")</span>
					<span class="icon-2 ms-1 position-absolute position-lg-static end-0">
						@ReadFile(iconPath + "chevron-right.svg")
					</span>
				</span>
			</a>
		}

		<a href="@checkoutLink" class="btn btn-primary" id="GoToCheckoutButton">
			<span class="d-flex align-items-center justify-content-center position-relative">
				<span>@Translate("Checkout")</span>
				<span class="icon-2 ms-1 position-absolute position-lg-static end-0">
					@ReadFile(iconPath + "chevron-right.svg")
				</span>
			</span>
		</a>

	</div>
}
