<div id="productdetails">
    <div class="col-md-6">
        @if (string.IsNullOrWhiteSpace(GetString("Ecom:Product.ImageLarge.Default.Clean")))
        {
            <img src="@GetValue("Ecom:Product.ImageMedium.Default.Clean")" class="img-responsive" />
        }
        else
        {
            <a href="@GetValue("Ecom:Product.ImageLarge.Default.Clean")" target="_blank">
                <img src="@GetValue("Ecom:Product.ImageLarge.Default.Clean")" class="img-responsive" style="height:300px;" />
            </a>
        }
    </div>
    <div class="col-md-6">
        <h3>@GetValue("Ecom:Product.Name")</h3>

        @if (GetInteger("Ecom:Product.VariantCount") > 0)
        {
            <span class="shortdescription"><small>@GetValue("Ecom:Product.ShortDescription")</small></span>
            <span class="longdescription">@GetValue("Ecom:Product.LongDescription")</span>
            <h4>Variants </h4>
            <table class="table table-hover">
                @foreach (LoopItem i in GetLoop("VariantCombinations"))
                {
                    if (String.Equals(i.GetValue("Ecom:VariantCombination.VariantID"), GetValue("Ecom:Product.VariantID.Extented")))
                    {
                        <tr class="active">
                            <td><a href="@i.GetValue("Ecom:VariantCombination.Link.Clean")">@i.GetValue("Ecom:VariantCombination.VariantText")</a></td>
                            <td>
                                @if (i.GetDouble("Ecom:Product.Discount.Price.PriceWithVAT") == i.GetDouble("Ecom:Product.Price.Price"))
                                {
                                    <text>Price: </text>
                                    @GetValue("Ecom:Product.Price")
                                }
                                else
                                {
                                    <text>Old price:</text>
                                    <s>@i.GetValue("Ecom:Product.Price")</s>
                                    <text>Sale price:</text>
                                    <mark>i.@GetValue("Ecom:Product.Discount.Price.PriceWithVATFormatted")</mark>
                                }
                            </td>
                            <td>
                                <form method="post" role="form">
                                    <input type="hidden" name="ID" value="@GetValue("Ecom:Product:Page.ID")" />
                                    <input type="hidden" name="ProductID" value="@GetValue("Ecom:Product.ID")" />
                                    <input type="hidden" name="VariantID" value="@i.GetValue("Ecom:VariantCombination.VariantID")" />
                                    <input type="hidden" name="CartCmd" value="add" />
                                    <button type="submit" class="btn btn-default">Add to basket</button>
                                </form>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td><a href="@i.GetValue("Ecom:VariantCombination.Link.Clean")">@i.GetValue("Ecom:VariantCombination.VariantText")</a></td>
                            <td>
                                @if (i.GetDouble("Ecom:Product.Discount.Price.PriceWithVAT") == i.GetDouble("Ecom:Product.Price.Price"))
                                {
                                    <text>Price: </text>
                                    @GetValue("Ecom:Product.Price")
                                }
                                else
                                {
                                    <text>Old price:</text>
                                    <s>@i.GetValue("Ecom:Product.Price")</s>
                                    <text>Sale price:</text>
                                    <mark>@i.GetValue("Ecom:Product.Discount.Price.PriceWithVATFormatted")</mark>
                                }
                            </td>
                            <td>
                                <form method="post" role="form">
                                    <input type="hidden" name="ID" value="@GetValue("Ecom:Product:Page.ID")" />
                                    <input type="hidden" name="ProductID" value="@GetValue("Ecom:Product.ID")" />
                                    <input type="hidden" name="VariantID" value="@i.GetValue("Ecom:VariantCombination.VariantID")" />
                                    <input type="hidden" name="CartCmd" value="add" />
                                    <button type="submit" class="btn btn-default">Add to basket</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </table>
        }
        else
        {
            <span class="price">
                @{
                    var priceWithVat = GetDouble("Ecom:Product.Discount.Price.PriceWithVAT");
                    var price = GetDouble("Ecom:Product.Price.Price");
                }

                @if (Math.Abs(priceWithVat - price) < 0.00001)
                {
                    <text>Price: </text>
                    @GetValue("Ecom:Product.Price")
                }
                else
                {
                    <text>Old price:</text>
                    <s>@GetValue("Ecom:Product.Price")</s>
                    <text>Sale price:</text>
                    <mark>@GetValue("Ecom:Product.Discount.Price.PriceWithVATFormatted")</mark>
                }
            </span>

            <br />

            <span class="shortdescription"><small>@GetValue("Ecom:Product.ShortDescription")</small></span>
            <span class="longdescription">@GetValue("Ecom:Product.LongDescription")</span>

            <form method="post" role="form">
                <input type="hidden" name="ID" value="@GetValue("Ecom:Product:Page.ID")" />
                <input type="hidden" name="ProductID" value="@GetValue("Ecom:Product.ID")" />
                <input type="hidden" name="CartCmd" value="add" />
                <button type="submit" class="btn btn-default">Add to basket</button>
            </form>
        }
        
        <div id="product-comments">@Include("../../Comments/Comment.cshtml")</div>
    </div>
</div>
