@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@if (Model.Item.TryGetString("Title", out string title)) {
	<h1 class="text-end">@title</h1>
}

@if (Model.Item.TryGetString("Subtitle", out string subtitle)) {
	<div class="lead text-body text-opacity-75 text-end mb-3">@subtitle</div>
}

@if (Model.Item.TryGetString("Text", out string text)) {
	<div class="text-end">
		@text
	</div>
}

<div class="hstack gap-2 ms-auto">
	@if (Model.Item.TryGetButton("ButtonPrimary", out ButtonViewModel buttonPrimary)) {
		<a href="@buttonPrimary.Link.Url" class="btn btn-primary">@buttonPrimary.Label</a>
	}
	@if (Model.Item.TryGetButton("ButtonSecondary", out ButtonViewModel buttonSecondary)) {
		<a href="@buttonSecondary.Link.Url" class="btn btn-outline-secondary">@buttonSecondary.Label</a>
	}
</div>
