@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div>
	<div data-swift-text class="mb-0-last-child">
		@if (Model.Item.TryGetString("Title", out string title)) {
			@title
		}
		@if (Model.Item.TryGetString("Subtitle", out string subtitle)) {
			@subtitle
		}
		@if (Model.Item.TryGetString("Text", out string text)) {
			@text
		}
	</div>
	<div class="d-flex flex-wrap gap-2 align-items-center">
		@if (Model.Item.TryGetButton("FirstButton", out ButtonViewModel firstButton)) {
			<a href="@firstButton.Link.Url" class="btn btn-@firstButton.Style" data-dw-button="@firstButton.Style">@firstButton.Label</a>
		}
		@if (Model.Item.TryGetButton("SecondButton", out ButtonViewModel secondButton)) {
			<a href="@secondButton.Link.Url" class="btn btn-@secondButton.Style" data-dw-button="@secondButton.Style">@secondButton.Label</a>
		}
	</div>
</div>
