@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@if (Model.Item.TryGetString("Title", out string title)) {
	<h1>@title</h1>
}

@if (Model.Item.TryGetString("Subtitle", out string subtitle)) {
	<p class="lead text-body text-opacity-75 mb-3">@subtitle</p>
}

@if (Model.Item.TryGetString("Text", out string text)) {
	@text
}

<div class="hstack gap-2">
	@if (Model.Item.TryGetButton("ButtonPrimary", out ButtonViewModel buttonPrimary)) {
		<a href="@buttonPrimary.Link.Url" class="btn btn-primary">@buttonPrimary.Label</a>
	}
	@if (Model.Item.TryGetButton("ButtonSecondary", out ButtonViewModel buttonSecondary)) {
		<a href="@buttonSecondary.Link.Url" class="btn btn-outline-secondary">@buttonSecondary.Label</a>
	}
</div>
