@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend.Navigation
@using Dynamicweb.Content

@{
	int rootPageId = GetPageIdByNavigationTag("MyAccountPage") != 0 ? GetPageIdByNavigationTag("MyAccountPage") : Pageview.ID;
	if (Model.Item.TryGetLink("MyAccountPage", out var myAccountPage))
	{
		rootPageId = myAccountPage.PageId;
	}

	NavigationTreeViewModel navigationModel = null;
	navigationModel = Navigation.GetNavigationViewModel(new NavigationSettings()
	{
		RootPageId = rootPageId,
		ExpandMode = ExpandMode.All
	});
}

@if (Pageview.User != null || Pageview.IsVisualEditorMode)
{
	<div class="nav-wrapper" data-swift-menu="@Model.ID">
		<div class="nav-item dropdown position-static">
			<a href="/Default.aspx?ID=@rootPageId" class="p-2 nav-link d-inline-flex align-items-center gap-2 text-nowrap text-decoration-underline-hover" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="SignInDropdown_@Model.ID">
				@if (Model.Item.TryGetString("Icon", out var icon) && icon.Contains(".svg"))
				{
					<span class="icon-3 pe-none">@ReadFile(icon)</span>
				}
				@if (Model.Item.TryGetString("Title", out string title) )
				{
					<span>@title</span>
				}
			</a>
			<ul class="dropdown-menu" aria-labelledby="SignInDropdown_@Model.ID" data-dw-colorscheme="@Model.ColorScheme?.Id">
				@foreach (var node in navigationModel?.Nodes)
				{
					<li>
						<a class="dropdown-item py-2 text-decoration-underline-hover" href="@node.Link">@node.Name</a>
					</li>

				}
				
				<li><hr class="dropdown-divider"></li>
				@if (Dynamicweb.Security.UserManagement.UserContext.Current?.ImpersonatingUser != null)
				{
					<li>
						<a href="Default.aspx?ID=@(Pageview.ID)&DwExtranetRemoveSecondaryUser=1" class="dropdown-item py-2 text-decoration-underline-hover swift_sign-out-as-customer-link" id="SignInButton_@Model.ID">@Translate("Sign out as a customer")</a>
					</li>
				}
				<li>
					<a href="/Admin/Public/ExtranetLogoff.aspx?redirect=no" class="dropdown-item py-2 text-decoration-underline-hover swift_sign-out-link">@Translate("Sign out")</a>
				</li>
			</ul>
		</div>
	</div>
}
