@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Collections.Generic

@{
	var displayGroups = GetViewParameter("DisplayGroups") as IEnumerable<FieldGroupViewModel>;
	string title = GetViewParameterString("Title");
	bool hideGroupHeaders = GetViewParameterBoolean("HideGroupHeaders");
	bool hideLabels = GetViewParameterBoolean("HideFieldLabels");
	bool hideTitle = GetViewParameterBoolean("HideTitle");
	string titleFontSize = GetViewParameterString("TitleFontSize");
	string tableSizeCss = GetViewParameterString("TableSizeCss");

	if (!hideTitle)
	{
		<h2 class="g-col-12 @titleFontSize">@title</h2>
	}

	<div class="g-col-12 table-responsive">
		@foreach (var group in displayGroups)
		{
			if (!hideGroupHeaders)
			{
				<h4 class="g-col-12 h4 mb-0">@group.Name</h4>
			}

			<table class="table @(tableSizeCss)">
				<tbody>
					@foreach (var field in group.Fields)
					{
						<tr>
							<td style="width: 35%;" scope="row">@(!hideLabels ? field.Name : string.Empty)</td>
							<td class="text-break">@RenderPartial("Components/ProductFields/Shared/FieldValue.cshtml", field)</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>

}

