@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System.IO

@{
	string layout = Model.Item.GetRawValueString("Layout", "icon-top");
	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "none" ? "" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-3 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-5 p-md-5" : contentPadding;
	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

<div class="h-100 @(contentPadding)@(theme)">
	@switch (layout)
	{
		case "icon-top":
			if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
			{
				@:<a href="@Model.Item.GetString("Link")" class="text-decoration-none d-block h-100">
				}

				<div class="d-flex flex-column align-items-center h-100 text-center mb-0-last-child">

					@if (!string.IsNullOrEmpty(Model.Item.GetString("Icon")))
					{
						string imagePath = Model.Item.GetRawValueString("Icon", "");
						if (!imagePath.ToLower().Contains("none") && imagePath != "")
						{
							<div class="mb-3">
								@RenderIconAndImage()
							</div>
						}
					}

					@if (
						!string.IsNullOrEmpty(Model.Item.GetString("Title")) &&
						!Model.Item.GetBoolean("HideTitle") ||
						!string.IsNullOrEmpty(Model.Item.GetString("Text"))
						)
					{
						<div class="mb-0-last-child">
							@RenderTitle()
							@RenderBody()
						</div>
					}

				</div>

				if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
				{
				@:</a>
			}
			break;
		case "icon-left":
			if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
			{
				@:<a href="@Model.Item.GetString("Link")" class="text-decoration-none d-block h-100">
				}

				<div class="d-flex flex-row h-100 text-start mb-0-last-child">

					@if (!string.IsNullOrEmpty(Model.Item.GetString("Icon")))
					{
						string imagePath = Model.Item.GetRawValueString("Icon", "");
						if (!imagePath.ToLower().Contains("none") && imagePath != "")
						{
							<div class="me-3 h-100">
								@RenderIconAndImage()
							</div>
						}
					}

					@if (
						!string.IsNullOrEmpty(Model.Item.GetString("Title")) &&
						!Model.Item.GetBoolean("HideTitle") ||
						!string.IsNullOrEmpty(Model.Item.GetString("Text"))
						)
					{
						<div class="flex-fill h-100 mb-0-last-child">
							@RenderTitle()
							@RenderBody()
						</div>
					}

				</div>

				if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
				{
				@:</a>
			}
			break;
		case "icon-right":
			if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
			{
				@:<a href="@Model.Item.GetString("Link")" class="text-decoration-none d-block h-100">
				}

				<div class="d-flex flex-row h-100 text-end mb-0-last-child">
					<div class="flex-fill h-100 mb-0-last-child">
						@RenderTitle()
						@RenderBody()
					</div>

					@if (!string.IsNullOrEmpty(Model.Item.GetString("Icon")))
					{
						string imagePath = Model.Item.GetRawValueString("Icon", "");
						if (!imagePath.ToLower().Contains("none") && imagePath != "")
						{
							<div class="ms-3 h-100">
								@RenderIconAndImage()
							</div>
						}
					}
				</div>
				if (!string.IsNullOrEmpty(Model.Item.GetString("Link")))
				{
				@:</a>
			}
			break;
	}
</div>

@helper RenderIconAndImage()
{
	string iconSize = Model.Item.GetRawValueString("IconSize", "2");
	string imageSrc = !string.IsNullOrEmpty(Model.Item.GetString("Image")) ? Model.Item.GetFile("Image").Path : "";
	string imageSrcResized = "/Admin/Public/GetImage.ashx?image=" + imageSrc + "&width= + iconSize + &height= + iconSize + &Format=WebP&Quality=100";

	if (!string.IsNullOrEmpty(Model.Item.GetString("Image")))
	{
		<img src="@imageSrcResized" loading="lazy" title="@Model.Item.GetString("Title")" style="height: @(iconSize)rem; width: @(iconSize)rem;" />
	}
	else
	{
		if (Model.Item.GetString("Icon") != null)
		{
			string imagePath = Model.Item.GetRawValueString("Icon", "");

			if (!imagePath.ToLower().Contains("none") && imagePath != "")
			{
				if (Path.GetExtension(imagePath).ToLower() == ".svg")
				{
					<div class="icon-auto" style="height: @(iconSize)rem; width: @(iconSize)rem;">
						@ReadFile(imagePath)
					</div>
				}
				else
				{
					imagePath = "/Admin/Public/GetImage.ashx?image=" + imagePath + "&width= + @iconSize(); + &height= + @iconSize(); + &Format=WebP&Quality=100";

					<picture class="mb-2 mx-auto d-block" width="@iconSize" height="@iconSize">
						<img loading="lazy" decoding="async" src="@imagePath" title="@Model.Item.GetString("Title")" />
					</picture>
				}
			}
		}
	}
}

@helper RenderTitle()
{
	string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "h4");

	if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
	{
		<h4 class="@titleFontSize mb-3">@Model.Item.GetString("Title")</h4>
	}
}

@helper RenderBody()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
	{
		<p class="mb-0">@Model.Item.GetString("Text")</p>
	}
}
