@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using System.IO
@using System.Web

<div class="item">
    <div class="d-flex align-items-center justify-content-center">
        <div class="max-w-700px text-center">
            @if (Model.Item.GetString("Icon") != null) {
                string imagePath = Model.Item?.GetList("Icon")?.SelectedValue ?? "";

                if (Path.GetExtension(imagePath).ToLower() == ".svg") {
            <div class="block-svg-icon-container mb-2 mx-auto d-block">
                <style>
                    .block-svg-icon-container {
                        height: 26px;
                        width: 26px;
                    }

                    .block-svg-icon-container > svg {
                        height: 100%;
                        vertical-align: baseline;
                        width: 100%;
                    }
                </style>
                @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(imagePath))
            </div>
                } else {
                    imagePath = "/Admin/Public/GetImage.ashx?width=" + 26 + "&height=" + 26 + "&image=" + imagePath + "&Format=WebP&Quality=100";

                    <picture class="mb-2 mx-auto d-block" width="26" height="26">
                        <img loading="lazy" src="@imagePath" title="@Model.Item.GetString("Title")" />
                    </picture>
                }
            }
            @if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
            {
                <h4 class="h4">@Model.Item.GetString("Title")</h4>
            }
            @if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
            {
                <p>@Model.Item.GetString("Text")</p>
            }
        </div>
    </div>
</div>
