@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="position-relative overflow-hidden d-flex justify-content-center align-items-center" style="min-height:700px;">
    <figure class="position-absolute ratio ratio-16x9 top-0 h-100 w-100">
        <img title="@Model.Item.GetString("Title")" src="@Model.Item.GetFile("Image")" alt="@Model.Item.GetString("Title")" style="object-fit: cover;" />
    </figure>
    <div class="position-relative top-0 h-100 w-100">
        <div class="d-flex justify-content-center align-items-center h-100 text-white">
            <div style="max-width:700px;">
                @if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
                {
                    <h2 class="h2">@Model.Item.GetString("Title")</h2>
                }
                @if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
                {
                    <p>@Model.Item.GetString("Text")</p>
                }
                @if (!string.IsNullOrEmpty(Model.Item.GetString("ButtonLink")) && !string.IsNullOrEmpty(Model.Item.GetString("ButtonLabel")))
                {
                    <div>
                        <a href="@Model.Item.GetString("ButtonLink")" class="btn btn-primary">@Model.Item.GetString("ButtonLabel")</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>