@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{ 
	string layout = Model.Item?.GetList("Layout")?.SelectedValue != null ? Model.Item.GetList("Layout").SelectedValue : "align-left";

	string contentPadding = !string.IsNullOrEmpty(Model.Item.GetString("ContentPadding")) ? Model.Item.GetList("ContentPadding").SelectedValue : "";
	contentPadding = contentPadding == "none" ? "p-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

<div class="h-100 @(contentPadding)@(theme)">
	@switch (layout)
	{
		case "text-start":
			<div class="d-flex flex-column align-items-start h-100 text-start">
				@RenderTitle()
			</div>
		break;
		case "text-center":
			<div class="d-flex flex-column align-items-center h-100 text-center">
				@RenderTitle()
			</div>
		break;
		case "text-end":
			<div class="d-flex flex-column align-items-end h-100 text-end">
				@RenderTitle()
			</div>
		break;
		case "text-start-padding":
			<div class="d-flex flex-column align-items-start h-100 text-start pt-5 pb-2 pt-lg-6 pb-lg-4">
				@RenderTitle()
			</div>
		break;
		case "text-center-padding":
			<div class="d-flex flex-column align-items-center h-100 text-center pt-5 pb-2 pt-lg-6 pb-lg-4">
				@RenderTitle()
			</div>
		break;
		case "text-end-padding":
			<div class="d-flex flex-column align-items-end h-100 text-end pt-5 pb-2 pt-lg-6 pb-lg-4">
				@RenderTitle()
			</div>
		break;
	}
</div>

@helper RenderTitle()
{

	if (!string.IsNullOrEmpty(Model.Item.GetString("Title")))
	{
		string titleFontSize = Model.Item?.GetList("TitleFontSize")?.SelectedValue != null ? Model.Item.GetList("TitleFontSize").SelectedValue : "display-4";

		<h2 class="@titleFontSize m-0">@Translate("Hi") @Pageview.User.FirstName @Pageview.User.LastName</h2>
	}
}
