@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using System.IO
@using System.Web

@{ 
	string logoImage = !string.IsNullOrEmpty(Model.Item.GetString("Image")) ? Model.Item.GetFile("Image").Path : "";
    string maxWidth = !string.IsNullOrEmpty(Model.Item.GetString("MaxWidth")) ? "max-width: " + Model.Item.GetInt32("MaxWidth") + "px" : "";
    maxWidth = maxWidth == "max-width: 0px" ? "" : maxWidth;
    string horizontalAlign = !string.IsNullOrEmpty(Model.Item.GetString("HorizontalAlignment")) ? "justify-content-" + Model.Item.GetList("HorizontalAlignment").SelectedValue : "";

    string theme = "";
	if (Model.Item?.GetList("Theme")?.SelectedValue != null)
	{
		if (Model.Item.GetList("Theme").SelectedValue.ToLower() != "theme default")
		{
			theme = Model.Item.GetList("Theme").SelectedValue.ToLower();
			theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
			theme = theme.Replace("theme", "");
			theme = "theme theme-" + theme;

		}
	}
}

<figure class="m-0 d-flex align-items-center h-100 my-auto @horizontalAlign @theme">
    @if (logoImage != "") {
        <a href="/">
            @if (Path.GetExtension(logoImage).ToLower() == ".svg")
            {
                <div class="svg-icon" style="@maxWidth">
                    @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(logoImage))
                </div>
            }
            else
            {
                string imagePath = "/Admin/Public/GetImage.ashx?width=" + maxWidth + "&image=" + logoImage;

			    <picture class="mx-auto d-block">
				    <img src="@logoImage" title="Logo" style="@maxWidth" />
			    </picture>
            }
        </a>
	} else {
        <a class="nav-link fs-4 px-0" href="/">Rapido</a>
	} 
</figure>
