@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using System.IO
@using System.Web

@{ 
    string logoLink = !string.IsNullOrEmpty(Model.Item.GetString("Link")) ? Model.Item.GetString("link") : "";
    string horizontalAlign = !string.IsNullOrEmpty(Model.Item.GetString("HorizontalAlignment")) ? "justify-content-" + Model.Item.GetList("HorizontalAlignment").SelectedValue : "";

    string theme = !string.IsNullOrEmpty(Model.Item.GetString("Theme")) ? Model.Item.GetString("Theme").ToLower() : "";
	if (theme != "theme default" && theme != "")
	{
		theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
		theme = theme.Replace("theme", "");
		theme = "theme theme-" + theme;
	}
}

<figure class="m-0 d-flex align-items-center h-100 my-auto @horizontalAlign @theme">
    @if (logoLink != "") { 
        <a href="@logoLink" class="text-decoration-none">
            @RenderLogo()
        </a>
	} else {
        @RenderLogo()
	}
</figure>

@helper RenderLogo() { 
    string logoImage = !string.IsNullOrEmpty(Model.Item.GetString("Image")) ? Model.Item.GetFile("Image").Path : "";
    string maxWidth = !string.IsNullOrEmpty(Model.Item.GetString("MaxWidth")) ? "max-width: " + Model.Item.GetInt32("MaxWidth") + "px" : "";
    maxWidth = maxWidth == "max-width: 0px" ? "" : maxWidth;

    if (logoImage != "") {
        if (Path.GetExtension(logoImage).ToLower() == ".svg")
        {
            <div class="svg-icon" style="@maxWidth">
                @System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath(logoImage))
            </div>
        }
        else
        {
                int imageWidth = !string.IsNullOrEmpty(Model.Item.GetString("MaxWidth")) ? Model.Item.GetInt32("MaxWidth") : 500;
                string imagePath = "/Admin/Public/GetImage.ashx?width=" + imageWidth + "&image=" + logoImage;

			    <picture class="mx-auto d-block">
				    <img src="@logoImage" title="Logo" style="@maxWidth" />
			</picture>
        }
	} else {
        <div class="nav-link fs-4 px-0">Rapido</div>
	} 
}
