@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System.IO


@{
	string logoLink = !string.IsNullOrEmpty(Model.Item.GetString("Link")) ? Model.Item.GetString("link") : "";
	string horizontalAlign = !string.IsNullOrEmpty(Model.Item.GetRawValueString("HorizontalAlignment")) ? "justify-content-" + Model.Item.GetRawValueString("HorizontalAlignment") : "";

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

<figure class="m-0 d-flex @(horizontalAlign)">
	@if (logoLink != "")
	{
		<a href="@logoLink" class="text-decoration-none@(theme)">
			@RenderLogo()
		</a>
	}
	else
	{
		@RenderLogo()
	}
</figure>

@helper RenderLogo()
{
	string logoImage = !string.IsNullOrEmpty(Model.Item.GetString("Image")) ? Model.Item.GetFile("Image").Path : "";
	string logoWidth = !string.IsNullOrEmpty(Model.Item.GetString("LogoWidth")) ? "width: " + Model.Item.GetInt32("LogoWidth") + "px" : "";
	logoWidth = logoWidth == "width: 0px" ? "" : logoWidth;

	if (logoImage != "")
	{
		if (Path.GetExtension(logoImage).ToLower() == ".svg")
		{
			<div class="icon-auto" style="@logoWidth">
				@ReadFile(logoImage)
			</div>
		}
		else
		{
			int imageWidth = !string.IsNullOrEmpty(Model.Item.GetString("LogoWidth")) ? Model.Item.GetInt32("LogoWidth") : 500;
			string imagePath = "/Admin/Public/GetImage.ashx?width=" + imageWidth + "&image=" + logoImage;

			<picture class="mx-auto d-block">
				<img src="@logoImage" alt="@Pageview.Area.Name" style="@logoWidth" />
			</picture>
		}
	}
	else
	{
		string title = !string.IsNullOrEmpty(Model.Item.GetString("LogoName")) ? Model.Item.GetString("LogoName") : "Swift";
		<div class="fs-4">@title</div>
	}
}
