@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Content.Items
@using Dynamicweb.Frontend.Navigation

@{
	string horizontalAlign = !string.IsNullOrEmpty(Model.Item.GetString("HorizontalAlignment")) ? "justify-content-" + Model.Item.GetList("HorizontalAlignment").SelectedValue : "start";
	string Layout = !string.IsNullOrEmpty(Model.Item.GetString("Layout")) ? Model.Item.GetList("Layout").SelectedValue : "linksOnly";

	string linkFontWeight = !string.IsNullOrEmpty(Model.Item.GetString("LinkFontWeight")) ? Model.Item.GetList("LinkFontWeight").SelectedValue : "";
	linkFontWeight = linkFontWeight == "light" ? "fw-light" : linkFontWeight;
	linkFontWeight = linkFontWeight == "normal" ? "fw-normal" : linkFontWeight;
	linkFontWeight = linkFontWeight == "bold" ? "fw-bold" : linkFontWeight;

	string linkCasing = !string.IsNullOrEmpty(Model.Item.GetString("LinkCasing")) ? Model.Item.GetList("LinkCasing").SelectedValue : "";
	linkCasing = linkCasing == "regular" ? "text-lowercase" : linkCasing;
	linkCasing = linkCasing == "uppercase" ? "text-uppercase" : linkCasing;
	linkCasing = linkCasing == "lowercase" ? "text-lowercase" : linkCasing;


	string linkFontSize = !string.IsNullOrEmpty(Model.Item.GetString("LinkFontSize")) ? Model.Item.GetList("LinkFontSize").SelectedValue : "";
	linkFontSize = linkFontSize == "small" ? "fs-7" : linkFontSize;
	linkFontSize = linkFontSize == "regular" ? "fs-6" : linkFontSize;
	linkFontSize = linkFontSize == "large" ? "fs-5" : linkFontSize;

	string contentPadding = !string.IsNullOrEmpty(Model.Item.GetString("ContentPadding")) ? Model.Item.GetList("ContentPadding").SelectedValue : "";
	contentPadding = contentPadding == "none" ? "px-3 py-2" : contentPadding;
	contentPadding = contentPadding == "small" ? "px-2 py-1" : contentPadding;
	contentPadding = contentPadding == "large" ? "px-4 py-3" : contentPadding;

	var navigationSettings = new NavigationSettings();
	navigationSettings.StartLevel = 1;
	navigationSettings.StopLevel = 10;
	navigationSettings.ExpandMode = ExpandMode.All;

	navigationSettings.Parameters.Add("TextPosition", Model.Item?.GetList("TextPosition")?.SelectedValue ?? "right");
	navigationSettings.Parameters.Add("HideTexts", Model.Item.GetBoolean("HideTexts"));
	navigationSettings.Parameters.Add("HideIcons", Model.Item.GetBoolean("HideIcons"));
	navigationSettings.Parameters.Add("Size", Model.Item?.GetList("Size")?.SelectedValue ?? "normal");

	if (!string.IsNullOrEmpty(Model.Item.GetString("NavigationRoot")))
	{
		string root = Model.Item.GetString("NavigationRoot");

		if (root.Contains("="))
		{
			int rootPageId = Convert.ToInt32(root.Substring(root.LastIndexOf('=') + 1));
			navigationSettings.RootPageId = rootPageId;
		}
	}

	string hoverTheme = !string.IsNullOrEmpty(Model.Item.GetString("hoverTheme")) ? Model.Item.GetString("hoverTheme").ToLower() : "";
	if (hoverTheme != "theme default" && hoverTheme != "")
	{
		hoverTheme = String.Concat(hoverTheme.Where(c => !Char.IsWhiteSpace(c)));
		hoverTheme = hoverTheme.Replace("theme", "");
		hoverTheme = "theme-hover theme-" + hoverTheme;
	}
	else
	{
		hoverTheme = "";
	}
}

<nav class="nav mx-lg-n3 @(linkCasing) @(linkFontWeight) @(linkFontSize) @(horizontalAlign)">
	<a class="nav-link active @(contentPadding) @(hoverTheme)" aria-current="page" href="#">Active link</a>
	<a class="nav-link @(contentPadding) @(hoverTheme)" href="#">Link 2</a>
	<a class="nav-link @(contentPadding) @(hoverTheme)" href="#">Link 3</a>
</nav>
