@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Web

@{ 
    bool isVisualEditor = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(HttpContext.Current.Request.QueryString.Get("VisualEdit")) : false;
    
    string detailsPage = Model.Item.GetString("ProductDetailsPage") != null ? Model.Item.GetString("ProductDetailsPage") : "";

    ProductListViewModel selectedProductList = Model.Item.GetValue("Products") as ProductListViewModel;
}

@if (selectedProductList.Products.Count > 0) {
    <div class="item">
        <div class="js-slider d-flex">
            @foreach (var product in selectedProductList.Products)
            {
                string imagePath = product?.DefaultImage.Value.ToString() ?? "";
                imagePath = "/Admin/Public/GetImage.ashx?width=" + 1050 + "&height=" + 1050 + "&image=" + imagePath + "&crop=5&FillCanvas=true&Format=WebP&Quality=100";

                <div class="flex-fill d-flex flex-column">
                    <div class="ratio ratio-1x1">
                        <img loading="lazy" src="@imagePath" style="object-fit: cover;" alt="@product.Name">
                    </div>
                    <div class="mt-2 d-flex flex-column h-100">
                        <div class="flex-fill">
                            <h5 class="h6">@product.Name @product.VariantId</h5>
                        </div>
                        <div>
                            <span class="fw-bolder">@product.Price.PriceFormatted</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
} else if (isVisualEditor) {
    <div class="alert alert-dark m-0" role="alert">
        <span><i class="fas fa-info-circle mr-3"></i></span> <span>@Translate("Product slider: The slider will be shown here, if any")</span>
    </div>
}
