@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Web

@{ 
    bool isVisualEditor = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(HttpContext.Current.Request.QueryString.Get("VisualEdit")) : false;

    ProductListViewModel productList = new ProductListViewModel();

    if (System.Web.HttpContext.Current.Items.Contains("ProductList"))
    {
        productList = (ProductListViewModel)System.Web.HttpContext.Current.Items["ProductList"];
    }

    string detailsPageLink = System.Web.HttpContext.Current.Items["DetailsPageLink"] != null ? System.Web.HttpContext.Current.Items["DetailsPageLink"].ToString() : "";

    string theme = Model.Item?.GetList("Theme")?.SelectedValue != "" ? Model.Item.GetList("Theme").SelectedValue.ToLower() : "";
	theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
	theme = theme.Replace("theme", "");
}

@if (productList.TotalProductsCount > 0) { 
    <div class="row g-3 mt-0">
        @foreach (var product in productList.Products)
		{
            string link = detailsPageLink + "&amp;ProductID=" + product.Id;
            link += !string.IsNullOrEmpty(product.VariantId) ? "&amp;VariantID=" + product.VariantId : "";
			string price = product?.Price?.PriceFormatted ?? "";
			string image = product?.DefaultImage?.Value ?? "";

            <div class="col-12 col-lg-6">
                <div class="theme theme-@theme">
                    <a href="@link" class="text-reset position-relative">
                        <img loading="lazy" src="/Admin/Public/GetImage.ashx?width=550&height=412&crop=5&fillcanvas=true&image=@image" class="img-fluid">
                    </a>
                    <div class="d-flex flex-column">
                        <a href="@link" class="text-decoration-none flex-fill">
					        <div class="mb-2">@product.Name @product.VariantId</div>
					        <div class="mb-2">@product.Number</div>
				        </a>
                        <div class="">@price</div>
                    </div>
                </div>
            </div>
        }
    </div>
} else {
    if (!isVisualEditor) {
        <div class="alert alert-dark m-0">
            @Translate("We did not find anything mathing your search result")
        </div>
	} else {
        <div class="alert alert-dark m-0" role="alert">
            <span><i class="fas fa-info-circle mr-3"></i></span> <span>@Translate("Product list: The list will be shown here, if any")</span>
        </div>
	}
}
