@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Web

@{
	bool isVisualEditor = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(HttpContext.Current.Request.QueryString.Get("VisualEdit")) : false;

	string detailsPage = Model.Item.GetString("ProductDetailsPage") != null ? Model.Item.GetString("ProductDetailsPage") : "";

	ProductListViewModel selectedProductList = Model.Item.GetValue("Products") as ProductListViewModel;

	string theme = Model.Item?.GetList("Theme")?.SelectedValue != "" ? Model.Item.GetList("Theme").SelectedValue.ToLower() : "";
	theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
	theme = theme.Replace("theme", "");

	string ratioCssClass = Model.Item?.GetList("ImageAspectRatio")?.SelectedValue != "0" && Model.Item?.GetList("ImageAspectRatio")?.SelectedValue != "" ? "ratio" : "";
	string ratioVariable = Model.Item?.GetList("ImageAspectRatio")?.SelectedValue != "0" && Model.Item?.GetList("ImageAspectRatio")?.SelectedValue != "" ? "style=\"--aspect-ratio: " + Model.Item.GetList("ImageAspectRatio").SelectedValue + "\"" : "";
}

@if (selectedProductList.Products.Count > 0)
{
	<div class="js-slider d-flex theme theme-@theme">
		@foreach (var product in selectedProductList.Products)
		{
			string imagePath = product?.DefaultImage.Value.ToString() ?? "";
			imagePath = "/Admin/Public/GetImage.ashx?width=" + 1050 + "&height=" + 1050 + "&image=" + imagePath + "&crop=5&FillCanvas=true&Format=WebP&Quality=100";

			int xPos = Model.Item?.GetFile("Image")?.FocalPositionFromLeft ?? 50;
			int yPos = Model.Item?.GetFile("Image")?.FocalPositionFromTop ?? 50;

		<div>
			<div class="card rounded-0 h-100">
				<div class="@ratioCssClass" @ratioVariable>
					<img loading="lazy" src="@imagePath" class="card-img rounded-0 h-100 w-100" style="object-fit: contain; object-position: @(xPos)% @(yPos)%" title="@product.Name" alt="@product.Name" />
				</div>
				<div class="card-body d-flex flex-column h-100">
					<div class="flex-fill">
						<h1 class="h6">@product.Name @product.VariantId</h1>
					</div>
					<p class="h5 fw-bold">@product.Price.PriceFormatted</p>
				</div>
			</div>
		</div>
		}
	</div>
}
else if (isVisualEditor)
{
	<div class="alert alert-dark m-0" role="alert">
		<span><i class="fas fa-info-circle mr-3"></i></span> <span>@Translate("Product slider: The slider will be shown here, if any")</span>
	</div>
}
