@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Web

@{
	bool isVisualEditor = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("VisualEdit")) ? Convert.ToBoolean(HttpContext.Current.Request.QueryString.Get("VisualEdit")) : false;

	ProductListViewModel productList = new ProductListViewModel();

	if (System.Web.HttpContext.Current.Items.Contains("ProductList"))
	{
		productList = (ProductListViewModel)System.Web.HttpContext.Current.Items["ProductList"];
	}

	string url = HttpContext.Current.Request.RawUrl;
	if (!url.Contains("LayoutTemplate"))
	{
		url += url.Contains("?") ? "&LayoutTemplate=R4_PageClean.cshtml" : "?LayoutTemplate=R4_PageClean.cshtml";
	}

    string groupId = !string.IsNullOrEmpty(HttpContext.Current.Request.QueryString.Get("GroupID")) ? HttpContext.Current.Request.QueryString.Get("GroupID") : "";

	string theme = Model.Item?.GetList("Theme")?.SelectedValue != "" ? Model.Item.GetList("Theme").SelectedValue.ToLower() : "";
	theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
	theme = theme.Replace("theme", "");
}

@if (productList.PageCount > 1)
{
	int pageSizeSetting = 30;
	int pageSize = productList.PageSize;
	pageSize += pageSizeSetting;

	<form method="post" action="@url" data-response-target-element="content" class="w-100 theme theme-@theme">
			@foreach (FacetGroupViewModel facetGroup in productList.FacetGroups)
			{
				foreach (FacetViewModel facetItem in facetGroup.Facets)
				{
					foreach (FacetOptionViewModel facetOption in facetItem.Options)
					{
						if (facetOption.Selected)
						{
							<input type="hidden" name="@facetItem.QueryParameter" value="[@facetOption.Value]" />
						}
					}
				}
			}

			<input type="hidden" name="PageSize" value="@pageSize" />
			<input type="hidden" name="GroupID" value="@groupId" />
			<button class="btn btn-primary w-100 mt-3 mb-5" type="button" onclick="ProductList.Update(event)">@Translate("Load more")</button>
		</form>
}
else if (isVisualEditor)
{
	<div class="alert alert-dark m-0" role="alert">
		<span><i class="fas fa-info-circle mr-3"></i></span> <span>@Translate("Load more: The load more button will be shown here, if thare are more than 1 page")</span>
	</div>
}
