@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog

@{
	bool productViewModelFound = false;
	ProductViewModel product = new ProductViewModel();

	if (Dynamicweb.Context.Current.Items.Contains("ProductDetails"))
	{
		productViewModelFound = true;
		product = (ProductViewModel)Dynamicweb.Context.Current.Items["ProductDetails"];
	}

	string titleFontSize = Model.Item?.GetList("TitleFontSize")?.SelectedValue != null ? Model.Item.GetList("TitleFontSize").SelectedValue : "h3";
	string subtitleFontSize = Model.Item?.GetList("SubtitleFontSize")?.SelectedValue != null ? Model.Item.GetList("SubtitleFontSize").SelectedValue : "fs-5";

	string buttonStyle = !string.IsNullOrEmpty(Model.Item.GetString("ButtonStyle")) ? Model.Item.GetList("ButtonStyle").SelectedValue : "";
	buttonStyle = buttonStyle == "primary" ? " btn-primary" : buttonStyle;
	buttonStyle = buttonStyle == "secondary" ? " btn-secondary" : buttonStyle;

	string theme = !string.IsNullOrEmpty(Model.Item.GetString("Theme")) ? Model.Item.GetString("Theme").ToLower() : "";
	if (theme != "theme default" && theme != "")
	{
		theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
		theme = theme.Replace("theme", "");
		theme = " theme theme-" + theme;
	} else {
		theme = "";
	}

	string imageTheme = !string.IsNullOrEmpty(Model.Item.GetString("ImageTheme")) ? Model.Item.GetString("ImageTheme").ToLower() : "";
	if (imageTheme != "theme default" && imageTheme != "")
	{
		imageTheme = String.Concat(imageTheme.Where(c => !Char.IsWhiteSpace(c)));
		imageTheme = imageTheme.Replace("theme", "");
		imageTheme = " theme theme-" + imageTheme;
	} else {
		imageTheme = "";
	}

	string detailPageId = Model?.Item?.GetString("ProductDetailsPage") != null ? Model.Item.GetString("ProductDetailsPage") : "";
	string productPageByNavigationTag = GetPageIdByNavigationTag("ProductDetailPage") != 0 ? GetPageIdByNavigationTag("ProductDetailPage").ToString() : "";
	detailPageId = detailPageId == "" ? productPageByNavigationTag : detailPageId;

	string pageId = Model?.Item?.GetString("ProductSliderServicePage") != null ? Model.Item.GetString("ProductSliderServicePage") : "";
	string servicePageByNavigationTag = GetPageIdByNavigationTag("ProductSliderService") != 0 ? GetPageIdByNavigationTag("ProductSliderService").ToString() : "";
	pageId = pageId == "" ? servicePageByNavigationTag : pageId;

	string url = "/Default.aspx?ID=" + pageId;
	if (!url.Contains("LayoutTemplate")) {
		url += url.Contains("?") ? "&LayoutTemplate=Designs/R4/R4_PageClean.cshtml" : "?LayoutTemplate=Designs/R4/R4_PageClean.cshtml";
	}
	

	string relationType = Model?.Item?.GetList("RelationType") != null ? Model.Item.GetList("RelationType").SelectedValue : "trending";

	//If products is added through the trending groups selector
	IList<ProductGroupViewModel> groupsToRelateToTrending = Model.Item.GetValue<IList<ProductGroupViewModel>>("GroupsToRelateToTrending");
	IList<ProductGroupViewModel> groupsToRelateToMostSold = Model.Item.GetValue<IList<ProductGroupViewModel>>("GroupsToRelateToMostSold");
	IList<string> relateFromGroupIds = new List<string>{};

	if (groupsToRelateToTrending != null && relationType == "trending") {
		foreach (var fromGroup in groupsToRelateToTrending)
		{
			relateFromGroupIds.Add(fromGroup.Id);
		}
	}

	if (groupsToRelateToMostSold != null && relationType == "most-sold") {
		foreach (var fromGroup in groupsToRelateToMostSold)
		{
			relateFromGroupIds.Add(fromGroup.Id);
		}
	}

	//If products is added through the selector
	ProductListViewModel productsToRelateTo = Model.Item.GetValue<ProductListViewModel>("ProductsToRelateTo");
	IList<string> relateFromProductIds = new List<string>{};

	if (productsToRelateTo != null) {
		foreach (var fromProduct in productsToRelateTo.Products)
		{
			relateFromProductIds.Add(fromProduct.Id);
		}
	}

	ProductListViewModel products = Model.Item.GetValue<ProductListViewModel>("Products");
	IList<string> selectedProductIds = new List<string>{};

	if (products != null) {
		foreach (var productSelection in products.Products)
		{
			selectedProductIds.Add(productSelection.Id);
		}
	}

	string groupIds = productViewModelFound ? product.PrimaryOrDefaultGroup.Id : string.Join(",", relateFromGroupIds);
	string productIds = productViewModelFound ? product.Id : string.Join(",", relateFromProductIds);
	string relationTypeName = Model?.Item?.GetString("Title") != null ? Model.Item.GetString("Title") : Translate("Products");

	string linkParameters = "";
	linkParameters += "&GroupId=" + groupIds;
	linkParameters += !string.IsNullOrEmpty(productIds) ? "&MainProductId=" + productIds : "";
	linkParameters += selectedProductIds.Count > 0 ? "&MainProductId=" +  string.Join(",", selectedProductIds) : "";
	string productListPageId = Model?.Item?.GetString("ProductDetailsPage") != null ? Model.Item.GetString("ProductDetailsPage") : "";
	string productListPageByNavigationTag = GetPageIdByNavigationTag("Shop") != 0 ? GetPageIdByNavigationTag("Shop").ToString() : "";
	productListPageId = productListPageId == "" ? productListPageByNavigationTag : productListPageId;
	string link = "/Default.aspx?ID=" + productListPageId + linkParameters;
}

<form method="post" action="@url" data-response-target-element="RelatedProducts_@Model.ID" data-preloader="inline" data-update-url="false" class="w-100 js-product-list" id="RelatedProducts_@Model.ID">
	@if (Model.Item.GetInt32("ProductsCount") != 0) { 
		<input type="hidden" name="PageSize" value="@Model.Item.GetInt32("ProductsCount")" />
	}
	@if (detailPageId != "") { 
		<input type="hidden" name="ProductDetailsPage" value="@detailPageId" />
	}
	@if (!Model.Item.GetBoolean("HideTitle")) { 
		<input type="hidden" name="HeadingTitle" value="@relationTypeName" />
	}
	@if (!string.IsNullOrEmpty(Model.Item.GetString("Subtitle"))) { 
		<input type="hidden" name="Subtitle" value="@Model.Item.GetString("Subtitle")" />
	}
	
	<input type="hidden" name="Link" value="@link" />

	@if (!string.IsNullOrEmpty(Model.Item.GetString("LinkText"))) { 
		<input type="hidden" name="LinkText" value="@Model.Item.GetString("LinkText")" />
	}
	@if (!string.IsNullOrEmpty(Model.Item.GetString("ImageAspectRatio"))) { 
		string ratio = Model.Item?.GetList("ImageAspectRatio")?.SelectedValue != "0" && Model.Item?.GetList("ImageAspectRatio")?.SelectedValue != "" ? Model.Item.GetList("ImageAspectRatio").SelectedValue : "";
		<input type="hidden" name="ImageAspectRatio" value="@ratio" />
	}
	@if (!string.IsNullOrEmpty(Model.Item.GetString("Layout"))) { 
		<input type="hidden" name="Layout" value="@Model.Item.GetList("Layout").SelectedValue" />
	}
	@if (titleFontSize != "") { 
		<input type="hidden" name="TitleFontSize" value="@titleFontSize" />
	}
	@if (subtitleFontSize != "") { 
		<input type="hidden" name="SubtitleFontSize" value="@subtitleFontSize" />
	}
	@if (buttonStyle != "") { 
		<input type="hidden" name="ButtonStyle" value="@buttonStyle" />
	}
	@if (theme != "") { 
		<input type="hidden" name="Theme" value="@theme" />
	}
	@if (imageTheme != "") { 
		<input type="hidden" name="ImageTheme" value="@imageTheme" />
	}
	@if (!string.IsNullOrEmpty(Model.Item.GetString("ContentPadding"))) { 
		string contentPadding = Model.Item.GetList("ContentPadding").SelectedValue;
		<input type="hidden" name="ContentPadding" value="@contentPadding" />
	}
	<input type="hidden" name="HideNavigationBar" value="@Model.Item.GetString("HideNavigationBar").ToLower()" />

	@* Types *@
	@if (relationType == "trending" || relationType == "most-sold") {
		if (groupIds != "") { 
			<input type="hidden" name="GroupId" value="@groupIds" />
		}
	}

	@if (relationType == "trending") {
		<input type="hidden" name="SortBy" value="OrderCountGrowth" /> 
	}
	@if (relationType == "most-sold") {
		<input type="hidden" name="SortBy" value="OrderCount" /> 
	}
	@if (relationType == "frequently") {
		<input type="hidden" name="BoughtWithProductIds" value="[@productIds]" /> 
	}
	@if (relationType == "selected") {
		productIds = string.Join(",", selectedProductIds);
		<input type="hidden" name="MainProductID" value="@productIds" /> 
	}

	<div id="RelatedProducts_@Model.ID"></div>
</form>

