@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.ProductCatalog
@using System.Web

@{
	string searchResultsPageId = !string.IsNullOrEmpty(Model.Item.GetString("SearchResultsPage")) ? Model.Item.GetString("SearchResultsPage") : "";
	string productListPage = !string.IsNullOrEmpty(Model.Item.GetString("ProductListPage")) ? Model.Item.GetString("ProductListPage") : "";
    string productDetailsPage = !string.IsNullOrEmpty(Model.Item.GetString("ProductDetailsPage")) ? Model.Item.GetString("ProductDetailsPage") : "";
    string paragraphId = Model.ID.ToString();

	string searchTerm = string.Empty;
	List<string> searchHistory = new List<string>();
	if (HttpContext.Current.Session["_searchHistory"] != null)
	{
		searchHistory = (List<string>)HttpContext.Current.Session["_searchHistory"];
	}
	if (!string.IsNullOrEmpty(Dynamicweb.Context.Current.Request["q"]))
	{
		searchTerm = Dynamicweb.Context.Current.Request["q"];

		if (searchHistory.Contains(searchTerm))
		{
			searchHistory.Remove(searchTerm);
		}
		searchHistory.Add(searchTerm);
		HttpContext.Current.Session.Add("_searchHistory", searchHistory);
	}
	string groupIdQueryParameter = string.Empty;
	if (!string.IsNullOrEmpty(Dynamicweb.Context.Current.Request["GroupID"]))
	{
		groupIdQueryParameter = "&GroupID=" + Dynamicweb.Context.Current.Request["GroupID"].Trim();
	}
}

<div class="js-async-fetch-placeholder">
    <div class="dropdown js-type-ahead-dropdown">
		<form method="get" action="@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(productListPage)" data-search-results-page="@searchResultsPageId" data-product-list-page="@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(productListPage)" data-product-details-page="@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(productDetailsPage)" class="js-suggest-form">
			<input type="hidden" class="js-type-ahead-parameter" />
			<input class="input isFocus form-control js-type-ahead-field" type="search" placeholder="@Translate("Search here")" autocomplete="off" maxlength="255" name="q" tabindex="1" value="@searchTerm" data-original="@searchTerm">
		</form>
		<div class="dropdown-menu w-100 rounded-0 js-type-ahead-menu"></div>
	</div>	
</div>




