@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@{
    string layout = Model.Item.GetRawValueString("Layout", "field");
	string horizontalAlign = !string.IsNullOrEmpty(Model.Item.GetRawValueString("HorizontalAlignment")) ? " justify-content-" + Model.Item.GetRawValueString("HorizontalAlignment") : "";
	string paragraphId = Model.ID.ToString();
	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

<div class="d-flex align-items-center h-100 py-2 px-3 my-auto@(horizontalAlign)">
	@if (layout == "field") {
		@SearchField("normal")
	}

	@if (layout == "small-field") {
		@SearchField("small")
	}

	@if (layout == "icon") {
		string iconPath = "/Files/Templates/Designs/R4/Assets/icons/";

		<!-- Button trigger modal -->
		<a data-bs-toggle="modal" data-bs-target="#searchModal_@paragraphId">
			<span class="icon-3">
				@ReadFile(iconPath+"search.svg")
			</span>
		</a>

		<!-- Modal -->
		<div class="modal fade" id="searchModal_@paragraphId" tabindex="-1" data-bs-backdrop="false" >
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content">
					<div class="modal-header justify-content-between">
						<h5 class="modal-title">@Translate("Search")</h5>
						<a data-bs-dismiss="modal" aria-label="Close">
							<span class="icon-3">
								@ReadFile(iconPath+"x.svg")
							</span>
						</a>
					</div>
					<div class="modal-body">
						@SearchField("normal")
					</div>
				</div>
			</div>
		</div>
	}
</div>

@helper SearchField(string size) { 
	string searchResultsPageId = Model.Item.GetLink("SearchResultsPage") != null ? Model.Item.GetLink("SearchResultsPage").PageId.ToString() : "";
	string productListPage = Model.Item.GetLink("ProductListPage") != null ? Model.Item.GetLink("ProductListPage").PageId.ToString() : "";
    string productDetailsPage = Model.Item.GetLink("ProductDetailsPage") != null ? Model.Item.GetLink("ProductDetailsPage").PageId.ToString() : "";
	string width = size == "small" ? "style=\"max-width: 260px\"" : "style=\"width: 100%\"";

	string searchTerm = string.Empty;
	List<string> searchHistory = new List<string>();
	if (Dynamicweb.Context.Current.Session["_searchHistory"] != null)
	{
		searchHistory = (List<string>)Dynamicweb.Context.Current.Session["_searchHistory"];
	}
	if (!string.IsNullOrEmpty(Dynamicweb.Context.Current.Request["q"]))
	{
		searchTerm = Dynamicweb.Context.Current.Request["q"];

		if (searchHistory.Contains(searchTerm))
		{
			searchHistory.Remove(searchTerm);
		}
		searchHistory.Add(searchTerm);
		Dynamicweb.Context.Current.Session.Add("_searchHistory", searchHistory);
	}
	string groupIdQueryParameter = string.Empty;
	if (!string.IsNullOrEmpty(Dynamicweb.Context.Current.Request["GroupID"]))
	{
		groupIdQueryParameter = "&GroupID=" + Dynamicweb.Context.Current.Request["GroupID"].Trim();
	}

	string layout = Model.Item.GetRawValueString("Layout", "field");
	var dropdownBorder = layout == "field" ? "" : "border-0"; 

	<div class="js-async-fetch-placeholder" @width>
		<div class="dropdown js-type-ahead-dropdown">
			<form 
				method="get" 
				action="@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl($"Default.aspx?ID={productListPage}")" 
				data-search-results-page="@searchResultsPageId" 
				data-product-details-page="@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl($"Default.aspx?ID={productDetailsPage}")" 
				data-product-list-page="@Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl($"Default.aspx?ID={productListPage}")" 
				data-search-layout="@(layout)" class="js-suggest-form">

				<input type="hidden" class="js-type-ahead-parameter" />
				<input type="hidden" name="SearchLayout" value="@(layout)" />

				<input 
					class="input isFocus form-control js-type-ahead-field" 
					type="search" 
					placeholder="@Translate("Search here")" 
					autocomplete="off" 
					maxlength="255" 
					name="q" 
					value="@searchTerm" 
					data-original="@searchTerm">
			</form>
			<ul class="dropdown-menu w-100 rounded-0 @dropdownBorder js-type-ahead-menu"></ul>
		</div>	
	</div>
}
