@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{ 
	string layout = Model.Item?.GetList("Layout")?.SelectedValue != "" ? Model.Item.GetList("Layout").SelectedValue : "align-left-spacing-medium";

	string textAlign = "";
	string spacing = "";

	if (layout.Contains("align-left-spacing-medium"))
	{
		textAlign = "text-start";
		spacing = "pt-2 pt-lg-5";
	}
	if (layout.Contains("align-left-spacing-large"))
	{
		textAlign = "text-start";
		spacing = "pt-4 pt-lg-6";
	}
}


<div class="item">
	@switch (layout)
	{
		case "align-left-spacing-medium":
		<div class="@textAlign @spacing">
			@RenderLead()
			@RenderTitle()
		</div>
		break;
		case "align-left-spacing-large":
		<div class="@textAlign @spacing">
			@RenderLead()
			@RenderTitle()
		</div>
		break;
	}
</div>

@helper RenderLead()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
	{
		<div class="lead">@Model.Item.GetString("Lead")</div>
	}
}

@helper RenderTitle()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Title")))
	{
		<h2 class="h1 fw-bold m-0">@Model.Item.GetString("Title")</h2>
	}
}
