@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{ 
	string layout = Model.Item?.GetList("Layout")?.SelectedValue != "" ? Model.Item.GetList("Layout").SelectedValue : "align-left";
	string textAlign = layout;
}

<div class="pt-4 pb-3 pt-lg-5 pb-lg-3">
	<div class="@textAlign">
		@RenderLead()
		@RenderTitle()
	</div>
</div>

@helper RenderLead()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
	{
		<div class="lead">@Model.Item.GetString("Lead")</div>
	}
}

@helper RenderTitle()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Title")))
	{
		<h2 class="h1 fw-bold text-uppercase m-0">@Model.Item.GetString("Title")</h2>
	}
}
