@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{ 
	string layout = Model.Item?.GetList("Layout")?.SelectedValue != "" ? Model.Item.GetList("Layout").SelectedValue : "align-left";

	string textAlign = "";
	string headerDividerLeftRight = "header-divider-left-right";

	if (layout.Contains("align-left"))
	{
		textAlign = "text-start";
	}
	if (layout.Contains("align-center"))
	{
		textAlign = "text-center";
	}
	if (layout.Contains("align-right"))
	{
		textAlign = "text-end";
	}
}

<div class="item">
	@switch (layout)
	{
		case "align-left":
		<div class="@textAlign">
			@RenderLead()
			@RenderTitle()
		</div>
		break;
		case "align-center":
		<div class="@textAlign">
			@RenderLead()
			@RenderTitle()
		</div>
		break;
		case "align-right":
		<div class="@textAlign">
			@RenderLead()
			@RenderTitle()
		</div>
		break;
		case "header-divider-left-and-right":
		<div class="d-flex flex-column justify-content-center @headerDividerLeftRight">
			@RenderLead()
			@RenderTitle()
		</div>
		break;
	}
</div>

@helper RenderLead()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
	{
		<div class="lead">@Model.Item.GetString("Lead")</div>
	}
}

@helper RenderTitle()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Title")))
	{
		<h2 class="h1 fw-bold m-0">@Model.Item.GetString("Title")</h2>
	}
}
