@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{ 
    string layout = Model.Item?.GetList("Layout")?.SelectedValue != "" ? Model.Item.GetList("Layout").SelectedValue : "align-left";
	string textAlign = layout;

    string theme = Model.Item?.GetList("Theme")?.SelectedValue != "" ? Model.Item.GetList("Theme").SelectedValue.ToLower() : "";
	theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
	theme = theme.Replace("theme", "");
}

<div class="card h-100 border-0 @(layout) theme theme-@theme">
	<div class="card-body p-0">
		@if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
		{
			<h2 class="h3 card-title">@Model.Item.GetString("Title")</h2>
		}

		@if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
		{
			<p class="lead card-subtitle">@Model.Item.GetString("Lead")</p>
		}
		@if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
		{
			@Model.Item.GetString("Text")
		}

		@if (!string.IsNullOrEmpty(Model.Item.GetString("ButtonLink")) && !string.IsNullOrEmpty(Model.Item.GetString("ButtonLabel")))
		{

			<a href="@Model.Item.GetString("ButtonLink")" class="btn btn-primary stretched-link">@Model.Item.GetString("ButtonLabel")</a>
		}
	</div>
</div>

