@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="item py-3 pb-lg-4">
    <div class="d-flex flex-column h-100">
        @if (Model.Item.GetString("Image") != null)
        {
            string imagePath = Model.Item?.GetFile("Image")?.Path ?? "";
            imagePath = "/Admin/Public/GetImage.ashx?width=" + 1920 + "&height=" + 845 + "&image=" + imagePath + "&Format=WebP&Quality=100";

            int xPos = Model.Item?.GetItem("Content")?.GetFile("Image")?.FocalPositionFromLeft ?? 50;
            int yPos = Model.Item?.GetItem("Content")?.GetFile("Image")?.FocalPositionFromTop ?? 50;

            <figure class="ratio ratio-16x9">
                <img loading="lazy" src="@imagePath" alt="Background Image" style="object-fit: cover;">
            </figure>
        }
        <div class="item-inner d-flex flex-column h-100">
            <div class="max-w-700px flex-fill">
                @if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
                {
                    <h2 class="h2">@Model.Item.GetString("Title")</h2>
                }

                @if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
                {
                    <p>@Model.Item.GetString("Text")</p>
                }
            </div>
            @if (!string.IsNullOrEmpty(Model.Item.GetString("ButtonLink")) && !string.IsNullOrEmpty(Model.Item.GetString("ButtonLabel")))
            {
                <div class="mb-3">
                    <a href="@Model.Item.GetString("ButtonLink")" class="btn btn-primary">@Model.Item.GetString("ButtonLabel")</a>
                </div>
            }
        </div>
    </div>
</div>
@* //Hot fix description *@
