@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{ 
    string layout = Model.Item?.GetList("Layout")?.SelectedValue != "" ? Model.Item.GetList("Layout").SelectedValue : "align-left";
	string textAlign = layout;
}

<div class="h-100 @(layout)">
    <div class="paragraph-inner">
        @if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
        {
            <h2 class="h3">@Model.Item.GetString("Title")</h2>
        }

        @if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
        {
            <p class="lead">@Model.Item.GetString("Lead")</p>
        }
        @if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
        {
            <p>@Model.Item.GetString("Text")</p>
        }
    </div>
    @if (!string.IsNullOrEmpty(Model.Item.GetString("ButtonLink")) && !string.IsNullOrEmpty(Model.Item.GetString("ButtonLabel")))
    {
        <div>
            <a href="@Model.Item.GetString("ButtonLink")" class="btn btn-primary">@Model.Item.GetString("ButtonLabel")</a>
        </div>
    }
</div>

