@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

@{ 
	string layout = Model.Item.GetRawValueString("Layout", "image-top");

	string contentPadding = Model.Item.GetRawValueString("ContentPadding", "");
	contentPadding = contentPadding == "none" ? "px-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;

	int xPos = Model.Item?.GetFile("Image")?.FocalPositionFromLeft ?? 50;
	int yPos = Model.Item?.GetFile("Image")?.FocalPositionFromTop ?? 50;

	string ratioCssClass = Model.Item.GetRawValueString("ImageAspectRatio") != "0" && Model.Item.GetRawValueString("ImageAspectRatio") != "" ? "ratio" : "";
	string ratioVariable = Model.Item.GetRawValueString("ImageAspectRatio") != "0" && Model.Item.GetRawValueString("ImageAspectRatio") != "" ? "style=\"--bs-aspect-ratio: " + Model.Item.GetRawValueString("ImageAspectRatio") + "\"" : "";

	string titleFontSize = Model.Item.GetRawValueString("TitleFontSize", "h3");
	string subtitleFontSize = Model.Item.GetRawValueString("SubtitleFontSize", "fs-5");

	string theme = !string.IsNullOrWhiteSpace(Model.Item.GetRawValueString("Theme")) ? " theme " + Model.Item.GetRawValueString("Theme").Replace(" ", "").Trim().ToLower() : "";
}

<div class="h-100 position-relative @(theme)">
    @switch (layout) {
        case "image-top":
				@RenderImage()
			<div class="p-3 flex-fill @contentPadding">
				<h3 class="@titleFontSize h3 mb-3">@RenderTitle()</h3>
				<p class="@subtitleFontSize lead mb-3 max-w-75ch">@RenderLead()</p>			
				@RenderText()
				@RenderButton()
			</div>
        break;

        case "title-top":
            <div class="d-flex flex-column h-100">
				@if (!string.IsNullOrEmpty(Model.Item.GetString("Title"))) {
					<div class="p-3 flex-fill @contentPadding">
						<h3 class="@titleFontSize mb-0">@RenderTitle()</h3>
					</div>
				}

				@RenderImage()
				<div class="p-3 flex-fill @contentPadding">
					<p class="@subtitleFontSize lead mb-3 max-w-75ch">@RenderLead()</p>			
					@RenderText()
                    @RenderButton()
                </div>
            </div>
        break;

        case "title-lead-top":
				if (
					!string.IsNullOrEmpty(Model.Item.GetString("Title")) ||
					!string.IsNullOrEmpty(Model.Item.GetString("lead"))
					) {
					<div class="p-3 flex-fill @contentPadding">
						<h3 class="@titleFontSize mb-3">@RenderTitle()</h3>
						<p class="@subtitleFontSize lead mb-0 max-w-75ch">@RenderLead()</p>			
					</div>
				}
				@RenderImage()
			<div class="p-3 flex-fill @contentPadding">
				@RenderText()
				@RenderButton()
			</div>
        break;

        case "text-center":
				@RenderImage()
			<div class="p-3 d-flex flex-column align-items-center text-center flex-fill @contentPadding">
				<h3 class="@titleFontSize mb-3">@RenderTitle()</h3>
				<p class="@subtitleFontSize lead mb-3 max-w-75ch">@RenderLead()</p>			
				@RenderText()
				@RenderButton()
			</div>
        break;
		case "image-bottom":
			<div class="p-3 flex-fill @contentPadding">
				<h3 class="@titleFontSize mb-3">@RenderTitle()</h3>
				<p class="@subtitleFontSize lead mb-3 max-w-75ch">@RenderLead()</p>			
				@RenderText()
				@RenderButton()
			</div>
				@RenderImage()
        break;
    } 
</div>


@helper RenderImage() { 
	if (!string.IsNullOrEmpty(Model.Item.GetString("Image"))) {
		var parms = new Dictionary<string, object>();
		parms.Add("loading", "lazy");
		parms.Add("cssClass", "w-100 h-100 rounded-0 h-100 w-100");
		parms.Add("style", "");
		parms.Add("alt", @Model.Item.GetString("Title"));

		int xPos = Model.Item?.GetFile("Image")?.FocalPositionFromLeft ?? 50;
		int yPos = Model.Item?.GetFile("Image")?.FocalPositionFromTop ?? 50;

		string ratioCssClass = Model.Item.GetRawValueString("ImageAspectRatio") != "0" && Model.Item.GetRawValueString("ImageAspectRatio") != "" ? "ratio" : "";
		string ratioVariable = Model.Item.GetRawValueString("ImageAspectRatio") != "0" && Model.Item.GetRawValueString("ImageAspectRatio") != "" ? "style=\"--bs-aspect-ratio: " + Model.Item.GetRawValueString("ImageAspectRatio") + "\"" : "";

		<figure class="m-0 @ratioCssClass" @ratioVariable>
			@RenderPartial("Components/Image.cshtml", Model.Item.GetFile("Image"), parms)
		</figure>
    }
}

@helper RenderTitle() { 

    if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
    {
        @Model.Item.GetString("Title")
    }
}

@helper RenderLead() {

    if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
    {
        @Model.Item.GetString("Lead")
    }
}

@helper RenderText() { 
    if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
    {
        <div class="max-w-75ch">
			@Model.Item.GetString("Text")
		</div>
    }
}

@helper RenderButton() { 
    if (!string.IsNullOrEmpty(Model.Item.GetString("ButtonLink")) && !string.IsNullOrEmpty(Model.Item.GetString("ButtonLabel")))
    {
		string buttonStyle = Model.Item.GetRawValueString("ButtonStyle", "");
		buttonStyle = buttonStyle == "primary" ? " btn-primary" : buttonStyle;
		buttonStyle = buttonStyle == "secondary" ? " btn-secondary" : buttonStyle;
		<a href="@Model.Item.GetString("ButtonLink")" class="btn @buttonStyle stretched-link">@Model.Item.GetString("ButtonLabel")</a>
    } 
	else if (!string.IsNullOrEmpty(Model.Item.GetString("ButtonLink"))) {
		<a href="@Model.Item.GetString("ButtonLink")" class="stretched-link">
			<span class="visually-hidden">@Model.Item.GetString("Title")</span>
		</a>
	}
}
