@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

@{
	string layout = Model.Item?.GetList("Layout")?.SelectedValue != null ? Model.Item.GetList("Layout").SelectedValue : "align-left";
	string textAlign = layout;
	string contentPadding = Model.Item?.GetList("contentPadding")?.SelectedValue != null ? " " + Model.Item.GetList("contentPadding").SelectedValue : "";


	string theme = !string.IsNullOrEmpty(Model.Item.GetString("Theme")) ? Model.Item.GetString("Theme").ToLower() : "";
	if (theme != "theme default" && theme != "")
	{
		theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
		theme = theme.Replace("theme", "");
		theme = " theme theme-" + theme;
	} else {
		theme = "";
	}
}

<div class="h-100 position-relative @(layout)@(contentPadding)@(theme)">
	@switch (layout)
	{
		case "text-start":
			<div class="d-flex flex-column align-items-start text-start">
				@RenderBody()
			</div>
		break;
		
		case "text-center":
			<div class="d-flex flex-column align-items-center text-center">
				@RenderBody()
			</div>
		break;
		case "align-middle-center-text-center":
			<div class="d-flex flex-column align-items-center justify-content-center text-center h-100">
				@RenderBody()
			</div>
		break;
		case "align-middle-center-text-start":
			<div class="d-flex flex-column align-items-start justify-content-center text-start h-100">
				@RenderBody()
			</div>
		break;
	}
</div>

@helper RenderBody()
{
	if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
	{
		<h2 class="h3 mb-md-3">@Model.Item.GetString("Title")</h2>
	}

	if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
	{
		<p class="lead mb-2 mb-md-3 max-w-75ch">@Model.Item.GetString("Lead")</p>
	}
	if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
	{
		<div class="max-w-75ch">
			@Model.Item.GetString("Text")
		</div>
	}

	if (!string.IsNullOrEmpty(Model.Item.GetString("ButtonLink")) && !string.IsNullOrEmpty(Model.Item.GetString("ButtonLabel")))
	{

		<a href="@Model.Item.GetString("ButtonLink")" class="btn btn-primary stretched-link">@Model.Item.GetString("ButtonLabel")</a>
	}
	else if (!string.IsNullOrEmpty(Model.Item.GetString("ButtonLink")))
	{
		<a href="@Model.Item.GetString("ButtonLink")" class="stretched-link"></a>
	}
}

