@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend

<div class="item py-3 py-lg-4">
    <div class="h-100 d-flex flex-column">
        <div class="h-100">
            @if (!string.IsNullOrEmpty(Model.Item.GetString("Title")) && !Model.Item.GetBoolean("HideTitle"))
            {
                <h2 class="h2">@Model.Item.GetString("Title")</h2>
            }

            @if (!string.IsNullOrEmpty(Model.Item.GetString("Lead")))
            {
                <p class="lead">@Model.Item.GetString("Lead")</p>
            }
            @if (!string.IsNullOrEmpty(Model.Item.GetString("Text")))
            {
                <p>@Model.Item.GetString("Text")</p>
            }
        </div>
        @if (!string.IsNullOrEmpty(Model.Item.GetString("ButtonLink")) && !string.IsNullOrEmpty(Model.Item.GetString("ButtonLabel")))
        {
            <div>
                <a href="@Model.Item.GetString("ButtonLink")" class="btn btn-primary">@Model.Item.GetString("ButtonLabel")</a>
            </div>
        }
    </div>
</div>