@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>
@using Dynamicweb.Content.Items
@using Dynamicweb.Frontend
@using Dynamicweb.Content
@using Dynamicweb.Content.Items


@{ 
	var colorService = new ColorSwatchService();
	string containerClass = "container-xl";

	string width = !string.IsNullOrEmpty(Model?.Item?.GetString("Width")) ? Model.Item.GetList("Width").SelectedValue.ToLower() : ""; 
	if (width == "stretch") {
		containerClass = "container-fluid";
	}
	if (width == "none") {
		containerClass = "";
	}
	if (width == "compressed") {
		containerClass = " container-compressed";
	}

	string theme = !string.IsNullOrEmpty(Model.Item.GetString("Theme")) ? Model.Item.GetString("Theme").ToLower() : "";
	if (theme != "theme default" && theme != "")
	{
		theme = String.Concat(theme.Where(c => !Char.IsWhiteSpace(c)));
		theme = theme.Replace("theme", "");
		theme = " theme theme-" + theme;
	} else {
		theme = "";
	}

	string mainTheme = theme;
	string alternativeTheme = !string.IsNullOrEmpty(Model.Item.GetString("AlternativeTheme")) ? Model.Item.GetString("AlternativeTheme").ToLower() : "";
	if (alternativeTheme != "theme default" && alternativeTheme != "")
	{
		alternativeTheme = String.Concat(alternativeTheme.Where(c => !Char.IsWhiteSpace(c)));
		alternativeTheme = alternativeTheme.Replace("theme", "");
		alternativeTheme = " theme theme-" + alternativeTheme;
	} else {
		alternativeTheme = "";
	} 

	string headerCssClass = Pageview.Item["MoveThisPageBehindTheHeader"] != null ? Pageview.Item["MoveThisPageBehindTheHeader"].ToString() : "sticky-top";
	headerCssClass = headerCssClass == "" ? "sticky-top" : headerCssClass;

	string themeSwitchers = "";
	string themeAnimated = "";
	if (headerCssClass == "fixed-top") {
		theme = alternativeTheme;
		themeSwitchers = "data-main-theme=\"" + mainTheme + "\" data-alternative-theme=\"" + alternativeTheme + "\"";
		themeAnimated = "theme-animated";
	}
}

<div class="@(themeAnimated)@(theme)" @themeSwitchers>
	<div class="@containerClass">
		<div class="d-flex flex-row">
			<div class="flex-fill">
				@Model.Column(1).Output()
			</div>
			<div class="flex-fill">
				@Model.Column(2).Output()
			</div>
			<div class="flex-fill">
				@Model.Column(3).Output()
			</div>
			<div class="flex-fill">
				@Model.Column(4).Output()
			</div>
		</div>
	</div>
</div>
