@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>
@using Dynamicweb.Content.Items
@using Dynamicweb.Frontend
@using Dynamicweb.Content

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 position-relative">
                @Model.Column(1).Output()
            </div>
            <div class="col-12 col-md-6 position-relative">
                <div class="row h-100">
                    <div class="col-12 col-md-6 position-relative">
                        @Model.Column(2).Output()
                    </div>
                    <div class="col-12 col-md-6 position-relative">
                        @Model.Column(3).Output()
                    </div>
                    <div class="col-12 col-md-6 position-relative">
                        @Model.Column(4).Output()
                    </div>
                    <div class="col-12 col-md-6 position-relative">
                        @Model.Column(5).Output()
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>