@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@helper RenderCyberSourceForm()
{
	<form target="myIframe" id="CheckoutForm" name="CheckoutForm" action="@GetString("CyberSource.HostedPaymentURL")" method="post">
		@foreach (var field in GetLoop("CyberSourceFields"))
		{
			<input type="hidden" name="@field.GetString("CyberSource.FieldName")" value="@field.GetString("CyberSource.FieldValue")"/>
		}
		<input type="button" value="@Translate("Cancel payment")" onclick="cancel();"/>
	</form>

	<iframe src="" width="100%" height="400" name="myIframe" id="myIframe"></iframe>

	<script>
	    var form = document.getElementById('CheckoutForm');
	    form.submit();
	    function cancel(btn) {
	        location.href = '@GetString("CyberSource.CancelURL")';
	    }
		
		function submitCyberSourcePayment() {
			let payButton = document.querySelector("#PayButton");
			
			if(payButton){
				payButton.addEventListener("click", function() {
				  form.submit();
				});	
			}
		}
		
		document.addEventListener("DOMContentLoaded", function() {
			submitCyberSourcePayment();
		});
		
	</script>
}
