@inherits ViewModelTemplate<CreateUserViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Users.Frontend.CreateUser

<h1>@Translate("Hi and welcome") @Model.UserName</h1>
<h4>@Translate("You are one click away from activating your user account")</h4>
<p>@Translate("Please click the button below to confirm your email") @Model.Email </p>
<a href="@Model.ApprovalLink">@Translate("Click here and confirm your email")</a>
