@inherits ViewModelTemplate<PageViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@{
    string baseUrl = SearchEngineFriendlyURLs.GetFriendlyUrl(Pageview.Page.ID);
}

<div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="addCardModalLabel"
     hx-on::load="bootstrap.Modal.getOrCreateInstance(this).show();"
     x-on:hidden-bs-modal.dot="
        bootstrap.Modal.getOrCreateInstance($event.target).dispose();
        $event.target.remove();
     ">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCardModalLabel">@Translate("Add New Card")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Translate("Close")"></button>
            </div>

            <form id="addCardForm" method="post" action="@baseUrl">
                <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">

                    <!-- Payment Information -->
                    <div class="mb-4">
                        <h6 class="fw-semibold mb-3">@Translate("Payment Information")</h6>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="cardNickname" name="EcomOrderSavedCardName"
                                   placeholder="@Translate("My Business Card")" maxlength="50">
                            <label for="cardNickname">@Translate("Nickname")</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="cardNumber" name="CardNumber"
                                   placeholder="1234 5678 9012 3456" required maxlength="19" inputmode="numeric" pattern="[0-9\s]*">
                            <label for="cardNumber">@Translate("Card Number") *</label>
                            <div class="invalid-feedback">@Translate("Please enter a valid card number")</div>
                        </div>

                        <div class="row g-3 mb-3">
                            <div class="col-sm-6 form-floating">
                                <input class="form-control" type="number" id="expMonth" name="ExpiryMonth" required min="1" max="12">
                                <label for="expMonth">@Translate("Expiry Month") *</label>
                            </div>
                            <div class="col-sm-6 form-floating">
                                <input class="form-control" type="number" id="expYear" name="ExpiryYear" required>
                                <label for="expYear">@Translate("Expiry Year") *</label>
                            </div>
                        </div>

                        <div class="row g-3 mb-3">
                            <div class="col-sm-6 form-floating">
                                <input type="text" class="form-control" id="firstName" name="FirstName"
                                       placeholder="@Translate("John")" required maxlength="50">
                                <label for="firstName">@Translate("First Name") *</label>
                            </div>
                            <div class="col-sm-6 form-floating">
                                <input type="text" class="form-control" id="lastName" name="LastName"
                                       placeholder="@Translate("Doe")" required maxlength="50">
                                <label for="lastName">@Translate("Last Name") *</label>
                            </div>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="setAsDefault" name="SetAsDefault" value="true">
                            <label class="form-check-label" for="setAsDefault">@Translate("Default credit card")</label>
                        </div>
                    </div>

                    <!-- Billing Information -->
                    <div class="mb-4">
                        <h6 class="fw-semibold mb-3">@Translate("Billing Information")</h6>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="streetAddress" name="BillingAddress"
                                   placeholder="@Translate("123 Main Street")" required maxlength="100">
                            <label for="streetAddress">@Translate("Street Address") *</label>
                        </div>

                        <div class="row g-3 mb-3">
                            <div class="col-sm-6 form-floating">
                                <input type="text" class="form-control" id="city" name="BillingCity"
                                       placeholder="@Translate("New York")" required maxlength="50">
                                <label for="city">@Translate("City") *</label>
                            </div>
                            <div class="col-sm-6 form-floating">
                                <input type="text" class="form-control" id="state" name="BillingState"
                                       placeholder="@Translate("NY")" required maxlength="50">
                                <label for="state">@Translate("State/Province") *</label>
                            </div>
                        </div>

                        <div class="row g-3 mb-3">
                            <div class="col-sm-6 form-floating">
                                <input type="text" class="form-control" id="zip" name="BillingZip"
                                       placeholder="@Translate("10001")" required maxlength="10">
                                <label for="zip">@Translate("ZIP Code") *</label>
                            </div>
                            <div class="col-sm-6 form-floating">
                                <select class="form-select" id="country" name="BillingCountry" required>
                                    @foreach (var country in Dynamicweb.Ecommerce.Services.Countries.GetCountries())
                                    {
                                        <option value="@country.Code2">@country.GetName(Dynamicweb.Ecommerce.Common.Context.LanguageID)</option>
                                    }
                                </select>
                                <label for="country">@Translate("Country") *</label>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" id="phone" name="BillingPhone"
                                   placeholder="@Translate("(555) 123-4567")" required maxlength="20">
                            <label for="phone">@Translate("Phone") *</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="BillingEmail"
                                   placeholder="@Translate("john@example.com")" required maxlength="100">
                            <label for="email">@Translate("Email") *</label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@Translate("Cancel")</button>
                    <button type="submit" class="btn btn-primary btn-sm" name="CardCmd" value="createnew" data-dw-button>@Translate("Save Card")</button>
                </div>
            </form>
        </div>
    </div>
</div>
