@inherits ViewModelTemplate<PageViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering

@{
    var savedCardId = Dynamicweb.Context.Current?.Request.QueryString.Get("SavedCardId");
    var baseUrl = SearchEngineFriendlyURLs.GetFriendlyUrl($"default.aspx?ID={Pageview.Page.ID}");
}

<div class="modal fade" id="deleteCardModal" tabindex="-1" aria-labelledby="DeleteCard" aria-hidden="true" 
  hx-on::load="bootstrap.Modal.getOrCreateInstance(this).show();"
  x-on:hide-bs-modal.dot="
    const el = document.activeElement;
    if (el && $event.target.contains(el)) el.blur();
  "
  x-on:hidden-bs-modal.dot="
    bootstrap.Modal.getOrCreateInstance($event.target).dispose();
    $event.target.remove();
  ">
  <div class="modal-dialog pt-8">
    <form method="post" class="modal-content"
          hx-post="@(baseUrl)"
          hx-swap="outerHTML"
          hx-target="[data-swift-saved-cards-list]"
          hx-select="[data-swift-saved-cards-list]"
          hx-replace-url="false">
      <input type="hidden" name="SavedCardId" value="@(savedCardId)" />
      <input type="hidden" name="SavedCardCmd" value="CardDelete" />
      
      <div class="modal-header">
        <h5 class="modal-title">@Translate("Delete saved card")</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Translate("Cancel")"></button>
      </div>
      <div class="modal-body">
        <p class="mb-0 text-muted lh-sm fs-7">@Translate("Are you sure you want to delete this saved card?")</p>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-dw-button data-bs-dismiss="modal">@Translate("Cancel")</button>
        <button type="submit" class="btn btn-primary btn-sm" data-dw-button data-bs-dismiss="modal">@Translate("Delete")</button>
      </div>
    </form>
  </div>
</div>

