@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Ecommerce.ProductCatalog.ProductViewModel>
@using Dynamicweb.Ecommerce.ProductCatalog

@functions {
	Dictionary<string, object> favoriteParameters { get; set; }
}

@{
	var product = Model;
	string anonymousUsersLimitations = Pageview.AreaSettings.GetRawValueString("AnonymousUsers", "");
	bool anonymousUser = Pageview.User == null;
	bool hidePrice = anonymousUsersLimitations.Contains("price") && anonymousUser || Pageview.AreaSettings.GetBoolean("ErpDownHidePrices");

	string ratio = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.Form.Get("ImageAspectRatio")) ? Dynamicweb.Context.Current.Request.Form.Get("ImageAspectRatio") : "";
	string ratioCssClass = ratio != "" ? "ratio" : "";
	string ratioVariable = ratio != "" ? "--bs-aspect-ratio: " + ratio : "";

	string theme = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.Form.Get("Theme")) ? Dynamicweb.Context.Current.Request.Form.Get("Theme") : "";
	string themePadding = theme != string.Empty ? "p-3" : string.Empty;
	string imageTheme = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.Form.Get("ImageTheme")) ? Dynamicweb.Context.Current.Request.Form.Get("ImageTheme") : "";
	string imageOutlineStyle = imageTheme == string.Empty ? "border: 1px solid transparent;" : string.Empty;
	string imageThemePadding = imageTheme != string.Empty ? "p-3" : string.Empty;
	string ContentPadding = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.Form.Get("ContentPadding")) ? Dynamicweb.Context.Current.Request.Form.Get("ContentPadding") : "";

	string showPricesWithVat = Pageview.Area.EcomPricesWithVat.ToLower();
	bool neverShowVat = string.IsNullOrEmpty(showPricesWithVat);

	string link = product.GetProductLink(GetPageIdByNavigationTag("Shop"), false);

	string imagePath = product?.DefaultImage.Value.ToString() ?? string.Empty;
	string getImagePath = $"/Admin/Public/GetImage.ashx?image={imagePath}&width=350&format=webp";
	bool localImagePath = imagePath.StartsWith("/Files/", StringComparison.OrdinalIgnoreCase);
	imagePath = localImagePath ? getImagePath : imagePath;

	string saleBadgeType = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.Form.Get("SaleBadgeType")) ? Dynamicweb.Context.Current.Request.Form.Get("SaleBadgeType") : "";
	string saleBadgeCssClassName = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.Form.Get("SaleBadgeCssClassName")) ? Dynamicweb.Context.Current.Request.Form.Get("SaleBadgeCssClassName") : "";
	string newBadgeCssClassName = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.Form.Get("NewBadgeCssClassName")) ? Dynamicweb.Context.Current.Request.Form.Get("NewBadgeCssClassName") : "";
	int newPublicationDays = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.Form.Get("NewPublicationDays")) ? Convert.ToInt32(Dynamicweb.Context.Current.Request.Form.Get("NewPublicationDays")) : 0;
	string campaignBadgesValues = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.Form.Get("CampaignBadgesValues")) ? Dynamicweb.Context.Current.Request.Form.Get("CampaignBadgesValues") : "";

	var badgeParms = new Dictionary<string, object>
	();
	badgeParms.Add("saleBadgeType", saleBadgeType);
	badgeParms.Add("saleBadgeCssClassName", saleBadgeCssClassName);
	badgeParms.Add("newBadgeCssClassName", newBadgeCssClassName);
	badgeParms.Add("campaignBadgesValues", campaignBadgesValues);
	badgeParms.Add("newPublicationDays", newPublicationDays);

	bool saleBadgeEnabled = !string.IsNullOrWhiteSpace(saleBadgeCssClassName) && saleBadgeCssClassName != "none" ? true : false;
	bool newBadgeEnabled = !string.IsNullOrWhiteSpace(newBadgeCssClassName) && newBadgeCssClassName != "none" ? true : false;
	DateTime createdDate = product.Created.Value;
	bool showBadges = saleBadgeEnabled && product.Discount.Price != 0 ? true : false;
	showBadges = (newBadgeEnabled && newPublicationDays == 0) || (newBadgeEnabled && (createdDate.AddDays(newPublicationDays) > DateTime.Now)) ? true : showBadges;
	showBadges = !string.IsNullOrEmpty(campaignBadgesValues) ? true : showBadges;

	if (!anonymousUser)
	{
		<div class="position-absolute top-0 end-0 my-3 me-4 @(imageTheme)" style="z-index: 3">
			@{@RenderPartial("Components/ToggleFavorite.cshtml", product, favoriteParameters)}
		</div>
	}

	<a href="@link" class="text-decoration-none d-block h-100">
		<div class="h-100 d-flex flex-column justify-content-between@(theme)">
			<div class="@(imageTheme)" style="@imageOutlineStyle">
				<div class="@(ratioCssClass) position-relative" style="@ratioVariable">
					@if (showBadges)
					{
						<div class="position-absolute top-0 left-0 p-1 p-lg-2" style="z-index: 2">
							@{@RenderPartial("Components/EcommerceBadge.cshtml", product, badgeParms)}
						</div>
					}
					<img loading="lazy" decoding="async" src="@imagePath" class="h-100 w-100 @(imageThemePadding)" style="object-fit: contain;" alt="@product.Name">
				</div>
			</div>
			<div class="flex-fill d-flex flex-column justify-content-between @themePadding">
				<h3 class="h6 opacity-85">@product.Name @product.VariantName</h3>

				@if (!hidePrice)
				{
					<div>
						<p class="h6 m-0">
							@if (showPricesWithVat == "false" && !neverShowVat)
							{
								if (product.Price.Price != product.PriceBeforeDiscount.Price)
								{
									<span class="text-decoration-line-through opacity-75 me-1">
										@product.PriceBeforeDiscount.PriceWithoutVatFormatted
									</span>
								}
							}
							else
							{
								if (product.Price.Price != product.PriceBeforeDiscount.Price)
								{
									<span class="text-decoration-line-through opacity-75 me-1">
										@product.PriceBeforeDiscount.PriceFormatted
									</span>
								}
							}

							@if (showPricesWithVat == "false" && !neverShowVat)
							{
								<span class="text-price fw-bold">@product.Price.PriceWithoutVatFormatted</span>
							}
							else
							{
								<span class="text-price fw-bold">@product.Price.PriceFormatted</span>
							}
						</p>
						@if (showPricesWithVat == "false" && !neverShowVat)
						{
							<small class="opacity-85 fst-normal">@product.Price.PriceWithVatFormatted @Translate("Incl. VAT")</small>
						}
					</div>
				}
			</div>
		</div>
	</a>
}
