@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{ 
	string token = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("RecoveryToken")) ? Dynamicweb.Context.Current.Request.QueryString.Get("RecoveryToken") : "";
	int newUserId = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("UserID")) ? Convert.ToInt32(Dynamicweb.Context.Current.Request.QueryString.Get("UserID")) : 0;
	bool setTokenCorrectly = !string.IsNullOrEmpty(Dynamicweb.Context.Current.Request.QueryString.Get("SetTokenCorrectly")) ? Convert.ToBoolean(Dynamicweb.Context.Current.Request.QueryString.Get("SetTokenCorrectly")) : false;

	if (token != "" && setTokenCorrectly) {
		Dynamicweb.Security.UserManagement.User newUser = Dynamicweb.Security.UserManagement.User.GetUserByID(newUserId);

		newUser.PasswordRecoveryToken = token;
		newUser.Save();

		Dynamicweb.Context.Current.Response.Redirect("/Default.aspx?ID=" + Pageview.Page.ID + "&RecoveryToken=" + token + "&LoginAction=NewPasswordForm");
	}
}

<h5 id="PasswordRecoveryText">@Translate("You have been invited to create an account")</h5>

@if (GetString("UserManagement:User.Login.Action") == "NewPasswordForm")
{
	bool userFound = true;
	if (GetBoolean("UserManagement:User.Login.RecoveryToken.FoundUser"))
	{
		if (GetInteger("UserManagement:User.Login.FoundUsersCount") == 0 || GetInteger("UserManagement:User.Login.FoundUsersCount") > 1)
		{
			userFound = false;
		}

		string isInvalid = !userFound ? "is-invalid" : "";

		<form method="post">
			<div class="form-floating mb-3">
				<input type="password" class="form-control" id="UserManagement_Form_NewPassword" name="UserManagement_Form_NewPassword" autocomplete="off" placeholder="@Translate("Password")"/>
				<label for="UserManagement_Form_NewPassword">@Translate("Password")</label>
			</div>
			<div class="form-floating mb-3">
				<input type="password" class="form-control"id="UserManagement_Form_NewPasswordConfirm" name="UserManagement_Form_NewPasswordConfirm" autocomplete="off" placeholder="@Translate("Confirm password")" />
				<label for="UserManagement_Form_NewPasswordConfirm">@Translate("Confirm password")</label>
			</div>

			<button type="submit" name="LoginAction" value="Recovery" class="btn btn-primary mb-3" id="ResetPasswordButton">@Translate("Submit")</button>
		</form>
	}
}

@TemplateTags()
