@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Environment

@{ 
	string pageTitle = Pageview.Page.GetDisplayName();
	string pageId = GetGlobalValue("Global:Page.ID");
	int signInProfilePageId = Pageview.Page.ID;
	string currentUserId = GetGlobalValue("Global:Extranet.UserID");
	string goBackToPage = Dynamicweb.Context.Current.Request.GetString("GoBackToPage"); //parameter from anonymous checkout
	string absoluteUri = Dynamicweb.Context.Current?.Request?.UrlReferrer?.AbsoluteUri != null ? Dynamicweb.Context.Current.Request.UrlReferrer.AbsoluteUri : "";
	string redirectPage = !string.IsNullOrEmpty(goBackToPage) ? "Default.aspx?Id=" + goBackToPage : absoluteUri;
	string pathAndQuery = Dynamicweb.Context.Current?.Request?.UrlReferrer?.PathAndQuery != null ? Dynamicweb.Context.Current.Request.UrlReferrer.PathAndQuery : "";
	redirectPage = string.IsNullOrEmpty(goBackToPage) && pathAndQuery == Pageview.SearchFriendlyUrl ? GetString("UserManagement:User.Login.SuccessRedirectToPage") : redirectPage;

	string createAccountPageLink = Pageview.CurrentParagraph.Item["CreateAccountPage"] != null ? Pageview.CurrentParagraph.Item["CreateAccountPage"].ToString() : "";

	string contentPadding = Pageview.CurrentParagraph.Item["ContentPadding"] != null ? Pageview.CurrentParagraph.Item["ContentPadding"].ToString() : "";
	contentPadding = contentPadding == "none" ? "px-0" : contentPadding;
	contentPadding = contentPadding == "small" ? "p-2 p-md-3" : contentPadding;
	contentPadding = contentPadding == "large" ? "p-4 p-md-5" : contentPadding;
	var themeRaw = Pageview.CurrentParagraph.Item["Theme"]?.ToString();
	string theme = !string.IsNullOrEmpty(themeRaw) ? " theme " + themeRaw.Replace(" ", "").Trim().ToLower() : " theme light";

	var loginProvider = GetLoop("DWExtranetExternalLoginProviders");
}

<div class="@(contentPadding)">
	
	@if (!string.IsNullOrEmpty(GetString("DW_extranet_error_uk")))
	{
		<div class="alert alert-danger" role="alert">
			@GetString("DW_extranet_error_uk")
		</div>
	}

	<div class="card border-0@(theme) mx-auto" style="max-width: 30rem;">
	
		<div class="card-header text-center p-4 border-bottom">
			<h4 class="display-6 m-0">@pageTitle</h4>
			@if (!string.IsNullOrEmpty(createAccountPageLink))
			{
				<p class="card-text mt-2">@Translate("Don't have an account yet?") <a href="@createAccountPageLink">@Translate("Create account here")</a></p>
			}
		</div>
		
		<div class="card-body p-4">
			<form class="grid grid-1 gap-4">
				<input type="hidden" name="ID" value="@pageId" />
				<input type="hidden" name="DWExtranetUsernameRemember" value="True" />
				<input type="hidden" name="DWExtranetPasswordRemember" value="True" />
				<input type="hidden" name="redirect" value="@redirectPage">
				<input type="hidden" name="GoBackToPage" value="@goBackToPage">
				<input type="hidden" name="LoginAction" value="Login" />

				@foreach(LoopItem provider in loginProvider)
				{
					string iconPath = "/Files/IconsLoginProviders/";
					string providerName = provider.GetString("ProviderName").ToLower();
					string providerIcon = string.Empty;

					if(providerName.Contains("azure"))
					{
						providerIcon = "azure";
					}
					if(providerName.Contains("google"))
					{
						providerIcon = "google";
					}

					<div class="d-grid">
						<a class="btn btn-primary-outline btn-lg" href="/Admin/Public/Social/ExternalLogin.aspx?action=login&providerID=@provider.GetValue("ProviderID")">
							<span class="d-flex justify-content-center align-items-center">
								<span class="icon-3 me-2">
									@ReadFile(iconPath + providerIcon + ".svg")
								</span>
								<span>@Translate("Sign in with") @provider.GetString("ProviderName")</span>
							</span>
						</a>
					</div>

					<div class="d-flex align-items-center gap-3">
						<span class="border-top flex-fill"></span>
						<span class="text-uppercase">@Translate("or")</span>
						<span class="border-top flex-fill"></span>
					</div>
				}

				<div>
					<div class="form-label fs-7 mb-0 opacity-75">@Translate("Your email")</div>
					<div class="form-floating">
						<input type="text" class="form-control" id="login-username" name="username" placeholder="@Translate("Email")" required>
						<label for="login-username">@Translate("Email")</label>
					</div>

				</div>

				<div>
					<div class="d-flex justify-content-between align-items-center">
						<div class="form-label fs-7 mb-0 opacity-75">@Translate("Your password")</div>
						<a tabindex="-1" class="form-label-link" href="/Default.aspx?id=@(signInProfilePageId)&LoginAction=Recovery" id="ForgotPasswordButton">@Translate("Forgot password?")</a>
					</div>

					<div class="form-floating">
						<input type="password" class="form-control" id="LoginPassword" name="password" placeholder="@Translate("Password")" required>
						<label for="login-password">@Translate("Password")</label>
					</div>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="True" name="Autologin" id="RememberMe">
					<label class="form-check-label" for="rememberMe">@Translate("Remember me")</label>
				</div>

				<div class="d-grid">
					<button type="submit" class="btn btn-primary btn-lg" id="SignInButton">@Translate("Sign in")</button>
				</div>
			</form>
		</div>
	</div>
</div>
