@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb
@using Dynamicweb.Environment

@{ 
	string pageId = GetGlobalValue("Global:Page.ID");
	int signInProfilePageId = Pageview.Page.ID;
	string currentUserId = GetGlobalValue("Global:Extranet.UserID");
	string goBackToPage = Dynamicweb.Context.Current.Request.GetString("GoBackToPage"); //parameter from anonymous checkout
	string absoluteUri = Dynamicweb.Context.Current?.Request?.UrlReferrer?.AbsoluteUri != null ? Dynamicweb.Context.Current.Request.UrlReferrer.AbsoluteUri : "";
	string redirectPage = !string.IsNullOrEmpty(goBackToPage) ? "Default.aspx?Id=" + goBackToPage : absoluteUri;
    string pathAndQuery = Dynamicweb.Context.Current?.Request?.UrlReferrer?.PathAndQuery != null ? Dynamicweb.Context.Current.Request.UrlReferrer.PathAndQuery : "";
    redirectPage = string.IsNullOrEmpty(goBackToPage) && pathAndQuery == Pageview.SearchFriendlyUrl ? GetString("UserManagement:User.Login.SuccessRedirectToPage") : redirectPage;

	string createAccountPageLink = Pageview.CurrentParagraph.Item["CreateAccountPage"] != null ? Pageview.CurrentParagraph.Item["CreateAccountPage"].ToString() : "";
}

<div>
	@if (!string.IsNullOrEmpty(GetString("DW_extranet_error_uk")))
	{
		<div class="alert alert-danger" role="alert">
			@GetString("DW_extranet_error_uk")
		</div>
	}

	<form method="post">
		<input type="hidden" name="ID" value="@pageId" />
		<input type="hidden" name="DWExtranetUsernameRemember" value="True" />
		<input type="hidden" name="DWExtranetPasswordRemember" value="True" />
		<input type="hidden" name="redirect" value="@redirectPage"> 
		<input type="hidden" name="GoBackToPage" value="@goBackToPage"> 
		<input type="hidden" name="LoginAction" value="Login" />

		<div class="grid gap-3">

			<div class="g-col-12 g-col-lg-6">
				<div class="form-floating">
					<input type="text" class="form-control" id="login-username" name="username" placeholder="@Translate("Email")" required>
					<label for="login-username">@Translate("Email")</label>
				</div>
			</div>

			<div class="g-col-12 g-col-lg-6">
				<div class="form-floating">
					<input type="password" class="form-control" id="login-password" name="password" placeholder="@Translate("Password")" required>
					<label for="login-password">@Translate("Password")</label>
				</div>
			</div> 

			<div class="g-col-12">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="True" name="Autologin" id="rememberMe">
					<label class="form-check-label" for="rememberMe">@Translate("Remember me")</label>
				</div>
			</div>


			<div class="g-col-12">
				<div class="d-grid d-lg-block">
					<button type="submit" class="btn btn-primary d-inline" id="SignInButton">@Translate("Sign in")</button>
					<a class="btn btn-link d-inline" href="/Default.aspx?id=@(signInProfilePageId)&LoginAction=Recovery" id="ForgotPasswordButton">@Translate("Forgot password?")</a>
				</div>
			</div>

		</div>

		@if (!string.IsNullOrEmpty(createAccountPageLink))
		{
			<div class="d-block d-lg-none border-top w-100 text-center pt-1 pt-lg-3">
				<a class="btn btn-link d-inline px-0" href="@createAccountPageLink">@Translate("Create account?")</a>
			</div>
		}
	</form>
</div>
