@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<h5 id="PasswordRecoveryText">@Translate("Password reset")</h5>

@if (GetString("UserManagement:User.Login.Action") == "Recovery")
{
    bool userFound = true;
    if (!string.IsNullOrWhiteSpace(GetString("UserManagement:User.Login.FoundUsersCount")))
    {
        if (GetInteger("UserManagement:User.Login.FoundUsersCount") == 0 || GetInteger("UserManagement:User.Login.FoundUsersCount") > 1)
        {
            userFound = false;
        }
    
        string isInvalid = !userFound ? "is-invalid" : "";

    <form method="post" action="@GetString("DWExtranetAction")">
        <input type="hidden" name="ForgotPasswordMailTemplate" value="@GetString("UserManagement:User.Login.EmailTemplate")" />
        <input type="hidden" name="ForgotPasswordSenderEmail" value="@GetString("UserManagement:User.Login.EmailSender")" />
        <input type="hidden" name="ForgotPasswordMailSubject" value="@GetString("UserManagement:User.Login.EmailSubject")" />

        @foreach (LoopItem loginField in GetLoop("UserManagement:User.Login.Fields"))
        {
            <div class="form-floating @isInvalid mb-3">
                <input type="text" name="@loginField.GetString("Field.Name")" id="@loginField.GetString("Field.Name")" class="form-control" placeholder="@loginField.GetString("Field.Title")" />
                <label for="@loginField.GetString("Field.Name")">@loginField.GetString("Field.Title")</label>
                <div class="invalid-feedback" for="@loginField.GetString("Field.Name")">@loginField.GetString("Field.Error")</div>
            </div>
		}

        @if (!userFound) { }
            <div class="invalid-feedback mb-3">
                @Translate("User not found.")
            </div>
        }

        <div class="mb-3">
            <button type="submit" name="LoginAction" value="Recovery" class="btn btn-primary d-inline" id="ResetPasswordButton">@Translate("Submit")</button>
        </div>
    </form>
}

@if (GetString("UserManagement:User.Login.Action") == "PasswordSent")
{
    <div class="alert alert-info" role="alert">
        @Translate("Check your email - we sent you an email with the password.")
    </div>
}
