@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;

<h2>
    @Translate("Password recovery")
</h2>

@if (!string.IsNullOrWhiteSpace(GetString("DWPasswordRecoveryUrl")))
{
    string link = GetString("DWPasswordRecoveryUrl").Replace("LoginAction=Recovery&", "");

    <p>
        @Translate("Hi") @GetString("DWExtranetUsername")
    </p>
    <p>
       @Translate("We have received a request to reset your password for your account.")
       @Translate("Click on the link below to set a new password.")
    </p>

    <a href="@link">@Translate("Reset password")</a>

    <p>
        @Translate("If you didn't ask to change your password, ignore this email and your password will not be changed.")
    </p>
} else {
    <strong>@Translate("Sign in"):</strong> @GetString("DWExtranetUsername")
    <strong>@Translate("Password"):</strong> @GetString("DWExtranetPassword")
}
