@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;

<h2>
    @Translate("Create a new password for your account")
</h2>

@if (!string.IsNullOrWhiteSpace(GetString("DWPasswordRecoveryUrl")))
{
    string link = GetString("DWPasswordRecoveryUrl").Replace("LoginAction=Recovery&", "");

    <p>
        @Translate("Hi") @GetString("DWExtranetUsername")
    </p>
  
    <a href="@link">@Translate("Create password")</a>

    <p>
        @Translate("If you do not want to be able to log in to the account, ignore this email")
    </p>
} else {
    <strong>@Translate("Sign in"):</strong> @GetString("DWExtranetUsername")
    <strong>@Translate("Password"):</strong> @GetString("DWExtranetPassword")
}
