@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using System.Collections.Generic

@{
    if(Model.Item.TryGetUsers("User", out var users)) {
        
        foreach(var user in users)
        {
            var company = user?.Company;
            var department = user?.Department;
            var email = user?.Email;
            var image = user?.Image;
            var jobTitle = user?.JobTitle;
            var name = user?.Name;
            var phoneBusiness = user?.PhoneBusiness;

            <div class="card overflow-hidden shadow-sm-hover lift" itemscope itemtype="https://schema.org/Person">
                <div class="d-flex flex-wrap gap-0">
                    <div class="col-12 col-md-4 d-grid align-content-center text-center p-3 lh-1" style="background-color: color-mix(in srgb, var(--bs-body-color) 15%, var(--bs-body-bg));">
                        @if(!string.IsNullOrEmpty(image))
                        {
                            <figure class="ratio ratio-1x1 mx-auto mb-2" style="max-inline-size: 5.5rem;">
                                <img src="@image" alt="@name" class="img-thumbnail object-fit-cover rounded-circle" itemprop="image"/>
                            </figure>
                        }
                        @if(!string.IsNullOrEmpty(name))
                        {
                            <h5 itemprop="name">@name</h5>
                        }
                        @if(!string.IsNullOrEmpty(jobTitle))
                        {
                            <p class="mb-1 fs-7 text-body text-opacity-75" itemprop="jobTitle">@jobTitle</p>
                        }
                    </div>
                    <div class="col-12 col-md-8 d-flex">
                        <div class="card-body align-content-center p-4">
                            <div class="grid gap-3 lh-1 fs-7" style="grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));">
                                @if(!string.IsNullOrEmpty(company))
                                {
                                    <dl class="m-0">
                                        <dt class="text-uppercase fs-8">@Translate("Company")</dt>
                                        <dd class="mb-0 text-body text-opacity-75" itemprop="worksFor">@company</dd>
                                    </dl>
                                }
                                @if(!string.IsNullOrEmpty(department))
                                {
                                    <dl class="m-0">
                                        <dt class="text-uppercase fs-8">@Translate("Department")</dt>
                                        <dd class="mb-0 text-body text-opacity-75" itemprop="department">@department</dd>
                                    </dl>
                                }
                                @if(!string.IsNullOrEmpty(email))
                                {
                                    <dl class="m-0">
                                        <dt class="text-uppercase fs-8">@Translate("Email")</dt>
                                        <dd class="mb-0">
                                            <a href="mailto:@email" itemprop="email">
                                                <span>@email</span>
                                            </a>
                                        </dd>
                                    </dl>
                                }
                                @if(!string.IsNullOrEmpty(phoneBusiness))
                                {
                                    <dl class="m-0">
                                        <dt class="text-uppercase fs-8">@Translate("Phone")</dt>
                                        <dd class="mb-0">
                                            <a href="tel:@phoneBusiness" itemprop="telephone">
                                                <span>@phoneBusiness</span>
                                            </a>
                                        </dd>
                                    </dl>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }           
}


