@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using System.Collections.Generic

@{
    if(Model.Item.TryGetUsers("User", out var users)) {
        
        foreach(var user in users)
        {
            var company = user?.Company;
            var department = user?.Department;
            var email = user?.Email;
            var image = user?.Image;
            var jobTitle = user?.JobTitle;
            var name = user?.Name;
            var phoneBusiness = user?.PhoneBusiness;

            <div class="card lift border-0 text-center bg-transparent" itemscope itemtype="https://schema.org/Person">
                @if(image is not null)
                {
                    <figure class="ratio ratio-1x1 mx-auto mb-0" style="max-inline-size: 25rem;">
                        <img src="@image" class="object-fit-cover rounded-3 shadow-hover" alt="@name" itemprop="image">
                    </figure>
                }
                <div class="card-body fs-7 p-3">
                    @if(name is not null)
                    {
                        <h3 class="h4 pt-1 mb-2" itemprop="name">@name</h3>
                    }
                    @if(jobTitle is not null)
                    {
                        <p class="mb-0 text-body text-opacity-75" itemprop="jobTitle">@jobTitle</p>
                    }
                    <div class="border-top mx-auto my-3" style="max-width: 5rem;"></div>
                    @if(department is not null)
                    {
                        <p class="mb-0 text-body text-opacity-75" itemprop="department">@department</p>
                    }
                    @if(company is not null)
                    {
                        <p class="mb-0 text-body text-opacity-75" itemprop="worksFor">@company</p>
                    }
                    @if(email is not null)
                    {
                        <a href="mailto:@email" itemprop="email">
                            <span class="d-block pt-2">@email</span>
                        </a>
                    }
                    @if(phoneBusiness is not null)
                    {
                        <a href="tel:@phoneBusiness" itemprop="telephone">
                            <span class="d-block pt-1">@phoneBusiness</span>
                        </a>
                    }
                </div>
            </div>
        }
    }           
}
