@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using System.Collections.Generic

@{
    if(Model.Item.TryGetUsers("User", out var users)) {
        
        foreach(var user in users)
        {
            var company = user?.Company;
            var department = user?.Department;
            var email = user?.Email;
            var image = user?.Image;
            var jobTitle = user?.JobTitle;
            var name = user?.Name;
            var phoneBusiness = user?.PhoneBusiness;

            <div class="card text-center shadow-sm shadow-hover border-0 lift" itemscope itemtype="https://schema.org/Person">
                <div class="card-body">
                    @if(!string.IsNullOrEmpty(image))
                    {
                        <figure class="ratio ratio-1x1 mx-auto mb-4" style="max-inline-size: 7rem;">
                            <img src="@image" alt="@name" class="img-thumbnail object-fit-cover rounded-circle" itemprop="image"/>
                        </figure>
                    }
                    <div class="mb-2 fs-7">
                        @if(!string.IsNullOrEmpty(name))
                        {
                            <h4 class="mb-0 h5" itemprop="name">@name</h4>
                        }
                        @if(!string.IsNullOrEmpty(jobTitle))
                        {
                            <p class="mb-0 text-body text-opacity-75" itemprop="jobTitle">@jobTitle</p>
                        }
                        @if(!string.IsNullOrEmpty(department))
                        {
                            <p class="mb-0 text-body text-opacity-75" itemprop="department">@department</p>
                        }
                        @if(!string.IsNullOrEmpty(company))
                        {
                            <p class="mb-0 text-body text-opacity-75" itemprop="worksFor">@company</p>
                        }
                        <div class="border-top mx-auto my-3" style="max-width: 5rem;"></div>
                        @if(!string.IsNullOrEmpty(email))
                        {
                            <a href="mailto:@email" itemprop="email">
                                <span class="d-block pb-1">@email</span>
                            </a>
                        }
                        @if(!string.IsNullOrEmpty(phoneBusiness))
                        {
                            <a href="tel:@phoneBusiness" itemprop="telephone">
                                <span class="d-block">@phoneBusiness</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    }           
}


