@inherits ViewModelTemplate<FavoriteListViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Ecommerce.ProductCatalog
@using Dynamicweb.Ecommerce.CustomerExperienceCenter.Favorites
@using System.Globalization

@{
	string baseUrl = SearchEngineFriendlyURLs.GetFriendlyUrl($"default.aspx?ID={Pageview?.Page?.ID}");
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb mb-4" style="--bs-breadcrumb-divider: '>'; --bs-breadcrumb-item-padding-x: 1rem; --bs-breadcrumb-font-size: .875em;">
		<li class="breadcrumb-item"><a href="@(baseUrl)">@(Pageview?.Page?.GetDisplayName())</a></li>
		<li class="breadcrumb-item active" aria-current="page">@(!string.IsNullOrEmpty(Model?.Name) ? Model.Name : (Translate("Untitled") + " #" + Model?.Id))</li>
	</ol>
</nav>

<div class="card mb-4" data-swift-favorite-list>
	<div class="card-body">
		<div class="hstack justify-content-between">

			<div class="vstack flex-grow-0">

				<div class="hstack gap-2 mb-2" data-swift-rename-favorite-list
					hx-get="/dwapi/ecommerce/favorites/lists/@(Model?.Id)"
					hx-headers='{"x-dw-template": "/Designs/Swift-v2/eCom/CustomerExperienceCenter/Favorites/Modals/RenameFavoriteListEdit.cshtml", "x-dw-culture": "@Pageview?.Area?.CultureInfo?.Name", "accept": "text/html"}'
					hx-target="[data-swift-rename-favorite-list]"
					hx-select="[data-swift-rename-favorite-list]"
					hx-swap="outerHTML"
					hx-ext="swift-auth"
					>
					<h2 class="h5 m-0">@(!string.IsNullOrEmpty(Model?.Name) ? Model.Name : (Translate("Untitled") + " #" + Model?.Id))</h2>
					<button class="btn btn-outline-secondary btn-sm d-grid p-2 text-body rounded-circle" style="aspect-ratio: 1;">
						<span class="icon-1">
							@ReadFile("/Files/Images/Icons/pen.svg")
						</span>
					</button>
				</div>

				<div class="hstack gap-2 text-muted lh-1 mb-2">
					<small>@(Model?.ProductList?.TotalProductsCount) @Translate(Model?.ProductList?.TotalProductsCount == 1 ? "product" : "products")</small>
					@if (Model?.Created is not null) 
					{
						<span>·</span><small>@(Model?.Created?.ToString(Pageview?.Area?.CultureInfo?.DateTimeFormat?.ShortDatePattern) ?? "-")</small>
					}
					
				</div>
				<p class="text-muted mb-0">@(!string.IsNullOrEmpty(Model?.Description) ? Model.Description : "-")</p>
			</div>

			<div class="flex-grow-0">
				@* Buttons placeholder *@
			</div>

		</div>
	</div>
	<hr class="mx-4 my-0" style="opacity: .15;">
	
	<div class="card-body table-responsive">
		<table class="table table-md table-hover mb-0 align-middle fs-7" style="--bs-table-color: var(--bs-body-color);">
			<thead style="--bs-table-color: rgba(var(--bs-body-color-rgb), 0.5);">
				<tr>
					<th>@Translate("Item")</th>
					<th class="text-center">@Translate("Unit")</th>
					<th class="text-end">@Translate("Qty")</th>
					<th class="text-end">@Translate("Price")</th>
					<th class="text-end">@Translate("Actions")</th>
				</tr>
			</thead>
			<tbody>
				@if (Model?.GetFavoriteProducts() is not null && Model.GetFavoriteProducts()?.Any() is true)
				{
					foreach (var favoriteProduct in Model?.GetFavoriteProducts())
					{
						var product = favoriteProduct?.GetProduct();
						<tr>
							<td>
								<div class="hstack gap-3">
									@if(product?.DefaultImage.TryGetImageFileViewModel(out var image) is true)
									{
										<div class="d-flex img-thumbnail" style="inline-size: 40px; aspect-ratio: 1;">
											<img class="m-auto" src="@(image?.ToGetImage(new(){Height = 30, Width = 30, Ratio = "1/1", Crop = Dynamicweb.Imaging.ImageHandling.CropMode.KeepAspectRatio }))" alt="@(product.Name)">
										</div>
									}
									
									<div class="vstack my-auto">
										<span class="text-wrap-nowrap fw-bold">@(product?.Name)</span>
										<div class="text-muted">
											<span>@(product?.Number)</span>
											@if (!string.IsNullOrEmpty(product?.VariantName))
											{
												<span>- @(product?.VariantName)</span>
											}
										</div>
									</div>
								</div>
							</td>

							<td class="text-center">@(favoriteProduct?.UnitId)</td>
							<td class="text-end">@(favoriteProduct?.Quantity)</td>
							
							<td class="text-end text-price">@(product?.Price.PriceFormatted)</td>
							
							<td class="">
								<div class="hstack gap-2 justify-content-end">
									<button type="button" class="btn btn-sm btn-outline-secondary border-0 text-reset hstack gap-2 p-2" data-dw-button
										hx-get
										hx-vals='{"cartcmd": "add", "productid": "@(favoriteProduct?.ProductId)", "variantid": "@(favoriteProduct?.ProductVariantId)"}'
										hx-swap="none"
										hx-replace-url="false"
									>
										<span class="icon">
											@ReadFile("/Files/Images/Icons/cart-shopping.svg")
										</span>
									</button>
									
									<button type="button" class="btn btn-sm btn-outline-secondary border-0 text-reset hstack gap-2 p-2" data-dw-button
										hx-get="/dwapi/ecommerce/favorites/lists/@(Model?.Id)"
										hx-vals='{"userId": @(Pageview?.User?.ID), "productName": "@(product?.Name)", "productid": "@(favoriteProduct?.ProductId)", "variantid": "@(favoriteProduct?.ProductVariantId)"}'
										hx-headers='{"x-dw-template": "/Designs/Swift-v2/eCom/CustomerExperienceCenter/Favorites/Modals/RemoveFavoriteProductModal.cshtml", "x-dw-culture": "@Pageview?.Area?.CultureInfo?.Name", "accept": "text/html"}'
										hx-target="main"
										hx-swap="beforeend"
										hx-ext="swift-auth"
                                        hx-replace-url="false"
									>
										<span class="icon">
                                            @ReadFile("/Files/Images/Icons/heart-filled.svg")
                                        </span>
									</button>
								</div>
							</td>
						</tr>
					}
				}
				else 
				{
					<tr>
						<td colspan="5" class="py-3 text-center text-muted">
							<div class="d-grid rounded-circle m-auto" style="width:4rem;aspect-ratio:1;background-color:rgba(var(--bs-body-color-rgb), .0275);">
								<span class="icon-4">
									@ReadFile("/Files/Images/Icons/file-contract.svg")
								</span>
							</div>
							<div class="mt-1">@Translate("No items")</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>