@inherits ViewModelTemplate<FavoriteListListViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Ecommerce.ProductCatalog

@{
    var baseUrl = SearchEngineFriendlyURLs.GetFriendlyUrl($"default.aspx?ID={Pageview?.Page?.ID}");
}

<div class="d-grid gap-3" style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));">
    @foreach (var favoriteList in Model.FavoriteLists)
    {
        <div class="card shadow-hover">
            <a href="@(baseUrl)?FavoriteListId=@(favoriteList.Id)" class="stretched-link"></a>
            <div class="card-body">
                <div class="hstack">
                    <h3 class="h6 m-0">@(favoriteList.Name)</h3>
                    @if(favoriteList.IsDefault) { <span class="badge bg-secondary-subtle text-reset ms-2">@Translate("Default")</span> }
                    <button type="button" class="btn btn-sm btn-outline-secondary border-0 text-reset hstack p-2 ms-auto z-2" data-dw-button type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-popper-config='{"strategy":"fixed", "placement":"bottom-end"}'>
                        <span class="icon">
                            @ReadFile("/Files/Images/Icons/ellipsis.svg")
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-shadow">
                        <li>
                            <button type="button" class="dropdown-item hstack gap-2" data-dw-button>
                                <span class="icon">
                                    @ReadFile("/Files/Images/Icons/pen.svg")
                                </span>
                                @Translate("Rename")
                            </button>
                        </li>
                        @if(!favoriteList.IsDefault) 
                        {
                            <li>
                                <button type="button" class="dropdown-item hstack gap-2" data-dw-button>
                                    <span class="icon">
                                        @ReadFile("/Files/Images/Icons/star.svg")
                                    </span>
                                    @Translate("Set as default")
                                </button>
                            </li>
                        }                                
                        <li>
                            <button type="button" class="dropdown-item hstack gap-2 text-danger" data-dw-button>
                                <span class="icon">
                                    @ReadFile("/Files/Images/Icons/trash-can.svg")
                                </span>
                                @Translate("Delete")
                            </button>
                        </li>
                        
                    </ul>
                </div>
                <p class="text-muted fs-7">@(favoriteList.Description)</p>
                <div>
                    <div class="d-grid gap-1" style="grid-template-columns: repeat(auto-fill, minmax(2.7rem, 1fr));">
                        @if (favoriteList.ProductList.Products.Any())
                        {
                            foreach (var product in favoriteList.ProductList.Products.Take(4))
                            {
                                @if(product?.DefaultImage?.TryGetImageFileViewModel(out var image) is true)
                                {
                                    <div class="d-flex img-thumbnail" style="aspect-ratio: 1;">
                                        <img class="m-auto" src="@(image?.ToGetImage(new(){Height = 40, Width = 40, Ratio = "1/1", Crop = Dynamicweb.Imaging.ImageHandling.CropMode.KeepAspectRatio }))" alt="@product?.Name">
                                    </div>
                                }
                            }
                            if(favoriteList.ProductList.Products.Count > 4)
                            {
                                <div class="d-flex img-thumbnail bg-secondary-subtle" style="aspect-ratio: 1;">
                                    <span class="icon text-muted m-auto d-flex align-items-center justify-content-center gap-0 fs-8 p-0 fw-semibold">
                                        @ReadFile("/Files/Images/Icons/plus.svg")
                                        @(favoriteList.ProductList.Products.Count - 4)
                                    </span>
                                </div>
                            }
                        }
                    </div>    
                </div>

                <div class="hstack justify-content-between text-muted fs-7 mt-3">
                    <div>@(favoriteList.ProductList.TotalProductsCount) @Translate( favoriteList.ProductList.TotalProductsCount > 1 ? "products" : "product" )</div>
                    <div>@Translate("Created") @(new DateTime().ToString(Pageview?.Area?.CultureInfo?.DateTimeFormat?.ShortDatePattern))</div>
                </div>

            </div>
        </div>
    }
</div>