@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@inherits ViewModelTemplate<OrderListViewModel>

<style>
.orders {
  width: 100%;
  border-collapse: collapse; 
}

.orders td, .orders th {
  border: 1px solid #ddd;
  padding: 8px;
}

.orders tr:nth-child(even){background-color: #f2f2f2;}

.orders tr:hover {background-color: #ddd;}

.orders th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	color: white;
	background-color: #428bca; 
	font-weight: bold;  
}
</style>
<script>

function goToPage(page){
	let url = new URL(document.location.href);
    url.searchParams.set('PageNum', page); 
	document.location.href = url;
}
</script>

@helper RenderPagination(OrderListViewModel model)
{
    <ul class="pagination">
        @for (int i = 1; i <= model.PageCount; i++)
        {
            var css = (i == model.CurrentPage) ? "page-item active" : "page-item";
            <li class="@css">
                @string.Format("<a class=\"page-link\" href=\"javascript:goToPage({0});\">{0}</a>", i)
            </li>
        }
    </ul>
}

<h1>Order list</h1>

<form id="searchForm" method="get">
    <div class="form-group col-md-12">
        <label for="FilterOrderId">Order id</label>
        <input type="text" class="form-control" id="FilterOrderId" name="FilterOrderId">
    </div>

    <div class="form-group col-md-12">
        <label for="FilterOrderStateId">State</label>
        <select class="form-control" id="FilterOrderStateId" name="FilterOrderStateId">
            <option></option>
            @foreach (var state in Dynamicweb.Ecommerce.Common.Application.OrderStates)
            {
                <option value="@state.Id">@state.Name</option>

            }
        </select>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="FilterFromDate">Date interval from</label>
            <input type="date" class="form-control" id="FilterFromDate" name="FilterFromDate">
        </div>
        <div class="form-group col-md-6">
            <label for="FilterToDate">Date interval to</label>
            <input type="date" class="form-control" id="FilterToDate" name="FilterToDate">
        </div>
    </div>

    <input type="hidden" name="ID" value="@Pageview.ID">
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.Orders != null)
{
	<table class="orders">	
        <tr>
            <th>Order ID</th>
            <th>Created</th>
            <th>State ID</th>
            <th>Weight</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Total discount</th>
        </tr>
	@foreach (var order in Model.Orders)
	{
		string orderLink = $"/Default.aspx?ID={Pageview.Page.ID}&amp;OrderId={order.Id}";
        <tr>
            <td><a href="@orderLink">@order.Id</a></td>
            <td>@order.CreatedAt</td>
            <td>@order.StateId</td>
            <td>@order.Weight</td>
            <td>@order.Volume</td>
            <td>@order.Price.Price</td>
            <td>@order.TotalDiscount.Price</td>
        </tr>
	}
	</table>
    @RenderPagination(Model)
}