@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb

<header class="hstack gap-3 mb-4">
    <h1 class="h4 mb-0">@(Pageview.Page.GetDisplayName())</h1>
</header>


<form method="post">

	<h6 class="mb-3 fw-bold">@Translate("Selected transactions")</h6>

	<div class="card overflow-hidden mb-4">            
		<div class="table-responsive" style="margin-bottom:-1px;">
			<table class="table table-md table-hover mb-0 align-middle fs-7" style="--bs-table-color: var(--bs-body-color);">
				<thead style="--bs-table-bg: rgba(var(--bs-body-color-rgb), .0275); --bs-table-color: rgba(var(--bs-body-color-rgb), 0.5);">
					<tr>
						<th>@Translate("Number")</th>
						<th>@Translate("Balance")</th>
					</tr>
				</thead>
				<tbody>
					@foreach ( var invoice in GetLoop("OrderLines") )
					{
						if (invoice.GetBoolean("Ecom:Order:OrderLine.IsProduct")) {
							<tr class="position-relative">
								<td>@(invoice.GetString("Ecom:Order:OrderLine.ProductNumber"))</td>
								<td class="fw-bold">@(invoice.GetString("Ecom:Order:OrderLine.TotalPriceWithProductDiscounts.PriceFormatted"))</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>


	<h6 class="mb-3 fw-bold">@Translate("Payment options")</h6>

	<div class="card overflow-hidden mb-4">            
		<div class="table-responsive" style="margin-bottom:-1px;">
			<table class="table table-md table-hover mb-0 align-middle fs-7" style="--bs-table-color: var(--bs-body-color);">
				<thead style="--bs-table-bg: rgba(var(--bs-body-color-rgb), .0275); --bs-table-color: rgba(var(--bs-body-color-rgb), 0.5);">
					<tr>
						<th width="3rem">&nbsp;</th>
						<th>@Translate("Card")</th>
						<th>@Translate("Name")</th>
						<th>@Translate("Expires")</th>
					</tr>
				</thead>
				<tbody>
					@{
						LoopItem selectedPaymentMethodWithSavedCardSupport = GetLoop("Paymethods").FirstOrDefault(p => p.GetBoolean("Ecom:Cart.Paymethod.IsSelected") && p.GetBoolean("Ecom:Cart.Paymethod.SupportSavedCard") && Pageview.User != null);
						if (selectedPaymentMethodWithSavedCardSupport != null)
						{
							bool cardIsSaved = !string.IsNullOrEmpty(GetString("Ecom:Order.SavedCardName"));
							string cardIsSavedValue = cardIsSaved ? "true" : string.Empty;
							string savedCardName = "";

							foreach (LoopItem card in GetLoop("SavedCards"))
							{
								savedCardName = !card.GetBoolean("Ecom:SavedCard.IsSelected") ? card.GetString("Ecom:SavedCard.Name") : savedCardName;

								<tr>
									<td>
										<div class="form-check fw-normal">
											<input class="form-check-input" type="radio" name="EcomCartSavedCardID" id="EcomSavedCardID_@card.GetString("Ecom:SavedCard.ID")" value="@card.GetString("Ecom:SavedCard.ID")" checked="@card.GetBoolean("Ecom:SavedCard.IsSelected")" data-card-name="@card.GetString("Ecom:SavedCard.Name")" onchange="selectSavedCard(this)">
										</div>
									</td>
									<td>
										<label for="EcomSavedCardID_@card.GetString("Ecom:SavedCard.ID")" class="form-check-label">
											@if (!string.IsNullOrEmpty(card.GetString("Ecom:SavedCard.Payment.Icon"))) 
											{
												if (card.GetString("Ecom:SavedCard.Payment.Icon.Clean").EndsWith(".svg")) {
													<span class="icon-2">
														@ReadFile(card.GetString("Ecom:SavedCard.Payment.Icon.Clean"))
													</span>
												}
												else 
												{
													<img src="@card.GetString("Ecom:SavedCard.Payment.Icon.Clean")" class="me-2" style="max-width: 1.5rem; max-height: 1.5rem;" alt="@card.GetString("Ecom:SavedCard.CardType")">
												}
											}
											@card.GetString("Ecom:SavedCard.CardType") •••• •••• •••• @card.GetString("Ecom:SavedCard.Identifier").Substring(card.GetString("Ecom:SavedCard.Identifier").Length - 4)
										</label>
									</td>
									<td>@(savedCardName)</td>
									<td></td>
								</tr>
							}
						}
					}
				</tbody>
			</table>
		</div>
	</div>


	<div class="mb-4">
		<a href="/Default.aspx?ID=@GetPageIdByNavigationTag("SavedCardsPage")" class="btn btn-secondary" data-dw-button>@Translate("Add new payment method")</a>
	</div>


	<h6 class="mb-3 fw-bold">@Translate("Comment")</h6>

	<div class="card overflow-hidden mb-4">            
		<div class="table-responsive" style="margin-bottom:-1px;">
			<textarea class="form-control" name="EcomOrderCustomerComment" id="EcomOrderCustomerComment" style="min-height: 100px" placeholder="@Translate("Add any additional information here")">@GetString("Ecom:Order.Customer.Comment.Clean")</textarea>
		</div>
	</div>

	<div class="card bg-light border-0 mb-4">
		<div class="card-body p-2">
			<div class="d-flex justify-content-between align-items-center">
				<h6 class="mb-0">@Translate("Selected invoices")</h6>
				<span class="text-price fw-bold">@GetString("Ecom:Order.OrderLines.TotalProductQuantity")</span>
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<h6 class="mb-0">@Translate("Total payment amount")</h6>
				<span class="text-price fw-bold">@GetString("Ecom:Order.OrderLines.Total.Price")</span>
			</div>
		</div>
	</div>


	<div class="hstack gap-2 justify-content-between border-top pt-3 w-100 mb-6">
		<a href="/Default.aspx?ID=@GetPageIdByNavigationTag("InvoicesListPage")" class="btn btn-secondary" type="button">@Translate("Cancel")</a>
		<button class="btn btn-primary" type="submit" name="CartV2.NextStep" id="CartV2.NextStep">@Translate("Continue")</button>
	</div>
</form>