@helper RenderAddressUser() {

	string userAddressesPage = Pageview.CurrentParagraph.Item["UserAddressesPageLink"] != null ? Pageview.CurrentParagraph.Item["UserAddressesPageLink"].ToString() : "";
	string userId = GetString("UserManagement:User.ID");
	string selectedAddressId = "";

	foreach (LoopItem userAddress in GetLoop("UserManagement:User.UserAddresses")) {
		if(!string.IsNullOrWhiteSpace(userAddress.GetString("UserManagement:User.UserAddress.SelectedAddressID")))
		{
			selectedAddressId = userAddress.GetString("UserManagement:User.UserAddress.SelectedAddressID");
		}
	}

	<div class="mt-4">		
		<div class="row">
			<div class="col">
				<h3 class="fs-6 fw-normal mb-3">@Translate("Select delivery address")</h3>
			</div>
			<div class="col text-end d-none d-md-block">
				<a href="@userAddressesPage" class="h6 fw-normal mb-3 d-block">@Translate("Manage your addresses")</a>
			</div>			
		</div>
	</div>

	<div class="list-group">
		@if(!string.IsNullOrEmpty(GetString("UserManagement:User.Address"))) 
		{
			string isChecked = selectedAddressId == "0" ? "checked" : "";

			<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
				<div class="me-3 w-100">
					<div class="row mb-0">
						<div class="col-12 col-md-4 d-flex align-items-center">
							<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="UserManagementUserSelectedAddress" id="SelectedAddressID_@GetString("UserManagement:User.ID")" value="0" @isChecked onChange="document.getElementById('ordersubmit').submit()">
							<span class="d-block text-nowrap fs-7">@GetString("UserManagement:User.Name")</span>				
						</div>
						<div class="col-12 col-md-8 mt-md-0 align-items-center text-muted fs-7 ps-5 ps-md-3">
							@if(!string.IsNullOrWhiteSpace(GetString("UserManagement:User.Company")))
							{
								<span>@GetString("UserManagement:User.Company")</span>
							}
							@if(!string.IsNullOrWhiteSpace(GetString("UserManagement:User.Address")))
							{
								<span>@GetString("UserManagement:User.Address")</span>
							}
							@if(!string.IsNullOrWhiteSpace(GetString("UserManagement:User.Zip")))
							{
								<span>@GetString("UserManagement:User.Zip")</span>
							}
							@if(!string.IsNullOrWhiteSpace(GetString("UserManagement:User.City")))
							{
								<span>@GetString("UserManagement:User.City")</span>
							}
							@if(!string.IsNullOrWhiteSpace(GetString("UserManagement:User.Country")))
							{
								<span>@GetString("UserManagement:User.Country")</span>
							}
						</div>
					</div>
				</div>
			</label>
		}

		@foreach (LoopItem userAddress in GetLoop("UserManagement:User.UserAddresses")) {

			string addressId = userAddress.GetString("UserManagement:User.UserAddress.ID");
			string isChecked = selectedAddressId == addressId ? "checked" : "";

			<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
				<div class="me-3 w-100">
					<div class="row mb-0">
						<div class="col-12 col-md-4 d-flex align-items-center">
							<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="UserManagementUserSelectedAddress" id="SelectedAddressID_@addressId" value="@addressId" @isChecked onChange="document.getElementById('ordersubmit').submit()">
							<span class="d-block text-nowrap fs-7">@userAddress.GetString("UserManagement:User.UserAddress.Description")</span>
						</div>
						<div class="col-12 col-md-8 mt-md-0 align-items-center text-muted fs-7 ps-5 ps-md-3">
							@if(!string.IsNullOrWhiteSpace(userAddress.GetString("UserManagement:User.UserAddress.Company")))
							{
								<span>@userAddress.GetString("UserManagement:User.UserAddress.Company")</span>
							}
							@if(!string.IsNullOrWhiteSpace(userAddress.GetString("UserManagement:User.UserAddress.Address")))
							{
								<span>@userAddress.GetString("UserManagement:User.UserAddress.Address")</span>
							}
							@if(!string.IsNullOrWhiteSpace(userAddress.GetString("UserManagement:User.UserAddress.Zip")))
							{
								<span>@userAddress.GetString("UserManagement:User.UserAddress.Zip")</span>
							}
							@if(!string.IsNullOrWhiteSpace(userAddress.GetString("UserManagement:User.UserAddress.City")))
							{
								<span>@userAddress.GetString("UserManagement:User.UserAddress.City")</span>
							}
							@if(!string.IsNullOrWhiteSpace(userAddress.GetString("UserManagement:User.UserAddress.Country")))
							{
								<span>@userAddress.GetString("UserManagement:User.UserAddress.Country")</span>
							}
						</div>
					</div>	
				</div>
			</label>
		}
	</div>
}
