@helper RenderAddressLoggedInUsers() {

	string userAddressesPage = Pageview.CurrentParagraph.Item["UserAddressesPageLink"] != null ? Pageview.CurrentParagraph.Item["UserAddressesPageLink"].ToString() : "";

	<div class="mt-4">
					
		<div class="row">
			<div class="col">
				<h3 class="fs-6 fw-normal mb-3">@Translate("Select from saved addresses")</h3>
			</div>
			
			<div class="col text-end d-none d-md-block">
				<a href="@userAddressesPage" class="h6 fw-normal mb-3 d-block">@Translate("Change address")</a>
			</div>
			
		</div>

	</div>

	<div class="list-group">
		@if(!string.IsNullOrEmpty(GetString("UserManagement:User.Address"))) 
		{
			<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
				<div class="d-flex justify-content-between align-items-center">

					<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@GetString("UserManagement:User.ID")" value="@GetString("UserManagement:User.Address")">

					<div>
						@GetString("UserManagement:User.Address")
						@GetString("UserManagement:User.City")
						@GetString("UserManagement:User.Company")
						@GetString("UserManagement:User.Country")
						@GetString("UserManagement:User.CountryCode")
						@GetString("UserManagement:User.CustomerNumber")
						@GetString("UserManagement:User.Default")
						@GetString("UserManagement:User.Email")					
						@GetString("UserManagement:User.ID")
						@GetString("UserManagement:User.Phone")
						@GetString("UserManagement:User.Selected") 
						@GetString("UserManagement:User.SelectedAddressID")
						@GetString("UserManagement:User.Zip")
					</div>

					<span class="d-block text-nowrap lh-1 mt-1 text-muted fs-8 ms-2">@GetString("Ecom:Cart.ShippinguserAddress.Description")</span>
			
					
				</div>
			</label>
		}

		@foreach (LoopItem userAddress in GetLoop("UserManagement:User.UserAddresses")) {
			<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between">
				<div class="d-flex justify-content-between align-items-center">
					@* @userAddress.TemplateTags() *@

					@if (string.IsNullOrWhiteSpace(userAddress.GetString("UserManagement:User.UserAddress.Selected"))) {
						<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@userAddress.GetString("UserManagement:User.UserAddress.ID")" value="@userAddress.GetString("Ecom:Cart.ShippinguserAddress.ID")">
					}
					else {
						<input class="form-check-input me-3" style="display: inline-table;" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@userAddress.GetString("UserManagement:User.UserAddress.ID")" value="@userAddress.GetString("Ecom:Cart.ShippinguserAddress.ID")" checked="checked">
					}	
					<div>
						@userAddress.GetString("UserManagement:User.UserAddress.Address")
						@userAddress.GetString("UserManagement:User.UserAddress.City")
						@userAddress.GetString("UserManagement:User.UserAddress.Company")
						@userAddress.GetString("UserManagement:User.UserAddress.Country")
						@userAddress.GetString("UserManagement:User.UserAddress.CountryCode")
						@userAddress.GetString("UserManagement:User.UserAddress.Culture")
						@userAddress.GetString("UserManagement:User.UserAddress.CustomerNumber")
						@userAddress.GetString("UserManagement:User.UserAddress.Default")
						@userAddress.GetString("UserManagement:User.UserAddress.Description")
						@userAddress.GetString("UserManagement:User.UserAddress.Email")
						@userAddress.GetString("UserManagement:User.UserAddress.ID")
						@userAddress.GetString("UserManagement:User.UserAddress.Phone")
						@userAddress.GetString("UserManagement:User.UserAddress.Selected") 
						@userAddress.GetString("UserManagement:User.UserAddress.SelectedAddressID")
						@userAddress.GetString("UserManagement:User.UserAddress.Zip")
					</div>
					<span class="text-nowrap">@userAddress.GetString("UserManagement:User.UserAddress.Description")</span>
				</div>
			</label>
		}
	</div>
	@* @TemplateTags() *@
}

