@helper RenderCartOrderLineItem(LoopItem orderline) {
	string productName = orderline.GetString("Ecom:Order:OrderLine.ProductName") + " " + orderline.GetString("Ecom:Order:OrderLine.ProductVariantText");
	string productLink = orderline.GetString("Ecom:Order:OrderLine.ProductDetailLink");
	string productImage = "/Admin/Public/GetImage.ashx?width=" + 500 + "&height=" + 500 + "&image=" + orderline.GetString("Ecom:Product.PrimaryImage") + "&Format=WebP&Quality=100";
	string productRemoveFromBasketLink = orderline.GetString("Ecom:Order:OrderLine.DeleteLink");
	string priceTotalPriceWithDiscounts = orderline.GetString("Ecom:Order:OrderLine.TotalPriceWithProductDiscounts.PriceFormatted");

	<article class="order-line py-4 border-bottom">
		<div class="row">
			
			<div class="cart-item__image col-3">
				<a href="@productLink" class="ratio ratio-1x1 d-block">
					<img class="cart-item-img" src="@productImage" style="object-fit: contain;" alt="@productName">
				</a>
			</div>

			<div class="cart-item__content col-9">
				<div class="row position-relative h-100 g-0">
					<div class="col-12 col-lg-7 d-flex flex-column justify-content-between">
						<h2 class="h5 mb-3 fw-bold">
							<a href="@productLink" class="text-dark text-decoration-none">
								@productName
							</a>
						</h2>

						@if(orderline.GetLoop("VariantGroups").Any()) {
							<ul class="list-unstyled mb-4">
								@foreach (LoopItem variantGroup in orderline.GetLoop("VariantGroups")) {
									string label = variantGroup.GetString("Ecom:VariantGroup.Name");
									string value = "";

									foreach (LoopItem variantOption in variantGroup.GetLoop("VariantOptions")) {
										if(variantOption.GetBoolean("Ecom:VariantOption.Selected")){
											value = variantOption.GetString("Ecom:VariantOption.Name");
										}
									}

									<li>
										<span class="text-muted">@label</span>
										<span class="fw-bold">@value</span>
									</li>
								}
							</ul>
						}

						<ul class="list-unstyled mb-4">
							<li class="d-lg-grid position-static position-lg-absolute top-0 end-0 text-lg-end">
								<span class="small text-muted d-lg-none">Price:</span>
								<span class="fw-bold">@priceTotalPriceWithDiscounts</span>
							</li>
						</ul>

						<ul class="list-unstyled d-flex mb-0 position-absolute position-lg-static top-0 end-0">
							<li>
								<a href="#" class="text-uppercase p-2 p-lg-0 lh-1 d-block me-lg-3">
									<span class="d-none d-lg-block">Move to favorites</span>
									<span class="d-block d-lg-none">
										<span class="icon-container me-1">
											@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/heart.svg"))
										</span>
									</span>
								</a>
							</li>
							<li>
								<a href="@productRemoveFromBasketLink" class="text-uppercase p-2 p-lg-0 lh-1 d-block">
									<span class="d-none d-lg-block">Remove</span>
									<span class="d-block d-lg-none">
										<span class="icon-container me-1">
											@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/trash-alt.svg"))
										</span>
									</span>
								</a>
							</li>
						</ul>

					</div>
					<div class="col-5 col-lg-2">
						<label for="cartQuantity01" class="d-none d-lg-none text-muted mb-2">Quantity:</label>
						<input type="number" class="form-control text-center" id="cartQuantity01" value="{{quantity}}" min="0">
					</div>
					<div class="col-7 col-lg-3 text-end d-flex flex-column justify-content-center justify-content-lg-end">
						<span class="d-none d-lg-none text-muted mb-2">Total:</span>
						<h6 class="h5 fw-bold m-0">@priceTotalPriceWithDiscounts</h6>
					</div>
				</div>
			</div>

		</div>
	</article>
}
