@helper RenderCartOrderLineItem(LoopItem orderline) {

	string productName = orderline.GetString("Ecom:Order:OrderLine.ProductName") + " " + orderline.GetString("Ecom:Order:OrderLine.ProductVariantText");
	string productImage = "/Admin/Public/GetImage.ashx?width=" + 220 + "&height=" + 220 + "&image=" + orderline.GetString("Ecom:Product.PrimaryImage") + "&Format=WebP&Quality=100";
	string productRemoveFromBasketLink = orderline.GetString("Ecom:Order:OrderLine.DeleteLink");
	string productPriceTotalWithDiscounts = orderline.GetString("Ecom:Order:OrderLine.TotalPriceWithProductDiscounts.PriceFormatted");
	string productPriceBefore = orderline.GetString("Ecom:Product.InformativePrice.PriceFormatted");
	var orderlineQuantity = orderline.GetDouble("Ecom:Order:OrderLine.Quantity");
	var primaryGroupId = orderline.GetString("Ecom:Order:OrderLine.PrimaryOrDefaultGroupId");
	var productId = orderline.GetString("Ecom:Order:OrderLine.ProductID");
	var variantId = orderline.GetString("Ecom:Order:OrderLine.ProductVariantID");

	string productLink = "#";
	string productDetailPageId = Pageview.Item["ProductPageLink"] != null ? Pageview.Item["ProductPageLink"].ToString() : "";
	productDetailPageId = productDetailPageId != "" ? productDetailPageId : GetPageIdByNavigationTag("ProductDetailPage").ToString();
	productLink = "Default.aspx?ID=" + productDetailPageId + "&ProductID=" + productId;
    if (!string.IsNullOrEmpty(variantId))
    {
        productLink += "&VariantID=" + variantId;
    }

	bool isProduct = orderline.GetBoolean("Ecom:Order:OrderLine.IsProduct");
	bool isDiscount = orderline.GetBoolean("Ecom:Order:OrderLine.IsDiscount");

	// Calculate savings
	var orderlineInformativePrice = orderline.GetDouble("Ecom:Product.InformativePrice.Price.Value");
	var orderlineProductPrice = orderline.GetDouble("Ecom:Product.Price.Price.Value");
	var savingsPerProduct = orderlineInformativePrice - orderlineProductPrice;
	var orderlineTotalSavings = savingsPerProduct * orderlineQuantity;

	if (isProduct) {
	<article class="py-3">
		<div class="row">

			<div class="col-3 col-lg-2">
				<a href="@productLink" class="ratio ratio-1x1 d-block" title="@productName">
					<img class="cart-item-img" src="@productImage" style="object-fit: contain;" alt="@productName">
				</a>
			</div>
			<div class="col-9">
				<div class="d-flex">

					<div>
						@* Title *@
						<a href="@productLink" class="text-decoration-none" title="@productName">
							<h3 class="h6">@productName</h3>
						</a>

						@* Before price *@
						@if (orderlineInformativePrice != 0) {
						<p class="text-decoration-linethrough">
							<span class="text-price" aria-label="@Translate("Before")">@productPriceBefore</span>
						</p>
						}

						@if (orderlineInformativePrice != 0) {
						<p class="m-0 fs-small text-muted">
							<span>@Translate("You save"):</span>
							<span class="text-price">@orderlineTotalSavings</span>
						</p>
						}

						@* Variants *@
						@if(orderline.GetLoop("VariantGroups").Any()) {
							<ul class="list-unstyled mb-4">
								@foreach (LoopItem variantGroup in orderline.GetLoop("VariantGroups")) {
									string label = variantGroup.GetString("Ecom:VariantGroup.Name");
									string value = "";

									foreach (LoopItem variantOption in variantGroup.GetLoop("VariantOptions")) {
										if(variantOption.GetBoolean("Ecom:VariantOption.Selected")){
											value = variantOption.GetString("Ecom:VariantOption.Name");
										}
									}
									<li class="text-muted">
										<span>@label</span>
										<span>@value</span>
									</li>
								}
							</ul>
						}

						@* Quantity *@
						<div class="input-group">
							<label for="QuantityOrderLine@(orderline.GetValue("Ecom:Order:OrderLine.Id"))" class="visually-hidden">@Translate("Quantity"):</label>
							<input type="number" id="QuantityOrderLine@(orderline.GetValue("Ecom:Order:OrderLine.Id"))" class="form-control" value="@orderlineQuantity" min="0" name="QuantityOrderLine@(orderline.GetValue("Ecom:Order:OrderLine.Id"))"/>
							<button class="btn btn-light" type="submit" id="button-addon1" data-bs-toggle="tooltip" data-bs-placement="top" title="@Translate("Update cart")">
								<span class="icon">
									@if (File.Exists(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/sync.svg"))) {
										@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/sync.svg"))
									}
								</span>
							</button>
						</div>

						@* Remove *@
						<a href="@productRemoveFromBasketLink" class="btn btn-link btn-sm px-0" title="@Translate("Remove")">@Translate("Remove")</a>

						@* Unit price *@
						<p class="text-muted">
							@orderline.GetString("Ecom:Order:OrderLine.UnitPrice.PriceFormatted")
						</p>

						@* Total *@
						<p class="m-0">
							<span class="d-none d-lg-none text-muted mb-2">@Translate("Total"):</span>
							<span class="h5 mb-0 d-block fw-bold">
								@productPriceTotalWithDiscounts
							</span>
						</p>


					</div>

				</div>
			</div>
			<span class="col-12">
				<span class="d-none d-lg-block border-bottom"></span>
			</span>

		</div>
	</article>
	}

	if (isDiscount) {
	<article class="py-4">
		<div class="row">

			<div class="col-9 col-lg-8 offset-lg-2">
				<h1 class="h6 m-0">@productName</h1>
			</div>

			<div class="col-3 col-lg-2">
				<p class="m-0 text-end h6 mb-0 fw-bold text-price">
					@productPriceTotalWithDiscounts
				</p>
			</div>
		</div>

	</article>
	}

}
