@helper RenderCartPageHeader() {
	<div class="py-4 py-lg-5">
		<h1 class="h3 fw-bold mb-0">@Translate("Shopping Cart")</h1>
		<p class="mb-0">
		@Translate("You have")
		<span class="fw-bold">@GetString("Ecom:Order.OrderLines.Count")</span>
		@if (GetDouble("Ecom:Order.OrderLines.Count") > 1) {
			@Translate("items in your shopping cart")
		} else {
			@Translate("item in your shopping cart")
		}
		</p>
	</div>
}
