@helper RenderStepSumAddress() {

	if((
		@GetString("Ecom:Order.Delivery.Name") ?? 
		@GetString("Ecom:Order.Delivery.Address") ?? 
		@GetString("Ecom:Order.Delivery.Zip") ?? 
		@GetString("Ecom:Order.Delivery.City") ?? 
		@GetString("Ecom:Order.Delivery.Email") ?? 
		@GetString("Ecom:Order.Delivery.Phone"
	)) != null)
	{
	<div class="list-group-item d-flex justify-content-between align-items-baseline rounded-0 py-3 bg-light">

		<div class="me-3 w-100">
			<dl class="row mb-0">
				<dt class="col-md-4 h6 fw-bold mb-lg-0 lh-base">@Translate("Delivery address")</dt>
				<dd class="col-md-8 mb-0">
					<span class="name">@GetString("Ecom:Order.Delivery.Name")</span>
					<span class="address">@GetString("Ecom:Order.Delivery.Address")</span>
					<span class="zip">@GetString("Ecom:Order.Delivery.Zip")</span>
					<span class="city">@GetString("Ecom:Order.Delivery.City")</span>
					<span class="email">@GetString("Ecom:Order.Delivery.Email")</span>
					<span class="phone">@GetString("Ecom:Order.Delivery.Phone")</span>
				</dd>
			</dl>
		</div>

		<button class="btn btn-small btn-link text-secondary text-uppercase text-decoration-none fs-small" type="submit" name="CartV2.GotoStep1">@Translate("Edit")</button>

	</div>
	}
}
