@helper RenderCheckoutOrderLineItem(LoopItem orderline) {

	string productName = orderline.GetString("Ecom:Order:OrderLine.ProductName") + " " + orderline.GetString("Ecom:Order:OrderLine.ProductVariantText");
	string productLink = orderline.GetString("Ecom:Order:OrderLine.ProductDetailLink");
	string productImage = "/Admin/Public/GetImage.ashx?width=" + 500 + "&height=" + 500 + "&image=" + orderline.GetString("Ecom:Product.PrimaryImage") + "&Format=WebP&Quality=100";
	string productRemoveFromBasketLink = orderline.GetString("Ecom:Order:OrderLine.DeleteLink");
	string productPriceTotalWithDiscounts = orderline.GetString("Ecom:Order:OrderLine.TotalPriceWithProductDiscounts.PriceFormatted");
	string productPriceBefore = orderline.GetString("Ecom:Product.InformativePrice.PriceFormatted");
	string productPriceEach = orderline.GetString("Ecom:Product.Price.PriceFormatted");
	var orderlineQuantity = orderline.GetDouble("Ecom:Order:OrderLine.Quantity");

	// Calculate savings
	var orderlineInformativePrice = orderline.GetDouble("Ecom:Product.InformativePrice.Price.Value");
	var orderlineProductPrice = orderline.GetDouble("Ecom:Product.Price.Price.Value");
	var savingsPerProduct = orderlineInformativePrice - orderlineProductPrice;
	var orderlineTotalSavings = savingsPerProduct * orderlineQuantity;

	bool productHasPriceBefore = false;
	if(orderlineInformativePrice != 0) {
		productHasPriceBefore = true;
	}

	<article class="cart-item row py-3">

		<div class="cart-item__image col-3">
			<a href="@productLink" class="ratio ratio-1x1 d-block">
				<img class="cart-item-img" src="@productImage" style="object-fit: contain;" alt="@productName">
			</a>
		</div>

		<div class="cart-item__content col-9">
			<div class="row position-relative h-100 g-0">

				<div class="col d-flex flex-column justify-content-between">
					<h2 class="h6 mb-3 fw-bold">
						<a href="@productLink" class="text-dark text-decoration-none">@productName</a>
					</h2>

						@if(orderline.GetLoop("VariantGroups").Any()) {
							<ul class="list-unstyled text-muted mb-0">
								@foreach (LoopItem variantGroup in orderline.GetLoop("VariantGroups")) {
									string label = variantGroup.GetString("Ecom:VariantGroup.Name");
									string value = "";

									foreach (LoopItem variantOption in variantGroup.GetLoop("VariantOptions")) {
										if(variantOption.GetBoolean("Ecom:VariantOption.Selected")){
											value = variantOption.GetString("Ecom:VariantOption.Name");
										}
									}
									<li>
										<span>@label</span>
										<span>@value</span>
									</li>
								}
								<li>
									<span>@Translate("Price:")</span>
									@if (productHasPriceBefore) {
										<span class="text-decoration-line-through text-muted">
											<span class="text-price">@productPriceBefore</span>
										</span>
									}
									<span class="text-price">@productPriceEach</span>
								</li>
								<li>
									<span>@Translate("Quantity:")</span>
									<span>@orderlineQuantity</span>
								</li>
							</ul>
						}

						
				</div>

				<div class="col-auto">
					<h6 class="h6 fw-bold m-0">
						<span class="text-price">@productPriceTotalWithDiscounts</span>
					</h6>
				</div>
			</div>
		</div>

	</article>

}
