@helper RenderCartOrderTotal() {

	string orderSubtotal = GetString("Ecom:Order.PriceWithoutDiscounts");
	string orderTotalDiscount = GetString("Ecom:Order.TotalDiscount");
	string orderTotal = GetString("Ecom:Order.Price");

	// Discounts
	var orderDiscountsPrice = GetDouble("Ecom:Order.TotalDiscount.Price.Value");

	bool orderHasDiscounts = false;
	if(orderDiscountsPrice != 0) {
		orderHasDiscounts = true;
	}

	<div class="cart-total row mt-3">
		<div class="col-md-12">
			<dl class="m-0">

				<div class="d-flex py-2 pt-4 border-dark border-top">
					<dt class="flex-fill fw-normal">@Translate("Order subtotal")</dt>
					<dd class="flex-fill mb-0 text-end">
						<span class="text-price">@orderSubtotal</span>
					</dd>
				</div>

				@if (orderHasDiscounts) {
				<div class="d-flex py-2">
					<dt class="flex-fill fw-normal">@Translate("You saved")</dt>
					<dd class="flex-fill mb-0 text-end">
						<span class="text-price">@orderTotalDiscount</span>
					</dd>
				</div>
				}

				<div class="d-flex py-2">
					<dt class="flex-fill fw-normal">@Translate("Delivery")</dt>
					<dd class="flex-fill mb-0 text-end text-nowrap">@Translate("Calculated at checkout")</dd>
				</div>

				<div class="d-flex py-2 pb-4 border-dark border-bottom">
					<dt class="flex-fill fw-normal">@Translate("VAT")</dt>
					<dd class="flex-fill mb-0 text-end text-nowrap">@Translate("Calculated at checkout")</dd>
				</div>

				<div class="d-flex py-2 pt-4 h5 fw-bold">
					<dt class="flex-fill">@Translate("Total")</dt>
					<dd class="flex-fill mb-0 text-end">
						<span class="text-price">@orderTotal</span>
					</dd>
				</div>

			</dl>
		</div>
	</div>
}
