@helper RenderCheckoutNavigation(string iconPath) {

	int currentStep = 1;
	string nextButtonName = Translate("Next");
	string previousButtonName = Translate("Back");

	foreach (LoopItem step in GetLoop("StepButtons"))
	{
		if (step.GetBoolean("Step.Current"))
		{
			currentStep = step.GetInteger("Step.Number");
		}

		if (step.GetInteger("Step.Number") == currentStep + 1)
		{
			nextButtonName = Translate("Go to") + " " + step.GetString("Step.Name"); 
		}

		if (step.GetInteger("Step.Number") == currentStep + step.GetInteger("Step.Index") )
		{
			previousButtonName = Translate("Back to") + " " + step.GetString("Step.Name"); 
		}
	}

	if (currentStep == GetLoop("StepButtons").Count - 1)
	{
		nextButtonName = Translate("Place Order");
	}

	@RenderTermsAndConditionsCheckbox()

	<div class="align-items-center d-grid d-lg-flex gap-2 justify-content-center justify-content-lg-end mt-5 mt-lg-5">

		@if (currentStep == 1)
		{
			<a href="Default.aspx?ID=@GetPageIdByNavigationTag("Shop")" class="btn btn-link link-secondary text-decoration-none text-uppercase me-lg-3 order-last order-lg-first">
				@if (File.Exists(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/angle-left.svg"))) {
					<span class="icon me-1">
						@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/angle-left.svg"))
					</span>
				}

				@Translate("Continue shopping")
			</a>
		}
		else
		{
			<button name="@GetString("CartV2.PreviousStepButtonName")" id="@GetString("CartV2.PreviousStepButtonName")" class="btn btn-link link-secondary text-decoration-none text-uppercase me-lg-3 order-last order-lg-first">
				<span class="icon me-1">
					@if (File.Exists(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/angle-left.svg"))) {
						@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/angle-left.svg"))
					}
				</span>
				<span>@previousButtonName</span>
			</button>
		}

		<button type="submit" name="@GetString("CartV2.NextStepButtonName")" id="@GetString("CartV2.NextStepButtonName")" class="btn btn-success btn-lg text-uppercase">
			<span>@nextButtonName</span>
			<span class="icon ms-1">
				@if (File.Exists(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/angle-right.svg"))) {
					@System.IO.File.ReadAllText(HttpContext.Current.Server.MapPath("/Files/Templates/Designs/R4/Assets/icons/angle-right.svg"))
				}
			</span>
		</button>

		<script>
			if ( window.history.replaceState ) {
				window.history.replaceState( null, null, window.location.href );
			}
		</script>

	</div>
}

@Include("TermsAndConditions.cshtml")
