@helper RenderStepSumAddress() {

	if (
		!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Name")) || 
		!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Company")) || 
		!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Address")) || 
		!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Zip")) || 
		!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.City")) || 
		!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Email")) ||
		!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Country"))
		)
	{
	<div class="list-group-item d-flex justify-content-between align-items-baseline rounded-0 py-2 bg-light">

		<div class="me-3 w-100">
			<dl class="row mb-0">
				<dt class="col-md-4 h6 mb-lg-0 lh-base text-muted fw-normal">@Translate("Delivery address")</dt>
				<dd class="col-md-8 mb-0">
					@if (!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Name")))
					{
						<span class="name">@GetString("Ecom:Order.Delivery.Name"), </span>
					}

					@if (!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Company")))
					{
						<span class="name">@GetString("Ecom:Order.Delivery.Company"), </span>
					}

					@if (!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Address")))
					{
						<span class="address">@GetString("Ecom:Order.Delivery.Address"), </span>
					}

					@if (!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Zip")))
					{
						<span class="zip">@GetString("Ecom:Order.Delivery.Zip"), </span>
					}

					@if (!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.City")))
					{
						<span class="city">@GetString("Ecom:Order.Delivery.City"), </span>
					}
					
					@if (!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Country")))
					{
						<span class="country">@GetString("Ecom:Order.Delivery.Country"), </span>
					}

					@if (!string.IsNullOrEmpty(@GetString("Ecom:Order.Delivery.Email")))
					{
						<span class="email">@GetString("Ecom:Order.Delivery.Email"), </span>
					}
				</dd>
			</dl>
		</div>

		<button class="btn btn-small btn-link text-muted text-decoration-underline text-uppercase fs-7 me-n3" type="submit" name="CartV2.GotoStep0">@Translate("Edit")</button>

	</div>
	}
}
