@helper RenderCustomerSummary() {
	if (
		!string.IsNullOrEmpty(GetString("Ecom:Order.ShippingMethodID")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.PaymentMethodID")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Name")) || 
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Company")) || 
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Address")) || 
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Zip")) || 
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.City")) || 
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Email")) || 
		!string.IsNullOrEmpty(GetString("Ecom:Order.Delivery.Phone")) || 
		!string.IsNullOrEmpty(GetString("Ecom:Order.ShippingMethod")) ||
		!string.IsNullOrEmpty(GetString("Ecom:Order.PaymentMethod"))
		)
	{
		<div class="list-group">
			@RenderCustomerAddressSummary()
			@RenderCustomerDeliverySummary()
			@RenderCustomerPaymentSummary()
		</div>
	}
}

@Include("CustomerAddressSummary.cshtml")
@Include("CustomerDeliverySummary.cshtml")
@Include("CustomerPaymentSummary.cshtml")
