@helper RenderOrderSummary() {
	<div class="fs-8 mb-3 border-top">
		<div class="d-flex justify-content-between mb-2 fw-bold pt-2"><span>@Translate("Subtotal")</span><span class="text-price">@GetString("Ecom:Order.PriceWithoutDiscounts.PriceFormatted")</span></div>

		@* Discounts *@
		@foreach (LoopItem orderline in GetLoop("OrderLines")) {
			bool isDiscount = orderline.GetBoolean("Ecom:Order:OrderLine.IsDiscount");
			if(isDiscount) {
				<div class="d-flex justify-content-between mb-2"><span>@orderline.GetString("Ecom:Order:OrderLine.ProductName")</span><span>@orderline.GetString("Ecom:Order:OrderLine.TotalPriceWithProductDiscounts.PriceFormatted")</span></div>
			}
		}
		@* Shipping *@
		<div class="d-flex justify-content-between mb-2"><span>@Translate("Shipping")</span><span>@Translate("Calculated at checkout")</span></div>

		@* Payment *@
		<div class="d-flex justify-content-between mb-2"><span>@Translate("Payment")</span><span>@Translate("Calculated at checkout")</span></div>
	</div>
	<div class="fs-8 pt-3 border-top">
		<div class="d-flex justify-content-between mb-2 fs-6 fw-bold"><span>@Translate("Total")</span><span class="text-price">@GetString("Ecom:Order.Price.PriceFormatted")</span></div>
		<div class="d-flex justify-content-between mb-2"><span>@Translate("VAT")</span><span class="text-price">@GetString("Ecom:Order.Price.VATFormatted")</span></div>
		@if(GetDouble("Ecom:Order.TotalDiscount.Price.Value") != 0)
		{
			<div class="d-flex justify-content-between"><span>@Translate("Discount")</span><span class="text-price">@GetString("Ecom:Order.TotalDiscount.PriceFormatted")</span></div>
		}
	</div>
}
