@helper RenderOrderSummaryOrderLineItem(LoopItem orderline) {

	string name = orderline.GetString("Ecom:Order:OrderLine.ProductName");
	string image = "/Admin/Public/GetImage.ashx?width=" + 120 + "&height=" + 120 + "&crop=5&fillcanvas=true&Background=ffffff&image=" + orderline.GetString("Ecom:Product.PrimaryImage") + "&Format=WebP&Quality=100";
	string removeFromBasketLink = orderline.GetString("Ecom:Order:OrderLine.DeleteLink");
	string priceTotalWithDiscounts = orderline.GetString("Ecom:Order:OrderLine.TotalPriceWithProductDiscounts.PriceFormatted");
	string priceBefore = orderline.GetString("Ecom:Product.InformativePrice.PriceFormatted");
	string unitPrice = orderline.GetString("Ecom:Order:OrderLine.UnitPrice.PriceFormatted");
	string discountPrice = orderline.GetString("Ecom:Product.Discount.Price.PriceFormatted");
	string discountTotal = orderline.GetString("Ecom:Order:OrderLine.TotalDiscount.PriceFormatted");
	string variantText = orderline.GetString("Ecom:Order:OrderLine.ProductVariantText");
	var orderlineId = orderline.GetValue("Ecom:Order:OrderLine.Id");
	var quantity = orderline.GetDouble("Ecom:Order:OrderLine.Quantity");
	string primaryGroupId = orderline.GetString("Ecom:Order:OrderLine.PrimaryOrDefaultGroupId");
	string productId = orderline.GetString("Ecom:Order:OrderLine.ProductID");
	string variantId = orderline.GetString("Ecom:Order:OrderLine.ProductVariantID");

	string link = "#";
	string productDetailPageId = Pageview.CurrentParagraph.Item["ProductPageLink"] != null ? Pageview.CurrentParagraph.Item["ProductPageLink"].ToString() : "";
	productDetailPageId = productDetailPageId != "" ? productDetailPageId : GetPageIdByNavigationTag("ProductDetailPage").ToString();
	link = "Default.aspx?ID=" + productDetailPageId + "&ProductID=" + productId;
    if (!string.IsNullOrEmpty(variantId))
    {
        link += "&VariantID=" + variantId;
    }

	bool isProduct = orderline.GetBoolean("Ecom:Order:OrderLine.IsProduct");

	if (isProduct) {
	<article class="col">
		<div class="row gx-3">

			<div class="col-3">
				<a href="@link" class="ratio ratio-1x1 d-block " title="@name">
					<img class="border rounded" src="@image" style="object-fit: contain;" alt="@name">
				</a>
			</div>

			<div class="col-9">

				<div class="row gx-2">

					<div class="col-8">

						<div class="row gx-2">
							<div class="col">
								@* Title *@
								<h3 class="h6 fs-7 mb-0">
									<a href="@link" class="text-decoration-none" title="@name">@name</a>							
								</h3>

								@* Variants *@
								@if(!string.IsNullOrEmpty(variantText)) {
									<p class="fs-8 mt-1 mb-0">@variantText</p>
								}

								@* Unit price *@
								<p class="fs-8 mt-1 mb-0">
									@if(discountPrice == unitPrice) {
										<span class="d-block">
											<span class="text-price">@unitPrice</span>
										</span>
									}
									else 
									{
										<span class="text-price">@discountPrice</span>
										<span class="text-decoration-line-through">
											<span class="text-price">@unitPrice</span>
										</span>
									}
								</p>
							</div>

							<div class="col-12">
								@* Quantity *@
								<span class="fs-8 d-block mt-1">@Translate("Quantity"): @quantity</span>
							</div>
						</div>

					</div>

					<div class="col-4 text-end">
						@* Total *@
						<span class="h6 mb-0 d-block fs-7">
							<span class="text-price">@priceTotalWithDiscounts</span>
						</span>
						@if(orderline.GetDouble("Ecom:Order:OrderLine.TotalDiscount.Price.Value") != 0)
						{
							<span class="m-0 d-block fs-8">
								<span class="text-price">@discountTotal</span>
							</span>
						}
					</div>
				</div>
			</div>
		</div>
	</article>
	}
}
