@helper RenderPaymentMethods()
{
	<div class="list-group">
		@foreach (LoopItem method in GetLoop("Paymethods")) {
			<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between align-items-baseline">
				<span class="me-3 w-100">
					<span class="row mb-0">
						<span class="col-12 col-md-9 d-flex align-items-center">
							@{
								string paymentMethodId = GetString("Ecom:Order.PaymentMethodID");
								string paymentMethodIdSaved = method.GetString("Ecom:Cart.Paymethod.ID");
							}
							<input class="form-check-input me-3 my-0" type="radio" name="EcomCartPaymethodID" id="EcomCartPaymentmethodID_@method.GetString("Ecom:Cart.Paymethod.ID")" @if (String.Equals(paymentMethodId, paymentMethodIdSaved)) {<text>checked="checked"</text>} value="@method.GetString("Ecom:Cart.Paymethod.ID")" onChange="document.getElementById('ordersubmit').submit()">
							<span class="d-block fs-7">@method.GetString("Ecom:Cart.Paymethod.Name")</span>
						</span>
						<span class="col-12 col-md-3 mt-md-0 d-flex align-items-center text-muted ps-5 ps-md-3">
							@{
								string imagePath = Dynamicweb.Context.Current.Server.MapPath(method.GetString("Ecom:Cart.Paymethod.Icon.Clean"));

								if (File.Exists(imagePath)) {
									<figure class="m-0" style="height: 1.5rem; width: 100%; background: url('@method.GetString("Ecom:Cart.Paymethod.Icon.Clean")') no-repeat left center; background-size: contain;"></figure>
								}
								else {
									<span class="fs-8 lh-1">@method.GetString("Ecom:Cart.Paymethod.Description")</span>
								}
							}
						</span>
					</span>
				</span>
				<span class="text-price">@method.GetString("Ecom:Cart.Paymethod.Price")</span>
			</label>
		}
	</div>
}
