@helper RenderShippingMethods()
{
	<div class="list-group">
		@foreach (LoopItem method in GetLoop("Shippingmethods")) {
			<label class="list-group-item list-group-item-action py-3 d-flex justify-content-between align-items-baseline">
				<span class="me-3 w-100">
					<span class="row mb-0">
						<span class="col-12 col-md-9 d-flex align-items-center">
							<input class="form-check-input mt-0 me-3" type="radio" name="EcomCartShippingmethodID" id="EcomCartShippingmethodID_@method.GetString("Ecom:Cart.Shippingmethod.ID")" value="@method.GetString("Ecom:Cart.Shippingmethod.ID")" @if(!string.IsNullOrWhiteSpace(method.GetString("Ecom:Cart.Shippingmethod.IsSelected"))) {<text>checked="checked"</text>} onChange="document.getElementById('ordersubmit').submit()">
							<span class="d-block text-nowrap fs-7">@method.GetString("Ecom:Cart.Shippingmethod.Description")</span>
						</span>
						<span class="col-12 col-md-3 mt-1 mt-md-0 align-items-center text-muted ps-5 ps-md-3">
							@{
								string imagePath = Dynamicweb.Context.Current.Server.MapPath(method.GetString("Ecom:Cart.Shippingmethod.Icon.Clean"));

								if (File.Exists(imagePath)) {
									<figure class="m-0" style="height: 1.5rem; background: url('@method.GetString("Ecom:Cart.Shippingmethod.Icon.Clean")') no-repeat left center; background-size: contain;"></figure>
								}
								else {
									<span class="fs-8">@method.GetString("Ecom:Cart.Shippingmethod.Name")</span>
								}
							}
						</span>
					</span>
				</span>
				<span class="text-price">@method.GetString("Ecom:Cart.ShippingMethod.Price")</span>
			</label>
		}
	</div>
}
