@helper RenderStepSummaryOrderCustomer() {
	string name = GetString("Ecom:Order.Customer.Name"),
	company = GetString("Ecom:Order.Customer.Company"),
	address = GetString("Ecom:Order.Customer.Address"),
	zip = GetString("Ecom:Order.Customer.Zip"),
	city = GetString("Ecom:Order.Customer.City"),
	country = GetString("Ecom:Order.Customer.Country"),
	email = GetString("Ecom:Order.Customer.Email"),
	phone = GetString("Ecom:Order.Customer.Phone"),
	editStep = "CartV2.GotoStep0";

	if (
		!string.IsNullOrEmpty(name) || 
		!string.IsNullOrEmpty(company) || 
		!string.IsNullOrEmpty(address) || 
		!string.IsNullOrEmpty(zip) || 
		!string.IsNullOrEmpty(city) || 
		!string.IsNullOrEmpty(country) || 
		!string.IsNullOrEmpty(email) || 
		!string.IsNullOrEmpty(phone)
	)
	{
		<div class="list-group-item d-flex justify-content-between align-items-baseline py-2 fs-7 bg-light">

			<div class="me-3 w-100">
				<dl class="row mb-0">
					<dt class="col-md-4 mb-lg-0 lh-base fs-7 fw-normal">@Translate("Contact")</dt>
					<dd class="col-md-8 mb-0 text-muted">
						@if (!string.IsNullOrEmpty(email))
						{
							<span>@email</span>
						}
						@if (!string.IsNullOrEmpty(name))
						{
							<span>@name</span>
						}
						@if(!string.IsNullOrEmpty(address) && !string.IsNullOrEmpty(zip) && !string.IsNullOrEmpty(country))
						{
							if (!string.IsNullOrEmpty(company))
							{
								<span>@company</span>
							}
							if (!string.IsNullOrEmpty(address))
							{
								<span>@address</span>
							}
							if (!string.IsNullOrEmpty(zip))
							{
								<span>@zip</span>
							}
							if (!string.IsNullOrEmpty(city))
							{
								<span>@city</span>
							}
							if (!string.IsNullOrEmpty(country))
							{
								<span>@country</span>
							}
							if (!string.IsNullOrEmpty(phone))
							{
								<span>@phone</span>
							}
						}
					</dd>
				</dl>
			</div>

			<button class="btn btn-small btn-link me-n3 fs-8" type="submit" name="@editStep">
				<span class="text-muted text-uppercase">@Translate("Edit")</span>
			</button>

		</div>
	}

}
