@inherits ViewModelTemplate<FavoriteListListViewModel>
@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Frontend

@{
    var baseUrl = Dynamicweb.Context.Current?.Request.QueryString.Get("baseUrl") ?? null;
}

<div class="list-group list-group-flush">
    @foreach (var favoriteList in Model.FavoriteLists)
    {
        <a class="list-group-item list-group-item-action px-0 py-3 border-start-0 border-end-0 rounded-0 d-flex flex-wrap align-items-center gap-2 gap-sm-3 text-decoration-none text-body"
            href="@(baseUrl)?FavoriteListId=@(favoriteList.Id)"
            tabindex="@(baseUrl is not null ? 0 : -1)"
            aria-disabled="@(baseUrl is not null)"
        >
            <div class="flex-grow-1 min-w-0">
                <div class="fw-semibold text-body">@(favoriteList.Name)</div>
                <div class="fs-8 text-muted text-truncate">
                    <span>@(favoriteList.ProductList.Products.Count) @(favoriteList.ProductList.Products.Count == 1 ? Translate("item") : Translate("items"))</span>
                </div>
            </div>
        </a>
    }
</div>